Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC8775: Add max_vot to SIS identity
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/StoredIdentityService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/StoredIdentityServiceTest.java
Due: spotlessCheck

PYIC-8697: Add html and styling. Refactor to semantic html.
  journey-map/public/index.html
  journey-map/public/style.css
Due: run-npm-lint-journey-map

PYIC-8697: Add logic to handle system settings selection.
  journey-map/src/helpers/analytics.ts
  journey-map/src/helpers/options.ts
  journey-map/src/index.ts
  journey-map/src/service/analyticsService.ts
Due: run-npm-lint-journey-map

PYIC-8697: Move Environment enum to constants.ts
  journey-map/src/constants.ts
  journey-map/src/index.ts
  journey-map/src/service/analyticsService.ts
Due: run-npm-lint-journey-map

PYIC-8697: Emphasise P3 journey in nav bar.
  journey-map/src/constants.ts
Due: run-npm-lint-journey-map

PYIC-8697: Add type cast to environment variable.
  journey-map/server/analytics-middleware.ts
Due: run-npm-lint-journey-map

PYIC-8762: add quality-gate.manifest.json to core-back
  quality-gate.manifest.json
Due: none

PYIC-8647 refine and correct api tests to validate sorry-technical flag
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-8775: Update contract test
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8706: Routing for Experian KBV CRI error
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-8706: Use correct level of confidence in journey map
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
Due: none

PYIC-8762: add quality gates for contract + unit test
  quality-gate.manifest.json
Due: none

PYIC-8697: Improve code according to code review: - Respect Open/Close principle for mapping string to environment - Rename forms to more accurate naming
  journey-map/src/index.ts
  journey-map/src/service/analyticsService.ts
Due: run-npm-lint-journey-map

PYIC-8697: Simplify mapToEnvironment function.
  journey-map/src/constants.ts
  journey-map/src/service/analyticsService.ts
Due: run-npm-lint-journey-map

PYIC-8697: Move node description to the left, change labels to be more explicit.
  journey-map/public/index.html
  journey-map/public/style.css
  journey-map/src/constants.ts
Due: run-npm-lint-journey-map

BAU: Bump actions/upload-artifact from 4 to 5
  .github/workflows/contract-tests.yaml
  .github/workflows/pre-merge-checks.yml
Due: none

PYIC-8761: Update SonarQube Gradle plugin
  gradle/libs.versions.toml
Due: none

PYIC-8731: Remove suffix for internal api key in dev env.
  deploy/template.yaml
Due: none

PYIC-8731: Add simple change in api tests.
  api-tests/features/unexpected-cri-error.feature
Due: run-npm-lint

PYIC-8731: Increase wait time to 5sec for process async credential lambda to complete the request.
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-8731: Add condition for sharedDev to not add suffix to internal ApiGateway api key.
  deploy/template.yaml
Due: none

PYIC-8731: Remove "n" from api invocation line
  api-tests/features/unexpected-cri-error.feature
Due: run-npm-lint

PYIC-8731: Add GetFunctionConfiguration for manual f2f reset lambda permission.
  deploy/template.yaml
Due: none

BAU: update CIC consumer test to use new kid value
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/cicCri/ContractTest.java
Due: spotlessCheck

BAU: update BAV/F2F consumer tests to use new kid value
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/bavCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/f2fCri/ContractTest.java
Due: spotlessCheck

PYIC-8769: Log sessionCredentialsResetType.
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
Due: spotlessCheck

PYIC-8769: Add DCMAW_ASYNC reset type to allowed types to reset pending vcs.
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
Due: spotlessCheck

PYIC-8769: Reset pending cri response for DCMAW_ASYNC reset type.
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
Due: spotlessCheck

BAU: ignore test only changes when running deploy job
  .github/workflows/secure-post-merge.yml
Due: none

BAU: make pattern more specific for paths-ignore
  .github/workflows/secure-post-merge.yml
Due: none

BAU: prevent AWS deployment if only journey-map/ file changes made - this has its own workflow
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8695: Handle journey to nested journey traffic correctly
  journey-map/src/data/data.ts
  journey-map/src/helpers/nested-journey-traffic.test.ts
  journey-map/src/helpers/nested-journey-traffic.ts
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-8695: Extract event name prefixes to constants
  journey-map/src/constants.ts
  journey-map/src/helpers/nested-journey-traffic.ts
  journey-map/src/helpers/uplift-nested.ts
Due: run-npm-lint-journey-map

PYIC-8695: Add correct counts for nested journeys within other nested journeys
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-8695: Separate out enrich transition logic and add tests
  journey-map/src/helpers/enrich-transitions.test.ts
  journey-map/src/helpers/enrich-transitions.ts
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-8769: Remove throw signature exception from the resetCriPendingResponse method.
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
Due: spotlessCheck

PYIC-8769: Add unit tests. Add evcs - abandon pending identity call.
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/reset-session-identity/src/test/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8798: Add checkIfSessionExpired in IpvSessionService.
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/IpvSessionService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
Due: spotlessCheck

PYIC-8798: Add IpvSessionExpiredException and ErrorResponse
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/IpvSessionExpiredException.java
Due: spotlessCheck

PYIC-8798: Return 400 from CheckMobileAppVcReceiptHandler if ipvSessionItem is expired.
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
Due: spotlessCheck
