Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8932 Maintain limited failover routing for v2 app (DCMAW Async CRI)
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-8932 Add TODO comment
  api-tests/features/disabled-cri-journeys.feature
Due: run-npm-lint

PYIC-8932 Remove now unused feature set and align test params file
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: none

DcmawCri returns 401, not 403, for a malformed access token.
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/dcmawCri/ContractTest.java
Due: spotlessCheck

[DCMAW-18492] The DcmawCri returns 401, not 403, for a malformed access token. (#3731)
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/dcmawCri/ContractTest.java
Due: spotlessCheck

BAU: Fix expanding doubly-nested journeys with event overrides in the journey map
  journey-map/src/helpers/expand-nested.test.ts
  journey-map/src/helpers/expand-nested.ts
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-8913: Allow M1C for mitigated mortality checks
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/VotMatcher.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/VotMatcherTest.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-8913: Add API tests for mortality fraud checks
  api-tests/.env.local
  api-tests/README.md
  api-tests/data/cri-stub-requests/fraud/kenneth-score-0-mortality-breaching/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-score-0-mortality-breaching/evidence.json
  api-tests/features/cimit/p2-mortality-mitigation.feature
  api-tests/src/clients/cimit-stub-client.ts
  api-tests/src/steps/cimit-steps.ts
  api-tests/src/types/cimit-stub.ts
  local-running/README.md
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-8903: Replace string interpolation with direct reference to the alias of ValidateAppConfigFunction
  deploy/template.yaml
Due: none

PYIC-8913: Improve VCHelper code coverage
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-8931: adding new api tests to cover successful web journey using DVA/DVLA DLs with high/low fraud scores
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-8913: Remove unused code
  api-tests/features/cimit/p2-mortality-mitigation.feature
  api-tests/src/types/cimit-stub.ts
Due: run-npm-lint

PYIC-8913: Extract function for readability
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
Due: spotlessCheck

PYIC-8928: remove feature flag check for strategicAppEnabled
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-8928: update config and tests to remove strategic app feature flags
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-8913: Remove feature flag step as flag is now enabled by default
  api-tests/features/cimit/p2-mortality-mitigation.feature
Due: run-npm-lint

PYIC-8928: update api tests to remove strategic app feature flags and comment out tests that need to be updated once referenced bugs are fixed
  api-tests/features/cimit/p1-alternate-doc.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/stored-identity/failed-update-journeys.feature
Due: run-npm-lint

PYIC-8928: remove unused states from the journey map now that we've removed the strategicAppEnabled feature check
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-8943: resolve security vulnerability introduced by older version of mermaid.js
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint-journey-map

PYIC-8883: Remove old AIS description code
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/service/AisServiceTest.java
Due: spotlessCheck

PYIC-8883: Update API tests
  api-tests/features/account-intervention/fail-open.feature
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/account-intervention/journey-starting-intervention.feature
  api-tests/features/account-intervention/p2-reprove-identity.feature
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-8940: update api tests with expected outcome of failed update name journey with CI from v2 app
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/stored-identity/failed-update-journeys.feature
Due: run-npm-lint

BAU: add the journey map to the dependabot config so dependabot knows to scan this directory for updates
  .github/dependabot.yml
Due: none

PYIC-8940: add api tests for return journey when user fails update-name due to a CI from DCMAW async
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
Due: run-npm-lint

PYIC-8913: Include mortality check failure fraud VCs in user's VC bundle
  api-tests/features/cimit/p2-mortality-mitigation.feature
  api-tests/features/p2-international-journey.feature
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck, run-npm-lint

BAU
  api-tests/README.md
Due: run-npm-lint

BAU: Disable metrics for local running and tests
  .github/workflows/automated-tests.yaml
  .github/workflows/contract-tests.yaml
  build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/EnvironmentVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/EmbeddedMetricHelper.java
  local-running/build.gradle
  local-running/compose.yaml.template
Due: spotlessCheck

PYIC-8933: optimize api polling and parallelize credential setup
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

BAU: Reduce noisy logs produced by the Open Telemetry lambda
  deploy/template.yaml
Due: none

PYIC-8968 Add failing API test
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-driving-permit-fail-no-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-driving-permit-fail-no-ci/evidence.json
  api-tests/features/expired-driving-permit.feature
Due: run-npm-lint

PYIC-8968 Filter for only successful DCMAW VCs in expired DL check
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

Revert "PYIC-8968 Add failing API test"
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-driving-permit-fail-no-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-driving-permit-fail-no-ci/evidence.json
  api-tests/features/expired-driving-permit.feature
Due: run-npm-lint

PYIC-8968 Fix incorrect test data - these scenarios should be constructing a DCMAW DL VC not a web DL VC
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

PYIC-8968 Fix code smell
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

BAU Bump API tests DCMAW Async polling timeout
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-8896: Make journey map test more robust
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/JourneyMapTest.java
Due: spotlessCheck

PYIC-8896: Remove obsolete events
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-8896: Extract device identification journey steps
  journey-map/src/constants.ts
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/NestedJourneyTypes.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-identify-device.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-8896: Remove obsolete resetIdentity flag
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
Due: spotlessCheck

PYIC-8896: Extract uk-driving-licence-details-not-correct from strategic-app-handle-result
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-handle-result.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
