Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-7547: Remove criOAuthSessionId as a GSI of SessionsTable
  deploy/template.yaml
Due: none

PYIC-7810: Add COI check to F2F handoff subjourney
  api-tests/data/cri-stub-requests/claimedIdentity/lora/credentialSubject.json
  api-tests/data/cri-stub-requests/claimedIdentity/lora/evidence.json
  api-tests/data/cri-stub-requests/kbv/lora-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/kbv/lora-score-0/evidence.json
  api-tests/features/p2-reprove-identity.feature
  api-tests/src/steps/ipv-steps.ts
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
Due: run-npm-lint

PYIC-7532: Routing for new strategic app abandoned page
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-7811: Extend API tests
  api-tests/features/p2-reprove-identity.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-7811: Reprove identity with F2F
  api-tests/features/p2-reprove-identity.feature
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/CriResponseItem.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/service/CriResponseServiceTest.java
  libs/cri-storing-service/src/main/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringService.java
  libs/cri-storing-service/src/test/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringServiceTest.java
Due: spotlessCheck, run-npm-lint

PYIC-7862 Try to fix dependabot syntax
  .github/dependabot.yml
Due: none

PYIC-7862 dedicated token for dependabot
  .github/dependabot.yml
Due: none

PYIC-7761: Remove GOAWAY error handling
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClientTest.java
Due: spotlessCheck

PYIC-7532: Add initial journey routing for non-uk strategic app users and amend api-tests
  api-tests/features/p2-international-journey.feature
  api-tests/features/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-7532: Add initial journey routing for non-uk strategic app users
  api-tests/features/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-7799: Create traffic when deploying
  api-tests/cucumber.js
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-reuse-journey.feature
  api-tests/features/p2-web-journey.feature
  api-tests/secure-pipeline/run-tests.sh
Due: run-npm-lint

PYIC-6068: Remove tactical reads from check-existing-identity
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7811: Check if identity is pending before skipping
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7811: Don't clear reprove flag from f2f response
  deploy/template.yaml
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7810: Add COI check to F2F handoff subjourney
  api-tests/data/cri-stub-requests/claimedIdentity/lora/credentialSubject.json
  api-tests/data/cri-stub-requests/claimedIdentity/lora/evidence.json
  api-tests/data/cri-stub-requests/kbv/lora-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/kbv/lora-score-0/evidence.json
  api-tests/features/p2-reprove-identity.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
Due: run-npm-lint

PYIC-7646: Add NON_UK_PASSPORT & NON_UK_NO_PASSPORT states
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-7753: re-name CoiCheckTypes
  lambdas/check-coi/src/main/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandler.java
  lambdas/check-coi/src/test/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandlerTest.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/evaluate-scores.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/CoiCheckType.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/RequestHelperTest.java
Due: spotlessCheck

PYIC-7650: Fix readme instructions for running single API test
  api-tests/README.md
Due: run-npm-lint

PYIC-7650: Fix DCMAW passport validity and strength scores
  api-tests/data/cri-stub-requests/dcmaw/alice-passport-valid/evidence.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-changed-family-name-passport-valid/evidence.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-changed-given-name-passport-valid/evidence.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-passport-valid/evidence.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-passport-verification-zero/evidence.json
Due: run-npm-lint

PYIC-7650: Update journey maps to sometimes treat a fraud fail-with-no-ci event differently
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/address-and-fraud.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-7861: Add routing for new app / doc triage page
  api-tests/features/p2-international-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-7646: Fix to be exclusive to strategic app
  api-tests/features/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-7646: Update to skip triage page on back from non-uk-no-passport
  api-tests/features/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-7646: Rename event to allow back link to work
  api-tests/features/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-7650: Allow matching of M1C
  api-tests/data/cri-stub-requests/fraud/kenneth-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-score-0/evidence.json
  api-tests/features/p2-international-journey.feature
  api-tests/package-lock.json
  api-tests/package.json
  gradle/libs.versions.toml
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/pact/BuildUserIdentityHandlerTest.java
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/Vot.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/gpg45-evaluator/src/test/java/uk/gov/di/ipv/core/library/gpg45/Gpg45ProfileEvaluatorTest.java
Due: spotlessCheck, run-npm-lint

PYIC-7646: Update events between nonUk triage states
  api-tests/features/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-7650: Add github token to API test step
  .github/workflows/pre-merge-checks.yml
Due: none

PYIC-7650: Fix test data
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

PYIC-7746: Embedded metrics for CRI completion
  gradle/libs.versions.toml
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/EmbeddedMetricHelper.java
Due: spotlessCheck

PYIC-7799: Ensure TrafficGeneration continues on failure
  api-tests/secure-pipeline/run-tests.sh
Due: run-npm-lint

BAU: Fix COI check type
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
Due: none

PYIC-7797: migrate check-coi lambda to a new service
  libs/check-coi-service/build.gradle
  libs/check-coi-service/src/main/java/uk/gov/di/ipv/core/library/exception/CheckCoiException.java
  libs/check-coi-service/src/main/java/uk/gov/di/ipv/core/library/service/CheckCoiService.java
  settings.gradle
Due: spotlessCheck

PYIC-7797: add unit tests for check-coi service
  libs/check-coi-service/src/test/java/uk/gov/di/ipv/core/library/service/CheckCoiServiceTest.java
Due: spotlessCheck

PYIC-7797: WIP add skeleton for new lambda
  lambdas/process-candidate-identity/build.gradle
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  settings.gradle
Due: spotlessCheck

PYIC-7797: add EvaluateGpg45ScoresService to new lambda
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg45ScoresService.java
Due: spotlessCheck

PYIC-7797: add coi check service to lambda
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiServiceTest.java
Due: spotlessCheck

PYIC-7797: WIP add storeIdentityService to lambda
  lambdas/process-candidate-identity/build.gradle
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
Due: spotlessCheck

PYIC-7797: add IdentityProcessingService to lambda
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg45ScoresService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessingService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
Due: spotlessCheck
