Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-7905: add device information to IPV_REVERIFY_START
  api-tests/data/audit-events/reverification-failed-journey.json
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
Due: spotlessCheck, run-npm-lint

PYIC-7905: add device information to IPV_REVERIFY_END
  api-tests/data/audit-events/reverification-failed-journey.json
  lambdas/user-reverification/src/main/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandler.java
Due: spotlessCheck, run-npm-lint

Revert "PYIC-7905: reverification audit events"
  api-tests/data/audit-events/reverification-failed-journey.json
  api-tests/features/audit-events.feature
  deploy/template.yaml
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/user-reverification/build.gradle
  lambdas/user-reverification/src/main/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandler.java
  lambdas/user-reverification/src/test/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandlerTest.java
  lambdas/user-reverification/src/test/java/uk/gov/di/ipv/core/userreverification/pact/UserReverificationHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionReverification.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/service/LocalAuditService.java
Due: spotlessCheck, run-npm-lint

BAU: TEST log the actual event in github action
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

BAU: add delay when starting a new session
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

BAU: increase delay to 3s when starting a new session
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

BAU: add condition to check that the previous cr was f2f + update expected audit logs
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-7888 Restore DT to build
  deploy/template.yaml
Due: none

PYIC-7888 Detailed DT logging in build
  deploy/template.yaml
Due: none

PYIC-7547: Fix test for audit event file feature flag and add tag for InitialisesDCMAWSessionState
  api-tests/data/audit-events/strategic-app-cross-browser-journey.json
  api-tests/features/audit-events.feature
Due: run-npm-lint

BAU: remove events logging
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-7547: Add IPV_APP_(MISSING_CONTEXT & SESSION_RECOVERED) audit events
  api-tests/data/audit-events/strategic-app-cross-browser-journey.json
  api-tests/features/audit-events.feature
  api-tests/src/clients/local-audit-client.ts
  api-tests/src/steps/ipv-steps.ts
  deploy/template.yaml
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-mobile-app-callback/build.gradle
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionPreviousIpvSessionId.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/service/LocalAuditService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/IpvSessionService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
Due: spotlessCheck, run-npm-lint

PYIC-7547: Add criOAuthSessionId GSI back in so deploy can work (only allows the update of one GSI at a time)
  deploy/template.yaml
Due: none

BAU: separate step for delay
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

BAU: use separate step for delay
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-7968: Update API tests and local running to enable DL auth check
  api-tests/data/audit-events/update-name-and-address-journey.json
  api-tests/features/audit-events.feature
  api-tests/features/cimit/enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/p1-journeys.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-reuse-journey.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
  api-tests/features/ticf/failed-ticf-responses.feature
  api-tests/features/ticf/ticf-successful-responses.feature
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-7968: Run prrettier
  api-tests/data/audit-events/update-name-and-address-journey.json
Due: run-npm-lint

Update api-tests/features/p2-web-journey.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-7963: Deduplicate shared claims names with case insensitivity
  api-tests/data/audit-events/new-identity-p2-app-journey.json
  api-tests/data/audit-events/reprove-identity-journey.json
  api-tests/data/cri-stub-requests/dcmaw/alice-passport-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-brc-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-changed-family-name-passport-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-changed-given-name-passport-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-passport-fail-no-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-passport-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-passport-verification-zero/credentialSubject.json
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
Due: spotlessCheck, run-npm-lint

PYIC-7963: Fix code smell
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
Due: spotlessCheck

PYIC-7971: remove dcmaw success page + intermediate error pages from reverification
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  api-tests/features/mfa-reset-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
Due: run-npm-lint

PYIC-7971: self-review
  api-tests/features/audit-events.feature
  api-tests/features/mfa-reset-journey.feature
Due: run-npm-lint

PYIC-7963: Move shouldDeduplicateNamesWithCaseInsensitivity out of nested class
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-7963: Move deduplication and fullname logic into a NameHelper class
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/NameHelper.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/NameHelperTest.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-7963: Fix sonarcloud issues
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/NameHelper.java
Due: spotlessCheck

PYIC-7963: Fix unit tests
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/NameHelperTest.java
Due: spotlessCheck

PYIC-7961: pass only dcmaw VC to DL cri
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelper.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelperTest.java
Due: spotlessCheck

PYIC-7961: move deduplication to addSharedClaimsFromVc
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelper.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelperTest.java
Due: spotlessCheck

PYIC-7961: add comments
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelper.java
Due: spotlessCheck

PYIC-7961: cleanup after rebase
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelper.java
Due: spotlessCheck

PYIC-7961: fix sonar
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelper.java
Due: spotlessCheck

PYIC-7961: fix sonar - refactor addSharedClaimsFromVc
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelper.java
Due: spotlessCheck

BAU: fix missing ip address
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

BAU: fix missing ip address for process-candidate-identity and check-coi lambdas
  deploy/journeyEngineStepFunction.asl.json
Due: none

Revert "PYIC-7961: fix sonar - refactor addSharedClaimsFromVc"
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelper.java
Due: spotlessCheck

PYIC-7961: pull deduplication out into separate function
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelper.java
Due: spotlessCheck

PYIC-7189 Invalidate repeat CRI callbacks
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
Due: spotlessCheck

BAU: Log CRI OAuth session id
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/LogHelper.java
Due: spotlessCheck

PYIC-7961: filter out DL VCs if target CRI is DL
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelper.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelperTest.java
Due: spotlessCheck

PYIC-7961: remove unnecessary var
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelper.java
Due: spotlessCheck
