Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8252: update unit tests
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/UserIdentity.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/StoredIdentityServiceTest.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-8252: add local-running config for SIS componentId
  local-running/core.local.params.yaml
Due: none

PYIC-8252: clean up code smells
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/StoredIdentityServiceTest.java
Due: spotlessCheck

PYIC-7872: Update tests, hashing method and dev01 -> devShared API testing reference
  .gitignore
  api-tests/.env.devShared
  api-tests/README.md
  api-tests/package.json
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
Due: spotlessCheck, run-npm-lint

PYIC-7872: Update API test devShared reference
  api-tests/secure-pipeline/run-tests.sh
Due: run-npm-lint

PYIC-8252: refactor process-candidate-identity so we only call for areVcsCorrelated and VotMatchingResult once
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-8252: address cognitive complexity code smell on processCandidateThroughJourney
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-7872: Revert branch-specific code
  .github/workflows/secure-post-merge.yml
  deploy/template.yaml
Due: none

PYIC-8284 Fix bug with parents getting mutated
  journey-map/src/helpers/expand-parents.ts
Due: run-npm-lint-journey-map

PYIC-8252: fix failing api tests when SIS flag is enabled
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8252: suppress cognitive complexity warning
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-8252: use more realistic value for sis config
  local-running/core.local.params.yaml
Due: none

PYIC-8284 Break out mermaid rendering steps
  journey-map/src/constants.ts
  journey-map/src/helpers/contract-nested.test.ts
  journey-map/src/helpers/contract-nested.ts
  journey-map/src/helpers/mermaid.test.ts
  journey-map/src/helpers/mermaid.ts
  journey-map/src/helpers/orphans.test.ts
  journey-map/src/helpers/orphans.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

Added sisRecordCreated flag and updated logic to include the strongest achievable vot in AuditExtensionCandidateIdentityType.java.
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionCandidateIdentityType.java
Due: spotlessCheck

PYIC-8252: remove use of arbitrary builder
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/UserClaims.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/UserIdentity.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
Due: spotlessCheck

Added unit tests for StoreIdentityService
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
Due: spotlessCheck

Added null resistance and updated unit tests
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
Due: spotlessCheck

Updated api test to include storedIdentityService feature flag in New Identity p2 scenario.
  api-tests/data/audit-events/delete-pending-f2f-journey.json
  api-tests/data/audit-events/dwp-kbv-successful-journey.json
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/new-identity-p2-app-journey.json
  api-tests/data/audit-events/reprove-identity-journey.json
  api-tests/data/audit-events/strategic-app-cross-browser-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-8320: Update CIC, F2F, and BAV tests
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/bavCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/cicCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/f2fCri/ContractTest.java
Due: spotlessCheck

PYIC-8252: code review markups
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/EvcsStoredIdentityDto.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/StoredIdentityService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/StoredIdentityServiceTest.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-8252: refactor storeIdentity to use SharedAuditEventParameters object
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/domain/SharedAuditEventParameters.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
Due: spotlessCheck

PYIC-8252: refactor methods in ProcessCandidateIdentityHandler to use shared audit event params
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiServiceTest.java
Due: spotlessCheck

PYIC-8252: improve logging for StoredIdentityService
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/StoredIdentityService.java
Due: spotlessCheck

PYIC-8252: granting processCandidateIdentity permission to use kms key
  deploy/template.yaml
Due: none

PYIC-8252: add comment to explain OBJECT_MAPPER.convertValue
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/StoredIdentityService.java
Due: spotlessCheck

PYIC-8302: add api tests for checking stored identity for key journeys
  api-tests/features/p1-app-journey.feature
  api-tests/features/p1-f2f-journey.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
  api-tests/src/clients/evcs-stub-client.ts
  api-tests/src/steps/stored-identity-steps.ts
  api-tests/src/types/evcs-stub.ts
Due: run-npm-lint

PYIC-8302: add api tests for M1C journey
  api-tests/features/m1c-journeys.feature
Due: run-npm-lint

PYIC-8246: Add feature flag
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-8302: store stored identity api tests in separate files
  api-tests/features/p1-app-journey.feature
  api-tests/features/p1-f2f-journey.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/stored-identity/p1-journeys.feature
  api-tests/features/stored-identity/p2-journeys.feature
Due: run-npm-lint

PYIC-8302: add m1c journeys
  api-tests/features/m1c-journeys.feature
  api-tests/features/stored-identity/p2-journeys.feature
Due: run-npm-lint

PYIC-8302: tidy up steps
  api-tests/features/m1c-journeys.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/p2-no-photo-id.feature
Due: run-npm-lint

PYIC-8246: Make TracingHttpClient more robust
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
Due: spotlessCheck

BAU: Add dynatrace trace id to logs
  lambdas/build-client-oauth-response/src/main/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandler.java
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-proven-user-identity-details/src/main/java/uk/gov/di/ipv/core/buildprovenuseridentitydetails/BuildProvenUserIdentityDetailsHandler.java
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandler.java
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-gpg45-score/src/main/java/uk/gov/di/ipv/core/checkgpg45score/CheckGpg45ScoreHandler.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-reverification-identity/src/main/java/uk/gov/di/ipv/core/checkreverificationidentity/CheckReverificationIdentityHandler.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/IssueClientAccessTokenHandler.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/user-reverification/src/main/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/LogHelper.java
Due: spotlessCheck

PYIC-8252: fallback to post method if put fails
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8252: reinstate failed identity case for StoreIdentityService
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
Due: spotlessCheck

PYIC-8252: update test data
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
Due: spotlessCheck

PYIC-8246: Call AIS API to check for reprove identity intervention
  api-tests/.env.build
  api-tests/.env.dev.template
  api-tests/.env.devShared
  api-tests/.env.local
  api-tests/features/audit-events.feature
  api-tests/features/p2-reprove-identity.feature
  api-tests/src/clients/ais-management-api.ts
  api-tests/src/config/config.ts
  api-tests/src/steps/ais-steps.ts
  gradle/libs.versions.toml
  lambdas/initialise-ipv-session/build.gradle
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  libs/ais-service/build.gradle
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/client/AisClient.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/dto/AccountInterventionStatusDto.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/enums/AisAuditLevel.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/enums/AisInterventionType.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/exception/AisClientException.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/TestData.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/client/AisClientTest.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/service/AisServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/RetryableException.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsServiceTest.java
  local-running/core.local.params.yaml
  settings.gradle
Due: spotlessCheck, run-npm-lint

PYIC-8246: Rename API test step for clarity
  api-tests/features/audit-events.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-f2f.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
  api-tests/features/dl-auth-source-checks/dl-cri-dropout.feature
  api-tests/features/inherited-identity/extended-scenarios.feature
  api-tests/features/p1-f2f-journey.feature
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-reprove-identity.feature
  api-tests/features/p2-web-journey.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-8246: Remove blank lines and expand comments
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8246: Remove API test wait that is hopefully obsolete now
  api-tests/features/audit-events.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint
