Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-6973: Update generator classes to use model builders
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/vocab/BankAccountGenerator.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/vocab/BirthDateGenerator.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/vocab/NameGenerator.java
Due: spotlessCheck

PYIC-6973: Use correct credential type for addresses
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

PYIC-6973: Remove unnecessary empty CI arrays
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-6973: Use DEFAULT_DOB constant in more places
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

PYIC-6973: Consolidate generateVerifiableCredential overloads and fix some VC issuers
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/VerifiableCredentialGenerator.java
Due: spotlessCheck

PYIC-6973: Delete obsolete methods
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/VerifiableCredentialGenerator.java
Due: spotlessCheck

PYIC-6793: Fix tests
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandlerTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/VerifiableCredentialGenerator.java
Due: spotlessCheck

PYIC-6793: Whitelist non-secret
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

PYIC-6793: Run spotless
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

PYIC-6973: Fix test
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/auditing/helpers/AuditExtensionsHelperTest.java
Due: spotlessCheck

PYIC-8191: update routing for new device sniffing events
  api-tests/features/strategic-app/p1-strategic-app.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: run-npm-lint

PYIC-8191: remove pyi-triage-mobile-confirm states
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-6973: Fix tests
  libs/cri-storing-service/src/test/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringServiceTest.java
  libs/gpg45-evaluator/src/test/java/uk/gov/di/ipv/core/library/gpg45/Gpg45ProfileEvaluatorTest.java
Due: spotlessCheck

PYIC-6973: Fix tests
  libs/ticf-cri-service/src/test/java/uk/gov/di/ipv/core/library/ticf/TicfCriServiceTest.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/validator/VerifiableCredentialValidatorTest.java
Due: spotlessCheck

PYIC-6973: Fix code smells
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

PYIC-6973: Run spotless
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

PYIC-6973: Fix code smells
  lambdas/check-reverification-identity/src/test/java/uk/gov/di/ipv/core/checkreverificationidentity/CheckReverificationIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/VerifiableCredential.java
  libs/gpg45-evaluator/src/test/java/uk/gov/di/ipv/core/library/gpg45/Gpg45ProfileEvaluatorTest.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/VotMatcherTest.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-8086: migrate e2e tests and refactor
  api-tests/data/jar-requests/low-medium-confidence.json
  api-tests/features/p1-app-journey.feature
  api-tests/features/p1-f2f-journey.feature
  api-tests/features/p1-journeys.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-8086: removing unnecessary step
  api-tests/features/p1-web-journey.feature
Due: run-npm-lint

PYIC-8086: add missing p1 mitigation tests
  api-tests/data/cri-stub-requests/kbv/lora-score-1/credentialSubject.json
  api-tests/data/cri-stub-requests/kbv/lora-score-1/evidence.json
  api-tests/features/cimit/p1-alternate-doc.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-f2f.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
Due: run-npm-lint

PYIC-6973: Review comments
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

PYIC-6973: Fix test
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

BAU: Add debugging logging
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidator.java
Due: spotlessCheck

BAU: Add more debugging logging
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidator.java
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
Due: spotlessCheck

PYIC-8156: Upgrade node to v22
  .github/workflows/pre-merge-checks.yml
  api-tests/secure-pipeline/api-tests.Dockerfile
  local-running/package-lock.json
  local-running/package.json
Due: run-npm-lint

PYIC-8156: Fix pre-merge-checks github action
  .github/workflows/pre-merge-checks.yml
Due: none

BAU: Fix up last VC parameterised types
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/VerifiableCredentialParser.java
Due: spotlessCheck

PYIC-8190: Fix routing for P2 journey if failed F2F on P1 mitigation
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/NestedJourneyTypes.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/f2f-failed.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/IpvJourneyTypes.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/criresponse/domain/AsyncCriStatus.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/criresponse/domain/AsyncCriStatusTest.java
Due: spotlessCheck

PYIC-8190: Update AsyncCriStatus to include VOT to determine the journey
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/criresponse/domain/AsyncCriStatus.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseService.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/criresponse/domain/AsyncCriStatusTest.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseServiceTest.java
Due: spotlessCheck

BAU: fix journey-map
  journey-map/public/constants.mjs
Due: run-npm-lint-journey-map

Revert "PYIC-7917: temp disable pact tests for the M1C fraud check unavailable"
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/CredentialTests.java
Due: spotlessCheck

PYIC-8210: Enable device intelligence and language toggle for local running and fix Dockerfile syntax
  local-running/Dockerfile
  local-running/compose.yaml
Due: none

PYIC-8220: Make CheckExistingIdentity conditionally use Dynatrace and add alarm for IOExceptions
  deploy/template.yaml
Due: none

PYIC-8220: Update IOExceptionMetric namespace
  deploy/template.yaml
Due: none

PYIC-8220: Update IOExceptionMetric filter pattern
  deploy/template.yaml
Due: none

PYIC-8223 Temporary mitigation to force lambda restart on fatal IOException
  lambdas/build-client-oauth-response/src/main/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandler.java
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-proven-user-identity-details/src/main/java/uk/gov/di/ipv/core/buildprovenuseridentitydetails/BuildProvenUserIdentityDetailsHandler.java
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-gpg45-score/src/main/java/uk/gov/di/ipv/core/checkgpg45score/CheckGpg45ScoreHandler.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-reverification-identity/src/main/java/uk/gov/di/ipv/core/checkreverificationidentity/CheckReverificationIdentityHandler.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/IssueClientAccessTokenHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/user-reverification/src/main/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
Due: spotlessCheck

PYIC-8220: PR markups
  deploy/template.yaml
Due: none

PYIC-8220: Add metric filters for all lambdas and the step function
  deploy/template.yaml
Due: none

PYIC-8220: Update filter pattern
  deploy/template.yaml
Due: none
