Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8624: set FMS tags on core-back's internal and external APIs
  deploy/template.yaml
Due: none

PYIC-8593: Add test for parseApiSettings
  journey-map/src/helpers/options.test.ts
Due: run-npm-lint-journey-map

PYIC-8393: Add new audit event fields
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/audit/AuditExtensionsSisComparison.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-7871: Add and keep configuration attribute in Config service up to date
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
Due: spotlessCheck

PYIC-7871: Put generateConfiguration behind hash check
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
Due: spotlessCheck

PYIC-7871: Replace loghelper parameters reference
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/LogHelper.java
Due: spotlessCheck

PYIC-7878: read feature flags & CRI enablement from Config
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolver.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolverTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-7878: load CRI configs from typed Config
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-7878: replace generic getLongParameter() with explicit self-config getters
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/AuthorizationRequestHelper.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/AuthorizationRequestHelperTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidator.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidatorTest.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/IssueClientAccessTokenHandler.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/service/AccessTokenService.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/validation/TokenRequestValidator.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/IssueClientAccessTokenHandlerTest.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/pact/IssueClientAccessTokenHandlerTest.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/service/AccessTokenServiceTest.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/validation/TokenRequestValidatorTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/bavCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/cicCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/dcmawCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/drivingLicenceCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/f2fCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/ninoCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/passportCri/TokenTests.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
  libs/cri-api-service/src/test/java/uk/gov/di/ipv/core/library/criapiservice/CriApiServiceTest.java
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
  libs/oauth-key-service/src/test/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyServiceTest.java
Due: spotlessCheck

PYIC-7878: use typed getCimitConfig; remove getHistoricalSigningKeys
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CimitUtilityService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CimitUtilityServiceTest.java
Due: spotlessCheck

PYIC-7878: switch CRI connections, signer key IDs, and issuer mapping to typed Config (remove ParameterStore lookups)
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/signing/SignerFactory.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CimitUtilityServiceTest.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-7878: replace getStringListParameter with typed helper for client redirect URLs
  lambdas/build-client-oauth-response/src/main/java/uk/gov/di/ipv/core/buildclientoauthresponse/validation/AuthRequestValidator.java
  lambdas/build-client-oauth-response/src/test/java/uk/gov/di/ipv/core/buildclientoauthresponse/validation/AuthRequestValidatorTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidator.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidatorTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-7878: Refactor TTL handling & fix tests: use typed config getters
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/service/ClientAuthJwtIdService.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/service/ClientAuthJwtIdServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/DataStore.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/DynamoDataStore.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/InMemoryDataStore.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CriOAuthSessionService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/IpvSessionService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/persistence/DynamoDataStoreTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CriOAuthSessionServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseService.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseServiceTest.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsServiceTest.java
Due: spotlessCheck

PYIC-7878: implement feature-set overlays in getConfiguration; stabilize serialization; align tests
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CriConnectionWrapper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/OauthCriConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/LocalConfigServiceTest.java
  local-running/src/main/java/uk/gov/di/ipv/coreback/CoreBack.java
Due: spotlessCheck

PYIC-7878: Clean up + rebase
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandler.java
  lambdas/fetch-system-settings/src/test/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandlerTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/validation/TokenRequestValidatorTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/cimit-service/src/test/java/uk/gov/di/ipv/core/library/cimit/pact/ContractTest.java
  libs/cimit-service/src/test/java/uk/gov/di/ipv/core/library/cimit/service/CimitServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
  libs/cri-checking-service/build.gradle
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseService.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseServiceTest.java
  libs/cri-storing-service/build.gradle
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/client/SisClient.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/client/SisClientTest.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/pact/ContractTest.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-7878: Replace and add local running config parameters values
  local-running/core.local.params.yaml
Due: none

PYIC-8624: conditionalise tags for IPVCoreAnalyticsAPI
  deploy/template.yaml
Due: none

PYIC-8593: Change function to be an arrow
  journey-map/src/helpers/options.test.ts
Due: run-npm-lint-journey-map

PYIC-8593: Refactor client side code to separate rendering from api calls.
  journey-map/public/index.html
  journey-map/src/data/data.ts
  journey-map/src/helpers/analytics.test.ts
  journey-map/src/helpers/analytics.ts
  journey-map/src/helpers/options.ts
  journey-map/src/index.ts
  journey-map/src/render.ts
  journey-map/src/service/analyticsService.ts
Due: run-npm-lint-journey-map

PYIC-8593: Add default config if env variables not present.
  journey-map/server/config.ts
Due: run-npm-lint-journey-map

PYIC-8593: Add as const, change function name.
  journey-map/server/analytics-middleware.ts
  journey-map/server/config.ts
  journey-map/src/helpers/analytics.test.ts
  journey-map/src/helpers/analytics.ts
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-8593: Cast target environment
  journey-map/server/analytics-middleware.ts
Due: run-npm-lint-journey-map

PYIC-8593: Add css for analytics api
  journey-map/public/index.html
  journey-map/public/style.css
  journey-map/server/config.ts
Due: run-npm-lint-journey-map

PYIC-8647: handle error event for driving licence, passport and experian kbv CRIs
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-8593: Improve user experience, add button visual interaction, add alert for error message, disable button during fetch.
  journey-map/public/index.html
  journey-map/public/style.css
  journey-map/server/analytics-middleware.ts
  journey-map/src/index.ts
  journey-map/src/service/analyticsService.ts
Due: run-npm-lint-journey-map

PYIC-8593: Fix button styling
  journey-map/public/style.css
Due: run-npm-lint-journey-map

PYIC-8647: handle error event for f2f CRI
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-8593: Add tests and validation to fetch journey transitions lambda.
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/Request.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/exceptions/RequestParseException.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/helper/ValidationHelper.java
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
Due: spotlessCheck

PYIC-7878: More clean up / fix sonarcloud issues
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/AuthorizationRequestHelperTest.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/pact/BuildUserIdentityHandlerTest.java
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandler.java
  lambdas/fetch-system-settings/src/test/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandlerTest.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidatorTest.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/service/ClientAuthJwtIdService.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/pact/IssueClientAccessTokenHandlerTest.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolver.java
  libs/cimit-service/src/main/java/uk/gov/di/ipv/core/library/cimit/service/CimitService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CredentialIssuersConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/DataStore.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/DynamoDataStore.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CriOAuthSessionService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/IpvSessionService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/persistence/DynamoDataStoreTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CimitUtilityServiceTest.java
  libs/cri-checking-service/src/main/java/uk/gov/di/ipv/core/library/cricheckingservice/CriCheckingService.java
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
Due: spotlessCheck

PYIC-8649: Clean up P1 journeys feature flag
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/pact/BuildUserIdentityHandlerTest.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/fetch-system-settings/src/test/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandlerTest.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/pact/IssueClientAccessTokenHandlerTest.java
  lambdas/user-reverification/src/test/java/uk/gov/di/ipv/core/userreverification/pact/UserReverificationHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsServiceTest.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-7871: Refactor ConfigService overriding logic
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/AisConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CiRoutingConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CimitConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/ClientConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CoiConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/Config.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CredentialIssuersConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CriConnectionWrapper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/EvcsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/InternalOperationsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/SisConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/StoredIdentityServiceConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/VotCiThresholdsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/RestCriConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/ConfigParseException.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ConfigServiceTest.java
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
  libs/oauth-key-service/src/test/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyServiceTest.java
Due: spotlessCheck

PYIC-8593: Add ValidationHelper and NumberHelper classes.
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/Request.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/helper/ValidationHelper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/NumberHelper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/ValidationHelper.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/NumberHelperTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/ValidationHelperTest.java
Due: spotlessCheck

PYIC-8593: Add response statuses to analytics-middleware.
  journey-map/server/analytics-middleware.ts
Due: run-npm-lint-journey-map

PYIC-8593: Remove caching.
  journey-map/server/analytics-middleware.ts
Due: run-npm-lint-journey-map

PYIC-7655 Tidy up CRI API request headers
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-7871: Use annotations to systematically strip escapes from CRI config keys
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/annotations/RemoveEscapedQuotationMarks.Java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/CriConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/OauthCriConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/RestCriConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/RemoveEscapedQuotesDeserializer.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7871: Rename RemoveEscapedQuotationMarks file extension to correc lower case .java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/annotations/RemoveEscapedQuotationMarks.java
Due: spotlessCheck

PYIC-7871: Fix RemoveEscapedQuotationMarks to use JacksonAnnotationsInside
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/annotations/RemoveEscapedQuotationMarks.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/RemoveEscapedQuotesDeserializer.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
