Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-7800: add env variable for appconfig
  deploy/template.yaml
Due: none

BAU: Remove memory size overrides
  deploy/template.yaml
Due: none

PYIC-7832: Add missing targetJourney
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-7931: Add old+new address to CoI end audit event
  lambdas/check-coi/src/main/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandler.java
  lambdas/check-coi/src/test/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiServiceTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/restricted/AuditRestrictedCheckCoi.java
Due: spotlessCheck

BAU: perf support
  deploy/template.yaml
Due: none

PYIC-7936: update getAuditEvents method for local audit service
  api-tests/src/clients/local-audit-client.ts
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/service/LocalAuditService.java
Due: spotlessCheck, run-npm-lint

PYIC-7936: update local-running audithandler
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/AuditHandler.java
Due: spotlessCheck

PYIC-7936: remove old audit events check from existing api tests
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/inherited-identity/extended-scenarios.feature
  api-tests/features/inherited-identity/inherited-identity.feature
  api-tests/features/p1-journeys.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/p2-reprove-identity.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
Due: run-npm-lint

PYIC-7936: add api tests for audit events
  api-tests/data/audit-events/alternate-doc-mitigation-journey.json
  api-tests/data/audit-events/delete-pending-f2f-journey.json
  api-tests/data/audit-events/inherited-identity-journey.json
  api-tests/data/audit-events/international-address-journey.json
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/new-identity-p2-journey.json
  api-tests/data/audit-events/no-photo-id-journey.json
  api-tests/data/audit-events/reprove-identity-journey.json
  api-tests/data/audit-events/strategic-app-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
  api-tests/features/audit-events.feature
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/utils/audit-events.ts
  api-tests/src/utils/object-matchers.ts
Due: run-npm-lint

PYIC-7936: update DcmawAsyncCri service to use audit service from lambda handler
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandler.java
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriService.java
Due: spotlessCheck

PYIC-7936: remove missed console logs and old test
  api-tests/features/p2-strategic-app.feature
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/utils/object-matchers.ts
Due: run-npm-lint

PYIC-7797: update failed subjourney to use process candidate identity lambda
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
Due: none

PYIC-7797: update reverification journey to use process candidate identity lambda
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
Due: none

PYIC-7797: fix indentation on failed journey map
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
Due: none

PYIC-7797: TEST setting processCandidateIdentity to true in local running
  local-running/core.local.params.yaml
Due: none

PYIC-7926: add reuse + p2 app journey
  api-tests/data/audit-events/new-identity-p2-app-journey.json
  api-tests/data/audit-events/reuse-journey.json
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-7926: use if...in... for key check and improve error message
  api-tests/src/utils/object-matchers.ts
Due: run-npm-lint

PYIC-7926: check for types instead of exact values for age
  api-tests/data/audit-events/alternate-doc-mitigation-journey.json
  api-tests/data/audit-events/delete-pending-f2f-journey.json
  api-tests/data/audit-events/inherited-identity-journey.json
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/new-identity-p2-app-journey.json
  api-tests/data/audit-events/reprove-identity-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
  api-tests/src/utils/object-matchers.ts
Due: run-npm-lint

PYIC-7785: Add some comments
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-7785: Send useful text instead of "null" if no VC found
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/ApiGatewayResponseGenerator.java
Due: spotlessCheck

PYIC-7931: Update audit-event data for api-tests
  api-tests/data/audit-events/reprove-identity-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
Due: run-npm-lint

PYIC-7785: Tidy up API test wording
  api-tests/features/p2-strategic-app.feature
Due: run-npm-lint

PYIC-7785: Add new API test step to check for error response
  api-tests/features/p2-strategic-app.feature
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/types/internal-api.ts
Due: run-npm-lint

PYIC-7832: Update journey map with new page
  api-tests/features/cimit/enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/enhanced-verification-mitigation-f2f.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  api-tests/features/dl-auth-source-checks/dl-cri-dropout.feature
  api-tests/features/inherited-identity/extended-scenarios.feature
  api-tests/features/p1-journeys.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/return-codes.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-7941: add workaround to fix driving licence cimit bug
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
Due: spotlessCheck

PYIC-7785: Run spotless
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
Due: spotlessCheck

PYIC-7785: Run prettier
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/types/internal-api.ts
Due: run-npm-lint

PYIC-7785: Add missing import
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-7832: Add back original states + fail routing and context
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  api-tests/features/p1-journeys.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/return-codes.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

BAU: Change to fail a provider side contract test
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/pact/BuildUserIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7941: add unit tests for the DL auth source check bug
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
Due: spotlessCheck

BAU: Break a test that's actually in use
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/pact/BuildUserIdentityHandlerTest.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/pact/IssueClientAccessTokenHandlerTest.java
Due: spotlessCheck

PYIC-7904: update reverification journey with new pages
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
Due: none

PYIC-7904: update api tests
  api-tests/features/mfa-reset-journey.feature
Due: run-npm-lint

PYIC-7904: fix failing api test
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
Due: run-npm-lint

PYIC-7941: add API tests to cover auth soruce check DL case
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-7904: use INELIGIBLE_SKIP_MESSAGE and fix failing api tests
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  api-tests/features/mfa-reset-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
Due: run-npm-lint

PYIC-7785: Add internal headers to new test methods calling internal API methods
  api-tests/src/clients/core-back-internal-client.ts
Due: run-npm-lint
