Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-9028: Add new alarm for high numbers of journey starts
  deploy/template.yaml
Due: none

PYIC-9028: Tweak template for testing in build
  deploy/template.yaml
Due: none

PYIC-9028: Update alarm name
  deploy/template.yaml
Due: none

PYIC-9028: Update to work in prod
  deploy/template.yaml
Due: none

PYIC-9083: Enable coi6mfcDeadEndRoutingEnabled feature flag in local running environment.
  api-tests/features/update-details-higher-strengh/update-details-higher-strengh.feature
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-9066: Add routing for explicit mitigation journey instead of mitigating all CIs
  api-tests/data/cri-stub-requests/fraud/kenneth-score-2-liveness-likeness-p1-when-combined-with-non-breaching/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-score-2-liveness-likeness-p1-when-combined-with-non-breaching/evidence.json
  api-tests/data/cri-stub-requests/fraud/kenneth-score-2-liveness-likeness-p2-when-combined-with-non-breaching/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-score-2-liveness-likeness-p2-when-combined-with-non-breaching/evidence.json
  api-tests/features/fraud-mitigation/p1-mitigation.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/intervention-reprove-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/address-and-fraud.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-details-higher-strength.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-9083: Enable coi6mfcDeadEndRoutingEnabled feature flag in local running environment.
  api-tests/features/m1c-journeys.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/update-details-higher-strengh/update-details-higher-strengh.feature
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-9066: Fix mitigation routing
  api-tests/data/cri-stub-requests/fraud/kenneth-breaching-liveness-likeness-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-breaching-liveness-likeness-ci/evidence.json
  api-tests/features/fraud-mitigation/p1-mitigation.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/intervention-reprove-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/address-and-fraud.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-details-higher-strength.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-9066: Delete obsolete test CI codes
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: none

PYIC-9066: Add routing for P1/P2 new identity app journey fraud mitigation
  api-tests/features/fraud-mitigation/p1-mitigation.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

BAU: Adjust test data user age
  api-tests/data/audit-events/repeat-fraud-check-no-update.json
Due: run-npm-lint

PYIC-9083: Duplicate tests to cover production coi6mfcDeadEndRouting disabled feature flag.
  api-tests/features/coi6mfcDeadEndRoutingDisbaled.feature
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-9189: Update awsSdk and jackson
  gradle/libs.versions.toml
Due: none

PYIC-9123: Remove coi6mfcDeadEndRoutingDisbaled tests.
  api-tests/features/coi6mfcDeadEndRoutingDisbaled.feature
Due: run-npm-lint

PYIC-9122: Update Address CRI PACT test error codes
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/TokenTests.java
Due: spotlessCheck

PYIC-9066: Add API test for auto-mitigation case
  api-tests/features/fraud-mitigation/p2-mitigation.feature
Due: run-npm-lint

PYIC-9058: Delete unused event
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
Due: none

PYIC-9058: Remove obsolete feature flag usage
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
Due: run-npm-lint

PYIC-9058: Update routes
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/AbstractPageContextValidator.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/PageContextValidator.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: spotlessCheck

PYIC-9058: Update API tests
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/account-intervention/reprove-identity.feature
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  api-tests/features/audit-events.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks/p2-dl-auth-source-check.feature
  api-tests/features/dl-auth-source-checks/p2-enhanced-verification-mitigation.feature
  api-tests/features/dwp-kbv/p2-alternate-doc-mitigation.feature
  api-tests/features/dwp-kbv/p2-web-journey.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  api-tests/features/m1c-journeys.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/return-codes.feature
  api-tests/features/stored-identity/m1c-journeys.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  api-tests/features/ticf/ticf-successful-responses.feature
  api-tests/features/unexpected-cri-error.feature
Due: run-npm-lint

PYIC-9213: Update journey state for coi/6mfc address only failure
  api-tests/features/update-details-higher-strengh/update-details-higher-strengh.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
Due: run-npm-lint

PYIC-9058: Add CIC context
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9067: Add mitigation routes for returning users
  api-tests/features/fraud-mitigation/p1-mitigation.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-9058: Review mark-ups
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9059: Fix Open Banking stub config
  local-running/core.local.params.yaml
Due: none

PYIC-9059: Fix Open Banking routing if app fails with no CI
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9059: Add post Open Banking photo ID routes
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9059: Fix routing if DCMAW Async is disabled
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9059: Update API tests
  api-tests/data/audit-events/dwp-kbv-dropout-user-abandons-cri-no-open-banking.json
  api-tests/data/audit-events/dwp-kbv-dropout-user-abandons-cri.json
  api-tests/data/audit-events/dwp-kbv-dropout-via-thin-file-no-open-banking.json
  api-tests/data/audit-events/dwp-kbv-successful-journey-no-open-banking.json
  api-tests/data/audit-events/dwp-kbv-successful-journey.json
  api-tests/data/audit-events/new-identity-p2-web-journey-kbv.json
  api-tests/data/audit-events/new-identity-p2-web-journey.json
  api-tests/data/cri-stub-requests/openBanking/kenneth-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/openBanking/kenneth-score-0/evidence.json
  api-tests/data/cri-stub-requests/openBanking/kenneth-with-breaching-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/openBanking/kenneth-with-breaching-ci/evidence.json
  api-tests/data/cri-stub-requests/openBanking/kenneth/credentialSubject.json
  api-tests/data/cri-stub-requests/openBanking/kenneth/evidence.json
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  api-tests/features/audit-events.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks/p2-dl-auth-source-check.feature
  api-tests/features/dl-auth-source-checks/p2-enhanced-verification-mitigation.feature
  api-tests/features/dwp-kbv/p2-alternate-doc-mitigation.feature
  api-tests/features/dwp-kbv/p2-web-journey.feature
  api-tests/features/m1c-journeys.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/return-codes.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  api-tests/features/unexpected-cri-error.feature
Due: run-npm-lint

PYIC-9213: clear pending DCMAW async state during NAME_ONLY_CHANGE reset
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-details-higher-strength.yaml
  lambdas/reset-identity/src/main/java/uk/gov/di/ipv/core/resetidentity/ResetIdentityHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/IdentityResetType.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsServiceTest.java
Due: spotlessCheck

PYIC-9059: Remove qq
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
Due: run-npm-lint

BAU: Fix cross-browser mitigation test setup to not pre-store CURRENT VCs
  api-tests/features/app-cross-browser/p1-cross-browser.feature
  api-tests/features/app-cross-browser/p2-cross-browser.feature
Due: run-npm-lint

PYIC-9207: Move orch-stub jar signing key to secrets.
  api-tests/.env.build
  api-tests/.env.dev.template
  api-tests/.env.devShared
  api-tests/.env.local
  api-tests/.env.template
  api-tests/secure-pipeline/run-tests.sh
Due: run-npm-lint

PYIC-8941: Include CURRENT VCs in credential bundle alongside PENDING_RETURN VCs
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck, run-npm-lint

PYIC-9207: Add JAR_SIGNING_KEY secret to automated-tests GHA.
  .github/workflows/automated-tests.yaml
  .github/workflows/pre-merge-checks.yml
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-9207: Remove unwanted comment.
  api-tests/.env.build
  api-tests/README.md
Due: run-npm-lint

PYIC-9207: Remove signing key from README
  api-tests/README.md
Due: run-npm-lint

PYIC-9204: Fix NullPointerException trying to look up unknown client config
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
Due: spotlessCheck

BAU: Update version of brace-expansion to clear security vulnerability
  api-tests/package-lock.json
Due: run-npm-lint

BAU: Remove '# pragma: allowlist secret' from .env.template.
  api-tests/.env.template
Due: run-npm-lint

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
