Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8457: use manually signed and published layer as a stopgap
  deploy/template.yaml
Due: none

PYIC-8254: Fix new contract tests
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8254: Fix sonarcloud issues
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8413: Enable rebrand for local running
  local-running/compose.yaml
Due: none

PYIC-8430: Remove CORE_BACK_INTERNAL_API_KEY re-assignment from .env.devShared
  api-tests/.env.devShared
Due: run-npm-lint

PYIC-8430: Add key back in as it needed -dev-dev
  api-tests/.env.devShared
Due: run-npm-lint

PYIC-4934: add cri config for experianKbv in local.params config
  local-running/core.local.params.yaml
Due: none

PYIC-4934: update journey map with experianKbv criId
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
Due: none

PYIC-4934: add support for new experianKbv criId
  api-tests/src/clients/cri-stub-client.ts
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/Cri.java
  libs/gpg45-evaluator/src/main/java/uk/gov/di/ipv/core/library/gpg45/validators/Gpg45IdentityCheckValidator.java
Due: spotlessCheck, run-npm-lint

PYIC-8502: Remove v2 app from reverification journey
  api-tests/features/mfa-reset-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
Due: run-npm-lint

PYIC-4934: update kbv cri data folder name to match new experianKbv criId
  api-tests/data/cri-stub-requests/experianKbv/kenneth-needs-enhanced-verification/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-needs-enhanced-verification/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-score-0/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-score-1/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-score-1/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-score-2/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-score-2/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-with-breaching-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-with-breaching-ci/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/lora-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/lora-score-0/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/lora-score-1/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/lora-score-1/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/lora-score-2/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/lora-score-2/evidence.json
Due: run-npm-lint

PYIC-4934: update api tests to use new criId
  api-tests/features/cimit/p1-alternate-doc.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-f2f.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  api-tests/features/dl-auth-source-checks/dl-cri-dropout.feature
  api-tests/features/inherited-identity/extended-scenarios.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/return-codes.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
  api-tests/features/stored-identity/cimit-journeys.feature
  api-tests/features/stored-identity/p1-journeys.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p1-strategic-app.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
Due: run-npm-lint

PYIC-4934: update logs + embedded metrics to map old criId to kbv.
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/Cri.java
Due: spotlessCheck

PYIC-8430: Temporarily increase F2F delay to check API tests for dev account
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-8254: Update nullBodyPostIdentityReturns400 phrasing
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8430: Revert timeout increase for slow f2f test after successful unflakiness
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-4934: remove old kbv config from local config
  local-running/core.local.params.yaml
Due: none

Revert "Revert "BAU: Create a bakeless AppConfig deployment strategy""
  deploy/template.yaml
Due: none

PYIC-4934: remove old CRI_EXPERIAN_KBV state from journey map
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
Due: none

PYIC-4934: remove old kbv from CRI enum
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/Cri.java
  libs/gpg45-evaluator/src/main/java/uk/gov/di/ipv/core/library/gpg45/validators/Gpg45IdentityCheckValidator.java
Due: spotlessCheck

PYIC-8506: Break from ProcessCandidateIdentityHandler when account intervention detected.
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/exception/AccountInterventionException.java
Due: spotlessCheck

PYIC-8506: Fix Sonarcloud issues
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/exception/AccountInterventionException.java
Due: spotlessCheck

PYIC-8506: Fix Sonarcloud issues and move abstract methods to top of abstract class
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

BAU: Remove dynatrace from processcandidateidentity
  deploy/template.yaml
Due: none

PYIC-8506: Make AccountInterventionException message more descriptive
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/exception/AccountInterventionException.java
Due: spotlessCheck

PYIC-8457: move all lambdas to open telemetry in build environment
  deploy/template.yaml
  lambdas/build-client-oauth-response/src/main/resources/collector.yaml
  lambdas/build-cri-oauth-request/src/main/resources/collector.yaml
  lambdas/build-proven-user-identity-details/src/main/resources/collector.yaml
  lambdas/build-user-identity/src/main/resources/collector.yaml
  lambdas/call-dcmaw-async-cri/src/main/resources/collector.yaml
  lambdas/check-existing-identity/src/main/resources/collector.yaml
  lambdas/check-gpg45-score/src/main/resources/collector.yaml
  lambdas/check-mobile-app-vc-receipt/src/main/resources/collector.yaml
  lambdas/check-reverification-identity/src/main/resources/collector.yaml
  lambdas/initialise-ipv-session/src/main/resources/collector.yaml
  lambdas/issue-client-access-token/src/main/resources/collector.yaml
  lambdas/manual-f2f-pending-reset/src/main/resources/collector.yaml
  lambdas/process-async-cri-credential/src/main/resources/collector.yaml
  lambdas/process-cri-callback/src/main/resources/collector.yaml
  lambdas/process-journey-event/src/main/resources/collector.yaml
  lambdas/process-mobile-app-callback/src/main/resources/collector.yaml
  lambdas/reset-session-identity/src/main/resources/collector.yaml
  lambdas/user-reverification/src/main/resources/collector.yaml
Due: none

PYIC-8457: share OPENTELEMETRY_COLLECTOR_CONFIG_URI env var with all lambdas
  deploy/template.yaml
Due: none

PYIC-8457: revert moving all lambdas in Build to use otel
  deploy/template.yaml
  lambdas/build-client-oauth-response/src/main/resources/collector.yaml
  lambdas/build-cri-oauth-request/src/main/resources/collector.yaml
  lambdas/build-proven-user-identity-details/src/main/resources/collector.yaml
  lambdas/build-user-identity/src/main/resources/collector.yaml
  lambdas/call-dcmaw-async-cri/src/main/resources/collector.yaml
  lambdas/check-existing-identity/src/main/resources/collector.yaml
  lambdas/check-gpg45-score/src/main/resources/collector.yaml
  lambdas/check-mobile-app-vc-receipt/src/main/resources/collector.yaml
  lambdas/check-reverification-identity/src/main/resources/collector.yaml
  lambdas/initialise-ipv-session/src/main/resources/collector.yaml
  lambdas/issue-client-access-token/src/main/resources/collector.yaml
  lambdas/manual-f2f-pending-reset/src/main/resources/collector.yaml
  lambdas/process-async-cri-credential/src/main/resources/collector.yaml
  lambdas/process-cri-callback/src/main/resources/collector.yaml
  lambdas/process-journey-event/src/main/resources/collector.yaml
  lambdas/process-mobile-app-callback/src/main/resources/collector.yaml
  lambdas/reset-session-identity/src/main/resources/collector.yaml
  lambdas/user-reverification/src/main/resources/collector.yaml
Due: none

Revert "PYIC-8457: revert moving all lambdas in Build to use otel"
  deploy/template.yaml
  lambdas/build-client-oauth-response/src/main/resources/collector.yaml
  lambdas/build-cri-oauth-request/src/main/resources/collector.yaml
  lambdas/build-proven-user-identity-details/src/main/resources/collector.yaml
  lambdas/build-user-identity/src/main/resources/collector.yaml
  lambdas/call-dcmaw-async-cri/src/main/resources/collector.yaml
  lambdas/check-existing-identity/src/main/resources/collector.yaml
  lambdas/check-gpg45-score/src/main/resources/collector.yaml
  lambdas/check-mobile-app-vc-receipt/src/main/resources/collector.yaml
  lambdas/check-reverification-identity/src/main/resources/collector.yaml
  lambdas/initialise-ipv-session/src/main/resources/collector.yaml
  lambdas/issue-client-access-token/src/main/resources/collector.yaml
  lambdas/manual-f2f-pending-reset/src/main/resources/collector.yaml
  lambdas/process-async-cri-credential/src/main/resources/collector.yaml
  lambdas/process-cri-callback/src/main/resources/collector.yaml
  lambdas/process-journey-event/src/main/resources/collector.yaml
  lambdas/process-mobile-app-callback/src/main/resources/collector.yaml
  lambdas/reset-session-identity/src/main/resources/collector.yaml
  lambdas/user-reverification/src/main/resources/collector.yaml
Due: none

PYIC-7877 Add condition to deploy only in build/staging/prod
  deploy/template.yaml
Due: none

PYIC-8248: Enable AIS in local running
  local-running/core.local.params.yaml
Due: none

BAU: Fix null reference exception by not calling AIS when we don't have a user ID
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-8457: remove conflicting autoinstrumentation
  deploy/template.yaml
  gradle/libs.versions.toml
  lambdas/build.gradle
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
Due: spotlessCheck

Test commit.
  deploy/template.yaml
Due: none

PYIC-4934: add support for experianKbv criId without updating journey map
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/TokenTests.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/Cri.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/gpg45-evaluator/src/main/java/uk/gov/di/ipv/core/library/gpg45/validators/Gpg45IdentityCheckValidator.java
Due: spotlessCheck

PYIC-4934: update journey map to use experianKbv criId
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
Due: none

PYIC-4934: update local params config with new experianKbv criId
  local-running/core.local.params.yaml
Due: none

PYIC-4934: update Cri.fromId to handle callback?id=kbv
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/Cri.java
Due: spotlessCheck
