Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8798: Add log message to indicate expired ipv session.
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
Due: spotlessCheck

PYIC-8798: Refactor ProcessJourneyEventHandler to reuse checkIfSessionExpired method.
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
Due: spotlessCheck

PYIC-8798: Add pip skip step to unexpected-cri-error.feature tests
  api-tests/features/unexpected-cri-error.feature
Due: run-npm-lint

PYIC-8804: manually update pact libraries
  gradle/libs.versions.toml
Due: none

PYIC-8784: Tidy up existing tests
  api-tests/features/cimit/p2-alternate-doc.feature
Due: run-npm-lint

PYIC-8784: Add routing for mitigation errors
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
Due: run-npm-lint

BAU Clean up old DT IOException temporary mitigation
  deploy/template.yaml
  lambdas/build-client-oauth-response/src/main/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandler.java
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-proven-user-identity-details/src/main/java/uk/gov/di/ipv/core/buildprovenuseridentitydetails/BuildProvenUserIdentityDetailsHandler.java
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-gpg45-score/src/main/java/uk/gov/di/ipv/core/checkgpg45score/CheckGpg45ScoreHandler.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-reverification-identity/src/main/java/uk/gov/di/ipv/core/checkreverificationidentity/CheckReverificationIdentityHandler.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/IssueClientAccessTokenHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/user-reverification/src/main/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandler.java
Due: spotlessCheck

PYIC-8784: Add separate session mitigation test
  api-tests/features/unexpected-cri-error.feature
Due: run-npm-lint

PYIC-8806: Downgrade noisy error logs
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
Due: spotlessCheck

PYIC-8806: Reduce cognitive complexity in CheckMobileAppVcReceiptHandler error handling
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
Due: spotlessCheck

PYIC-8806: Added additional unit tests coverage for newly extracted exception handlers
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
Due: spotlessCheck

PYIC-8628: Toggle on sisVerification in local running and fix api test.
  api-tests/data/audit-events/update-name-and-address-journey.json
  api-tests/features/audit-events.feature
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-8628: Match feature flags/feature sets in test-parameters config with local running config.
  libs/test-data/src/main/resources/test-parameters.yaml
Due: none

PYIC-8776: update process-journey-event to handle direct routing to cross-browser-problem page when provided with cross-browser-problem event
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/Events.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
Due: spotlessCheck

PYIC-8628: Adjust AppConfig tests to use "test" based feature flags and feature sets.
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/test-data/src/main/resources/test-parameters.yaml
Due: spotlessCheck

PYIC-8628: Remove storedIdentityService feture flag from test "Reuse journey - identity is compared when SIS comparison is enabled" test
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-8764: separate out DWP KBV tests into their own subfolder
  api-tests/features/cimit/p1-alternate-doc.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dwp-kbv/disabled-dwp-kbv.feature
  api-tests/features/dwp-kbv/p1-alternate-doc-mitigation.feature
  api-tests/features/dwp-kbv/p1-web-journey.feature
  api-tests/features/dwp-kbv/p2-alternate-doc-mitigation.feature
  api-tests/features/dwp-kbv/p2-web-journey.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-8764: separate out pendingF2FReset tests into their own feature file
  api-tests/features/p2-delete-pending-f2f.feature
  api-tests/features/p2-f2f-journey.feature
Due: run-npm-lint

PYIC-8764: delete empty file
  api-tests/features/dwp-kbv/disabled-dwp-kbv.feature
Due: run-npm-lint

PYIC-8764: tag in-development features with @QualityGateNewFeatureTest
  api-tests/features/audit-events.feature
  api-tests/features/dwp-kbv/p1-alternate-doc-mitigation.feature
  api-tests/features/dwp-kbv/p1-web-journey.feature
  api-tests/features/dwp-kbv/p2-alternate-doc-mitigation.feature
  api-tests/features/dwp-kbv/p2-web-journey.feature
  api-tests/features/p2-delete-pending-f2f.feature
  api-tests/features/unexpected-cri-error.feature
Due: run-npm-lint

PYIC-8824: update generateUserIdentity to only include successful and M1C fraud VCs in the user identity vcs claim
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-8764: update SIS phase 2 api test to regression now that it's live
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-8764: add docs for quality gate tags for the api tests
  api-tests/README.md
Due: run-npm-lint

PYIC-8824: put VC filtering behind a feature flag
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-8800: Update F2F error routing for mitigation paths
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
Due: none

PYIC-8800: Route to mitigation variant of the error page
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
Due: none

Downgrade SIS comparison mismatch log to WARN level
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

Add CIMIT VC count to warning log
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

Add verification success log
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

PYIC-8547: Add test to check that multiple app callbacks don't skip through the journey
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint

BAU: Fix copy/pasted test name and add comment
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint

PYIC-8800: Fix routing and add API coverage for F2F mitigation retry and app flows
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
Due: run-npm-lint

PYIC-8825: Disable NPM scripts
  api-tests/.npmrc.template
  journey-map/.npmrc
  local-running/.npmrc
Due: run-npm-lint, run-npm-lint-journey-map

PYIC-8776: re-name cross-browser-problem to problem-different-browser
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/Events.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/Pages.java
Due: spotlessCheck

PYIC-8776: update process-mobile-app-callback lambda to return JOURNEY_CROSS_BROWSER_PATH to core-front to route to the cross-browser-problem page
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
Due: spotlessCheck

PYIC-8776: update api tests to test new cross-browser routing
  api-tests/features/audit-events.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p1-strategic-app.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
  api-tests/src/clients/core-back-internal-client.ts
  api-tests/src/steps/cri-steps.ts
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/types/internal-api.ts
Due: run-npm-lint

PYIC-8776: re-name cross-browser-problem to problem-different-browser in api tests
  api-tests/features/audit-events.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p1-strategic-app.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint
