Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-6402: Add step for back-link on mobile triage page
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-7591: use nested dcmaw journey for update name journey
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-7591: update api tests to remove dcmaw success page
  api-tests/features/cimit/enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks.feature
  api-tests/features/inherited-identity/inherited-identity.feature
  api-tests/features/p1-journeys.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-reuse-journey.feature
  api-tests/features/recovery-journeys.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/return-codes.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
  api-tests/features/ticf/failed-ticf-responses.feature
  api-tests/features/ticf/ticf-successful-responses.feature
Due: run-npm-lint

Revert "PYIC-7591: update api tests to remove dcmaw success page"
  api-tests/features/cimit/enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks.feature
  api-tests/features/inherited-identity/inherited-identity.feature
  api-tests/features/p1-journeys.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-reuse-journey.feature
  api-tests/features/recovery-journeys.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/return-codes.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
  api-tests/features/ticf/failed-ticf-responses.feature
  api-tests/features/ticf/ticf-successful-responses.feature
Due: run-npm-lint

PYIC-7591: add post app doc check page
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

BAU DWP KBV try API calls without header workaround
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-7601: use nested journey for pyi escape
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-6243: Add CheckMobileAppVcReceiptHandler
  deploy/template.yaml
  lambdas/check-mobile-app-vc-receipt/build.gradle
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/dto/CheckMobileAppVcReceiptRequest.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/exception/InvalidCheckMobileAppVcReceiptRequestException.java
  lambdas/check-mobile-app-vc-receipt/src/main/resources/IpvLambdaJsonLayout.json
  lambdas/check-mobile-app-vc-receipt/src/main/resources/log4j2.json
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/CheckMobileAppVcReceiptHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/ApiGatewayResponseGenerator.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/TestFixtures.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
  openAPI/core-back-internal.yaml
  settings.gradle
Due: spotlessCheck

PYIC-6243: Update incorrect references to callback in CheckMobileAppVcReceiptHandler
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
Due: spotlessCheck

PYIC-6242: Fix journeyEngineStepFunction.asl.json to pass CallDcmawAsyncFunction the lambdaInput
  deploy/journeyEngineStepFunction.asl.json
Due: none

PYIC-7580: Handle access-denied error response
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
Due: spotlessCheck

PYIC-7580: Use constant for access_denied error
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
Due: spotlessCheck

Revert "PYIC-7571: Track verifier use"
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandler.java
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/domain/ReconciliationReport.java
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/domain/VerifierAndUseCount.java
Due: spotlessCheck

PYIC-7591: review markups
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

BAU: Max out bulk migration memory
  deploy/template.yaml
Due: none

PYIC-6240: Update async CRI audit events
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionErrorParams.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionsCredentialIssuerId.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/helpers/AuditExtensionsHelper.java
Due: spotlessCheck

PYIC-6240: Run spotless
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionErrorParams.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/helpers/AuditExtensionsHelper.java
Due: spotlessCheck

PYIC-6242: Include state in clientCallbackUrl. Make state check robust to collision
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriService.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriServiceTest.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
Due: spotlessCheck

PYIC-6240: Fix build issue
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionsVcEvidenceTest.java
Due: spotlessCheck

PYIC-6242: Fix sonarcloud issue
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/exception/InvalidMobileAppCallbackRequestException.java
Due: spotlessCheck

PYIC-6240: Add test to cover non-risk assessment and non-identity check credentials
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/auditing/helpers/AuditExtensionsHelperTest.java
Due: spotlessCheck

PYIC-6243: Add USER_ISSUED_CREDENTIALS_TABLE_NAME to CheckMobileAppVcReceiptFunction environment
  deploy/template.yaml
Due: none

PYIC-6402: Update back link for triage-select-device to start page
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

BAU: Back event skips processes
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck

Revert "PYIC-6402: Add step for back-link on mobile triage page"
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-6240: Remove unnecessary log
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
Due: spotlessCheck

PYIC-6240: Simplify AuditExtensionErrorParams
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionErrorParams.java
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/service/SqsAuditServiceTest.java
Due: spotlessCheck

PYIC-6240: Fix build
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionErrorParams.java
Due: spotlessCheck

PYIC-6240: Run spotless
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionErrorParams.java
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/service/SqsAuditServiceTest.java
Due: spotlessCheck

PYIC-7625: Update core local running with new keys
  local-running/compose.yaml
Due: none

PYIC-6243: Add UserIssuedCredentialsV2Table read policy to CheckMobileAppVcReceiptFunction
  deploy/template.yaml
Due: none

BAU: Reduce response delay timeout to 1s for API test TICF response delay less than 5s
  api-tests/features/ticf/ticf-successful-responses.feature
Due: run-npm-lint

BAU: Use java.net.http client for CRI requests
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriService.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/JavaHttpRequestSender.java
  libs/cri-api-service/src/test/java/uk/gov/di/ipv/core/library/criapiservice/CriApiServiceTest.java
Due: spotlessCheck

PYIC-7580: Handle access-denied for f2f in CheckExisitingIndentityHandler
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

BAU: Update CriApiServiceTest
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/HttpRequestHelper.java
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
  libs/cri-api-service/src/test/java/uk/gov/di/ipv/core/library/criapiservice/CriApiServiceTest.java
Due: spotlessCheck

BAU: Remove wiremock dependency
  gradle/libs.versions.toml
  lambdas/check-mobile-app-vc-receipt/build.gradle
  lambdas/process-async-cri-credential/build.gradle
  lambdas/process-cri-callback/build.gradle
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
  lambdas/process-mobile-app-callback/build.gradle
  libs/cri-api-service/build.gradle
  libs/cri-api-service/src/test/java/uk/gov/di/ipv/core/library/criapiservice/CriApiServiceTest.java
  libs/kms-es256-signer/build.gradle
Due: spotlessCheck

BAU: handle null header value
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/JavaHttpRequestSender.java
Due: spotlessCheck

PYIC-6243: Fix Cri.DCMAW_ASYNC reference in CheckMobileAppVcReceiptHandler
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
Due: spotlessCheck

PYIC-6243: Fix sonarcloud issues
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/exception/InvalidCheckMobileAppVcReceiptRequestException.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/exception/InvalidMobileAppCallbackRequestException.java
Due: spotlessCheck

BAU: Add M2B to reconcile profiles
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandler.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
