Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8718: update journey-map to pass pageContext instead of context when opening IPV Core page
  journey-map/src/index.ts
  journey-map/src/types.ts
Due: run-npm-lint-journey-map

PYIC-9024: upgrade packages packages to latest version
  gradle/libs.versions.toml
Due: none

PYIC-9024: update typescript + eslint in journey-map
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/tsconfig.server.json
Due: run-npm-lint-journey-map

PYIC-9024: upgrade vitest to v4.1.2
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint-journey-map

PYIC-9024: update aws sdk packages to try minimise risk of netty vulnerability
  gradle/libs.versions.toml
Due: none

PYIC-9010: Use new URL for SI invalidation when EVCS_API_UPDATES flag is enabled
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
Due: spotlessCheck

PYIC-9034: Add temporary routing for notification banner
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

Revert "PYIC-9034: Add temporary routing for notification banner"
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

IPS-2209:fix stack name
  deploy/template.yaml
Due: none

IPS-2209:update slack notifications
  deploy/template.yaml
Due: none

PYIC-8885: Add pageContext to document-start page
  api-tests/features/audit-events.feature
  api-tests/features/mfa-reset-journey.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/PageContextValidator.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
Due: spotlessCheck, run-npm-lint

PYIC-9047 Correct same day DL expiry test case 'current datetime'
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-9047 Fix DCMAW-DL VC incorrectly treated as expired when proved on day of expiry
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
Due: spotlessCheck

PYIC-8459: Create feature flag check for EVCS_API_UPDATES.
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
Due: spotlessCheck

PYIC-8459: Add optional govuk_signin_journey_id field to EvcsPostIdentityDto.
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/EvcsPostIdentityDto.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8459: Add storeStoredIdentityRecordAndVcs method.
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
Due: spotlessCheck

PYIC-8459: Add EVCS_API_UPDATE feature flag check before storing identity.
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
Due: spotlessCheck

PYIC-9047 Add some clarifying comments around pinning to start of day
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
Due: spotlessCheck

PYIC-9048: Add temp routing for notification banner
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-8459: Add EvcsService unit tests.
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8459: Add StoreIdentityService unit tests.
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
Due: spotlessCheck

PYIC-8459: Redirect user to error page when identity storage fails
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/exception/EvcsServiceException.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8459: Enable evcsApiUpdatesEnabled in local running to run all api test against updated endpoint.
  local-running/core.local.params.yaml
Due: none

Add pagerduty output
  deploy/template.yaml
Due: none

BAU: Improve test cases for VcHelper.isExpiredDrivingPermitVc
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-8459: Refactor EvcsService
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
Due: spotlessCheck

PYIC-8459: Change methods order.
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
Due: spotlessCheck

PYIC-8459: Change bool value to its primitive type.
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
Due: spotlessCheck

Revert "PYIC-9048: Add temp routing for banners during scheduled Experian outage (26th April 2026)"
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-8459: Add unit test for EvcsClient storeUserIdentity method.
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
Due: spotlessCheck

WIP
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9062: Add feature flag for new mitigation routes
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-8459: Add api tests.
  api-tests/features/evcs-api-updates/p1-journey.feature
  api-tests/features/evcs-api-updates/p2-journey.feature
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  local-running/core.local.params.yaml
Due: spotlessCheck, run-npm-lint

PYIC-9602: Disable flag in local running
  local-running/core.local.params.yaml
Due: none

PYIC-9008: Remove reference to storedIdentityService
  api-tests/features/audit-events.feature
  api-tests/features/stored-identity/m1c-journeys.feature
  api-tests/features/stored-identity/p1-journeys.feature
  api-tests/features/stored-identity/p2-journeys.feature
Due: run-npm-lint

Revert "IPS-2209:update slack notifications"
  deploy/template.yaml
Due: none

IPS-2209 Update slack notifications
  deploy/template.yaml
Due: none

PYIC-9077: Update Sonarqube plugin to try to resolve security issues in its dependencies
  gradle/libs.versions.toml
Due: none

PYIC-9077: Update Javalin
  gradle/libs.versions.toml
Due: none
