Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-7346: photo/no-photo id low-confidence thin file api-tests
  api-tests/features/p1-journeys.feature
  api-tests/features/p1-no-photo-id.feature
Due: run-npm-lint

PYIC-7346: unsuccessful KBV questions for low confidence users photo/no-photo id api-tests
  api-tests/features/p1-journeys.feature
  api-tests/features/p1-no-photo-id.feature
Due: run-npm-lint

PYIC-7346: Fix evidence_requested low confidence journey in HMRC KBV api-test
  api-tests/features/p1-journeys.feature
Due: run-npm-lint

PYIC-7346: Remove api-tests which are indirectly covered by other scenarios
  api-tests/features/p1-journeys.feature
  api-tests/features/p1-no-photo-id.feature
Due: run-npm-lint

PYIC-6242: Add ProcessMobileAppCallbackHandler
  deploy/template.yaml
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-mobile-app-callback/build.gradle
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/dto/MobileAppCallbackRequest.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/exception/InvalidMobileAppCallbackRequestException.java
  lambdas/process-mobile-app-callback/src/main/resources/IpvLambdaJsonLayout.json
  lambdas/process-mobile-app-callback/src/main/resources/log4j2.json
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/cri-response-service/build.gradle
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/exception/InvalidCriResponseException.java
  openAPI/core-back-internal.yaml
  settings.gradle
Due: spotlessCheck

PYIC-6242: Add context-based nullifying of client callback url for call async dcmaw
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandler.java
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriService.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandlerTest.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriServiceTest.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/RequestHelper.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
Due: spotlessCheck

PYIC-6242: Update mobile app callback parseCallbackRequest method
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
Due: spotlessCheck

PYIC-6242: Update tests affected by mobile app callback parseCallbackRequest method
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
Due: spotlessCheck

PYIC-6242: Add new lambda to local-running
  local-running/build.gradle
  local-running/src/main/java/uk/gov/di/ipv/coreback/CoreBack.java
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/LambdaHandler.java
Due: spotlessCheck

PYIC-6242: Add context to ProcessStepResponse class
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/ProcessStepResponse.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/ProcessStepResponseTest.java
Due: spotlessCheck

PYIC-6242: Add tests to RequestHelperTest and remove unused variable
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/RequestHelperTest.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/exception/InvalidCriResponseException.java
Due: spotlessCheck

PYIC-6242: Add wildcard reference to /journey/call-dcmaw-async-cri step function choice match
  deploy/journeyEngineStepFunction.asl.json
Due: none

PYIC-6242: Add journey param to CallDcmawAsyncCriLambda input
  deploy/journeyEngineStepFunction.asl.json
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandler.java
Due: spotlessCheck

PYIC-6242: Add dynamoDb KMSDecryptPolicy policy to ProcessMobileAppCallbackFunction cloudformation config
  deploy/template.yaml
Due: none

PYIC-7581: Migration reconciliation script
  deploy/template.yaml
  lambdas/bulk-migrate-vcs/src/main/java/uk/gov/di/ipv/core/bulkmigratevcs/BulkMigrateVcsHandler.java
  lambdas/bulk-migrate-vcs/src/test/java/uk/gov/di/ipv/core/bulkmigratevcs/BulkMigrateVcsHandlerTest.java
  lambdas/reconcile-migrated-vcs/build.gradle
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandler.java
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/domain/ReconciliationReport.java
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/domain/Request.java
  lambdas/reconcile-migrated-vcs/src/main/resources/IpvLambdaJsonLayout.json
  lambdas/reconcile-migrated-vcs/src/main/resources/log4j2.json
  lambdas/reconcile-migrated-vcs/src/test/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
  libs/evcs-migration/build.gradle
  libs/evcs-migration/src/main/java/uk/gov/di/ipv/core/library/factories/EvcsClientFactory.java
  libs/evcs-migration/src/main/java/uk/gov/di/ipv/core/library/factories/ForkJoinPoolFactory.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/client/EvcsClient.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/client/EvcsClientTest.java
  settings.gradle
Due: spotlessCheck

PYIC-6242: Fix local running journeyStep choice match for uri with context for dcmaw async
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
Due: spotlessCheck

PYIC-6402: Add backLink to specific mobile triage flow pages
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-6242: Refactor callback declaration in ProcessMobileAppCallbackHandler handleRequest method
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
Due: spotlessCheck

PYIC-6242: Separate MAM & DAD cases in async dcmaw pact test
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/pact/dcmawasynccri/ContractTest.java
Due: spotlessCheck

PYIC-7581: Simplify logging and reporting
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandler.java
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/domain/ReconciliationReport.java
  lambdas/reconcile-migrated-vcs/src/test/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandlerTest.java
Due: spotlessCheck

PYIC-7581: Max out memory size
  deploy/template.yaml
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandler.java
Due: spotlessCheck

PYIC-7581: Remove ReservedConcurrentExecutions
  deploy/template.yaml
Due: none

PYIC-7571: Enabled parsing of RSA signatures
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandler.java
  lambdas/reconcile-migrated-vcs/src/test/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandlerTest.java
Due: spotlessCheck

PYIC-7571: Fetch all CRI by issuer once
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandler.java
  lambdas/reconcile-migrated-vcs/src/test/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
Due: spotlessCheck

PYIC-7467: Add DCAMW async handoff event
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandler.java
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriService.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
Due: spotlessCheck

PYIC-7571: Fetch historic signing keys up front
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandler.java
  lambdas/reconcile-migrated-vcs/src/test/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandlerTest.java
Due: spotlessCheck

PYIC-7467: run spotless
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriService.java
Due: spotlessCheck

PYIC-7601: extract dcmaw-driving-licence to nested journey
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/NestedJourneyTypes.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/dcmaw-driving-licence.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: spotlessCheck

PYIC-6242: Revert addition of context parameterisation to ProcessStepResponse
  deploy/journeyEngineStepFunction.asl.json
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandler.java
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriService.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandlerTest.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriServiceTest.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/ProcessStepResponse.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/ProcessStepResponseTest.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/MobileAppJourneyType.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/RequestHelper.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/RequestHelperTest.java
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
Due: spotlessCheck

IPS-1185: Modify alarms
  deploy/template.yaml
Due: none

PYIC-7467: Add device information to event
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriService.java
Due: spotlessCheck

PYIC-7467: Add test for audit event
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriServiceTest.java
Due: spotlessCheck

PYIC-7601: review markups
  journey-map/public/constants.mjs
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/NestedJourneyTypes.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/app-doc-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/dcmaw-driving-licence.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-7591: remove HMRC KBV from journey maps
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-7591: remove hmrc kbv api tests
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/p1-journeys.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-7571: Track verifier use
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandler.java
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/domain/ReconciliationReport.java
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/domain/VerifierAndUseCount.java
Due: spotlessCheck

PYIC-7571: Track individual VC matched count
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandler.java
  lambdas/reconcile-migrated-vcs/src/main/java/uk/gov/di/ipv/core/reconcilemigratedvcs/domain/ReconciliationReport.java
  lambdas/reconcile-migrated-vcs/src/test/java/uk/gov/di/ipv/core/reconcilemigratedvcs/ReconcileMigratedVcsHandlerTest.java
Due: spotlessCheck

PYIC-7591: remove use of m2bBetaHmrcKbv in api tests
  api-tests/features/p2-no-photo-id.feature
Due: run-npm-lint

PYIC-7591: review markups
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/app-doc-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
