Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8220: Update filter pattern
  deploy/template.yaml
Due: none

PYIC-8220: Fix IOExceptionCount metric namespace to custom
  deploy/template.yaml
Due: none

PYIC-8220 Fix template overrides
  deploy/template.yaml
Due: none

PYIC-8190: Add P1/P2 mitigation api-test
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-7909: refactor process-candidate-identity to move evcs call to the handler
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-7909: fix sonar
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-7909: remove unthrown exception
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
Due: spotlessCheck

PYIC-7909: reduce cognitive complexity
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-7909: self-review
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
Due: spotlessCheck

Revert "Revert "PYIC-7872: Add AppConfigService""
  build.gradle
  deploy/template.yaml
  gradle/libs.versions.toml
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CustomAppConfigProvider.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/EnvironmentVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-7872: Use AWS powertools version of AppConfigProvider now it is fixed
  build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CustomAppConfigProvider.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
Due: spotlessCheck

PYIC-7872: Update appConfigProvider definition to use getAppConfigProvider
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
Due: spotlessCheck

PYIC-7872: Update CONFIG_SOURCE tp app-config
  deploy/template.yaml
Due: none

PYIC-7872: Update APP_CONFIG variable setting
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
Due: spotlessCheck

PYIC-7872: Hardcode profile id
  deploy/template.yaml
Due: none

PYIC-7872: Hardcode appconfig app & environment id
  deploy/template.yaml
Due: none

Revert "PYIC-8190: Fix being routed to P2 journey if failed F2F on P1 mitigation (#3095)"
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/NestedJourneyTypes.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-failed.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/IpvJourneyTypes.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/criresponse/domain/AsyncCriStatus.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseService.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/criresponse/domain/AsyncCriStatusTest.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseServiceTest.java
Due: spotlessCheck

BAU
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-failed.yaml
Due: none

BAU: Fix being routed to P2 journey if failed F2F on P1 mitigation
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-failed.yaml
Due: none

PYIC-7872: Add debugging logging
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
Due: spotlessCheck

PYIC-7872: Add config to run API tests against dev01
  .gitignore
  api-tests/.env.dev01
  api-tests/package.json
  api-tests/secure-pipeline/run-tests.sh
  deploy/template.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
Due: spotlessCheck, run-npm-lint

PYIC-8241 Support full range of journeys with reprove identity interventions
  api-tests/features/p2-reprove-identity.feature
  journey-map/public/constants.mjs
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
Due: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

PYIC-8242 Turn on DT debug logging for single build lambda
  deploy/template.yaml
Due: none

PYIC-8227: add call to fetch security check credential if null in call to ticf
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8241 Support full range of journeys with reprove identity interventions
  api-tests/features/audit-events.feature
  api-tests/features/inherited-identity/extended-scenarios.feature
  api-tests/features/p2-reprove-identity.feature
  journey-map/public/constants.mjs
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
Due: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

BAU: Fix journeyMap
  journey-map/public/constants.mjs
Due: run-npm-lint-journey-map

PYIC-8244 Separate app output from api tests
  .github/workflows/pre-merge-checks.yml
  api-tests/package.json
Due: run-npm-lint

PYIC-8227: only make cimit call when not on a reverification journey
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-8227: handle null security check credential in CriCheckingService
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolver.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/MissingSecurityCheckCredential.java
Due: spotlessCheck

PYIC-8227: fix failing tests from merging main
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
Due: spotlessCheck

PYIC-8180: Make nino breaching CI evidence more realistic
  api-tests/data/cri-stub-requests/nino/kenneth-with-breaching-ci/evidence.json
Due: run-npm-lint

PYIC-8180: Remove unnecessary npm files
  local-running/package-lock.json
  local-running/package.json
Due: none

PYIC-8180: Add alternative doc mitigation route for failed NINO
  api-tests/data/cri-stub-requests/nino/kenneth-with-needs-alternate-doc-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/nino/kenneth-with-needs-alternate-doc-ci/evidence.json
  api-tests/features/cimit/p1-alternate-doc-nino.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-8227: handle failed claim set validation
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-8216: add BackupFrequency tag to CriResponseTable
  deploy/template.yaml
Due: none

PYIC-7872: Update api test workflow for dev
  .github/workflows/secure-pipeline-api-tests-image.yml
Due: none

PYIC-7872: Lint fix Build, tag, push, and sign api testing image to build step
  .github/workflows/secure-pipeline-api-tests-image.yml
Due: none

PYIC-7872: Update build-test-images-if-needed to pass through the environment
  .github/workflows/secure-pipeline-api-tests-image.yml
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-7872: Update api tests to use environment passed to it
  .github/workflows/secure-pipeline-api-tests-image.yml
Due: none

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
