Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8706: Routing for Experian KBV CRI error
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-8394: Add SIS api key configuration
  .github/workflows/pre-merge-checks.yml
Due: none

PYIC-8394: Fix check for P0 responses
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8394: Remove sisJwt field
  api-tests/data/audit-events/reuse-journey-identity-compared.json
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/audit/AuditRestrictedSisComparison.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck, run-npm-lint

PYIC-8394: Fix tests
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8724: Throw errors for failures
  lambdas/manual-f2f-pending-reset/src/main/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandler.java
  lambdas/manual-f2f-pending-reset/src/test/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/ManualF2fPendingResetException.java
Due: spotlessCheck

PYIC-8394: Remove unused method
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8724: change findPendingRecord to void since return value unused
  lambdas/manual-f2f-pending-reset/src/main/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandler.java
  lambdas/manual-f2f-pending-reset/src/test/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandlerTest.java
Due: spotlessCheck

PYIC-8394: Remove unused members
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

Revert "BAU: Bump org.junit.platform:junit-platform-launcher from 1.13.0 to 6.0.0"
  gradle/libs.versions.toml
Due: none

PYIC-7697: remove encryption key from config pojo
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/OauthCriConfig.java
Due: spotlessCheck

PYIC-8394: Fix SIS JWT
  api-tests/src/clients/evcs-stub-client.ts
Due: run-npm-lint

PYIC-8679: update CRI error request with new shape
  api-tests/src/types/cri-stub.ts
  api-tests/src/utils/request-body-generators.ts
Due: run-npm-lint

BAU remove unneeded comment
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
Due: spotlessCheck

PYIC-8725: Move fraud VC expiry check to VcHelper class and tidy up use of config
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-proven-user-identity-details/src/main/java/uk/gov/di/ipv/core/buildprovenuseridentitydetails/BuildProvenUserIdentityDetailsHandler.java
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  libs/cri-storing-service/src/main/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringService.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-8725: Add expiry comparison
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/enums/FailureCode.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8710: add IPV_DWP_KBV_HANDOFF_START and emit when landing on personal-independence-payment page
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
Due: spotlessCheck

PYIC-8710: update api tests with new IPV_DWP_KBV_HANDOFF_START audit event
  api-tests/data/audit-events/dwp-kbv-dropout-user-abandons-cri.json
  api-tests/data/audit-events/dwp-kbv-dropout-via-thin-file.json
  api-tests/data/audit-events/dwp-kbv-successful-journey.json
Due: run-npm-lint

PYIC-8725: Run spotless
  lambdas/build-proven-user-identity-details/src/main/java/uk/gov/di/ipv/core/buildprovenuseridentitydetails/BuildProvenUserIdentityDetailsHandler.java
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
Due: spotlessCheck

PYIC-8710: add audit event api test for web journey
  api-tests/data/audit-events/new-identity-p2-web-journey.json
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-8725: Make sure test fraud VCs are not expired when they shouldn't be
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

PYIC-8725: Add unit tests
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-8710: attempt a fix for the flakiness of the SIS consumer test
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/pact/ContractTest.java
Due: spotlessCheck

PYIC-8725: Remove unused variable
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

BAU stop code deployment for readme updates
  .github/workflows/secure-post-merge.yml
Due: none

Revert "PYIC-8710: attempt a fix for the flakiness of the SIS consumer test"
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/pact/ContractTest.java
Due: spotlessCheck

PYIC-8720: give permission for CheckExistingIdentityFunction to get secret for sis api key
  deploy/template.yaml
Due: none

PYIC-8724: Tidy up
  lambdas/manual-f2f-pending-reset/src/main/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandler.java
  lambdas/manual-f2f-pending-reset/src/test/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/ManualF2fPendingResetException.java
Due: spotlessCheck

BAU readme change to test paths-ignore
  README.md
Due: none

BAU cleanup paths-ignore changes
  .github/workflows/secure-post-merge.yml
  README.md
Due: none

PYIC-8726: update TICF consumer tests to return 202 instead of 200 to reflect what real TICF returns
  libs/ticf-cri-service/src/test/java/uk/gov/di/ipv/core/library/ticf/pact/ticfCri/ContractTest.java
Due: spotlessCheck

BAU: Bump nimbusds-oauth2-oidc-sdk to 11.30
  gradle/libs.versions.toml
Due: none

BAU: Bump cosign installer to 4.0.0
  .github/workflows/secure-pipeline-api-tests-image.yml
Due: none

BAU: Bump junit-platform to 6.0.0
  gradle/libs.versions.toml
Due: none

PYIC-8394: Don't include null failure values in audit event
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/audit/AuditExtensionsSisComparison.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/audit/AuditRestrictedSisComparison.java
Due: spotlessCheck

PYIC-8068: Fix grammar in API tests
  api-tests/features/audit-events.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p1-strategic-app.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
  api-tests/features/strategic-app/p3-strategic-app.feature
Due: run-npm-lint

PYIC-8691: Add previousAchievedMaxVot property to the audit event extension.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionPreviousAchievedVot.java
Due: spotlessCheck

BAU: Update powertools to 1.20.1
  gradle/libs.versions.toml
Due: none

PYIC-7696: update core's well-known/jwks.json endpoint to point at latest version of well-known.json file in S3
  deploy/template.yaml
  openAPI/core-back-external.yaml
Due: none

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
