Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8427: remove use of PUT endpoint and use /identity endpoint to store SI record
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/EvcsPostIdentityDto.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8427: remove references to PUT evcs endpoint and replace with POST identity method
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/EvcsPostIdentityDto.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/EvcsPutUserVCsDto.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8430: Reduce calls to Parameter store
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/NoCriForIssuerException.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/YamlConfigServiceTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

BAU: Add checks to ensure VCs aren't written on account interention
  api-tests/features/account-intervention/journey-ending-interventions.feature
Due: run-npm-lint

Revert "PYIC-8430: Reduce calls to Parameter store"
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/NoCriForIssuerException.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/YamlConfigServiceTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8430: Temporarily log issuerCris
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
Due: spotlessCheck

PYIC-8306: Add ManagedPolicy for manual f2f lambda.
  deploy/template.yaml
Due: none

PYIC-8306: Remove not required output
  deploy/template.yaml
Due: none

PYIC-8306: Change policy to be applied in build/staging/prod only.
  deploy/template.yaml
Due: none

PYIC-8306: Add ManagedPolicy to manualF2fReset lambda.
  deploy/template.yaml
Due: none

PYIC-8306: Add policy to allow deletion from the CRI table. Remove Crud policy
  deploy/template.yaml
Due: none

PYIC-8306: Add policy to get item from dynamodb table, remove read policy.
  deploy/template.yaml
Due: none

PYIC-8306: Combined get item and delete item into one policy.
  deploy/template.yaml
Due: none

PYIC-8306: Changed name of policy attached to manual f2f reset lambda.
  deploy/template.yaml
Due: none

PYIC-8429: update npm version to upgrade brace-expansion module
  local-running/package-lock.json
  local-running/package.json
Due: none

PYIC-8306: Add IAM Role for ApprovedServiceSupport.
  deploy/template.yaml
Due: none

PYIC-8306: Setup assume role for ApprovedServiceSupport
  deploy/template.yaml
Due: none

PYIC-8443: update nested test class to remove put reference
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
Due: spotlessCheck

PYIC-8306: Added policy to invoke manual f2f lambda by support team.
  deploy/template.yaml
Due: none

Revert "PYIC-8306: Add ManagedPolicy and AssumedPolicy to manualF2fReset lambda."
  deploy/template.yaml
Due: none

PYIC-8467: Log async CRI response access denied at INFO level
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
Due: spotlessCheck

BAU: Skip AIS for reverification journeys
  api-tests/features/mfa-reset-journey.feature
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck, run-npm-lint

BAU: Run spotless
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-8466: log sqs message id and journey id in process-async-cri-credential logs
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/domain/BaseAsyncCriResponse.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/domain/ErrorAsyncCriResponse.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/domain/SuccessAsyncCriResponse.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/dto/CriResponseMessageDto.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/helpers/AsyncCriResponseHelper.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/LogHelper.java
Due: spotlessCheck

PYIC-8466: remove unnecessary JsonIgnore + json property name
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/domain/BaseAsyncCriResponse.java
Due: spotlessCheck

Revert "Revert "PYIC-8306: Add ManagedPolicy and AssumedPolicy to manualF2fReset lambda.""
  deploy/template.yaml
Due: none

PYIC-8306 Add permission for manual f2f pending reset lambda to only get and delete item from dynamodb table.
  deploy/template.yaml
Due: none

PYIC-8461: add log for number of session credentials retrieved
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
Due: spotlessCheck

PYIC-8457: move process-candidate-identity-build lambda to use opentelemetry layer instead of dynatrace
  README.md
  deploy/template.yaml
  lambdas/process-candidate-identity/src/main/resources/collector.yaml
Due: none

Revert "Revert "PYIC-8430: Reduce calls to Parameter store""
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/NoCriForIssuerException.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/YamlConfigServiceTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8457: tidy and set default value for opentelemetryLayerArn
  deploy/template.yaml
  lambdas/process-candidate-identity/src/main/resources/collector.yaml
Due: none

PYIC-8457: markups
  README.md
  deploy/template.yaml
  secrets.gradle.template
Due: spotlessCheck

PYIC-8457: remove debug config from collector.yaml
  lambdas/process-candidate-identity/src/main/resources/collector.yaml
Due: none

PYIC-8306 Remove roles and policies
  deploy/template.yaml
Due: none

PYIC-8457: temporarily disable otel collector layer while we wait for secure pipeline update
  deploy/template.yaml
Due: none

PYIC-8306 Remove condition to execute against dev env
  deploy/template.yaml
Due: none

PYIC-8306 Reduced the path length
  deploy/template.yaml
Due: none

PYIC-8306 Added runbooks preffix to the role name
  deploy/template.yaml
Due: none
