Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8101: Fix unit test
  lambdas/fetch-system-settings/src/test/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandlerTest.java
Due: spotlessCheck

PYIC-8235: Fix Journey map SSM parameter namings
  journey-map/deploy/template.yaml
Due: run-npm-lint-journey-map

PYIC-8235: Fix Stage name references
  deploy/template.yaml
Due: none

PYIC-8391: Create pact test class.
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/StoredIdentityServiceContractTest.java
Due: spotlessCheck

PYIC-8614: make journeyContexts a list instead of a set as DynamoDB does not support an empty set
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachine.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/TransitionResult.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolveParameters.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolver.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolverTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/states/BasicStateTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/states/NestedJourneyInvokeStateTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck

PYIC-8235: Fix analytics API domain name
  deploy/template.yaml
Due: none

PYIC-8235: Fix indent
  deploy/template.yaml
Due: none

PYIC-8601: add /.well-known/stored-identity/did.json to core-back
  deploy/template.yaml
  openAPI/core-back-external.yaml
Due: none

PYIC-8601: specify verificationMethod object in openAPI spec
  openAPI/core-back-external.yaml
Due: none

PYIC-8601: add api test for DID endpoint
  api-tests/features/jwks.feature
  api-tests/src/clients/core-back-external-client.ts
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/types/world.ts
Due: run-npm-lint

PYIC-8601: update core-back local runnign to serve /.well-known/stored-identity/did.json endpoint
  local-running/build.gradle
  local-running/src/main/java/uk/gov/di/ipv/coreback/CoreBack.java
  local-running/src/main/java/uk/gov/di/ipv/coreback/domain/DidDocument.java
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/DidHandler.java
Due: spotlessCheck

PYIC-8391: Create contract test for 200 response.
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/StoredIdentityServiceContractTest.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/client/pact/SisContractTest.java
Due: spotlessCheck

PYIC-8601: fix did endpoint not working in local-running
  local-running/src/main/java/uk/gov/di/ipv/coreback/domain/DidDocument.java
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/DidHandler.java
Due: spotlessCheck

PYIC-8601: fix failing schema validation
  api-tests/features/well-known.feature
  openAPI/core-back-external.yaml
Due: run-npm-lint

PYIC-8391: Add 403 and 500 response statuses contract test.
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/client/pact/SisContractTest.java
Due: spotlessCheck

PYIC-8235: Fix log group to be dynamic
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
Due: spotlessCheck

PYIC-8391: Refactor code
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/client/SisClient.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/pact/ContractTest.java
Due: spotlessCheck

PYIC-8391: Remove public modifier.
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/pact/ContractTest.java
Due: spotlessCheck

PYIC-8391: Improve provider name.
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/pact/ContractTest.java
Due: spotlessCheck

PYIC-8613: use correct cri id for example callback url
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/pact/dcmawAsyncCri/ContractTest.java
Due: spotlessCheck

PYIC-8614: remove old journeyContext from IpvSessionItem
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck

PYIC-8393: Log errors
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

PYIC-8391: Add content jwt data and refactor.
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/pact/ContractTest.java
Due: spotlessCheck

PYIC-8101: - PR markups - Adjust alpha formula
  journey-map/public/index.html
  journey-map/src/render.ts
  lambdas/fetch-journey-transitions/build.gradle
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-8101: lint-fix
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8391: Add malformed response and bad request contract tests.
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/dto/SisStoredIdentityCheckDto.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/pact/ContractTest.java
Due: spotlessCheck

PYIC-8101: Add caching to analytics-middleware.ts for browser and server
  journey-map/server/analytics-middleware.ts
Due: run-npm-lint-journey-map

PYIC-8101: Lint-fix
  journey-map/server/analytics-middleware.ts
Due: run-npm-lint-journey-map

PYIC-8391: Fix code smell.
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/pact/ContractTest.java
Due: spotlessCheck

PYIC-8101: Add SYSTEM_SETTINGS_ENDPOINT environment variable
  journey-map/deploy/template.yaml
Due: run-npm-lint-journey-map

PYIC-8393: Compare both max and requested vots and put SIS requested VoT into the audit event
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/dto/SisStoredIdentityCheckDto.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/enums/FailureCode.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8393: Remove old comment
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

PYIC-8393: Cope with vot requests that cannot be achieved
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8393: Suppress SonarQube warning
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

PYIC-8601: update kid in sis JWT header with new format
  deploy/template.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/EnvironmentVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/JwtHelper.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/JwtHelperTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/StoredIdentityService.java
Due: spotlessCheck

PYIC-8601: use test key from TestFixtures for local-running
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/TestFixtures.java
  local-running/build.gradle
  local-running/src/main/java/uk/gov/di/ipv/coreback/CoreBack.java
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/DidHandler.java
Due: spotlessCheck

PYIC-7878: read feature flags & CRI enablement from Config
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolver.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolverTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-8652: opentelemetry layer uses batch processor
  lambdas/build-client-oauth-response/src/main/resources/collector.yaml
  lambdas/build-cri-oauth-request/src/main/resources/collector.yaml
  lambdas/build-proven-user-identity-details/src/main/resources/collector.yaml
  lambdas/build-user-identity/src/main/resources/collector.yaml
  lambdas/call-dcmaw-async-cri/src/main/resources/collector.yaml
  lambdas/check-existing-identity/src/main/resources/collector.yaml
  lambdas/check-gpg45-score/src/main/resources/collector.yaml
  lambdas/check-mobile-app-vc-receipt/src/main/resources/collector.yaml
  lambdas/check-reverification-identity/src/main/resources/collector.yaml
  lambdas/initialise-ipv-session/src/main/resources/collector.yaml
  lambdas/issue-client-access-token/src/main/resources/collector.yaml
  lambdas/manual-f2f-pending-reset/src/main/resources/collector.yaml
  lambdas/process-async-cri-credential/src/main/resources/collector.yaml
  lambdas/process-candidate-identity/src/main/resources/collector.yaml
  lambdas/process-cri-callback/src/main/resources/collector.yaml
  lambdas/process-journey-event/src/main/resources/collector.yaml
  lambdas/process-mobile-app-callback/src/main/resources/collector.yaml
  lambdas/reset-session-identity/src/main/resources/collector.yaml
  lambdas/user-reverification/src/main/resources/collector.yaml
  lambdas/validate-appconfig/src/main/resources/collector.yaml
Due: none

Remove collector.yaml from lambda that does not export telemetry data
  lambdas/validate-appconfig/src/main/resources/collector.yaml
Due: none

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
