Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-7871: Replace loghelper parameters reference
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/LogHelper.java
Due: spotlessCheck

PYIC-8582: switch to AWS CRT-based http client
  gradle/libs.versions.toml
  lambdas/initialise-ipv-session/build.gradle
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/service/KmsRsaDecrypter.java
  libs/audit-service/build.gradle
  libs/cimit-service/build.gradle
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/DynamoDataStore.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/signing/SignerFactory.java
  local-running/build.gradle
Due: spotlessCheck

PYIC-7871: Put generateConfiguration behind hash check
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
Due: spotlessCheck

PYIC-8101: Add re-assuring logging to FetchSystemSettingsHandler
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandler.java
Due: spotlessCheck

PYIC-8101: Add AppConfigAccess to FetchSystemSettingsFunction
  deploy/template.yaml
Due: none

BAU: add IsNotDevelopment condition to DwpKbvCriReturnRateAlarm
  deploy/template.yaml
Due: none

PYIC-8573: Add custom TICF intervention check.
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
Due: spotlessCheck

PYIC-8101: Add Lambda descriptions
  deploy/template.yaml
Due: none

PYIC-8101: Add temporary logging to AppConfigService
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
Due: spotlessCheck

PYIC-8573: Change comment
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-8101: Fix reference to FetchSystemSettingsFunction in openapi spec
  openAPI/core-back-analytics.yaml
Due: none

PYIC-8573: Adjust logging variables.
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
Due: spotlessCheck

PYIC-8573: Split method source for mid and ticf interventions.
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8101: Fix enabled to disabled CRI references
  journey-map/public/index.html
  journey-map/public/style.css
  journey-map/src/constants.ts
  journey-map/src/helpers/options.ts
  journey-map/src/index.ts
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-8101: Tidy-up
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  settings.gradle
Due: spotlessCheck

PYIC-8235: Update README.md with more on implementation.
  journey-map/README.md
Due: run-npm-lint-journey-map

PYIC-8235: Update README.md with more references.
  journey-map/README.md
Due: run-npm-lint-journey-map

PYIC-8613: add consumer test for dcmaw_async returning valid credentials to queue
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/pact/dcmawAsyncCri/ContractTest.java
Due: spotlessCheck

PYIC-8627: Set storecIdentityServiceEnabled flag to true.
  local-running/core.local.params.yaml
Due: none

PYIC-8614: re-add support for IpvSessionItem.journeyContext
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck

PYIC-8627: Adjust audit events data to enabled stored identity feature flag.
  api-tests/data/audit-events/dwp-kbv-successful-journey.json
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/reprove-identity-journey.json
  api-tests/data/audit-events/reuse-journey.json
  api-tests/data/audit-events/strategic-app-cross-browser-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
Due: run-npm-lint

PYIC-8614: remove TODO comments
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck

PYIC-8614: reuse mockIpvSessionItemAndTimeout for unit test
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
Due: spotlessCheck

PYIC-8613: add more consumer tests for dcmaw async sqs queue - invalid message body - VC with a CI - message body with error
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/pact/dcmawAsyncCri/ContractTest.java
Due: spotlessCheck

PYIC-8393: Compare SIS and EVCS identities
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/sis-service/build.gradle
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/audit/AuditExtensionsSisComparison.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/audit/AuditRestrictedSisComparison.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/enums/FailureCode.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/enums/VerificationOutcome.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/exception/SisMatchException.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

PYIC-8393: Add tests
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/enums/FailureCode.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8393: Mark non-secrets
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8393: Remove unused parameter
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8393: Fix test
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8393: Run spotless
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8393: Fix SonarQube issues
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/enums/FailureCode.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/exception/SisMatchException.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8393: Split up compareStoredIdentityWithStoredVcs
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

PYIC-8393: Appease SonarQube
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/enums/VerificationOutcome.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8393: Fix comment
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

PYIC-8101: Create FetchSystemSettingsHandler handler instead
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandler.java
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/domain/CredentialIssuerConfig.java
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/domain/FeatureSet.java
  lambdas/fetch-system-settings/src/test/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandlerTest.java
Due: spotlessCheck

PYIC-8101: Remove -dev suffix to devShared internal testing api key
  api-tests/.env.devShared
Due: run-npm-lint

PYIC-8101:
  lambdas/fetch-system-settings/src/test/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandlerTest.java
Due: spotlessCheck
