Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8573: Move first AIS call to CheckExistingIdentity lambda.
  lambdas/check-existing-identity/build.gradle
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/exception/AccountInterventionException.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck

PYIC-8260: Remove real-evcs-specific API test setup
  api-tests/features/evcs.feature
  api-tests/src/clients/evcs-stub-client.ts
  api-tests/src/utils/jar-generator.ts
Due: run-npm-lint

PYIC-8573: Add mocks to existing tests.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/exception/AccountInterventionException.java
Due: spotlessCheck

PYIC-8573: Fix local running test.
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8573: Add new api tests and resolve existing api tests.
  api-tests/features/account-intervention/fail-open.feature
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/account-intervention/journey-starting-intervention.feature
Due: run-npm-lint

PYIC-8235: Fix GHA issues, i.e.: - spotlessapply - sam lint
  deploy/template.yaml
  journey-map/src/render.ts
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-8235: Update journey-map renderTransition
  journey-map/src/helpers/mermaid.ts
Due: run-npm-lint-journey-map

PYIC-8235: Lint journey-map
  journey-map/src/helpers/mermaid.ts
Due: run-npm-lint-journey-map

PYIC-8235: Remove Stage Names explicit field on IPVCoreAnalyticsAPIKey
  deploy/template.yaml
Due: none

PYIC-8235: Add IPVCoreAnalyticsDeployment resource
  deploy/template.yaml
Due: none

PYIC-8235: Remove @InjectMocks
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
Due: spotlessCheck

PYIC-8235: Use !Ref FetchJourneyTransitionsFunction.Alias for function name
  deploy/template.yaml
Due: none

PYIC-8235: Fix sonarcloud issues
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/exceptions/FetchJourneyTransitionException.java
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
Due: spotlessCheck

PYIC-8235: Add DependsOn: IPVCoreAnalyticsDeployment to IPVCoreAnalyticsBasePathMapping
  deploy/template.yaml
Due: none

PYIC-8260: Add cap to getUserVcs attempts
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
Due: spotlessCheck

PYIC-8585: Discard async CRI queue message if no pending record
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
Due: spotlessCheck

PYIC-235: Remove unwanted Resource from CloudWatchLogsInsights FetchJourneyTransitionsFunction statement
  deploy/template.yaml
Due: none

PYIC-8573: Move IPV_ACCOUNT_INTERVENTION_START firing event to CheckExistingIdentity lambda.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
Due: spotlessCheck

PYIC-8573: Add unit tests for first AIS call.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
Due: spotlessCheck

PYIC-8573: Fix api test - may require data team approval
  api-tests/data/audit-events/reprove-identity-journey.json
Due: run-npm-lint

PYIC-8573: Clean up the code
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
Due: spotlessCheck

PYIC-8573: Revert return codes test wrapping.
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8573: Add AccountInterventionEvaluator tests.
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/InvalidAccountInterventionArgumentsProvider.java
Due: spotlessCheck

PYIC-8573: Change access modifiers to package private for AccountInterventionEvaluator test classes
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/InvalidAccountInterventionArgumentsProvider.java
Due: spotlessCheck

PYIC-8573: Cleanup code
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
Due: spotlessCheck

PYIC-8573: Refactor and add tests
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/IpvSessionService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
Due: spotlessCheck

PYIC-8573: Remove code duplications
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8573: Revert creation of factory method 'from'
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/AccountInterventionState.java
Due: spotlessCheck

PYIC-8573: Add logging message if initial account intervention is detected.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
Due: spotlessCheck

PYIC-8573: Fix wrong flag check
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
Due: spotlessCheck

PYIC-8573: Fix code smell.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8573: Add allowed interventions api test
  api-tests/features/account-intervention/journey-starting-intervention.feature
Due: run-npm-lint

PYIC-8235: Add CORS headers to POST FetchJourneyTransitionsHandler
  journey-map/src/render.ts
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-8595: Add VOT info to IPV_IDENTITY_REUSE_COMPLETE event
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/reuse-journey-identity-stored.json
  api-tests/data/audit-events/reuse-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionPreviousAchievedVot.java
Due: spotlessCheck, run-npm-lint

PYIC-8573: Extract midJourneyAccountInterventionDetected to AccountInterventionEvaluator class. Add tests
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/InvalidInitialAccountInterventionArgumentsProvider.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/InvalidMidJourneyAccountInterventionArgumentsProvider.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/IpvSessionService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
Due: spotlessCheck

PYIC-8573: Remove unused OBJECT_MAPPER from ProcessCandidateIdentityHandler
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-8177: add new embedded metrics for product-level dashboard
  lambdas/build-client-oauth-response/src/main/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandler.java
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/user-reverification/src/main/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/EmbeddedMetricHelper.java
Due: spotlessCheck

PYIC-8585: discard unsolicited success responses; remove unexpected-async-VC path & redundant test
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
Due: spotlessCheck

PYIC-8177: record metrics to cover v2 app
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandler.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
Due: spotlessCheck

PYIC-8595: Use SUPPORTED_VOTS_BY_DESCENDING_STRENGTH for previous achieved VOT calculation and update tests
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
