Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-9197: Fix log text
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-9216: Rename CI code NEEDS-ADDITIONAL-VERIFICATION to NEEDS-ENHANCED-VERIFICATION-P2
  api-tests/data/cri-stub-requests/openBanking/kenneth-needs-additional-verification/evidence.json
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  api-tests/features/cimit/p2-additional-verification-dcmaw.feature
  api-tests/features/cimit/p2-additional-verification-f2f.feature
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-9216: Rename OB cri-stub-request to kenneth-needs-enhanced-verification-p2
  api-tests/data/cri-stub-requests/openBanking/kenneth-needs-enhanced-verification-p2/credentialSubject.json
  api-tests/data/cri-stub-requests/openBanking/kenneth-needs-enhanced-verification-p2/evidence.json
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  api-tests/features/cimit/p2-additional-verification-dcmaw.feature
  api-tests/features/cimit/p2-additional-verification-f2f.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-9216: Align feature descriptions with enhanced verification terminology
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  api-tests/features/cimit/p2-additional-verification-dcmaw.feature
  api-tests/features/cimit/p2-additional-verification-f2f.feature
Due: run-npm-lint

PYIC-9216: Remove BREACHING-P2 and use existing BREACHING
  api-tests/data/cri-stub-requests/openBanking/kenneth-score-0-breaching/credentialSubject.json
  api-tests/data/cri-stub-requests/openBanking/kenneth-score-0-breaching/evidence.json
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-9186: Added requested_vots extension to IPV_JOURNEY_START event
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionsIpvJourneyStart.java
Due: spotlessCheck

PYIC-9186: Add vot extension to IPV_IDENTITY_ISSUED event
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionsUserIdentity.java
Due: spotlessCheck

PYIC-9186: Remove previous_achieved_max_vot and add previous_max_vot in extensions for IPV_IDENTITY_REUSE_COMPLETE event
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionPreviousAchievedVot.java
Due: spotlessCheck

PYIC-9186: Update API test data to include new extension fields
  api-tests/data/audit-events/alternate-doc-app-mitigation-journey.json
  api-tests/data/audit-events/alternate-doc-mitigation-journey.json
  api-tests/data/audit-events/dwp-kbv-dropout-user-abandons-cri-no-open-banking.json
  api-tests/data/audit-events/dwp-kbv-dropout-user-abandons-cri.json
  api-tests/data/audit-events/dwp-kbv-dropout-via-thin-file-no-open-banking.json
  api-tests/data/audit-events/dwp-kbv-dropout-via-thin-file.json
  api-tests/data/audit-events/dwp-kbv-successful-journey-no-open-banking.json
  api-tests/data/audit-events/dwp-kbv-successful-journey.json
  api-tests/data/audit-events/f2f-vc-error-journey.json
  api-tests/data/audit-events/international-address-journey.json
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/new-identity-p2-app-journey.json
  api-tests/data/audit-events/new-identity-p2-fraud-mitigation.json
  api-tests/data/audit-events/new-identity-p2-web-journey-kbv.json
  api-tests/data/audit-events/new-identity-p2-web-journey.json
  api-tests/data/audit-events/no-photo-id-journey.json
  api-tests/data/audit-events/repeat-fraud-check-no-update.json
  api-tests/data/audit-events/reprove-identity-journey-expired-dl.json
  api-tests/data/audit-events/reprove-identity-journey.json
  api-tests/data/audit-events/reuse-journey-fraud-mitigation.json
  api-tests/data/audit-events/reuse-journey-identity-compared.json
  api-tests/data/audit-events/reuse-journey-identity-stored.json
  api-tests/data/audit-events/reuse-journey.json
  api-tests/data/audit-events/strategic-app-cross-browser-journey.json
  api-tests/data/audit-events/strategic-app-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
Due: run-npm-lint

PYIC-9186: Update assertion name
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-9186: Update remaining instances of previousAchievedMaxVot to be previousMaxVot
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-9216: Consolidate p2 verification f2f scenarios
  api-tests/features/cimit/p2-additional-verification-f2f.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
Due: run-npm-lint

PYIC-9216: Consolidate p2 verification dcmaw scenarios
  api-tests/features/cimit/p2-additional-verification-dcmaw.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
Due: run-npm-lint

PYIC-9216: Remove replicated p2-cross-browser scenarios
  api-tests/features/app-cross-browser/p2-cross-browser.feature
Due: run-npm-lint

PYIC-9216: fix typos in cross-browser and CIMIT feature files
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
Due: run-npm-lint

PYIC-9328: Fetch all session VCs in ProcessCriCallbackHandler
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandlerTest.java
Due: spotlessCheck

PYIC-9329: handle zero-scoring Fraud CI in update details higher strength
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-details-higher-strength.yaml
Due: none

PYIC-9216: Add IPV_MITIGATION_START audit event to open banking mitigations
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9216: Align OB with existing mitigation in new-p2-identity journey
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9216: Fix api tests for OpenBanking journeys.
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-9216: Add OpenBanking mitigation journey - audit event API test.
  api-tests/data/audit-events/open-banking-mitigation-successful.json
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-9328: Add getAllCredentials method to SessionCredentialsService.
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandlerTest.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsServiceTest.java
Due: spotlessCheck

PYIC-9328: Suppress Sonar warning.
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
Due: spotlessCheck

PYIC-9216: Reinstate PYI_POST_OFFICE targetState for OB in new-p2-journey
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-9227: Add correlation failure extensions to IPV_F2F_CORRELATION_FAIL event
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionF2fCorrelationFail.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-9227: reuse correlation check results for F2F failure audit event
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
Due: spotlessCheck

PYIC-9227: replace old correlation tests with getVcCorrelationResult suite
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-9197: Refactoring
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-9197: Retry F2F identities that fail on name correlation at the Post Office
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-9197: Fix error routing
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
Due: none

PYIC-9197: Add API tests
  api-tests/data/cri-stub-requests/f2f/kenneth-passport-wrong-dob/credentialSubject.json
  api-tests/data/cri-stub-requests/f2f/kenneth-passport-wrong-dob/evidence.json
  api-tests/data/cri-stub-requests/f2f/kenny-passport-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/f2f/kenny-passport-valid/evidence.json
  api-tests/data/cri-stub-requests/fraud/kenny-score-2/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenny-score-2/evidence.json
  api-tests/features/p2-f2f-journey.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-9197: Add feature flag
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-9227: Revert just using the extension
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

BAU Remove ancient integration debug log
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/IssueClientAccessTokenHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/LogHelper.java
Due: spotlessCheck

PYIC-9330: Comments and minor refactor
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolver.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolverTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CimitUtilityService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CimitUtilityServiceTest.java
  libs/cri-checking-service/src/main/java/uk/gov/di/ipv/core/library/cricheckingservice/CriCheckingService.java
  libs/cri-checking-service/src/test/java/uk/gov/di/ipv/core/library/cricheckingservice/CriCheckingServiceTest.java
Due: spotlessCheck

BAU: Fix missed context for need-biometric-passport page.
  api-tests/features/fraud-mitigation/p1-mitigation.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/AbstractPageContextValidator.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/PageContextValidator.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: spotlessCheck, run-npm-lint

PYIC-9331: Fix COI dead end failed journey to reinstate existing identity.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
Due: none

PYIC-9331: Add API test coverage for update-details-higher-strengh journey.
  api-tests/features/update-details-higher-strengh/update-details-higher-strengh.feature
Due: run-npm-lint

PYIC-9331: Update API test coverage for update-details-higher-strength.feature
  api-tests/features/update-details-higher-strengh/update-details-higher-strengh.feature
Due: run-npm-lint

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
