Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-7983: remove unused var
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CimitUtilityService.java
Due: spotlessCheck

BAU: manually update di-vocab
  api-tests/package-lock.json
  api-tests/package.json
  api-tests/src/clients/core-back-external-client.ts
  gradle/libs.versions.toml
Due: run-npm-lint

BAU: revert unwanted commit of file
  api-tests/src/clients/core-back-external-client.ts
Due: run-npm-lint

Revert "PYIC-8155: Update GH workflow to send to dev pipeline"
  .github/workflows/secure-post-merge.yml
Due: none

BAU: Add comment
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
Due: spotlessCheck

PYIC-8155: Update for pushes to non-main branches within set
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8155: Update secure-post-merge.yml workflow for allowing updates to be sent to the dev pipeline
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8155: Update signing-profile-name to be consistent, since it doesn't change per environment
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8155: Replace ternary operator within secure-post-merge.yml
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8155: Update to be triggerable by workflow dispatch
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8155: Remove unwanted addition to push branch trigger
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8155: Update for pull requests, given specific types
  .github/workflows/secure-post-merge.yml
Due: none

YIC-8113: refactor invalid dl audit event for nested doc check journey, resolve conflicts
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/app-doc-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

BAU: Update TICF contract tests to include kid field
  libs/ticf-cri-service/src/test/resources/ticfVc/empty/header.json
  libs/ticf-cri-service/src/test/resources/ticfVc/empty/signature
  libs/ticf-cri-service/src/test/resources/ticfVc/intervention/header.json
  libs/ticf-cri-service/src/test/resources/ticfVc/intervention/signature
  libs/ticf-cri-service/src/test/resources/ticfVc/noIntervention/header.json
  libs/ticf-cri-service/src/test/resources/ticfVc/noIntervention/signature
  libs/ticf-cri-service/src/test/resources/ticfVc/noInterventionWithWarnings/header.json
  libs/ticf-cri-service/src/test/resources/ticfVc/noInterventionWithWarnings/signature
Due: none

PYIC-7983: simplify web route
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-7983: simplify handling of f2f failed enhanced verification
  api-tests/features/cimit/enhanced-verification-mitigation-f2f.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-7983: remove unnecessary checkMitigation blocks + default FAIL_WITH_CI
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/technical-error.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CimitUtilityService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CimitUtilityServiceTest.java
Due: spotlessCheck

PYIC-8131: Remove unused UserIdentityService variables
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
Due: spotlessCheck

PYIC-8131: Add null check and drivingPermit update to addUserIdentityClaims
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
Due: spotlessCheck

PYIC-8131: Add criWhichShouldHaveCredentialSubject parameter to getFirstClaim
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
Due: spotlessCheck

PYIC-7983: remove unused states
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/address-and-fraud.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/app-doc-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-handle-result.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-7983: fix api tests for mitigating CI
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
Due: run-npm-lint

PYIC-8155: Update permissions for dev-pipeline GHA
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8131: Remove check for credentialSubject
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
Due: spotlessCheck

PYIC-8131: Use specific Signing Profile for Dev pipeline
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-7983: remove unused entry states from new identity journey maps
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-8146 Update Java and Gradle version references
  .github/workflows/contract-tests.yaml
  .github/workflows/pre-merge-checks.yml
  .github/workflows/secure-post-merge.yml
  gradle/wrapper/gradle-wrapper.properties
Due: none

PYIC-8146 Update spotless dependency and corresponding style changes
  build.gradle
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/AuthorizationRequestHelperTest.java
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/UserIdentityRequestHandler.java
  lambdas/call-ticf-cri/src/main/java/uk/gov/di/ipv/core/callticfcri/CallTicfCriHandler.java
  lambdas/check-coi/src/main/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-gpg45-score/src/main/java/uk/gov/di/ipv/core/checkgpg45score/CheckGpg45ScoreHandler.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializer.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolver.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/cri-storing-service/src/main/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringService.java
  libs/gpg45-evaluator/src/main/java/uk/gov/di/ipv/core/library/gpg45/validators/Gpg45IdentityCheckValidator.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
Due: spotlessCheck

PYIC-8146 Update lambda runtime
  deploy/template.yaml
Due: none

PYIC-8146 Update Java target
  lambdas/build-client-oauth-response/build.gradle
  lambdas/build-cri-oauth-request/build.gradle
  lambdas/build-proven-user-identity-details/build.gradle
  lambdas/build-user-identity/build.gradle
  lambdas/call-dcmaw-async-cri/build.gradle
  lambdas/call-ticf-cri/build.gradle
  lambdas/check-coi/build.gradle
  lambdas/check-existing-identity/build.gradle
  lambdas/check-gpg45-score/build.gradle
  lambdas/check-mobile-app-vc-receipt/build.gradle
  lambdas/check-reverification-identity/build.gradle
  lambdas/evaluate-gpg45-scores/build.gradle
  lambdas/initialise-ipv-session/build.gradle
  lambdas/issue-client-access-token/build.gradle
  lambdas/process-async-cri-credential/build.gradle
  lambdas/process-candidate-identity/build.gradle
  lambdas/process-cri-callback/build.gradle
  lambdas/process-journey-event/build.gradle
  lambdas/process-mobile-app-callback/build.gradle
  lambdas/reset-session-identity/build.gradle
  lambdas/store-identity/build.gradle
  lambdas/user-reverification/build.gradle
  libs/audit-service/build.gradle
  libs/cimit-service/build.gradle
  libs/common-services/build.gradle
  libs/cri-api-service/build.gradle
  libs/cri-response-service/build.gradle
  libs/cri-storing-service/build.gradle
  libs/email-service/build.gradle
  libs/evcs-service/build.gradle
  libs/gpg45-evaluator/build.gradle
  libs/oauth-key-service/build.gradle
  libs/test-helpers/build.gradle
  libs/ticf-cri-service/build.gradle
  libs/user-identity-service/build.gradle
  libs/verifiable-credentials/build.gradle
  local-running/build.gradle
Due: spotlessCheck

PYIC-8146 Fix test
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8146 Update AspectJ
  gradle/libs.versions.toml
Due: none

PYIC-8146 Update local running docker base image
  local-running/Dockerfile
Due: none

PYIC-8146 Use corretto for GH actions
  .github/workflows/contract-tests.yaml
  .github/workflows/pre-merge-checks.yml
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8194: Add workflow linter
  .github/workflows/link-workflows.yaml
Due: none

PYIC-8194: Expand linting action comment
  .github/workflows/link-workflows.yaml
Due: none

PYIC-8194: Update reviewdog/action-actionlint version & fail on error
  .github/workflows/link-workflows.yaml
Due: none

PYIC-8194: Revoe actionlint version to v1
  .github/workflows/link-workflows.yaml
Due: none
