Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8776: update missed api tests with routing to new cross-browser-problem page
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
Due: run-npm-lint

PYIC-8776: update strategic app cross browser audit events to check for more information
  api-tests/data/audit-events/strategic-app-cross-browser-journey.json
Due: run-npm-lint

PYIC-8825: Use .npmrc in journey map dockerfile
  journey-map.Dockerfile
Due: none

PYIC-8825: Remove unused npm files
  local-running/.npmrc
  local-running/package-lock.json
  local-running/package.json
Due: none

PYIC-8797: record IDENTITY_REUSE at high resolution
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/EmbeddedMetricHelper.java
Due: spotlessCheck

PYIC-8797: add identityProving metric when user transitions to the update_name or update_address subjourneys.
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/resources/statemachine/test/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/test/update-name.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
Due: spotlessCheck

PYIC-8845: Add to path-ignore: - '**/*.md' - 'lambdas/*/src/test/**' - 'libs/*/src/test/**' - 'libs/test-data/**' - 'libs/test-helpers/**' - 'journey-map/**' - 'local-running/**'
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8824: remove use of filterFailedVcsFromCredentialsClaim
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-8843: Force updated version of apache Tika
  build.gradle
Due: spotlessCheck

PYIC-8843: Run spotless
  build.gradle
Due: spotlessCheck

PYIC-8843: Move headers before body
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/TokenTests.java
Due: spotlessCheck

PYIC-8843: Revert test change
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/TokenTests.java
Due: spotlessCheck

PYIC-8843: Exclude tika-parser-pdf-module
  build.gradle
Due: spotlessCheck

BAU: Fix docker compose build/context paths to align them with latest folders structure generated by dev-deploy tool.
  local-running/compose.yaml
Due: none

BAU: Update README.md - Explain the paths to Dockerfiles for compose.yaml file.
  local-running/README.md
Due: none

BAU: force use of non-vulnerable tika-core version
  build.gradle
Due: spotlessCheck

BAU: override content_type so pact always treats override.application.x-www-form-urlencoded as text
  lambdas/process-cri-callback/build.gradle
Due: spotlessCheck

BAU: Change compose.yaml to be a template and add local-running/compose.yaml to .gitignore
  .gitignore
  local-running/README.md
  local-running/compose.yaml.template
Due: none

BAU Forward async VC message journey ids to CIMIT
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
Due: spotlessCheck

PYIC-8849: Added a missing test tag
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-8776: remove Pages enum and hardcode the page ID into the PageStepResponse
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/Pages.java
Due: spotlessCheck

PYIC-8800: skip address + fraud CRIs when a user drops out of f2f cri during a KBV mitigation due to an unexpected error
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-8722: Add debug logs. Add logic to pop the last state from the stack and skip push to the stack if it was back event, and it is declared on the journey map.
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
Due: spotlessCheck

PYIC-8791: update areVcsCorrelated to show more granularity in correlation failures
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
Due: spotlessCheck

PYIC-8791: update unit tests
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-8722: Add BackEventException and throw 400 if back event is not defined in journey map and both - current and previous states are not pages.
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/exceptions/BackEventException.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
Due: spotlessCheck

PYIC-8722: Add comments to the methods to explain behaviour. Refactor skipBack poping mechanism. Remove debug logs operations.
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
Due: spotlessCheck

PYIC-8722: Remove missed logs operations.
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
Due: spotlessCheck

PYIC-8791: add tests for checking logs from failed correlations
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-8791: use a shared LogCollector and clear the log messages collected before running each test
  libs/test-helpers/src/main/java/uk/gov/di/ipv/core/library/testhelpers/unit/LogCollector.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-8757: Security improvements
  .github/workflows/automated-tests.yaml
Due: none

PYIC-8757: Run automated tests before deployment
  .github/workflows/automated-tests.yaml
  .github/workflows/pre-merge-checks.yml
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8757: Improve job name
  .github/workflows/contract-tests.yaml
Due: none

BAU: TEST secure-post-merge deployment action
  .github/workflows/secure-post-merge.yml
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/VotMatcherTest.java
Due: spotlessCheck

BAU: TEST secure-post-merge deployment action
  .github/workflows/secure-post-merge.yml
Due: none

BAU: print out detected changed files in secure-post-merge GHA
  .github/workflows/secure-post-merge.yml
Due: none

BAU: test if needing build-test-images-if-needed is the issue
  .github/workflows/secure-post-merge.yml
Due: none

BAU: move conditional check to the step level
  .github/workflows/secure-post-merge.yml
Due: none
