Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8718: add a pageContext to PageStepResponse
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/PageStepResponse.java
  lambdas/process-journey-event/src/main/resources/statemachine/test/initial-journey-selection.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/states/BasicStateTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/PageStepResponseTest.java
Due: spotlessCheck

PYIC-8718: update all Page states in the journey-maps to use the new pageContext along with the existing context attribute
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-pending.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-handle-result.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-8718: add validation for pageContexts
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/IPageContextValidator.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/PageContextValidator.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializer.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/exceptions/StepResponseException.java
  lambdas/process-journey-event/src/main/resources/statemachine/test/journey-map-with-invalid-page-contexts.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/TestPageContextValidator.java
Due: spotlessCheck

PYIC-8718: re-name context for prove-identity-another-way
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/PageContextValidator.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: spotlessCheck

PYIC-8718: add pageContexts to new/updated account intervention states and update api tests
  api-tests/features/account-intervention/reprove-identity.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/PageContextValidator.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/intervention-reprove-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-identify-device.yaml
Due: spotlessCheck, run-npm-lint

PYIC-8718: add an AbstractPageContextValidator (that implements the IPageContextValidator) to extend context subclasses from
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializer.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/AbstractPageContextValidator.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/IPageContextValidator.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/PageContextValidator.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/TestPageContextValidator.java
Due: spotlessCheck

PYIC-8969: remove legacy config key fallback for OAuth signing
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
  libs/oauth-key-service/src/test/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyServiceTest.java
Due: spotlessCheck

BAU: Run npm install to pick up missing dependencies
  journey-map/package-lock.json
Due: run-npm-lint-journey-map

BAU: Update Jackson to resolve vulnerability in versions >= 2.19.0, < 2.21.1
  gradle/libs.versions.toml
Due: none

BAU: Update deprecated method that was removed
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
Due: spotlessCheck

PYIC-8969: Update JarValidator to catch JWKS configuration exceptions
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidator.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidatorTest.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/domain/OAuthKeyServiceClientCredentialsSelector.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/domain/OAuthKeyServiceClientCredentialsSelectorTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/ClientConfig.java
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
  libs/oauth-key-service/src/test/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyServiceTest.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-8718: remove allowAccountDeletion from allowed contexts for 'update-name-date-birth' page
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/PageContextValidator.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
Due: spotlessCheck, run-npm-lint

PYIC-8718: enforce that all pageContext keys be defined for a given page if defines a pageContext
  api-tests/features/account-intervention/fail-open.feature
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/account-intervention/reprove-identity.feature
  api-tests/features/app-cross-browser/p1-cross-browser.feature
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  api-tests/features/audit-events.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-f2f.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
  api-tests/features/cimit/p2-mortality-mitigation.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks/p1-dl-auth-source-check.feature
  api-tests/features/dl-auth-source-checks/p1-enhanced-verification-mitigation.feature
  api-tests/features/dl-auth-source-checks/p2-dl-auth-source-check.feature
  api-tests/features/dl-auth-source-checks/p2-enhanced-verification-mitigation.feature
  api-tests/features/dwp-kbv/p1-web-journey.feature
  api-tests/features/dwp-kbv/p2-web-journey.feature
  api-tests/features/expired-driving-permit.feature
  api-tests/features/m1c-journeys.feature
  api-tests/features/p1-app-journey.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-reuse-journey.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/recovery-journeys.feature
  api-tests/features/return-codes.feature
  api-tests/features/stored-identity/m1c-journeys.feature
  api-tests/features/stored-identity/p1-journeys.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/features/strategic-app-retry-routing.feature
  api-tests/features/ticf/failed-ticf-responses.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  api-tests/features/ticf/ticf-successful-responses.feature
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/AbstractPageContextValidator.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: spotlessCheck, run-npm-lint

PYIC-8718: remove accidentally committed empty pages
  api-tests/features/account-intervention/p2-reprove-identity.feature
  api-tests/features/stored-identity/reprove-identity-journeys.feature
Due: run-npm-lint

PYIC-8718: correct pageContext on pyi-triage-desktop-download-app page and fix failing api tests
  api-tests/features/p2-app-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: run-npm-lint

PYIC-8718: add unit test for missing context
  lambdas/process-journey-event/src/main/resources/statemachine/test/journey-map-with-missing-page-contexts.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/TestPageContextValidator.java
Due: spotlessCheck

IPS-2209 topic updated to build notification
  deploy/template.yaml
Due: none

PYIC-8718: add new page "need-more-information-confirm-change-details" (which hasn't been wired up yet but has been added to core-front) to validator
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/PageContextValidator.java
Due: spotlessCheck

PYIC-8969: Temporarily put back publicKeyMaterialForCoreToVerify for AppConfig validation
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/ClientConfig.java
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
  libs/oauth-key-service/src/test/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyServiceTest.java
Due: spotlessCheck

BAU: log request size for TICF calls
  libs/ticf-cri-service/src/main/java/uk/gov/di/ipv/core/library/ticf/TicfCriService.java
Due: spotlessCheck

PYIC-9018: Add temporary routing for notification banner.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-8718: add missing page that's used in fore-front pyi-no-match (routing is done manually in core-front)
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/PageContextValidator.java
Due: spotlessCheck

BAU: wrap temporary logging in try-catch so if it fails, it doesn't block any users
  libs/ticf-cri-service/src/main/java/uk/gov/di/ipv/core/library/ticf/TicfCriService.java
Due: spotlessCheck

PYIC-8969: Make getClientJwksUrl more robust for @NonNull transition
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
Due: spotlessCheck

PYIC-8969: Remove unused variable and make jwkUrl NonNull
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/ClientConfig.java
Due: spotlessCheck

PYIC-9003: Add EVCS api updates featureFlag
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: none

PYIC-8718: update journey-map to pass pageContext instead of context when opening IPV Core page
  journey-map/src/index.ts
  journey-map/src/types.ts
Due: run-npm-lint-journey-map

PYIC-9008: Add missing semi-colon
  api-tests/src/steps/stored-identity-steps.ts
Due: run-npm-lint

PYIC-9003: Add new evcs featureFlag to the CoreFeatureflag enum so it can be used
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
Due: spotlessCheck

PYIC-8718: update journey maps to remove use of context on page states
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-pending.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/intervention-reprove-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-identify-device.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/test/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/test/journey-map-with-invalid-page-contexts.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/test/journey-map-with-missing-page-contexts.yaml
Due: none

PYIC-8718: update PageStepResponse to remove context
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/PageStepResponse.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/JourneyMapTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/states/BasicStateTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/PageStepResponseTest.java
Due: spotlessCheck

Revert "BAU: log request size for TICF calls"
  libs/ticf-cri-service/src/main/java/uk/gov/di/ipv/core/library/ticf/TicfCriService.java
Due: spotlessCheck

PYIC-8718: update journey-map docs with pageContext
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/journey-map-syntax.md
Due: none

Revert "PYIC-9018: Add temporary routing for notification banner."
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9024: update typescript + eslint in api-tests
  api-tests/package-lock.json
  api-tests/package.json
Due: run-npm-lint

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
