Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8254: Remove invalid SI PACT case as not validated
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

BAU: Fix IPVCoreExternalAPIJourneyTransitions
  deploy/template.yaml
Due: none

BAU: Fix IPVCoreExternalAPIJourneyTransitions to use AnalyticsApi
  deploy/template.yaml
Due: none

PYIC-8363: Update to use :live
  deploy/template.yaml
Due: none

PYIC-8335: upgrade mermaid + dompurify
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint-journey-map

PYIC-8240: Route P2 cross browser journeys to international address option.
  api-tests/features/strategic-app/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-8240: Fix local core-back build
  local-running/Dockerfile
Due: none

PYIC-8363: Check TICF VC for relevant interventions
  api-tests/features/ticf/ticf-successful-responses.feature
  api-tests/src/clients/ticf-management-api.ts
  api-tests/src/types/ticf-management-api.ts
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/dto/AccountInterventionStatusDto.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/TestData.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck, run-npm-lint

PYIC-8363: Add additional Jourey-ending interventions API test cases
  api-tests/features/account-intervention/journey-ending-interventions.feature
Due: run-npm-lint

PYIC-8335: fix event and states names being cut off by max-width
  journey-map/public/style.css
  journey-map/src/helpers/mermaid.ts
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-8363: Fix sonarcloud issues
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
Due: spotlessCheck

PYIC-8363: SpotlessApply
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
Due: spotlessCheck

BAU: Add IPVCoreAnalyticsCustomDomain and certificate
  deploy/template.yaml
Due: none

BAU: Add IPVCoreAnalyticsDNSRecord
  deploy/template.yaml
Due: none

PYIC-8335: fix arrow highlighting on node click
  journey-map/src/helpers/mermaid.ts
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-8375: add logging to say how many VCs are stored using PUT method
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
Due: spotlessCheck

BAU: Add DependsOn to FetchJourneyTransitionsFunctionPermission
  deploy/template.yaml
Due: none

PYIC-8335: improve styling on event labels
  journey-map/public/style.css
  journey-map/src/helpers/mermaid.ts
Due: run-npm-lint-journey-map

PYIC-8335: fix mermaid tests
  journey-map/src/helpers/mermaid.test.ts
Due: run-npm-lint-journey-map

BAU: Create a bakeless AppConfig deployment strategy
  deploy/template.yaml
Due: none

BAU: Cleanup PR template comments
  .github/pull_request_template.md
Due: none

BAU: Use written/updated phrase for clarity
  .github/pull_request_template.md
Due: none

PYIC-8358: Add audit event lunch to manual f2f lambda.
  lambdas/manual-f2f-pending-reset/build.gradle
  lambdas/manual-f2f-pending-reset/src/main/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandler.java
  lambdas/manual-f2f-pending-reset/src/test/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionManualF2FReset.java
Due: spotlessCheck

PYIC-8358: Add nested user object to align with ticket requirements.
  lambdas/manual-f2f-pending-reset/src/main/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandler.java
  lambdas/manual-f2f-pending-reset/src/test/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionManualF2FReset.java
Due: spotlessCheck

BAU Improve observability of async VC processing
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/exceptions/AsyncVerifiableCredentialException.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/EmbeddedMetricHelper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/LogHelper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/InstrumentationHelper.java
Due: spotlessCheck

BAU: Convert to use DefinitionUri in IPVCoreAnalyticsAPI
  deploy/template.yaml
Due: none

PYIC-8363: Remove default interventionCode
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

Revert "BAU: Create a bakeless AppConfig deployment strategy"
  deploy/template.yaml
Due: none

PYIC-8358: Simplified lunched event
  lambdas/manual-f2f-pending-reset/src/main/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandler.java
  lambdas/manual-f2f-pending-reset/src/test/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionManualF2FReset.java
Due: spotlessCheck

BAU Make asyncCriErrorResponse metric dimensions composite for DT filtering
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/EmbeddedMetricHelper.java
Due: spotlessCheck

BAU: switch to apache HTTP client
  .gitignore
  build.gradle
  gradle/libs.versions.toml
  lambdas/initialise-ipv-session/build.gradle
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/service/KmsRsaDecrypter.java
  libs/audit-service/build.gradle
  libs/cimit-service/build.gradle
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/DynamoDataStore.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/signing/SignerFactory.java
  local-running/build.gradle
Due: spotlessCheck

BAU: Remove x-amazon-apigateway-integration attribute to /journey-transitions as malformed
  openAPI/core-back-analytics.yaml
Due: none

BAU: Add back in x-amazon-apigateway-integration attribute but also Transform the core-back-analytics.yaml before using
  deploy/template.yaml
  openAPI/core-back-analytics.yaml
Due: none

PYIC-8421: set identityFraudScore evidence_requested for fraud cri and add/update tests
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/AuthorizationRequestHelperTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/CriStepResponseTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/EvidenceRequest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/domain/EvidenceRequestTest.java
Due: spotlessCheck

PYIC-8421: refactor test constant
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
Due: spotlessCheck

PYIC-8421: fix failing api test
  api-tests/features/stored-identity/inherited-identities.feature
Due: run-npm-lint

BAU: Fix callbackFromStrategicApp to use returned client session id
  api-tests/features/audit-events.feature
  api-tests/features/strategic-app/p1-strategic-app.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
  api-tests/src/clients/core-back-internal-client.ts
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-8454: Set received this session for DCMAW Async VC
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
Due: spotlessCheck

PYIC-8080: Clean internationalAddressEnabled feature flag.
  api-tests/features/reuse-update-details/p2-reuse-update-details-international.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
