Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-7797: WIP add ticfCriService to lambda
  lambdas/process-candidate-identity/build.gradle
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/dto/TicfCriDto.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/exception/TicfCriHttpResponseException.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/exception/TicfCriServiceException.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/TicfCriService.java
Due: spotlessCheck

PYIC-7797: add ProcessIdentityType + handle ALL case
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/ProcessIdentityType.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/UnknownProcessIdentityType.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/RequestHelper.java
Due: spotlessCheck

PYIC-7797: handle the other processIdentity types
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-7797: update local-running to support new lambda
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  local-running/build.gradle
  local-running/core.local.params.yaml
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
  settings.gradle
Due: spotlessCheck

PYIC-7797: add unit tests for all services
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg45ScoresService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessingService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg46ScoresServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/TicfCriServiceTest.java
Due: spotlessCheck

PYIC-7797: refactoring storeIdentity audit event
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessingService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
Due: spotlessCheck

PYIC-7797: add unit tests performIdentityProcessingOperations
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessServiceTest.java
Due: spotlessCheck

PYIC-7797: add handler unit tests
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7797: remove check-coi service (the one outside of the lambda)
  libs/check-coi-service/build.gradle
  libs/check-coi-service/src/main/java/uk/gov/di/ipv/core/library/exception/CheckCoiException.java
  libs/check-coi-service/src/main/java/uk/gov/di/ipv/core/library/service/CheckCoiService.java
  libs/check-coi-service/src/test/java/uk/gov/di/ipv/core/library/service/CheckCoiServiceTest.java
  settings.gradle
Due: spotlessCheck

PYIC-7797: move audit service to identity proving service + update processIdentityType check
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg45ScoresService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessingService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/RequestHelper.java
Due: spotlessCheck

PYIC-7797: resolve conflicts
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessingService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessServiceTest.java
Due: spotlessCheck

WIP: refactor process candidate identity handler
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessingService.java
Due: spotlessCheck

WIP: remove identity processing service
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessingService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7797: add new identity type
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/ProcessIdentityType.java
Due: spotlessCheck

PYIC-7753: WIP refactor helpers
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
Due: spotlessCheck

PYIC-7797: WIP add unit tests to cover all happy paths and some unhappy ones
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/CandidateIdentityType.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/RequestHelper.java
Due: spotlessCheck

WIP: refactor process candidate identity handler
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/ProcessIdentityType.java
Due: spotlessCheck

PYIC-7797: fix unit tests
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
Due: spotlessCheck

PYIC-7799: Better format of traffic generation output
  api-tests/secure-pipeline/run-tests.sh
Due: run-npm-lint

PYIC-7650: Fix API tests for international address identity update journeys
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-family-name-and-address-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-family-name-and-address-score-0/evidence.json
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-given-name-and-address-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-given-name-and-address-score-0/evidence.json
  api-tests/features/reuse-update-details/p2-reuse-update-details-international.feature
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/VotMatcher.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck, run-npm-lint

PYIC-7797: fix code smells
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg46ScoresServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
Due: spotlessCheck

PYIC-7797: fix code smells
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/TicfCriService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
Due: spotlessCheck

PYIC-7650: Run spotless
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-7650: Fix tests
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
Due: spotlessCheck

PYIC-7650: Add VotMatcher test
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/VotMatcherTest.java
Due: spotlessCheck

PYIC-7646: Implement fraud check unavailable return code
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/VotMatcher.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-7532: Routing for new strategic app abandoned page
  api-tests/features/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: run-npm-lint

PYIC-7532: Add api-test for when a user wants to prove identity another way from the download pages
  api-tests/features/p2-strategic-app.feature
Due: run-npm-lint

PYIC-7532: Change event to avoid clashes with the back event
  api-tests/features/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: run-npm-lint

PYIC-7532: Update api-tests with new page step
  api-tests/features/p2-strategic-app.feature
Due: run-npm-lint

Deploy
  .github/workflows/sre-secure-post-merge.yml
Due: none

IPS-1253: Add SubEnvironment
  deploy/template.yaml
Due: none

Test pipeline
  .github/workflows/sre-secure-pipeline-api-tests-image.yml
  .github/workflows/sre-secure-post-merge-dev.yml
  .gitignore
  api-tests/.env.dev01
Due: run-npm-lint

IPS-1185: Set up dev sre pipeline
  .github/workflows/sre-secure-pipeline-api-tests-image.yml
  .github/workflows/sre-secure-post-merge-dev.yml
Due: none

Add DevApiMapping
  deploy/template.yaml
Due: none

SubEnvironment test
  deploy/template.yaml
Due: none

Dev
  .github/workflows/secure-pipeline-api-tests-image.yml
  .github/workflows/sre-secure-pipeline-api-tests-image.yml
  .github/workflows/sre-secure-post-merge-dev.yml
  api-tests/secure-pipeline/run-tests.sh
Due: run-npm-lint

Test
  .github/workflows/sre-secure-post-merge-dev.yml
  api-tests/secure-pipeline/run-tests.sh
  deploy/template.yaml
Due: run-npm-lint

PYIC-7646: Fix tests after merge
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/VotMatcherTest.java
Due: spotlessCheck

PYIC-7746: Embedded metrics with powertools
  deploy/template.yaml
  gradle/libs.versions.toml
  lambdas/build-cri-oauth-request/build.gradle
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/process-cri-callback/build.gradle
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/EmbeddedMetricHelper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck
