Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-7878: replace generic getLongParameter() with explicit self-config getters
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/AuthorizationRequestHelper.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/AuthorizationRequestHelperTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidator.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidatorTest.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/IssueClientAccessTokenHandler.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/service/AccessTokenService.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/validation/TokenRequestValidator.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/IssueClientAccessTokenHandlerTest.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/pact/IssueClientAccessTokenHandlerTest.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/service/AccessTokenServiceTest.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/validation/TokenRequestValidatorTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/bavCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/cicCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/dcmawCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/drivingLicenceCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/f2fCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/ninoCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/passportCri/TokenTests.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
  libs/cri-api-service/src/test/java/uk/gov/di/ipv/core/library/criapiservice/CriApiServiceTest.java
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
  libs/oauth-key-service/src/test/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyServiceTest.java
Due: spotlessCheck

PYIC-8616: Remove AIS_ENABLED flag from CheckExistingIdentity lambda.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7878: load CRI configs from typed Config
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-8616: Remove AIS_ENABLED flag.
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
Due: spotlessCheck

PYIC-8616: Stop handling reprove_identity from claims.
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionsIpvJourneyStart.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsServiceTest.java
Due: spotlessCheck

PYIC-8616: Fix api tests.
  api-tests/features/account-intervention/fail-open.feature
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/account-intervention/journey-starting-intervention.feature
  api-tests/features/account-intervention/p2-reprove-identity.feature
  api-tests/features/audit-events.feature
  api-tests/features/mfa-reset-journey.feature
  api-tests/features/ticf/ticf-successful-responses.feature
Due: run-npm-lint

PYIC-8616: Remove account intervention flag from config.
  local-running/core.local.params.yaml
Due: none

PYIC-8616: Remove unused variable and constructor.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionsIpvJourneyStart.java
Due: spotlessCheck

PYIC-8616: Remove redundant call to ipvSession db table.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-8616: Reuse existing isReproveIdentity variable
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8616: Remove duplication
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-7878: use typed getCimitConfig; remove getHistoricalSigningKeys
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CimitUtilityService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CimitUtilityServiceTest.java
Due: spotlessCheck

PYIC-8616: Suppress to many parameters sonar
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8593: Add transitions time window inputs.
  journey-map/public/index.html
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-8593: Add convertion explanation comment.
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-8593: Change api input params. Move Transitions form outside the configuration form.
  journey-map/public/index.html
  journey-map/src/index.ts
  openAPI/core-back-analytics.yaml
Due: run-npm-lint-journey-map

PYIC-8593: Add inputs for time window
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/Request.java
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
Due: spotlessCheck

PYIC-8593: Include time zone for request window
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
Due: spotlessCheck

PYIC-8593: Modify transitions enpoint to accept time window
  journey-map/public/index.html
  journey-map/server/analytics-middleware.ts
  journey-map/server/app.ts
  journey-map/src/helpers/options.ts
  journey-map/src/index.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

BAU Mark switched-on CRIs 'enabled' across all envs
  local-running/core.local.params.yaml
Due: none

PYIC-8593: Add accurate description
  openAPI/core-back-analytics.yaml
Due: none

Add note to say not all CRIs have disabled routing configured
  journey-map/public/index.html
Due: run-npm-lint-journey-map

PYIC-8593: Refactor
  journey-map/public/index.html
  journey-map/server/analytics-middleware.ts
  journey-map/src/helpers/options.ts
  journey-map/src/index.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8593: Add time range limits
  journey-map/public/index.html
  journey-map/server/analytics-middleware.ts
  journey-map/server/app.ts
  journey-map/server/config.ts
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-8593: Add journey and session input to openAPI.
  openAPI/core-back-analytics.yaml
Due: none

PYIC-8593: Add select box and include session/journey id from input in the request.
  journey-map/public/index.html
  journey-map/src/helpers/options.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8593: Add input parsing in lambda for journey/session id
  journey-map/public/index.html
  journey-map/src/helpers/options.ts
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/Request.java
  openAPI/core-back-analytics.yaml
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-8593: Add filter to the query.
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
Due: spotlessCheck

PYIC-8593: Exclude not required params from request.
  journey-map/src/helpers/options.ts
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-8624: set FMS tags on non-customer-facing APIs
  deploy/template.yaml
Due: none

PYIC-8593: Add journey/session id to the middleware request.
  journey-map/server/analytics-middleware.ts
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
Due: spotlessCheck, run-npm-lint-journey-map

Revert "PYIC-8582: switch to AWS CRT-based http client"
  gradle/libs.versions.toml
  lambdas/initialise-ipv-session/build.gradle
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/service/KmsRsaDecrypter.java
  libs/audit-service/build.gradle
  libs/cimit-service/build.gradle
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/DynamoDataStore.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/signing/SignerFactory.java
  local-running/build.gradle
Due: spotlessCheck

BAU: Remove unwanted logging
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandler.java
Due: spotlessCheck

PYIC-8593: Add target environment selection for transitions traffic
  .gitignore
  journey-map/.env.template
  journey-map/deploy/template.yaml
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/public/index.html
  journey-map/server/analytics-middleware.ts
  journey-map/server/config.ts
  journey-map/src/helpers/options.ts
Due: run-npm-lint-journey-map

PYIC-8393: Add PARSE_ERROR for invalid JWTs
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/enums/FailureCode.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8393: Extra test for isValid field
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8393: Log maximum SIS VoT in audit event (calculated VoT is in the logged JWT)
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8393: Run spotless
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8393: Fix audit event field names
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/audit/AuditExtensionsSisComparison.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8593: Fix incorrect body filter.
  journey-map/server/analytics-middleware.ts
Due: run-npm-lint-journey-map

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
