Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

BAU: move conditional check to the step level
  .github/workflows/secure-post-merge.yml
Due: none

BAU: add !failure() check
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8443: Exclude Netty libraries
  build.gradle
Due: spotlessCheck

PYIC-8843: Exclude just the netty libs causing alerts
  build.gradle
Due: spotlessCheck

PYIC-8843: Remove Netty exclusions
  build.gradle
Due: spotlessCheck

PYIC-8860: Add temporary routing for banner link.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
Due: none

PYIC-8860: Add temporary routing for banner link.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-8832: Add configuration to control the DL validity period
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/InternalOperationsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

BAU Correct missing log
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
Due: spotlessCheck

PYIC-8866: Add CALLS_REAL_METHODS.
  gradle/libs.versions.toml
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/service/SqsAuditServiceTest.java
Due: spotlessCheck

PYIC-8866: Upgrade auth2-oidc-sdk to 11.31
  gradle/libs.versions.toml
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidatorTest.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/validation/TokenRequestValidatorTest.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/validator/VerifiableCredentialValidatorTest.java
Due: spotlessCheck

Revert "PYIC-8860: Experian outage notification banners. - temporary routes"
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

Revert "PYIC-8832: Add configuration to control the DL validity period"
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/InternalOperationsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

Revert "PYIC-8832: make dcmawExpiredDlValidityPeriodDays nullable whilst we add the new config"
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/InternalOperationsConfig.java
Due: spotlessCheck

PYIC-8866: Bump pact library version to 4.6.19
  gradle/libs.versions.toml
Due: none

PYIC-8830: add DL expiry logic - if DL is expired, remove DL VCs from credential bundle and mark them as historic in EVCS
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
Due: spotlessCheck

PYIC-8830: add unit tests for expired dcmaw DL
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

PYIC-8830: refactor to route user to reprove-identity-start page instead of straight to new identity proving journey
  api-tests/features/expired-driving-permit.feature
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck, run-npm-lint

PYIC-8830: add new api tests for testing reuse journeys when a user comes back with an expired DCMAW DL VC
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-driving-permit-expired/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-driving-permit-expired/evidence.json
  api-tests/features/expired-driving-permit.feature
Due: run-npm-lint

BAU: Make dcmawExpiredDlValidityPeriodDays nullable.
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/InternalOperationsConfig.java
Due: spotlessCheck

PYIC-8830: add logging to help with debugging and observability
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8829: Make fraud expiry check start from beginning of issue date
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-8830: move hasExpiredDrivingPermitVc logic to VcHelper to enable better testing and re-name grace period to validity period when referring to whether an expired DL is valid for reuse
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-8829: Add new nullable config value
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/InternalOperationsConfig.java
Due: spotlessCheck

PYIC-8829: Switch over to fraud expiry period in days
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/InternalOperationsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
  libs/test-data/src/main/resources/test-parameters.yaml
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-8873: Remove EnforceStayinSpecificVpc policy from all lambda functions.
  deploy/template.yaml
Due: none

PYIC-8829: Remove unused config value
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/InternalOperationsConfig.java
Due: spotlessCheck

PYIC-8829: Fix test case
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-8830: add unit tests for markHistoricInEvcs
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8830: update isExpiredDrivingPermitVc to return false when the vc doesn't have an nbf
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/VerifiableCredentialGenerator.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-8899: update secure-post-merge workflow so that the api-tests are deployed whenever we push into main and whenever the workflow is triggered via workflow_dispatch
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8833: Add AuditExtensionExpiredFraudVcFound/AuditExtensionExpiredDcmawDlVcFound records.
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionExpiredDcmawDlVcFound.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionExpiredFraudVcFound.java
Due: spotlessCheck

PYIC-8833: Add IPV_EXPIRED_FRAUD_VC_FOUND and IPV_EXPIRED_DCMAW_DL_VC_FOUND enum types.
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
Due: spotlessCheck

PYIC-8899: explicitly pass secrets into common workflow instead of inheriting from parent workflow
  .github/workflows/secure-pipeline-api-tests-image.yml
  .github/workflows/secure-post-merge.yml
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-8899: add test comment to api file to test workflow dispatch
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-8899: update check-if-api-tests-changed job to always compare against last remote commit including when doing a workflow dispatch
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8833: Send audit event when expired DCMAW DL VC is detected
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8833: Add Reprove identity journey - Expired Driving Licence API test and audit events data.
  api-tests/data/audit-events/reprove-identity-journey-expired-dl.json
  api-tests/features/audit-events.feature
Due: run-npm-lint

BAU ensure cross-repo issue is tracked
  deploy/template.yaml
Due: none

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
