Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-9068: Fix back button on select device page during fraud mitigation journey.
  api-tests/features/fraud-mitigation/p1-mitigation.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-9068: Fix cross-browser fraud mitigation journeys.
  api-tests/features/app-cross-browser/p1-cross-browser.feature
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  api-tests/features/fraud-mitigation/p1-mitigation.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: spotlessCheck, run-npm-lint

PYIC-9068: Limit fetching previous session VCs to liveness-likeness mitigation only.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/Events.java
Due: spotlessCheck

PYIC-9068: Apply minor refactoring.
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck, run-npm-lint

Revert "PYIC-9068: Fix new CI mitigation journeys - back button and cross-browser scenarios."
  api-tests/features/app-cross-browser/p1-cross-browser.feature
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  api-tests/features/fraud-mitigation/p1-mitigation.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/Events.java
Due: spotlessCheck, run-npm-lint

Revert "Revert "PYIC-9068: Fix new CI mitigation journeys - back button and cross-browser scenarios.""
  api-tests/features/app-cross-browser/p1-cross-browser.feature
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  api-tests/features/fraud-mitigation/p1-mitigation.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/Events.java
Due: spotlessCheck, run-npm-lint

PYIC-9068: Add DynamoDBReadPolicy for SessionCredentialsTable in CheckExistingIdentity lambda.
  deploy/template.yaml
Due: none

PYIC-9218: remove coi6mfcDeadEndRoutingEnabled feature flag
  api-tests/features/coi6mfcDeadEndRoutingDisbaled.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-9194: Bumping apacheHttpCore to 5.4.3
  gradle/libs.versions.toml
Due: none

PYIC-9125: Wire UPDATE_DETAILS_HIGHER_STRENGTH after Fraud CRI in COI scenarios.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-9125: Add p2 successful fraud mitigation journey for coi and 6mfc scenarios.
  api-tests/features/fraud-mitigation/p2-mitigation-6mfc.feature
  api-tests/features/fraud-mitigation/p2-mitigation-coi.feature
Due: run-npm-lint

PYIC-9125: Adjust fraud mitigation api tests.
  api-tests/features/fraud-mitigation/6mfc-fraud-mitigation.feature
  api-tests/features/fraud-mitigation/coi-fraud-mitigation.feature
Due: run-npm-lint

PYIC-9068: Adjust behavior of back button on fraud mitigation drop off pages.
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: run-npm-lint

PYIC-9098: Update to node 24
  .github/workflows/automated-tests.yaml
  .github/workflows/journey-map-tests.yml
  api-tests/.npmrc
  api-tests/package.json
  api-tests/secure-pipeline/api-tests.Dockerfile
  journey-map.Dockerfile
  journey-map/.npmrc
  journey-map/.nvmrc
  journey-map/package.json
Due: run-npm-lint, run-npm-lint-journey-map

PYIC-9098: Add node types
  api-tests/package-lock.json
  api-tests/package.json
  api-tests/src/steps/ipv-steps.ts
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint, run-npm-lint-journey-map

PYIC-9098: Remove obsolete comment
  api-tests/src/utils/object-matchers.ts
Due: run-npm-lint

PYIC-9098: Make node version more specific to match prod docker images
  api-tests/.nvmrc
  api-tests/package.json
  journey-map/.nvmrc
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint, run-npm-lint-journey-map

PYIC-9098: Use correct node types version
  api-tests/package-lock.json
  api-tests/package.json
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint, run-npm-lint-journey-map

PYIC-9183 Bump log retention to 6 months
  deploy/template.yaml
Due: none

PYIC-9068: Increase 6MFC api test coverage for fraud CI mitigation.
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-given-name-breaching-liveness-likeness-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-given-name-breaching-liveness-likeness-ci/evidence.json
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-given-name-liveness-likeness-p2-when-combined-with-non-breaching/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-given-name-liveness-likeness-p2-when-combined-with-non-breaching/evidence.json
  api-tests/features/fraud-mitigation/6mfc-fraud-mitigation.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-details-higher-strength.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: run-npm-lint

PYIC-9068: Increase update details api test coverage for fraud CI mitigation.
  api-tests/features/fraud-mitigation/coi-fraud-mitigation.feature
Due: run-npm-lint

BAU: Increase journey restart timeout to allow for slower queue responses
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-9068: Adjust Fraud mitigation journey according to new requirements.
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: run-npm-lint

PYIC-9208: validate VTR claim during session initialisation
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/Vot.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/enums/VotTest.java
Due: spotlessCheck

PYIC-9068: Pin device identificaiton drop off page to correct page.
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: run-npm-lint

PYIC-9125: Redirect user with CI to update-details-failed page with invalid identity context.
  api-tests/features/fraud-mitigation/coi-fraud-mitigation.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
Due: run-npm-lint

PYIC-9125: Resolve incorrect page context in COI journeys failed with Fraud CI.
  api-tests/features/fraud-mitigation/coi-fraud-mitigation.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolver.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-details-higher-strength.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CimitUtilityService.java
Due: spotlessCheck, run-npm-lint

PYIC-9212: Add unit tests for audit logs from nested journey exit events
  lambdas/process-journey-event/src/main/resources/statemachine/test/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/test/nested-journeys/doubly-nested-definition.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/test/nested-journeys/nested-journey-definition.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
Due: spotlessCheck

PYIC-9212: Fix audit event raising when both exiting and entering nested journeys in the same transition.
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachine.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/TransitionResult.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/states/NestedJourneyInvokeState.java
  lambdas/process-journey-event/src/main/resources/statemachine/test/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/test/nested-journeys/nested-journey-definition.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
Due: spotlessCheck

PYIC-9212: Add API test to check audit event
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-9212: Add expected audit events for new test
  api-tests/data/audit-events/alternate-doc-app-mitigation-journey.json
Due: run-npm-lint

PYIC-9212: Fix test to use consistent driving license details
  api-tests/data/audit-events/alternate-doc-app-mitigation-journey.json
  api-tests/features/audit-events.feature
Due: run-npm-lint

chore: Upgrade quality-gate.manifest.json to v11
  quality-gate.manifest.json
Due: none

feat: Add product and component, and remove serviceTag
  quality-gate.manifest.json
Due: none

feat: Restructure to use new automated executionType
  quality-gate.manifest.json
Due: none

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
