Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8691: Add maxVot alongside vot in IPV_IDENTITY_STORED event extension.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionCandidateIdentityType.java
Due: spotlessCheck

PYIC-8068: Allow setting and unsetting of multiple journey contexts at once
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolver.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolverTest.java
Due: spotlessCheck

PYIC-8068: Improve app retry routing
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/strategic-app-dl-auth-source-check-reuse-update-details.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: run-npm-lint

PYIC-8068: Add api tests
  api-tests/features/strategic-app/strategic-app-retry-routing.feature
Due: run-npm-lint

BAU: Bump awsSdk to 2.35.11
  gradle/libs.versions.toml
Due: none

PYIC-8440: Make JWT field optional
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/dto/SisStoredIdentityContent.java
Due: spotlessCheck

PYIC-8691: Convert class to record.
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionPreviousAchievedVot.java
Due: spotlessCheck

PYIC-8698: WIP highlight edge label with edge when selecting the event
  journey-map/public/style.css
  journey-map/src/index.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8698: add handler for highlighting when selecting edges and refactor
  journey-map/public/style.css
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-8698: match text shadow colour to actual edge label text colour
  journey-map/public/style.css
Due: run-npm-lint-journey-map

PYIC-8698: use the previous colour of the edge when deselecting it
  journey-map/src/index.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8698: use darker colour for edges for improved visibility
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8440: Ignore unused fields like "aud", "iss", etc
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/dto/SisStoredIdentityContent.java
Due: spotlessCheck

PYIC-8634: Toggle on DWP KBVs
  api-tests/features/audit-events.feature
  api-tests/features/cimit/p1-alternate-doc.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-web-journey.feature
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-8698: increase edge width and update interfaces
  journey-map/src/index.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8460: Update powertools and make required changes
  gradle/libs.versions.toml
  lambdas/build-client-oauth-response/src/main/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandler.java
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-proven-user-identity-details/src/main/java/uk/gov/di/ipv/core/buildprovenuseridentitydetails/BuildProvenUserIdentityDetailsHandler.java
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandler.java
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-gpg45-score/src/main/java/uk/gov/di/ipv/core/checkgpg45score/CheckGpg45ScoreHandler.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-reverification-identity/src/main/java/uk/gov/di/ipv/core/checkreverificationidentity/CheckReverificationIdentityHandler.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandler.java
  lambdas/initialise-ipv-session/build.gradle
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/IssueClientAccessTokenHandler.java
  lambdas/manual-f2f-pending-reset/src/main/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandler.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/user-reverification/src/main/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandler.java
  lambdas/validate-appconfig/src/main/java/uk/gov/di/ipv/core/validateappconfig/ValidateAppConfigHandler.java
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/EmbeddedMetricHelper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/LogHelper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-8460: Remove broken import and make tests consistent
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/pact/ContractTest.java
Due: spotlessCheck

PYIC-8460: Remove unused dependencies
  gradle/libs.versions.toml
  lambdas/initialise-ipv-session/build.gradle
  libs/audit-service/build.gradle
  libs/cimit-service/build.gradle
  libs/cri-response-service/build.gradle
  libs/gpg45-evaluator/build.gradle
  libs/user-identity-service/build.gradle
Due: spotlessCheck

PYIC-8634: Enable dwpKbv and remove feature
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: none

PYIC-8634: Add PIP steps
  api-tests/features/cimit/p1-alternate-doc.feature
Due: run-npm-lint

PYIC-8634: Remove dwpKbvTest activation.
  api-tests/features/audit-events.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-8634: Add PIP steps.
  api-tests/features/strategic-app/p1-strategic-app.feature
Due: run-npm-lint

PYIC-8460: Setup metrics namespace for local running and unit tests
  .github/workflows/pre-merge-checks.yml
  local-running/compose.yaml
Due: none

PYIC-8460: Add metrics namespace to contract tests
  .github/workflows/contract-tests.yaml
Due: none

PYIC-8706: Routing for Experian KBV CRI error
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-8634: Add PIP skip steps.
  api-tests/data/audit-events/new-identity-p2-web-journey.json
  api-tests/features/audit-events.feature
  api-tests/features/cimit/p1-alternate-doc.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-f2f.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  api-tests/features/dl-auth-source-checks/dl-cri-dropout.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/return-codes.feature
  api-tests/features/stored-identity/p1-journeys.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  api-tests/features/well-known.feature
Due: run-npm-lint

PYIC-8634: Remove unwanted tag.
  api-tests/features/well-known.feature
Due: run-npm-lint

PYIC-8634: Add skip PIP page.
  api-tests/features/p2-web-journey.feature
  api-tests/features/stored-identity/cimit-journeys.feature
Due: run-npm-lint

PYIC-8706: Reset users identity when looping back to web app journey from technical error page
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-8460: Make unit tests run in IDE without extra config
  build.gradle
Due: spotlessCheck

PYIC-8731: Add dependsOn to AppConfigPipelineValidateFunctionInvokePermission
  deploy/template.yaml
Due: none

PYIC-8734: Add doc for journey engine and journey map syntax
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/journey-engine.md
Due: none

PYIC-8734: Separate high-level journey engine docs from journey-map syntax docs
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/journey-engine.md
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/journey-map-syntax.md
Due: none

PYIC-8734: Delete old journey engine docs as they've been migrated into the process-journey-event lambda
  docs/journey-engine-concepts.md
  docs/journey-map.yaml
Due: none

PYIC-8734: corrections from self-review
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/journey-engine.md
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/journey-map-syntax.md
Due: none

PYIC-8731: Simplify base validation lambda invoke permission
  deploy/template.yaml
Due: none

PYIC-8734: add section for the journey map visualiser
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/journey-map-syntax.md
Due: none

PYIC-8731: Add validation lambda version and alias resources.
  deploy/template.yaml
Due: none

PYIC-8683: Use vitest instead of npm test
  journey-map/README.md
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/src/helpers/add-journey-transitions.test.ts
  journey-map/src/helpers/analytics.test.ts
  journey-map/src/helpers/contract-nested.test.ts
  journey-map/src/helpers/deep-clone.test.ts
  journey-map/src/helpers/event-resolver.test.ts
  journey-map/src/helpers/expand-nested.test.ts
  journey-map/src/helpers/expand-parents.test.ts
  journey-map/src/helpers/journey-context.test.ts
  journey-map/src/helpers/mermaid.test.ts
  journey-map/src/helpers/nested-journey-traffic.test.ts
  journey-map/src/helpers/orphans.test.ts
  journey-map/src/helpers/uplift-nested.test.ts
Due: run-npm-lint-journey-map

PYIC-8683: Turn off test timeout when debugging
  journey-map/vitest.config.ts
Due: run-npm-lint-journey-map

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
