Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-9077: Update vitest
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint-journey-map

WIP
  api-tests/features/update-details-higher-strengh/update-details-higher-strengh.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name-higher-strength.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/IpvJourneyTypes.java
  local-running/core.local.params.yaml
Due: spotlessCheck, run-npm-lint

PYIC-9006: Add kiro steering files
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: none

PYIC-9006: Improved steering files
  .kiro/steering/conventions.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: none

PYIC-9006: Remove stale file
  .sdkmanrc
Due: none

PYIC-9006: Update API tests to use new EVCS API
  api-tests/src/clients/evcs-stub-client.ts
  api-tests/src/steps/cri-steps.ts
  api-tests/src/types/evcs-stub.ts
  api-tests/src/utils/request-body-generators.ts
Due: run-npm-lint

PYIC-8459: Add temporary routes for notificaiton banner.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9006: Add new methods to EvcsClient and add contract and unit tests
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/EvcsCreateUserVCsRequestBody.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/EvcsUpdateUserVCsRequestBody.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-9006: Add EvcsService methods and tests
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-9006: Update handlers to use new EvcsService methods when flag is enabled
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/reset-session-identity/src/test/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandlerTest.java
Due: spotlessCheck

PYIC-9006: Comment out new contract tests until T&R are ready for them.
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-9006: Fix SonarQube issues
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-9006: Fix api tests
  api-tests/features/stored-identity.feature
  api-tests/src/types/evcs-stub.ts
  api-tests/src/utils/request-body-generators.ts
Due: run-npm-lint

PYIC-9006: Fix compile issue
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
Due: spotlessCheck

PYIC-9006: Run spotless
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
Due: spotlessCheck

chore: Fix quality-gate.manifest.json
  quality-gate.manifest.json
Due: none

PYIC-9006: Improve Kiro steering files
  .kiro/steering/product.md
  .kiro/steering/structure.md
Due: none

PYIC-9006: Make it clear that EvcsService.storeCompletedOrPendingIdentityWithPostVcsV2 is actually only used for pending identities
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-9006: Run spotless
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8711: Routing to avoid a dead end for COI/RFC users
  api-tests/features/update-details-higher-strengh/update-details-higher-strengh.feature
  journey-map/src/constants.ts
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-details-higher-strength.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/IpvJourneyTypes.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

PYIC-9087: Add new routes for non uk users.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9121: Fix visualiser
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-9121: Run linter
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

Revert "PYIC-8459: Add temporary routes for notification banner. Experian outage 10th May 2026."
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

BAU: Downgrade gradle to 8.14.3
  gradle/wrapper/gradle-wrapper.properties
Due: none

BAU: Revert gradle downgrade.
  gradle/wrapper/gradle-wrapper.properties
Due: none

BAU: Change ubuntu-latest to ubuntu-22.04
  .github/workflows/automated-tests.yaml
Due: none

BAU: Execute tests with --no-daemon
  .github/workflows/automated-tests.yaml
Due: none

PYIC-9087: Change targetState for abandon event in NON_UK_PASSPORT_BIOMETRIC_CHIP.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-8711: Tidy up / fixes
  api-tests/features/update-details-higher-strengh/update-details-higher-strengh.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-details-higher-strength.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: run-npm-lint

PYIC-8711: add ALL_INC_DCMAW_ASYNC_PENDING reset type
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-details-higher-strength.yaml
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/SessionCredentialsResetType.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
Due: spotlessCheck

PYIC-9087: Align event names with naming convention.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-8711: Fix fraud scoring and evidence for api-test
  api-tests/features/update-details-higher-strengh/update-details-higher-strengh.feature
Due: run-npm-lint

PYIC-9087: Pin live journeys to new renamed events.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9087: Adjust api tests to expect new page names.
  api-tests/features/audit-events.feature
  api-tests/features/dl-auth-source-checks/p2-dl-auth-source-check.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/stored-identity/m1c-journeys.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/features/strategic-app-retry-routing.feature
Due: run-npm-lint

PYIC-9087: Repin to re-named events.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

Change CODEOWNERS from ID-SRE to REX
  .kiro/steering/structure.md
  CODEOWNERS
Due: none
