Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-7984: remove unnecessary stubbing
  libs/cimit-service/src/test/java/uk/gov/di/ipv/core/library/service/CimitServiceTest.java
Due: spotlessCheck

PYIC-7984: remove NoCriIssuerException
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/cimit-service/src/main/java/uk/gov/di/ipv/core/library/service/CimitService.java
Due: spotlessCheck

PYIC-7984: move getContraIndicatorsFromVc into CimitUtilityService service
  lambdas/build-user-identity/build.gradle
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandlerTest.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/pact/BuildUserIdentityHandlerTest.java
  lambdas/call-ticf-cri/src/main/java/uk/gov/di/ipv/core/callticfcri/CallTicfCriHandler.java
  lambdas/call-ticf-cri/src/test/java/uk/gov/di/ipv/core/callticfcri/CallTicfCriHandlerTest.java
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
  libs/cimit-service/src/main/java/uk/gov/di/ipv/core/library/service/CimitService.java
  libs/cimit-service/src/test/java/uk/gov/di/ipv/core/library/pact/ContractTest.java
  libs/cimit-service/src/test/java/uk/gov/di/ipv/core/library/service/CimitServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/CiExtractionException.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CimitUtilityService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CimitUtilityServiceTest.java
Due: spotlessCheck

PYIC-8058 Rethrow IOExceptions on EVCS requests
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/client/EvcsClient.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/client/EvcsClientTest.java
Due: spotlessCheck

PYIC-7984: fix sonar
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/evaluate-gpg45-scores/build.gradle
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CimitUtilityServiceTest.java
Due: spotlessCheck

PYIC-7984: add check for empty security check credential
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandlerTest.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/pact/BuildUserIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
Due: spotlessCheck

PYIC-8060 Switch on low conf
  local-running/core.local.params.yaml
Due: none

PYIC-8020: Update api-tests to include international address
  api-tests/features/audit-events.feature
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/cimit/enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/enhanced-verification-mitigation-f2f.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  api-tests/features/dl-auth-source-checks/dl-cri-dropout.feature
  api-tests/features/inherited-identity/extended-scenarios.feature
  api-tests/features/inherited-identity/inherited-identity.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-reprove-identity.feature
  api-tests/features/p2-reuse-journey.feature
  api-tests/features/p2-strategic-app.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/recovery-journeys.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/return-codes.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
  api-tests/features/ticf/failed-ticf-responses.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  api-tests/features/ticf/ticf-successful-responses.feature
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-7872: Refetching config per getParameter
  deploy/template.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/EnvironmentVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-7872: Remove experimental code
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  local-running/compose.yaml
Due: spotlessCheck

Revert "PYIC-7888 Detailed DT logging in build"
  deploy/template.yaml
Due: none

PYIC-7808: Remove sessionError exit event from strategic-app-triage as it always goes to TECHNICAL_ERROR
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-7808: Update new P2 journey
  journey-map/public/constants.mjs
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/NestedJourneyTypes.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-handle-result.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-7808: Update new P1 journey
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
Due: none

PYIC-7808: Update update name journey
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

wip
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

Revert "PYIC-7917: add available_authoritative_source fraudCheck type"
  api-tests/data/cri-stub-requests/fraud/kenneth-unavailable/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-unavailable/evidence.json
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  gradle/libs.versions.toml
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/CredentialTests.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/VotMatcherTest.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck, run-npm-lint

PYIC-8069: use app doc check nested journey for reverification
  api-tests/features/mfa-reset-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
Due: run-npm-lint

PYIC-8069: remove unused states
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
Due: none

PYIC-8069: fix failing api tests
  api-tests/data/audit-events/reverification-failed-journey.json
  api-tests/features/mfa-reset-journey.feature
Due: run-npm-lint

Revert "Revert "PYIC-7917: add available_authoritative_source fraudCheck type""
  api-tests/data/cri-stub-requests/fraud/kenneth-unavailable/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-unavailable/evidence.json
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  gradle/libs.versions.toml
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/CredentialTests.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/VotMatcherTest.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck, run-npm-lint

PYIC-7917: add fix to null pointer exception
  api-tests/src/steps/cri-steps.ts
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
Due: spotlessCheck, run-npm-lint

PYIC-7888 Disable snapstart for lambda in build to isolate segfaults
  deploy/template.yaml
Due: none

PYIC-7872: Add CustomAppConfigProvider
  deploy/template.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CustomAppConfigProvider.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
Due: spotlessCheck

PYIC-7872: Suppress CustomAppConfigProvider warnings, since the class is a temporary copy with one change
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CustomAppConfigProvider.java
Due: spotlessCheck

PYIC-7872: Exclude CustomAppConfigProvider class from sonarcloud consideration
  build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CustomAppConfigProvider.java
Due: spotlessCheck

PYIC-7872: Fix code smell
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
Due: spotlessCheck

BAU: update api tests for dropping out of dwp kbv
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-7872: Remove unneeded environment variable
  deploy/template.yaml
Due: none

BAU: Run all return code API tests on build now that the build return codes have been updated
  api-tests/features/return-codes.feature
Due: run-npm-lint

PYIC-7872: Remove unneeded dependency declarations and small refactors
  deploy/template.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CustomAppConfigProvider.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
Due: spotlessCheck

BAU: Fix up kbv entry state and rendering
  journey-map/public/helpers.mjs
  journey-map/public/render.mjs
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint-journey-map

BAU: Update unit test to catch this scenario
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/JourneyMapTest.java
Due: spotlessCheck

Revert "PYIC-7872: Add AppConfigService"
  build.gradle
  deploy/template.yaml
  gradle/libs.versions.toml
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CustomAppConfigProvider.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/EnvironmentVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

Revert "PYIC-7888 Disable snapstart for lambda in build to isolate segfaults"
  deploy/template.yaml
Due: none

PYIC-7872: Add temporary CreateApplication/... pipeline permissions
  deploy/template.yaml
Due: none

PYIC-8063: omit journey id if null or empty
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventUser.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/LogHelper.java
Due: spotlessCheck

PYIC-8032: Update core-back-internal to allow error codes return
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/ErrorStepResponse.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/StepResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/StepFunctionHelpers.java
  openAPI/core-back-internal.yaml
Due: spotlessCheck

PYIC-7917: temp disable pact tests for the M1C fraud check unavailable
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/CredentialTests.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
