Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-7470: Reduce GOAWAY limit
  lambdas/bulk-migrate-vcs/src/main/java/uk/gov/di/ipv/core/bulkmigratevcs/BulkMigrateVcsHandler.java
  lambdas/bulk-migrate-vcs/src/test/java/uk/gov/di/ipv/core/bulkmigratevcs/BulkMigrateVcsHandlerTest.java
Due: spotlessCheck

PYIC-6886 Configure X-Ray tracing for AWS SDKs
  lambdas/issue-client-access-token-v2/package-lock.json
  lambdas/issue-client-access-token-v2/package.json
  lambdas/issue-client-access-token-v2/src/services/auth-code-validator.ts
  lambdas/issue-client-access-token-v2/src/services/client-auth-assertion-service.ts
  lambdas/issue-client-access-token-v2/src/services/client-oauth-session-service.ts
  lambdas/issue-client-access-token-v2/src/services/config-service.ts
  lambdas/issue-client-access-token-v2/src/services/ipv-session-service.ts
Due: none

PYIC-6886 retry helper
  lambdas/issue-client-access-token-v2/src/helpers/retry-helper.ts
  lambdas/issue-client-access-token-v2/src/services/ipv-session-service.ts
Due: none

PYIC-7345: Add reprove F2F test
  api-tests/features/p2-reprove-identity.feature
Due: run-npm-lint

IPS-954 Perf Test Environment Changes
  deploy/template.yaml
Due: none

Updated deploynent - added dynatrace integration and caching for params.
  deploy/template.yaml
Due: none

WIP: node token lambda
  lambdas/issue-client-access-token-v2/package-lock.json
  lambdas/issue-client-access-token-v2/package.json
  lambdas/issue-client-access-token-v2/src/helpers/hash-helper.ts
  lambdas/issue-client-access-token-v2/src/index.ts
  lambdas/issue-client-access-token-v2/src/services/access-token-service.ts
  lambdas/issue-client-access-token-v2/src/services/auth-code-validator.ts
  lambdas/issue-client-access-token-v2/src/services/ipv-session-service.ts
  lambdas/issue-client-access-token-v2/src/services/token-request-validator.ts
Due: none

PYIC-6886 Add OAuth error handling
  lambdas/issue-client-access-token-v2/src/errors/oauth-error.ts
  lambdas/issue-client-access-token-v2/src/helpers/logger.ts
  lambdas/issue-client-access-token-v2/src/index.ts
  lambdas/issue-client-access-token-v2/src/services/auth-code-validator.ts
  lambdas/issue-client-access-token-v2/src/services/ipv-session-service.ts
  lambdas/issue-client-access-token-v2/src/services/token-request-validator.ts
Due: none

PYIC-6886 Working poc
  deploy/template.yaml
  lambdas/issue-client-access-token-v2/package-lock.json
  lambdas/issue-client-access-token-v2/package.json
  lambdas/issue-client-access-token-v2/src/helpers/logger.ts
  lambdas/issue-client-access-token-v2/src/index.ts
  lambdas/issue-client-access-token-v2/src/services/access-token-service.ts
  lambdas/issue-client-access-token-v2/src/services/auth-code-validator.ts
  lambdas/issue-client-access-token-v2/src/services/client-auth-assertion-service.ts
  lambdas/issue-client-access-token-v2/src/services/config-service.ts
  lambdas/issue-client-access-token-v2/src/services/ipv-session-service.ts
  lambdas/issue-client-access-token-v2/src/services/token-request-validator.ts
Due: none

PYIC-6886 More tidy up
  lambdas/issue-client-access-token-v2/src/helpers/logger.ts
  lambdas/issue-client-access-token-v2/src/helpers/response-helper.ts
  lambdas/issue-client-access-token-v2/src/index.ts
  lambdas/issue-client-access-token-v2/src/services/auth-code-validator.ts
  lambdas/issue-client-access-token-v2/src/services/client-auth-assertion-service.ts
  lambdas/issue-client-access-token-v2/src/services/client-oauth-session-service.ts
  lambdas/issue-client-access-token-v2/src/services/ipv-session-service.ts
  lambdas/issue-client-access-token-v2/src/services/token-request-validator.ts
Due: none

PYIC-7470: Log remaining lambda time
  lambdas/bulk-migrate-vcs/src/main/java/uk/gov/di/ipv/core/bulkmigratevcs/BulkMigrateVcsHandler.java
Due: spotlessCheck

PYIC-7322: add kbv drop out api tests
  api-tests/data/cri-stub-requests/kbv/kenneth-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/kbv/kenneth-score-0/evidence.json
  api-tests/features/p2-web-journey.feature
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-7470: Increase bulk migration lambda timeout to 900
  deploy/template.yaml
Due: none

PYIC-6886 use node lambda layer
  deploy/template.yaml
Due: none

PYIC-7322: review markups
  api-tests/data/cri-stub-requests/kbv/kenneth-thin-file/credentialSubject.json
  api-tests/data/cri-stub-requests/kbv/kenneth-thin-file/evidence.json
  api-tests/features/p2-web-journey.feature
  api-tests/features/return-codes.feature
Due: run-npm-lint

PYIC-7470: Wrap EVCS metadata
  lambdas/bulk-migrate-vcs/src/main/java/uk/gov/di/ipv/core/bulkmigratevcs/BulkMigrateVcsHandler.java
  lambdas/bulk-migrate-vcs/src/main/java/uk/gov/di/ipv/core/bulkmigratevcs/domain/EvcsMetadata.java
  lambdas/bulk-migrate-vcs/src/main/java/uk/gov/di/ipv/core/bulkmigratevcs/domain/metadata/MigrationMetadata.java
  lambdas/bulk-migrate-vcs/src/main/java/uk/gov/di/ipv/core/bulkmigratevcs/domain/metadata/MigrationMetadataBatchDetails.java
  lambdas/bulk-migrate-vcs/src/test/java/uk/gov/di/ipv/core/bulkmigratevcs/BulkMigrateVcsHandlerTest.java
Due: spotlessCheck

PYIC-7317: Add P1 API tests
  api-tests/data/cri-stub-requests/kbv/kenneth-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/kbv/kenneth-score-0/evidence.json
  api-tests/features/p1-journeys.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-7322: remove <> from step regex
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-7317: Review fixes
  api-tests/features/p1-journeys.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-7347: add test for invalid redirect url
  api-tests/features/unhappy-paths.feature
  api-tests/src/clients/core-back-internal-client.ts
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/types/errors.ts
  api-tests/src/types/world.ts
  api-tests/src/utils/jar-generator.ts
  api-tests/src/utils/request-body-generators.ts
Due: run-npm-lint

PYIC-7347: add Invalid inherited identity scenario
  api-tests/features/unhappy-paths.feature
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/utils/ipv-session.ts
  api-tests/src/utils/jar-generator.ts
  api-tests/src/utils/request-body-generators.ts
Due: run-npm-lint

PYIC-7347: add remaining misc failed scenarios
  api-tests/data/cri-stub-requests/dcmaw/kenneth-passport-fail-no-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-passport-fail-no-ci/evidence.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-passport-invalid/evidence.json
  api-tests/data/jar-requests/medium-confidence-with-invalid-audience.json
  api-tests/features/inherited-identity/inherited-identity.feature
  api-tests/features/orchestration-errors.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/utils/jwt-signer.ts
Due: run-npm-lint

PYIC-7347: review markups
  api-tests/data/jar-requests/medium-confidence-invalid-redirect-uri.json
  api-tests/features/inherited-identity/inherited-identity.feature
  api-tests/features/orchestration-errors.feature
  api-tests/features/p2-web-journey.feature
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/utils/ipv-session.ts
  api-tests/src/utils/jar-generator.ts
  api-tests/src/utils/request-body-generators.ts
Due: run-npm-lint

PYIC-7347: self-review
  api-tests/data/cri-stub-requests/dcmaw/kenneth-passport-with-breaching-ci/evidence.json
  api-tests/features/orchestration-errors.feature
  api-tests/src/clients/core-back-internal-client.ts
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/utils/jar-generator.ts
Due: run-npm-lint

PYIC-7347: fix merge conflicts
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-7491: add drivingLicenceAuthCheck to local-running
  local-running/core.local.params.yaml
Due: none

BAU: Always compare page contexts in API tests
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/inherited-identity/extended-scenarios.feature
  api-tests/features/p1-journeys.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p2-coi-delete-identity.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-strategic-app.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

BAU: Avoid logging subject identifier in validation failure
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/validator/VerifiableCredentialValidator.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/validator/VerifiableCredentialValidatorTest.java
Due: spotlessCheck

PYIC-7474: WIP initialise nested journeys from folder containing separated files
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializer.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/address-and-fraud.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: spotlessCheck

BAU Temporarily log DWP KBV VC token for integration debugging
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
Due: spotlessCheck

BAU Avoid calling TICF twice and simplify
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/evaluate-scores.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
Due: none

PYIC-7474: use enum to define all nested journeys
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializer.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journey-definitions.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/NestedJourneyTypes.java
Due: spotlessCheck

PYIC-7459: add first 3 recovery joruney api tests
  api-tests/features/recovery-journeys.feature
  api-tests/src/clients/core-back-internal-client.ts
  api-tests/src/clients/cri-stub-client.ts
  api-tests/src/steps/cri-steps.ts
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/types/internal-api.ts
Due: run-npm-lint

PYIC-7459: add test for cri callback for wrong cri
  api-tests/features/recovery-journeys.feature
  api-tests/src/clients/core-back-internal-client.ts
  api-tests/src/steps/cri-steps.ts
  api-tests/src/types/world.ts
Due: run-npm-lint

PYIC-7459: review markups
  api-tests/features/recovery-journeys.feature
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-7459: fix test for missing session id
  api-tests/features/recovery-journeys.feature
  api-tests/src/clients/core-back-internal-client.ts
  api-tests/src/clients/cri-stub-client.ts
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

This is the commit message #2:
  api-tests/features/recovery-journeys.feature
  api-tests/src/steps/cri-steps.ts
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/types/world.ts
Due: run-npm-lint

PYIC-7498: Add happy path HMRC KBVs journeys API tests
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint
