Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

chore: Fix links to jobs and steps
  quality-gate.manifest.json
Due: none

feat: Restructure to use new check object structure
  quality-gate.manifest.json
Due: none

feat: Flatten file and path from config
  quality-gate.manifest.json
Due: none

feat: Update manifest files to use scopes and purpose
  quality-gate.manifest.json
Due: none

chore: Update manifest schema version for v.0.19.0
  quality-gate.manifest.json
Due: none

chore: Update manifest schema version for v.0.18.0
  quality-gate.manifest.json
Due: none

BAU Clear CRI OAuth session to try and reduce duplicate CRI token requests
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
Due: spotlessCheck

PYIC-9125: Comment out API test step.
  api-tests/features/fraud-mitigation/6mfc-fraud-mitigation.feature
  api-tests/features/fraud-mitigation/coi-fraud-mitigation.feature
Due: run-npm-lint

PYIC-9215: update NINO drop out flow
  api-tests/features/p2-no-photo-id.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-9215: Update open banking post office drop out routing
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/return-codes.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-9215: Add open banking routing for auth source check failure
  api-tests/features/dl-auth-source-checks/p2-dl-auth-source-check.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-9263: Remove previous session VCs fetching feature.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-9263: Add separate session routes for Fraud CI mitigation.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9263: Add separate session API tests for Fraud CI mitigation.
  api-tests/features/app-cross-browser/p2-cross-browser.feature
Due: run-npm-lint

PYIC-9263: Add P1 cross-browser routes and api tests for Fraud mitigation journeys.
  api-tests/features/app-cross-browser/p1-cross-browser.feature
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
Due: run-npm-lint

PYIC-9263: Add API test for two mitigation journeys - result in failed to prove identity scenario.
  api-tests/features/fraud-mitigation/p2-mitigation.feature
Due: run-npm-lint

PYIC-9263: Add reuse journey - Fraud mitigation cross-browser scenario API test.
  api-tests/features/app-cross-browser/p2-cross-browser.feature
Due: run-npm-lint

Setting Dynatrace to be disabled due to third party incident
  deploy/template.yaml
Due: none

[skip canary] allow skip canary
  deploy/template.yaml
Due: none

INC0020182 Only use DT in dev-perf env for now
  deploy/template.yaml
Due: none

BAU: Update pre-commit and gradle-wrapper
  .pre-commit-config.yaml
  gradle/wrapper/gradle-wrapper.properties
Due: none

PYIC-9241: Remove reproveViaAppOnlyEnabled feature flag
  api-tests/features/account-intervention/reprove-identity.feature
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck, run-npm-lint

PYIC-9241: Fix test names and remove duplicated block
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-9263: Use open banking route in P2 cross-browser liveness-likeness scenarios.
  api-tests/features/app-cross-browser/p2-cross-browser.feature
Due: run-npm-lint

Clean EVCS_API_UPDATES feature flag.
  api-tests/README.md
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  lambdas/reset-identity/src/main/java/uk/gov/di/ipv/core/resetidentity/ResetIdentityHandler.java
  lambdas/reset-identity/src/test/java/uk/gov/di/ipv/core/resetidentity/ResetIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
  local-running/core.local.params.yaml
Due: spotlessCheck, run-npm-lint

PYIC-9011: Remove left over comment.
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8990: Bump Mockito dependency to 5.23.0
  gradle/libs.versions.toml
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionGpg45ProfileMatchedTest.java
Due: spotlessCheck

PYIC-9248: Use new page variant for open banking
  api-tests/features/p2-no-photo-id.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/AbstractPageContextValidator.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/PageContextValidator.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: spotlessCheck, run-npm-lint

PYIC-9151: Use new page variant for DWP dropout
  api-tests/features/audit-events.feature
  api-tests/features/dwp-kbv/p1-web-journey.feature
  api-tests/features/dwp-kbv/p2-web-journey.feature
  api-tests/features/p1-no-photo-id.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/AbstractPageContextValidator.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/PageContextValidator.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
Due: spotlessCheck, run-npm-lint

PYIC-9151: Also use new content for thin file users
  api-tests/features/dwp-kbv/p1-alternate-doc-mitigation.feature
  api-tests/features/dwp-kbv/p1-web-journey.feature
  api-tests/features/dwp-kbv/p2-alternate-doc-mitigation.feature
  api-tests/features/dwp-kbv/p2-web-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
Due: run-npm-lint

PYIC-9236: Bump Pact and awsSdk dependencies
  gradle/libs.versions.toml
Due: none

Bump @types/node from 26.4.0 to 26.5.1
  api-tests/package-lock.json
  api-tests/package.json
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint, run-npm-lint-journey-map

Bump typescript-eslint from 8.68.0 to 8.70.0
  api-tests/package-lock.json
  api-tests/package.json
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint, run-npm-lint-journey-map

Bump globals from 17.11.0 to 17.12.0
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint-journey-map

Bump vitest from 4.1.5 to 5.0.0
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint-journey-map

PYIC-9108: Add IPV_MITIGATION_START audit event to liveness-likeness journeys.
  api-tests/data/audit-events/new-identity-p2-fraud-mitigation.json
  api-tests/features/audit-events.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-details-higher-strength.yaml
Due: run-npm-lint

PYIC-9108: Add reuse journey - fraud mitigation audit event test.
  api-tests/data/audit-events/reuse-journey-fraud-mitigation.json
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-9227: Add correlation failure extensions to IPV_F2F_CORRELATION_FAIL event
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionF2fCorrelationFail.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-9151: Update routing
  api-tests/features/dwp-kbv/p2-web-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
Due: run-npm-lint

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
