Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-7808: Update new P2 journey
  journey-map/public/constants.mjs
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/NestedJourneyTypes.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-handle-result.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-7808: Remove sessionError exit event from strategic-app-triage as it always goes to TECHNICAL_ERROR
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-7808: Update new P1 journey
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
Due: none

PYIC-7808: Clarify which DCMAW CRI is being used
  api-tests/features/audit-events.feature
  api-tests/features/p2-strategic-app.feature
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-7808: Update update name journey
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-7808: Make it easier to run API tests against dev envs
  .gitignore
  api-tests/.env.dev.template
  api-tests/README.md
Due: run-npm-lint

PYIC-7808: Fix up existing tests
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  api-tests/features/p2-f2f-journey.feature
Due: run-npm-lint

PYIC-7808: Fix CriCheckingService to work with DCMAW Async, add new tests and fix existing tests
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/service/CriResponseServiceTest.java
Due: spotlessCheck

PYIC-7808: Update CriResponseService to simplify testing
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
Due: spotlessCheck

PYIC-7808: Fix exception message
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/ExitNestedJourneyEvent.java
Due: spotlessCheck

PYIC-7808: Add tests for details change routes
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-changed-family-name-driving-permit-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-changed-family-name-driving-permit-valid/evidence.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-changed-given-name-driving-permit-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-changed-given-name-driving-permit-valid/evidence.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-driving-permit-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-driving-permit-valid/evidence.json
  api-tests/features/reuse-update-details/p2-reuse-update-details-strategic-app-dl-auth-source-check.feature
  api-tests/src/clients/dcmaw-async-cri-stub-client.ts
  api-tests/src/hooks.ts
  api-tests/src/steps/cri-steps.ts
  api-tests/src/types/cri-stub.ts
  api-tests/src/utils/request-body-generators.ts
Due: run-npm-lint

PYIC-8097 Add CloudFormation and Dockerfile for journey map
  .gitignore
  journey-map.Dockerfile
  journey-map/core-back
  journey-map/deploy/template.yaml
  journey-map/eslint.config.mjs
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/server.js
  journey-map/src/server.ts
  journey-map/tsconfig.json
Due: run-npm-lint-journey-map

PYIC-8032: Enable Error responses from ProcessJourneyEventHandler
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/StepFunctionHelpers.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/StepFunctionHelpersTest.java
  openAPI/core-back-internal.yaml
Due: spotlessCheck

PYIC-7808: Add API tests for new P2 identity with strategic app and DL auth source check
  api-tests/features/p2-strategic-app-dl-auth-source-check.feature
Due: run-npm-lint

PYIC-7808: Remove test that is entirely covered by another test. Add some extra steps to cover retry
  api-tests/features/p2-strategic-app.feature
Due: run-npm-lint

PYIC-7808: Fix dcmaw async cri stub URL
  api-tests/src/clients/dcmaw-async-cri-stub-client.ts
Due: run-npm-lint

PYIC-7808: Improve error logging in BeforeAll blocks
  api-tests/src/clients/core-back-external-client.ts
  api-tests/src/utils/jar-generator.ts
Due: run-npm-lint

PYIC-7808: Tidy code
  api-tests/src/steps/cri-steps.ts
  api-tests/src/types/cri-stub.ts
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/ExitNestedJourneyEvent.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
Due: spotlessCheck, run-npm-lint

PYIC-7808: Run prettier
  api-tests/src/clients/core-back-external-client.ts
  api-tests/src/clients/dcmaw-async-cri-stub-client.ts
  api-tests/src/hooks.ts
  api-tests/src/steps/cri-steps.ts
  api-tests/src/types/cri-stub.ts
  api-tests/src/utils/jar-generator.ts
  api-tests/src/utils/request-body-generators.ts
Due: run-npm-lint

PYIC-7808: Fix journey map issues
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
Due: none

PYIC-7808: Fix test polling
  api-tests/src/clients/core-back-internal-client.ts
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-8032: Fix API tests
  api-tests/features/audit-events.feature
  api-tests/features/p2-strategic-app.feature
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/types/internal-api.ts
Due: run-npm-lint

PYIC-8097 Add CloudFormation and Dockerfile for journey map
  .gitignore
  journey-map.Dockerfile
  journey-map/deploy/template.yaml
  journey-map/eslint.config.mjs
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/server.js
  journey-map/src/server.ts
  journey-map/tsconfig.json
Due: run-npm-lint-journey-map

Revert "Revert "PYIC-7872: Add AppConfigService""
  build.gradle
  deploy/template.yaml
  gradle/libs.versions.toml
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CustomAppConfigProvider.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/EnvironmentVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

Revert "PYIC-7872: Add AppConfigService"
  build.gradle
  deploy/template.yaml
  gradle/libs.versions.toml
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CustomAppConfigProvider.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/EnvironmentVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-8013: add missing logs for journey id and ipv session id
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/user-reverification/src/main/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandler.java
Due: spotlessCheck

PYIC-8032: Use returned statusCode to override API Gateway response status code
  api-tests/features/audit-events.feature
  api-tests/features/p2-strategic-app.feature
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/types/internal-api.ts
  openAPI/core-back-internal.yaml
Due: run-npm-lint

Revert "PYIC-8032: Update core-back-internal to allow error codes return"
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/types/internal-api.ts
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/StepFunctionHelpers.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/StepFunctionHelpersTest.java
  openAPI/core-back-internal.yaml
Due: spotlessCheck, run-npm-lint

PYIC-6402: Add skipBack property to page state
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachine.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/PageStepResponse.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/test/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/states/BasicStateTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/PageStepResponseTest.java
Due: spotlessCheck

PYIC-6402: Update back event handler
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/resources/statemachine/test/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/test/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializerTest.java
Due: spotlessCheck

PYIC-6402: Pull skipBack from pageStepResponse
  api-tests/features/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachine.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/PageStepResponseTest.java
Due: spotlessCheck, run-npm-lint

PYIC-6402: Remove null check
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
Due: spotlessCheck

PYIC-8032-fix: Only override status code if error response
  openAPI/core-back-internal.yaml
Due: none

PYIC-8032-fix: Remove redundant code
  openAPI/core-back-internal.yaml
Due: none

PYIC-8067: Update reverification journey for strategic app DL auth check
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
Due: none

BAU: Remove dependency on Apache HTTP via powertools tracing
  lambdas/build-client-oauth-response/src/main/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandler.java
  lambdas/build-client-oauth-response/src/test/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandlerTest.java
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
  lambdas/build-proven-user-identity-details/src/main/java/uk/gov/di/ipv/core/buildprovenuseridentitydetails/BuildProvenUserIdentityDetailsHandler.java
  lambdas/build-proven-user-identity-details/src/test/java/uk/gov/di/ipv/core/buildprovenuseridentitydetails/BuildProvenUserIdentityDetailsHandlerTest.java
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandler.java
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriService.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandlerTest.java
  lambdas/call-ticf-cri/src/main/java/uk/gov/di/ipv/core/callticfcri/CallTicfCriHandler.java
  lambdas/call-ticf-cri/src/test/java/uk/gov/di/ipv/core/callticfcri/CallTicfCriHandlerTest.java
  lambdas/check-coi/src/main/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandler.java
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-gpg45-score/src/main/java/uk/gov/di/ipv/core/checkgpg45score/CheckGpg45ScoreHandler.java
  lambdas/check-gpg45-score/src/test/java/uk/gov/di/ipv/core/checkgpg45score/CheckGpg45ScoreHandlerTest.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/IssueClientAccessTokenHandler.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/IssueClientAccessTokenHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/reset-session-identity/src/test/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandlerTest.java
  lambdas/store-identity/src/main/java/uk/gov/di/ipv/core/storeidentity/StoreIdentityHandler.java
  lambdas/store-identity/src/test/java/uk/gov/di/ipv/core/storeidentity/StoreIdentityHandlerTest.java
  libs/cimit-service/src/test/java/uk/gov/di/ipv/core/library/service/CimitServiceTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/client/EvcsClientTest.java
  libs/ticf-cri-service/src/test/java/uk/gov/di/ipv/core/library/ticf/TicfCriServiceTest.java
Due: spotlessCheck

BAU: Introduce explicit dependency on Apache HTTP Core where required
  gradle/libs.versions.toml
  lambdas/build-client-oauth-response/build.gradle
  lambdas/build-client-oauth-response/src/main/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandler.java
  lambdas/build-client-oauth-response/src/test/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandlerTest.java
  lambdas/build-cri-oauth-request/build.gradle
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
  lambdas/call-ticf-cri/src/main/java/uk/gov/di/ipv/core/callticfcri/CallTicfCriHandler.java
  lambdas/process-journey-event/build.gradle
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/CriStepResponse.java
  libs/cimit-service/build.gradle
  libs/cimit-service/src/main/java/uk/gov/di/ipv/core/library/service/CimitService.java
  libs/evcs-service/build.gradle
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/client/EvcsClient.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/client/EvcsClientTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/pact/ContractTest.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
