Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

Dev-sre
  .github/workflows/secure-pipeline-api-tests-image.yml
  .github/workflows/sre-secure-pipeline-api-tests-image.yml
  .github/workflows/sre-secure-post-merge-dev.yml
  .gitignore
  api-tests/.env.dev-sre
  api-tests/secure-pipeline/api-tests.Dockerfile
  api-tests/secure-pipeline/run-tests.sh
Due: run-npm-lint

Rebase
  .github/workflows/sre-secure-post-merge.yml
  api-tests/secure-pipeline/api-tests.Dockerfile
  api-tests/secure-pipeline/run-tests.sh
Due: run-npm-lint

IPS-1185 lambda canary 50percent5minutes added
  deploy/template.yaml
Due: none

PYIC-7888 Temporarily disable DT for one lambda in build
  deploy/template.yaml
Due: none

PYIC-7746: Include log4j context in metric
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/EmbeddedMetricHelper.java
Due: spotlessCheck

PYIC-7453: Move start int address audit event to when app option continued with.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-7650: Fix readme instructions for running single API test
  api-tests/README.md
Due: run-npm-lint

PYIC-7650: Fix DCMAW passport validity and strength scores
  api-tests/data/cri-stub-requests/dcmaw/alice-passport-valid/evidence.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-changed-family-name-passport-valid/evidence.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-changed-given-name-passport-valid/evidence.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-passport-valid/evidence.json
  api-tests/data/cri-stub-requests/dcmaw/kenneth-passport-verification-zero/evidence.json
Due: run-npm-lint

PYIC-7650: Update journey maps to sometimes treat a fraud fail-with-no-ci event differently
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/address-and-fraud.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-7650: Allow matching of M1C
  api-tests/data/cri-stub-requests/fraud/kenneth-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-score-0/evidence.json
  api-tests/features/p2-international-journey.feature
  api-tests/package-lock.json
  api-tests/package.json
  gradle/libs.versions.toml
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/pact/BuildUserIdentityHandlerTest.java
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/Vot.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/gpg45-evaluator/src/test/java/uk/gov/di/ipv/core/library/gpg45/Gpg45ProfileEvaluatorTest.java
Due: spotlessCheck, run-npm-lint

PYIC-7650: Fix test data
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

PYIC-7650: Add github token to API test step
  .github/workflows/pre-merge-checks.yml
Due: none

PYIC-7650: Fix API tests for international address identity update journeys
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-family-name-and-address-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-family-name-and-address-score-0/evidence.json
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-given-name-and-address-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-given-name-and-address-score-0/evidence.json
  api-tests/features/reuse-update-details/p2-reuse-update-details-international.feature
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/VotMatcher.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck, run-npm-lint

PYIC-7646: Implement fraud check unavailable return code
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/VotMatcher.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-7650: Fix tests
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
Due: spotlessCheck

PYIC-7650: Add VotMatcher test
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/VotMatcherTest.java
Due: spotlessCheck

PYIC-7646: Fix tests after merge
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/VotMatcherTest.java
Due: spotlessCheck

PYIC-7650 Rename test evidence for clarity
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-family-name-and-address-no-applicable/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-family-name-and-address-no-applicable/evidence.json
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-given-name-and-address-no-applicable/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-given-name-and-address-no-applicable/evidence.json
  api-tests/data/cri-stub-requests/fraud/kenneth-no-applicable/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-no-applicable/evidence.json
  api-tests/features/p2-international-journey.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-international.feature
Due: run-npm-lint

PYIC-7650 Refactor isFraudCheckUnavailable
  api-tests/package-lock.json
  api-tests/package.json
  gradle/libs.versions.toml
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/Vot.java
  libs/gpg45-evaluator/src/test/java/uk/gov/di/ipv/core/library/gpg45/Gpg45ProfileEvaluatorTest.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/VotMatcher.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/VotMatcherTest.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
Due: spotlessCheck, run-npm-lint

PYIC-7650 Clarify unavailable to not applicable
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
Due: spotlessCheck

PYIC-7650 Allow fraud check to fail where the user can still proceed
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
Due: none

PYIC-7650 Move fraud availability check entirely into VcHelper
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/VotMatcher.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/VotMatcherTest.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-7650 fix bracketing
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
Due: spotlessCheck

PYIC-7650 Some review markups
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/Vot.java
  libs/gpg45-evaluator/src/test/java/uk/gov/di/ipv/core/library/gpg45/Gpg45ProfileEvaluatorTest.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/VotMatcher.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/VotMatcherTest.java
Due: spotlessCheck

PYIC-7797: review markups
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg45ScoresService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/UnknownProcessIdentityTypeException.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/RequestHelper.java
  libs/cri-storing-service/src/main/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringService.java
Due: spotlessCheck

PYIC-7797: consolidate ipvSessionService.updateIpvSession
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
Due: spotlessCheck

IPS-1291 testing api added to 5xx canary alarms
  deploy/template.yaml
Due: none

Revert spotlessCheck omission from pre-commit config
  .pre-commit-config.yaml
Due: none

PYIC-7650: Review markups: - Rename isFraudCheckUnavailable tests - Fix shouldNotMatchM1cIfFraudCheckAvailable test
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/VotMatcherTest.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-7797: move ticf cri service into library.
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/ticf-cri-service/build.gradle
  libs/ticf-cri-service/src/main/java/uk/gov/di/ipv/core/library/ticfcriservice/TicfCriService.java
  libs/ticf-cri-service/src/main/java/uk/gov/di/ipv/core/library/ticfcriservice/dto/TicfCriDto.java
  libs/ticf-cri-service/src/main/java/uk/gov/di/ipv/core/library/ticfcriservice/exception/TicfCriHttpResponseException.java
  libs/ticf-cri-service/src/main/java/uk/gov/di/ipv/core/library/ticfcriservice/exception/TicfCriServiceException.java
  libs/ticf-cri-service/src/test/java/uk/gov/di/ipv/core/library/ticfcriservice/TicfCriServiceTest.java
  local-running/build.gradle
  settings.gradle
Due: spotlessCheck

PYIC-7797: add CandidateIdentityType.UPDATE
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/CandidateIdentityType.java
Due: spotlessCheck

PYIC-7532: Use journeyContext to determine internationalAddress user
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-7650: Fix API test to run on build and add separate return code test
  api-tests/features/p2-international-journey.feature
  api-tests/features/return-codes.feature
Due: run-npm-lint

PYIC-7797: reuse ticf cri service in call-ticf-cri lambda
  lambdas/call-ticf-cri/build.gradle
  lambdas/call-ticf-cri/src/main/java/uk/gov/di/ipv/core/callticfcri/CallTicfCriHandler.java
  lambdas/call-ticf-cri/src/main/java/uk/gov/di/ipv/core/callticfcri/dto/TicfCriDto.java
  lambdas/call-ticf-cri/src/main/java/uk/gov/di/ipv/core/callticfcri/exception/TicfCriHttpResponseException.java
  lambdas/call-ticf-cri/src/main/java/uk/gov/di/ipv/core/callticfcri/exception/TicfCriServiceException.java
  lambdas/call-ticf-cri/src/main/java/uk/gov/di/ipv/core/callticfcri/service/TicfCriService.java
  lambdas/call-ticf-cri/src/test/java/uk/gov/di/ipv/core/callticfcri/CallTicfCriHandlerTest.java
  lambdas/call-ticf-cri/src/test/java/uk/gov/di/ipv/core/callticfcri/service/TicfCriServiceTest.java
  libs/cri-storing-service/src/main/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringService.java
  libs/ticf-cri-service/build.gradle
  libs/ticf-cri-service/src/test/java/uk/gov/di/ipv/core/library/ticfcriservice/pact/ticfCri/ContractTest.java
Due: spotlessCheck

BAU: Increase mermaid max text size
  journey-map/public/index.mjs
Due: run-npm-lint-journey-map

workflow
  .github/workflows/sre-secure-post-merge-dev.yaml
Due: none

PYIC-7797: use VotMatcher for EvaluateGpg45ScoresService
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg45ScoresService.java
Due: spotlessCheck

BAU: Add fail-with-no-ci option to FRAUD_CHECK_NAMES_ONLY
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-7446: Set AWS_EMF_ENVIRONMENT in local
  local-running/build.gradle
  local-running/compose.yaml
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
