Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-7797: pass device information into lambda + fix logging
  deploy/journeyEngineStepFunction.asl.json
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
Due: spotlessCheck

PYIC-7797: turn on lambda for local-running
  local-running/core.local.params.yaml
Due: none

PYIC-7987: Make driving licence comparison case insensitive
  api-tests/data/cri-stub-requests/drivingLicence/kenneth-driving-permit-valid-lower-case-number/credentialSubject.json
  api-tests/data/cri-stub-requests/drivingLicence/kenneth-driving-permit-valid-lower-case-number/evidence.json
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
Due: spotlessCheck, run-npm-lint

PYIC-7987: Run spotless
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
Due: spotlessCheck

BAU: add additional check for null credentials
  libs/ticf-cri-service/src/main/java/uk/gov/di/ipv/core/library/ticf/TicfCriService.java
Due: spotlessCheck

BAU: add extra unit test
  libs/ticf-cri-service/src/test/java/uk/gov/di/ipv/core/library/ticf/TicfCriServiceTest.java
Due: spotlessCheck

BAU: is CollectionUtils.isEmpty instead
  libs/ticf-cri-service/src/main/java/uk/gov/di/ipv/core/library/ticf/TicfCriService.java
Due: spotlessCheck

PYIC-7872: Add AppConfigService: - Extending new, abstract YamlParametersConfigService - Using AppConfigProvider powertool
  deploy/template.yaml
  gradle/libs.versions.toml
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/EnvironmentVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
  local-running/compose.yaml
Due: spotlessCheck

PYIC-7917: add available_authoritative_source fraudCheck type
  gradle/libs.versions.toml
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/VotMatcherTest.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-7917: add api tests
  api-tests/data/cri-stub-requests/fraud/kenneth-unavailable/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-unavailable/evidence.json
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
Due: run-npm-lint

PYIC-7917: add contract tests
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/CredentialTests.java
Due: spotlessCheck

PYIC-7872: Specify resources instead of relying on wildcard
  deploy/template.yaml
Due: none

PYIC-7981: store cimit VC in session
  lambdas/call-ticf-cri/src/main/java/uk/gov/di/ipv/core/callticfcri/CallTicfCriHandler.java
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  libs/cimit-service/src/main/java/uk/gov/di/ipv/core/library/service/CimitService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck

PYIC-7917: refactor vchelper to use common check for fraud type
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
Due: spotlessCheck

PYIC-7981: add unit tests
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandlerTest.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/pact/BuildUserIdentityHandlerTest.java
  libs/cimit-service/src/main/java/uk/gov/di/ipv/core/library/service/CimitService.java
  libs/cimit-service/src/test/java/uk/gov/di/ipv/core/library/service/CimitServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/TestFixtures.java
Due: spotlessCheck

PYIC-7981: fix failing unit tests
  lambdas/call-ticf-cri/src/test/java/uk/gov/di/ipv/core/callticfcri/CallTicfCriHandlerTest.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
  libs/cimit-service/src/test/java/uk/gov/di/ipv/core/library/service/CimitServiceTest.java
Due: spotlessCheck

PYIC-7981: rename test fixture
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandlerTest.java
  libs/cimit-service/src/test/java/uk/gov/di/ipv/core/library/service/CimitServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/TestFixtures.java
Due: spotlessCheck

PYIC-7872: Add AppConfigServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-7872: Move pragma allowlist outside of JSON
  deploy/template.yaml
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-7872: Remove expiermental template code
  deploy/template.yaml
Due: none

Revert "BAU: Bump the aws group across 1 directory with 8 updates"
  lambdas/delete-user-data/package-lock.json
  lambdas/delete-user-data/package.json
Due: none

PYIC-7872: Add getEnvironmentVariable with default tests
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-7872: Refactor and add @ExcludeFromGeneratedCoverageReport to AppConfigService constructors
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-7984: use in session security credential in ProcessCandidateIdentityHandler
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
Due: spotlessCheck

PYIC-7872: Refactor AppConfig Lambda policies into lambdas as roles override other policies
  deploy/template.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/EnvironmentVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7872: Fix sonarcloud issues
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
Due: spotlessCheck

PYIC-7984: add new overloaded function in cimit service + update ProcessCandidateIdentityHandler
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/cimit-service/src/main/java/uk/gov/di/ipv/core/library/service/CimitService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/TestFixtures.java
Due: spotlessCheck

PYIC-7872: Remove maxAge on AppConfigProvider since it is used only once
  deploy/template.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/EnvironmentVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7984: update BuildUserIdentityHandler + tests
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandlerTest.java
Due: spotlessCheck

BAU: enable write to sessions table for CheckMobileAppReceipt lambda
  deploy/template.yaml
Due: none

PYIC-7984: update/add more unit tests for ProcessCandidateIdentityHandler
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7984: don't use in-session cimit vc for ticf call
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7984: add new unit tests for CimitServiceTest.getContraIndicatorsFromVc
  libs/cimit-service/src/test/java/uk/gov/di/ipv/core/library/service/CimitServiceTest.java
Due: spotlessCheck

PYIC-7984: fix sonar
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-7917: refactor vc helper, rename function
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
Due: spotlessCheck

PYIC-7872: Hardcode CONFIG_SOURCE to ssm
  deploy/template.yaml
Due: none

PYIC-8020: Update api-tests to include international address
  api-tests/features/audit-events.feature
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/cimit/enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/enhanced-verification-mitigation-f2f.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  api-tests/features/dl-auth-source-checks/dl-cri-dropout.feature
  api-tests/features/inherited-identity/extended-scenarios.feature
  api-tests/features/inherited-identity/inherited-identity.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-reprove-identity.feature
  api-tests/features/p2-reuse-journey.feature
  api-tests/features/p2-strategic-app.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/recovery-journeys.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/return-codes.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
  api-tests/features/ticf/failed-ticf-responses.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  api-tests/features/ticf/ticf-successful-responses.feature
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-7735: send audit event IPV_MITIGATION_START for invalid dl
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/app-doc-check.yaml
Due: none

PYIC-8023: send audit event IPV_MITIGATION_START for invalid dl
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/app-doc-check.yaml
Due: none

PYIC-7984: pass in hard-coded cimit cri enum value
  libs/cimit-service/src/main/java/uk/gov/di/ipv/core/library/service/CimitService.java
Due: spotlessCheck
