Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

Revert "BAU: Bump pact from 4.6.20 to 4.7.1"
  gradle/libs.versions.toml
Due: none

PYIC-9087: Remove unused routes.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9094: Remove pending f2f delete code
  api-tests/data/audit-events/delete-pending-f2f-journey.json
  api-tests/features/audit-events.feature
  api-tests/features/p2-delete-pending-f2f.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/PageContextValidator.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-pending.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck, run-npm-lint

PYIC-9116: Bump aws-actions/setup-sam from 2 to 3
  .github/workflows/automated-tests.yaml
  .github/workflows/secure-post-merge.yml
  .github/workflows/validate-template.yml
Due: none

PYIC-9116: Bump globals from 17.5.0 to 17.6.0 in /journey-map
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint-journey-map

PYIC-9116: Bump semver from 7.7.4 to 7.8.0
  api-tests/package-lock.json
  journey-map/package-lock.json
Due: run-npm-lint, run-npm-lint-journey-map

PYIC-9116: Bump type-fest from 2.19.0 to 5.6.0 in /api-tests
  api-tests/package-lock.json
Due: run-npm-lint

PYIC-9116: Bump brace-expansion from 5.0.4 to 5.0.6
  api-tests/package-lock.json
  journey-map/package-lock.json
Due: run-npm-lint, run-npm-lint-journey-map

PYIC-9116: Bump pact from 4.6.20 to 4.7.0
  gradle/libs.versions.toml
Due: none

PYIC-9116: Bump openTelemetryBom from 2.26.0-alpha to 2.27.0-alpha
  gradle/libs.versions.toml
Due: none

PYIC-9022: Add customisation for CI in dcmaw step.
  api-tests/features/account-intervention/reprove-identity.feature
  api-tests/features/app-cross-browser/p1-cross-browser.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/dl-auth-source-checks/p1-enhanced-verification-mitigation.feature
  api-tests/features/p1-app-journey.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-9022: Add CI api tests in p1 app journey.
  api-tests/features/p1-app-journey.feature
Due: run-npm-lint

PYIC-9022: Add CI api tests in p1 f2f journey.
  api-tests/features/p1-f2f-journey.feature
Due: run-npm-lint

PYIC-9022: Add CI api tests in p2 app route.
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-brp-expired/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-brp-expired/evidence.json
  api-tests/features/p2-app-journey.feature
Due: run-npm-lint

PYIC-9022: Add CI api test in p2 f2f journey.
  api-tests/data/cri-stub-requests/f2f/kenneth-passport-expired/credentialSubject.json
  api-tests/data/cri-stub-requests/f2f/kenneth-passport-expired/evidence.json
  api-tests/features/p2-f2f-journey.feature
Due: run-npm-lint

OJ-3672: fix - remove exp key from Orange CRIs VC as its no longer required as part of ADR to prevent pact test failures
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/CredentialTests.java
Due: spotlessCheck

OJ-3911: chore - add signatures for the updated VCs in the pact test for Orange CRIs
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/CredentialTests.java
Due: spotlessCheck

OJ-3911: chore - add signatures for the updated VCs in the pact test for Orange CRIs the right way round
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/CredentialTests.java
Due: spotlessCheck

PYIC-9037: Enable reproveViaAppOnlyEnabled feature flag.
  local-running/core.local.params.yaml
Due: none

PYIC-9037: Adjust API tests to support the reproveViaAppOnlyEnabled feature flag.
  api-tests/features/account-intervention/fail-open.feature
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/account-intervention/reprove-identity.feature
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-9037: Remove not relevant test while reproveViaAppOnlyEnabled feature flag is enabled.
  api-tests/features/account-intervention/reprove-identity.feature
Due: run-npm-lint

PYIC-9130: Removing expired DLs dynamic variation
  api-tests/features/audit-events.feature
  api-tests/features/mfa-reset-journey.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/PageContextValidator.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
Due: spotlessCheck, run-npm-lint

review of all endpoints for Core for TGW migration
  docs/core-back-integration-map.md
  docs/integration-context.mmd
  docs/integration-map.md
Due: none

PYIC-9083: Avoid a dead end for COI users - enable feature flag to lower environments
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/update-details-higher-strengh/update-details-higher-strengh.feature
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-9037: Bump mermaid to 11.15.
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint-journey-map

PYIC-9135: Bump pact lib to 4.7.1
  gradle/libs.versions.toml
Due: none

PYIC-9135: Remove deprecated dependency notation.
  lambdas/reset-session-identity/build.gradle
  libs/ais-service/build.gradle
  libs/common-services/build.gradle
  libs/cri-response-service/build.gradle
  libs/verifiable-credentials/build.gradle
Due: spotlessCheck

PYIC-9095: Tidy up repeatFraudCheckEnabled feature flag
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-9095: Keep config featureFlag test
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-9095: remove static mock boilerplate in CheckExistingIdentityHandlerTest
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-9065: Put CI thresholds in the right order and remove the BREACHING-P1-ONLY CI as it doesn't make sense and isn't used
  api-tests/src/steps/cri-steps.ts
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-9165: Add temporary routing for notification banner
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9065: Add new routes
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/intervention-reprove-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/address-and-fraud.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-details-higher-strength.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-9065: Add API tests
  api-tests/data/cri-stub-requests/fraud/kenneth-score-0-non-breaching/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-score-0-non-breaching/evidence.json
  api-tests/data/cri-stub-requests/fraud/kenneth-score-2-breaching-p1-when-combined-with-non-breaching/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-score-2-breaching-p1-when-combined-with-non-breaching/evidence.json
  api-tests/data/cri-stub-requests/fraud/kenneth-score-2-breaching-p2-when-combined-with-non-breaching/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-score-2-breaching-p2-when-combined-with-non-breaching/evidence.json
  api-tests/data/cri-stub-requests/nino/kenneth-score-2-non-breaching/credentialSubject.json
  api-tests/data/cri-stub-requests/nino/kenneth-score-2-non-breaching/evidence.json
  api-tests/features/fraud-mitigation/p1-mitigation.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-9065: Update test
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-9065: Rename new states and add test parameters
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  libs/test-data/src/main/resources/test-parameters.yaml
Due: none

BAU: Update EVCS access token URL
  local-running/compose.yaml.template
Due: none

PYIC-9065: Improve error logging in API tests
  api-tests/src/clients/core-back-internal-client.ts
Due: run-npm-lint

PYIC-9065: run linter
  api-tests/src/clients/core-back-internal-client.ts
Due: run-npm-lint

PYIC-9065: deploy changes to the API tests
  .github/workflows/secure-post-merge.yml
Due: none
