Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8683: Use dotenv to configure local running
  journey-map/.env.template
  journey-map/README.md
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/server/app.ts
  journey-map/server/config.ts
Due: run-npm-lint-journey-map

PYIC-8683: Ignore non-secret
  journey-map/.env.template
Due: run-npm-lint-journey-map

PYIC-8759: Check signatures and expiry before vots
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

PYIC-8731: Remove app config pipeline permission
  deploy/template.yaml
Due: none

PYIC-8731: Add logging message
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-8731: Include Invoke permission for validation lambda
  deploy/template.yaml
Due: none

PYIC-8731: Add OBJECT_MAPPER configuration to try convert string to boolean value.
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-8694: Add logging
  journey-map/server/analytics-middleware.ts
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
Due: spotlessCheck, run-npm-lint-journey-map

BAU: Add powertools metrics namespace to env variables in local running.
  local-running/build.gradle
Due: spotlessCheck

PYIC-8748: Upgrade Pact dependencies to 4.6.18 to resolve Netty security vulnerability.
  gradle/libs.versions.toml
Due: none

PYIC-8748: Fix Netty security vulnerability by upgrading Pact libraries to 4.6.18
  gradle/libs.versions.toml
Due: none

PYIC-8734: updates to address review markups
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/journey-map-syntax.md
Due: none

PYIC-8734: clarify where to omit response for sub-journey entry points
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/journey-map-syntax.md
Due: none

PYIC-8734: clarify events wording
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/journey-map-syntax.md
Due: none

PYIC-8647: handle error event for driving licence, passport and experian kbv CRIs
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-8647: handle error event for f2f CRI
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-8647 Add reset-session to some routs after error
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-8647 add PROCESS_INCOMPLETE_IDENTITY step to error journeys
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-8647 refactor routing around SorryTechnicalProblem page
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
Due: none

PYIC-8647 put sorry-technical-error routing behind a feature flag
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-8731: Add comment to AppConfigPipelineValidateFunctionInvokePermission to indicate difficulties during first deployment.
  deploy/template.yaml
Due: none

BAU: Remove ts-node from journey map
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint-journey-map

PYIC: 8694 Improve analytics error handling
  journey-map/server/analytics-middleware.ts
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/ErrorCode.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/ErrorResponseBody.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/exceptions/FetchJourneyTransitionException.java
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-8696: fix transition count not working for sub-journey entry states and tidy code to make more readable
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8694: Run linters
  journey-map/server/analytics-middleware.ts
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/ErrorCode.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/ErrorResponseBody.java
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-8694: Make error code getter explicit
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/exceptions/FetchJourneyTransitionException.java
Due: spotlessCheck

PYIC-8694: Add type to error message map
  journey-map/server/analytics-middleware.ts
Due: run-npm-lint-journey-map

PYIC-8694: Update tests
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
Due: spotlessCheck

PYIC-8694: Fix error response body and add tests
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/ErrorResponseBody.java
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/ErrorResponseBodyTest.java
Due: spotlessCheck

PYIC-8696: fix transition count for nested journey -> nested journey transitions Extract transitionCount into its own helper function
  journey-map/src/helpers/sub-journey-traffic.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8694: Fix tests
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
Due: spotlessCheck

PYIC-8694: Remove redundant public modifier
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/ErrorResponseBodyTest.java
Due: spotlessCheck

PYIC-8696: add unit tests for getting transition counts at the sub-journey level
  journey-map/src/constants.ts
  journey-map/src/helpers/sub-journey-traffic.test.ts
  journey-map/src/helpers/sub-journey-traffic.ts
Due: run-npm-lint-journey-map

PYIC-8696: remove console.log used for debugging
  journey-map/src/helpers/sub-journey-traffic.ts
Due: run-npm-lint-journey-map

PYIC-8697: Add dropdown selection box to index.html
  journey-map/public/index.html
Due: run-npm-lint-journey-map

PYIC-8696: update traffic count logic to handle entry states with multiple targetStates from conditiondal checks
  journey-map/src/helpers/sub-journey-traffic.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8696: add new tests to cover the edge case where an entry state has multiple targetStates due to conditional checks
  journey-map/src/helpers/sub-journey-traffic.test.ts
Due: run-npm-lint-journey-map

PYIC-8696: remove console.logs used for debugging
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8697: Add customisation for system-settings endpoint.
  journey-map/public/index.html
  journey-map/server/analytics-middleware.ts
  journey-map/server/app.ts
  journey-map/src/index.ts
  journey-map/src/service/analyticsService.ts
Due: run-npm-lint-journey-map

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
