Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8361: explicitly enable strategic app for failing tests
  api-tests/features/p2-no-photo-id.feature
Due: run-npm-lint

PYIC-8254: Add additional contract test cases
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8254: SpotlessApply lint fix
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8254: Add extra tests and SpotlessApply lint fix
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8254: Add valid SI string
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8258: store reuse identities and add api tests
  api-tests/features/stored-identity/inherited-identities.feature
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
  api-tests/features/stored-identity/p2-journeys.feature
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck, run-npm-lint

PYIC-8258: self-review
  api-tests/features/stored-identity/inherited-identities.feature
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck, run-npm-lint

PYIC-8258: fix failing api tests
  api-tests/data/audit-events/inherited-identity-journey-identity-stored.json
  api-tests/data/audit-events/reuse-journey-identity-stored.json
  api-tests/features/audit-events.feature
  api-tests/features/stored-identity/inherited-identities.feature
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck, run-npm-lint

PYIC-8254: Add another 400 test
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

Change well know enpoint to point to new v2 file in s3 bucket.
  deploy/template.yaml
  openAPI/core-back-external.yaml
Due: none

Added policy for new file
  deploy/template.yaml
Due: none

PYIC-8258: fix failing unit test
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck

BAU: Prevent highlighting when dragging journey map
  journey-map/package-lock.json
  journey-map/public/style.css
Due: run-npm-lint-journey-map

PYIC-8254: PR markups: - Rename contract test to ref invalid api key - Add invalid SI test - Use updated address VC for realism in test
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8254: Add high-entropy strings to pragma allow-list
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8305: Build new lambda for manual pending F2F resets
  deploy/template.yaml
  lambdas/manual-f2f-pending-reset/build.gradle
  lambdas/manual-f2f-pending-reset/src/main/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandler.java
  lambdas/manual-f2f-pending-reset/src/main/resources/IpvLambdaJsonLayout.json
  lambdas/manual-f2f-pending-reset/src/main/resources/log4j2.json
  lambdas/manual-f2f-pending-reset/src/test/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandlerTest.java
  settings.gradle
Due: spotlessCheck

PYIC-7807: Modify API tests for: - Fix to M1C test - Consistency & conciseness - Remove redundant steps
  api-tests/features/cimit/p1-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/m1c-journeys.feature
  api-tests/features/mfa-reset-journey.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-international.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
  api-tests/features/stored-identity/reprove-identity-journeys.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p1-strategic-app.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint

PYIC-7807: Revert change to Match M1C Fraud Check Not Applicable
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
Due: run-npm-lint

BAU: Flesh out apiKey securitySchema
  openAPI/core-back-analytics.yaml
Due: none

PYIC-8305: Add test comments
  lambdas/manual-f2f-pending-reset/src/test/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandlerTest.java
Due: spotlessCheck

BAU: Temp addition of extra permissions
  deploy/template.yaml
Due: none

BAU: Remove Auth def in new API
  deploy/template.yaml
Due: none

BAU: Remove API role to enable pipeline to run
  deploy/template.yaml
Due: none

PYIC-7875: Switch to AppConfig
  deploy/template.yaml
Due: none

PYIC-7876: Cleanup SSM
  deploy/template.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
Due: spotlessCheck

PYIC-8361: add journey id and ip address to headers when making a post request to /contra-indicators/detect endpoint
  api-tests/src/clients/cimit-stub-client.ts
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-8402: Add user to MISSING_CONTEXT audit event
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/service/LocalAuditService.java
Due: spotlessCheck

PYIC-8402: Add unit test for checking clientOauthSessionItem
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
Due: spotlessCheck

Revert "PYIC-8254: Add EVCS PUT contract tests"
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8402: Fix strategic-app-cross-browser-journey audit events
  api-tests/data/audit-events/strategic-app-cross-browser-journey.json
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-8402: SpotlessApply lint
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
Due: spotlessCheck

PYIC-8402: Fetch client session earlier & - Decouple from IpvSessionItem
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
Due: spotlessCheck

PYIC-8402: Add unit test for ipvsession optionality
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
Due: spotlessCheck

PYIC-8402: Remove unneeded private method
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
Due: spotlessCheck

PYIC-8258: review markups: - refactor conditional checks - add step to check for no SIS record in SI reuse api test
  api-tests/features/stored-identity/p2-journeys.feature
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck, run-npm-lint

BAU: Update /journey-transitions to POST to lambda
  openAPI/core-back-analytics.yaml
Due: none

Revert "Revert "PYIC-8254: Add EVCS PUT contract tests""
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck
