Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8901: Add comment explaining that this event is used by F2F
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
Due: spotlessCheck

PYIC-8757: Make steps depend on previous steps completing successfully
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8757: Fix issue with skipped steps
  .github/workflows/secure-post-merge.yml
Due: none

BAU: update opentelemetry lambda layer versions
  deploy/template.yaml
Due: none

PYIC-8846: add name attribute to LoadBalancerListenerTargetGroupECS
  journey-map/deploy/template.yaml
Due: run-npm-lint-journey-map

PYIC-8920: resolve netty-codec-http2 vulnerability CVE-2025-55163
  lambdas/build-user-identity/build.gradle
  lambdas/call-dcmaw-async-cri/build.gradle
  lambdas/issue-client-access-token/build.gradle
  lambdas/process-async-cri-credential/build.gradle
  lambdas/process-cri-callback/build.gradle
  lambdas/user-reverification/build.gradle
  libs/ais-service/build.gradle
  libs/cimit-service/build.gradle
  libs/evcs-service/build.gradle
  libs/sis-service/build.gradle
  libs/test-helpers/build.gradle
  libs/ticf-cri-service/build.gradle
Due: spotlessCheck

PYIC-8920: resolve netty-codec-http vulnerabilities CVE-2025-67735 and CVE-2025-58056
  lambdas/build-user-identity/build.gradle
  lambdas/call-dcmaw-async-cri/build.gradle
  lambdas/issue-client-access-token/build.gradle
  lambdas/process-async-cri-credential/build.gradle
  lambdas/process-cri-callback/build.gradle
  lambdas/user-reverification/build.gradle
  libs/ais-service/build.gradle
  libs/cimit-service/build.gradle
  libs/evcs-service/build.gradle
  libs/sis-service/build.gradle
  libs/test-helpers/build.gradle
  libs/ticf-cri-service/build.gradle
Due: spotlessCheck

PYIC-8920: add reminder comments to remove package overrides when we no longer need them
  gradle/libs.versions.toml
  lambdas/build-user-identity/build.gradle
  lambdas/call-dcmaw-async-cri/build.gradle
  lambdas/issue-client-access-token/build.gradle
  lambdas/process-async-cri-credential/build.gradle
  lambdas/process-cri-callback/build.gradle
  lambdas/user-reverification/build.gradle
  libs/ais-service/build.gradle
  libs/cimit-service/build.gradle
  libs/evcs-service/build.gradle
  libs/sis-service/build.gradle
  libs/test-helpers/build.gradle
  libs/ticf-cri-service/build.gradle
Due: spotlessCheck

PYIC-8920: add reminder comments to remove package overrides when we no longer need them
  lambdas/build-user-identity/build.gradle
  lambdas/call-dcmaw-async-cri/build.gradle
  lambdas/issue-client-access-token/build.gradle
  lambdas/process-async-cri-credential/build.gradle
  lambdas/process-cri-callback/build.gradle
  lambdas/user-reverification/build.gradle
  libs/ais-service/build.gradle
  libs/cimit-service/build.gradle
  libs/evcs-service/build.gradle
  libs/sis-service/build.gradle
  libs/test-helpers/build.gradle
  libs/ticf-cri-service/build.gradle
Due: spotlessCheck

Revert "PYIC-8920: resolve netty-codec-http2 vulnerability CVE-2025-55163"
  gradle/libs.versions.toml
  lambdas/build-user-identity/build.gradle
  lambdas/call-dcmaw-async-cri/build.gradle
  lambdas/issue-client-access-token/build.gradle
  lambdas/process-async-cri-credential/build.gradle
  lambdas/process-cri-callback/build.gradle
  lambdas/user-reverification/build.gradle
  libs/ais-service/build.gradle
  libs/cimit-service/build.gradle
  libs/evcs-service/build.gradle
  libs/sis-service/build.gradle
  libs/test-helpers/build.gradle
  libs/ticf-cri-service/build.gradle
Due: spotlessCheck

PYIC-8910: Add audit event queue environment variable to most lambdas
  deploy/template.yaml
Due: none

PYIC-8927: migrate unexpected-cri-error.feature tests to use v2 app
  api-tests/features/unexpected-cri-error.feature
Due: run-npm-lint

PYIC-8846: add session timeout to journey map
  journey-map/deploy/template.yaml
Due: run-npm-lint-journey-map

PYIC-8927: migrate return-codes.feature tests to use v2 app
  api-tests/features/return-codes.feature
Due: run-npm-lint

BAU: Change API test timeout from 15 to 20 minutes
  .github/workflows/automated-tests.yaml
Due: none

PYIC-8927: migrate recovery-journeys.feature tests to use v2 app
  api-tests/features/recovery-journeys.feature
Due: run-npm-lint

PYIC-8927: migrate p2-web-journey.feature tests to use v2 app
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-8927: migrate p2-reuse-journey.feature tests to use v2 app
  api-tests/features/p2-reuse-journey.feature
Due: run-npm-lint

PYIC-8927: migrate p2-no-photo-id.feature tests to use v2 app
  api-tests/features/p2-no-photo-id.feature
Due: run-npm-lint

PYIC-8927: migrate p2-international-journey.feature tests to use v2 app
  api-tests/features/p2-international-journey.feature
Due: run-npm-lint

PYIC-8927: migrate p2-f2f-journey.feature tests to use v2 app
  api-tests/features/p2-f2f-journey.feature
Due: run-npm-lint

PYIC-8927: migrate p2-app-journey.feature tests to use v2 app
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-brc-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-brc-valid/evidence.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-brp-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-brp-valid/evidence.json
  api-tests/features/p2-app-journey.feature
Due: run-npm-lint

PYIC-8927: migrate p1-web-journey.feature tests to use v2 app
  api-tests/features/p1-web-journey.feature
Due: run-npm-lint

PYIC-8927: migrate p1-no-photo-id.feature tests to use v2 app
  api-tests/features/p1-no-photo-id.feature
Due: run-npm-lint

PYIC-8927: migrate p1-f2f-journey.feature tests to use v2 app
  api-tests/features/p1-f2f-journey.feature
Due: run-npm-lint

PYIC-8927: migrate p1-app-journey.feature tests to use v2 app
  api-tests/features/p1-app-journey.feature
Due: run-npm-lint

PYIC-8927: migrate m1c-journeys.feature tests to use v2 app
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-changed-family-name-passport-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-changed-family-name-passport-valid/evidence.json
  api-tests/features/m1c-journeys.feature
Due: run-npm-lint

PYIC-8927: migrate expired-driving-permit.feature tests to use v2 app
  api-tests/features/expired-driving-permit.feature
Due: run-npm-lint

PYIC-8927: migrate ticf-successful-responses.feature tests to use v2 app
  api-tests/features/ticf/ticf-successful-responses.feature
Due: run-npm-lint

PYIC-8927: migrate ticf-failed-error-journeys.feature tests to use v2 app
  api-tests/features/ticf/ticf-failed-error-journeys.feature
Due: run-npm-lint

PYIC-8927: migrate failed-ticf-responses.feature tests to use v2 app
  api-tests/features/ticf/failed-ticf-responses.feature
Due: run-npm-lint

PYIC-8927: migrate cimit-journeys.feature tests to use v2 app
  api-tests/features/stored-identity/cimit-journeys.feature
Due: run-npm-lint

PYIC-8927: migrate failed-update-journeys.feature to use v2 app
  api-tests/features/stored-identity/failed-update-journeys.feature
Due: run-npm-lint

PYIC-8927: migrate m1c-journeys.feature to use v2 app
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-changed-given-name-passport-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-changed-given-name-passport-valid/evidence.json
  api-tests/features/stored-identity/m1c-journeys.feature
Due: run-npm-lint

PYIC-8927: migrate p1-journeys.feature to use v2 app
  api-tests/features/stored-identity/p1-journeys.feature
Due: run-npm-lint

PYIC-8927: migrate p1-repeat-fraud-check.feature to use v2 app
  api-tests/features/stored-identity/p1-repeat-fraud-check.feature
Due: run-npm-lint

PYIC-8927: migrate p1-reuse-existing-identity.feature to use v2 app
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
Due: run-npm-lint

PYIC-8927: migrate p2-journeys.feature to use v2 app
  api-tests/features/stored-identity/p2-journeys.feature
Due: run-npm-lint

PYIC-8927: migrate p2-reuse-existing-identity.feature to use v2 app
  api-tests/features/stored-identity/p2-reuse-existing-identity.feature
Due: run-npm-lint
