Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8570: update StoredIdentityService to use SIS-specific signing key
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/signing/SignerFactory.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/StoredIdentityService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/StoredIdentityServiceTest.java
Due: spotlessCheck

PYIC-7895: Add AppConfig validator, ish
  deploy/template.yaml
  lambdas/validate-app-config/build.gradle
  lambdas/validate-app-config/src/main/java/uk.gov.di.ipv.core.validateappconfig/AppConfigValidatorHandler.java
  settings.gradle
Due: spotlessCheck

PYIC-8457: enable opentelemetry lambda layer in all envs
  deploy/template.yaml
  gradle/libs.versions.toml
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
Due: spotlessCheck

Bump cosign-release
  .github/workflows/secure-pipeline-api-tests-image.yml
Due: none

Revert "BAU: Bump sigstore/cosign-installer from 3.9.1 to 3.9.2"
  .github/workflows/secure-pipeline-api-tests-image.yml
Due: none

BAU: update local running to pass query params to processJourneyEvent handler
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
Due: spotlessCheck

BAU: remove logger used for testing
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
Due: spotlessCheck

PYIC-7876: Cleanup SSM
  deploy/template.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
Due: spotlessCheck

PYIC-8506: Fix Sonarcloud issues and move abstract methods to top of abstract class
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7876: - Rename YamlConfigService => LocalConfigService - Added items added to YamlParametersConfigService to ConfigService after lost in merge
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/LocalConfigServiceTest.java
  local-running/src/main/java/uk/gov/di/ipv/coreback/CoreBack.java
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
Due: spotlessCheck

PYIC-7876: Fix sonarcloud issues
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

BAU: remove addition of /journey/ from journey
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
Due: spotlessCheck

PYIC-7876 Rebase main and resolve conflicts.
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
Due: spotlessCheck

PYIC-8563: Split TICF return code tests into separate scenario
  api-tests/features/account-intervention/journey-ending-interventions.feature
Due: run-npm-lint

PYIC-8563: Fail open when AIS is down
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/client/AisClient.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
Due: spotlessCheck

PYIC-8536: Add API tests
  api-tests/features/account-intervention/fail-open.feature
  api-tests/src/clients/ais-management-api.ts
  api-tests/src/steps/ais-steps.ts
Due: run-npm-lint

PYIC-8563: Add unit test
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/service/AisServiceTest.java
Due: spotlessCheck

PYIC-7900: add ciConfig to local.params and remove from local.secrets
  local-running/core.local.params.yaml
  local-running/core.local.secrets.template.yaml
Due: none

PYIC-7900: update getContraIndicatorConfigMap to look for ciCongif from params instead of secrets manager
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
Due: spotlessCheck

PYIC-7900: update ConfigurationVariable with ciScoringConfig and update failing tests to us enew param name
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-7900: rename ciConfig to ciScoringConfig and move next to ciScoringThresholdByVot
  local-running/core.local.params.yaml
Due: none

PYIC-7900: update CimitService to check for non blank apiKey
  libs/cimit-service/src/main/java/uk/gov/di/ipv/core/library/cimit/service/CimitService.java
Due: spotlessCheck

Delete libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
Due: spotlessCheck

PYIC-7876 Testing permissions for dev acc
  deploy/template.yaml
Due: none

PYIC-7876 Add missing table name env suffix
  deploy/template.yaml
Due: none

PYIC-7876: Cleanup SSM
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7876: - Rename YamlConfigService => LocalConfigService - Added items added to YamlParametersConfigService to ConfigService after lost in merge
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7878: Update existing tests to use valid Cri configs
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/pact/dcmawasynccri/ContractTest.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriServiceTest.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandlerTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/LocalConfigServiceTest.java
  libs/common-services/src/test/resources/test-parameters.yaml
  libs/oauth-key-service/src/test/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyServiceTest.java
Due: spotlessCheck

PYIC-7878: Update Cri config classes to be strict
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/OauthCriConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/RestCriConfig.java
  libs/common-services/src/test/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-7878: Add Config class
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/AisConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CiRoutingConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CimitConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/ClientConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CoiConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/Config.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CredentialIssuersConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CriConnectionWrapper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/EvcsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/InternalOperationsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/StoredIdentityServiceConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/VotCiThresholdsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/config/domain/ConfigTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/config/domain/CriConnectionWrapperTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ConfigServiceTest.java
  libs/common-services/src/test/resources/test-invalid-parameters.yaml
  libs/common-services/src/test/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-8098: add dotenv to journey-map, update docs and update gitignore to ignore .env files from the journey-map folder
  .gitignore
  journey-map/.env.template
  journey-map/README.md
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint-journey-map

PYIC-8098: update ecs task definition in cloudformation to accept env vars for username and password
  journey-map/deploy/template.yaml
Due: run-npm-lint-journey-map

PYIC-8098: add basic auth logic for journey-map
  journey-map/server/app.ts
  journey-map/server/auth-middleware.ts
Due: run-npm-lint-journey-map

PYIC-8098: update import to include file extension
  journey-map/server/app.ts
Due: run-npm-lint-journey-map

PYIC-8547: Fix Statemachine check and test logic
  api-tests/features/strategic-app/p2-strategic-app.feature
  api-tests/src/clients/core-back-internal-client.ts
  api-tests/src/steps/cri-steps.ts
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachine.java
Due: spotlessCheck, run-npm-lint

PYIC-8547: Fix and add unit tests
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineTest.java
Due: spotlessCheck

PYIC-8089: move dotenv to dependencies
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint-journey-map

PYIC-8547: Add update to API test step to set currentPage from page action
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-8547: Remove unneeded comment and tag
  api-tests/features/strategic-app/p2-strategic-app.feature
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
Due: spotlessCheck, run-npm-lint
