Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

BAU: Remove the unused ADDRESS_AND_FRAUD_RFC
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
Due: none

PYIC-7797: fix failing unit tests
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg46ScoresServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionCandidateIdentityType.java
Due: spotlessCheck

PYIC-7797: move resources to ticf-cri-service
  libs/ticf-cri-service/src/test/resources/dvlaVc/body.json
  libs/ticf-cri-service/src/test/resources/dvlaVc/header.json
  libs/ticf-cri-service/src/test/resources/dvlaVc/signature
  libs/ticf-cri-service/src/test/resources/dvlaWithCiVc/body.json
  libs/ticf-cri-service/src/test/resources/dvlaWithCiVc/header.json
  libs/ticf-cri-service/src/test/resources/dvlaWithCiVc/signature
  libs/ticf-cri-service/src/test/resources/passportVc/body.json
  libs/ticf-cri-service/src/test/resources/passportVc/header.json
  libs/ticf-cri-service/src/test/resources/passportVc/signature
  libs/ticf-cri-service/src/test/resources/ticfVc/empty/body.json
  libs/ticf-cri-service/src/test/resources/ticfVc/empty/header.json
  libs/ticf-cri-service/src/test/resources/ticfVc/empty/signature
  libs/ticf-cri-service/src/test/resources/ticfVc/intervention/body.json
  libs/ticf-cri-service/src/test/resources/ticfVc/intervention/header.json
  libs/ticf-cri-service/src/test/resources/ticfVc/intervention/signature
  libs/ticf-cri-service/src/test/resources/ticfVc/noIntervention/body.json
  libs/ticf-cri-service/src/test/resources/ticfVc/noIntervention/header.json
  libs/ticf-cri-service/src/test/resources/ticfVc/noIntervention/signature
  libs/ticf-cri-service/src/test/resources/ticfVc/noInterventionWithWarnings/body.json
  libs/ticf-cri-service/src/test/resources/ticfVc/noInterventionWithWarnings/header.json
  libs/ticf-cri-service/src/test/resources/ticfVc/noInterventionWithWarnings/signature
Due: none

PYIC-7797: fix sonar
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg46ScoresServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/CandidateIdentityType.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/RequestHelperTest.java
  libs/cri-storing-service/src/main/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringService.java
Due: spotlessCheck

PYIC-7797: fix sonar
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/RequestHelperTest.java
Due: spotlessCheck

PYIC-7650: Add M1C matching API tests
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
Due: run-npm-lint

PYIC-7800: add feture flags service
  gradle/libs.versions.toml
  libs/feature-flags-service/build.gradle
  libs/feature-flags-service/src/main/java/uk/gov/di/ipv/core/library/service/FeatureFlagsService.java
  local-running/build.gradle
  settings.gradle
Due: spotlessCheck

PYIC-7650: Review markups
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
Due: run-npm-lint

PYIC-7785: First draft of steps to complete a strategic app journey
  api-tests/features/p2-strategic-app.feature
  api-tests/src/clients/core-back-internal-client.ts
  api-tests/src/steps/cri-steps.ts
  api-tests/src/types/world.ts
Due: run-npm-lint

PYIC-7785: Add queue_name to request to enqueue VC
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-7785: Fix callback call and journey event sending/ storing
  api-tests/src/clients/core-back-internal-client.ts
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-7798: add page preview using iframe
  journey-map/public/index.html
  journey-map/public/index.mjs
Due: run-npm-lint-journey-map

PYIC-7785: Add additional complete strategic app journeys
  api-tests/features/p2-strategic-app.feature
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-7785: Fix tests after update
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/domain/AsyncCriStatus.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/domain/AsyncCriStatusTest.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/service/CriResponseServiceTest.java
Due: spotlessCheck

PYIC-7785: Fix ErrorResponse code
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
Due: spotlessCheck

PYIC-7785: Fix Sonarcloud issues
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/domain/AsyncCriStatus.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/domain/AsyncCriStatusTest.java
Due: spotlessCheck

PYIC-7798: SPIKE preview dev templates
  journey-map/public/index.html
  journey-map/public/index.mjs
  journey-map/public/style.css
Due: run-npm-lint-journey-map

PYIC-7146: Add international address test
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/CredentialTests.java
Due: spotlessCheck

PYIC-7146: Run spotless
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/CredentialTests.java
Due: spotlessCheck

PYIC-7922: Update fraud CRI contract tests
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/CredentialTests.java
Due: spotlessCheck

PYIC-7785: Add "I do not submit VC to the async DCMAW CRI stub" step
  api-tests/features/p2-strategic-app.feature
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-6246: Add cross-browser recovery restart journey
  lambdas/check-existing-identity/build.gradle
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/VerifiableCredentialGenerator.java
  libs/cri-response-service/build.gradle
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/domain/AsyncCriStatus.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/exception/InvalidCriResponseException.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/domain/AsyncCriStatusTest.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/service/CriResponseServiceTest.java
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-7785: Fix calls of postToEnqueue
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

IPS-1311 DeploymentPreference set to Canary10Percent15Minutes for BuildProvenUserIdentityDetailsFunction
  deploy/template.yaml
Due: none

workflow added
  .github/workflows/sre-secure-post-merge-to-dev.yml
Due: none

IPS-1185: Update step function canary interval
  deploy/template.yaml
Due: none

PYIC-7785: Update steps for MAM journey credential fails & cross-browser
  api-tests/features/p2-strategic-app.feature
Due: run-npm-lint

PYIC-7797: migrate check-coi lambda to a new service
  libs/check-coi-service/build.gradle
  libs/check-coi-service/src/main/java/uk/gov/di/ipv/core/library/exception/CheckCoiException.java
  libs/check-coi-service/src/main/java/uk/gov/di/ipv/core/library/service/CheckCoiService.java
  settings.gradle
Due: spotlessCheck

PYIC-7797: add unit tests for check-coi service
  libs/check-coi-service/src/test/java/uk/gov/di/ipv/core/library/service/CheckCoiServiceTest.java
Due: spotlessCheck

PYIC-7797: add coi check service to lambda
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/CheckCoiServiceTest.java
Due: spotlessCheck

PYIC-7797: WIP add storeIdentityService to lambda
  lambdas/process-candidate-identity/build.gradle
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
Due: spotlessCheck

PYIC-7797: WIP add skeleton for new lambda
  lambdas/process-candidate-identity/build.gradle
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  settings.gradle
Due: spotlessCheck

PYIC-7797: add EvaluateGpg45ScoresService to new lambda
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg45ScoresService.java
Due: spotlessCheck

PYIC-7797: WIP add ticfCriService to lambda
  lambdas/process-candidate-identity/build.gradle
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/dto/TicfCriDto.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/exception/TicfCriHttpResponseException.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/exception/TicfCriServiceException.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/TicfCriService.java
Due: spotlessCheck

PYIC-7797: add IdentityProcessingService to lambda
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg45ScoresService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessingService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
Due: spotlessCheck

PYIC-7797: add ProcessIdentityType + handle ALL case
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/ProcessIdentityType.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/UnknownProcessIdentityType.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/RequestHelper.java
Due: spotlessCheck

PYIC-7797: update local-running to support new lambda
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  local-running/build.gradle
  local-running/core.local.params.yaml
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
  settings.gradle
Due: spotlessCheck

PYIC-7797: add unit tests performIdentityProcessingOperations
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessServiceTest.java
Due: spotlessCheck

PYIC-7797: add unit tests for all services
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg45ScoresService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessingService.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/EvaluateGpg46ScoresServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/IdentityProcessServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/TicfCriServiceTest.java
Due: spotlessCheck
