Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8573: Update AccountInterventionException message
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/exception/AccountInterventionException.java
Due: spotlessCheck

PYIC-8573: Rename initial account intervention check method in AccountInterventionEvaluator
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
Due: spotlessCheck

PYIC-8573: Refactor first Ais call to use enum.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/domain/AccountInterventionStateWithType.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/InvalidInitialAccountInterventionArgumentsProvider.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/service/AisServiceTest.java
Due: spotlessCheck

PYIC-8573: Fix api test name
  api-tests/features/account-intervention/journey-ending-interventions.feature
Due: run-npm-lint

PYIC-8573: Add more tests
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/domain/AccountInterventionStateWithType.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/service/AisServiceTest.java
Due: spotlessCheck

PYIC-8235: Fix numbers visualisation
  journey-map/src/index.ts
  journey-map/src/render.ts
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-8573: Remove reprove_identity from non reprove journeys in IPV_JOURNEY_START event.
  api-tests/data/audit-events/alternate-doc-mitigation-journey.json
  api-tests/data/audit-events/delete-pending-f2f-journey.json
  api-tests/data/audit-events/dwp-kbv-dropout-user-abandons-cri.json
  api-tests/data/audit-events/dwp-kbv-dropout-via-thin-file.json
  api-tests/data/audit-events/dwp-kbv-successful-journey.json
  api-tests/data/audit-events/international-address-journey.json
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/new-identity-p2-app-journey.json
  api-tests/data/audit-events/no-photo-id-journey.json
  api-tests/data/audit-events/reprove-identity-journey.json
  api-tests/data/audit-events/reuse-journey-identity-stored.json
  api-tests/data/audit-events/reuse-journey.json
  api-tests/data/audit-events/reverification-failed-journey.json
  api-tests/data/audit-events/strategic-app-cross-browser-journey.json
  api-tests/data/audit-events/strategic-app-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
Due: spotlessCheck, run-npm-lint

PYIC-8177: record criReturn metric for async dcmaw when we successfully receive VC when polling
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
Due: spotlessCheck

PYIC-8552: Update Development environments section to add perf reference
  README.md
Due: none

PYIC-8573: Move default account intervention initialisation to CheckExistingIdentityHandler.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
Due: spotlessCheck

PYIC-8573: Convert Boolean to primitive variable.
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
Due: spotlessCheck

PYIC-8595: Add VOT info to IPV_IDENTITY_REUSE_COMPLETE event
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/reuse-journey-identity-stored.json
  api-tests/data/audit-events/reuse-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionPreviousAchievedVot.java
Due: spotlessCheck, run-npm-lint

PYIC-8595: Use SUPPORTED_VOTS_BY_DESCENDING_STRENGTH for previous achieved VOT calculation and update tests
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8595: commonise audit event helper for extensions
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8235: Enable CORS for analytics gateway and update journey map config
  journey-map/deploy/template.yaml
  journey-map/src/config.ts
  openAPI/core-back-analytics.yaml
Due: run-npm-lint-journey-map

PYIC-7895 remove parameter from test data
  libs/test-data/src/main/resources/test-parameters.yaml
Due: none

PYIC-8235: Fix fetch from journey map to use server
  journey-map/deploy/template.yaml
  journey-map/server/analytics-middleware.ts
  journey-map/server/app.ts
  journey-map/server/config.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8235: Fix typescript errors
  journey-map/deploy/template.yaml
  journey-map/server/analytics-middleware.ts
Due: run-npm-lint-journey-map

PYIC-8573: Refactor mid journey account intervention call to use enum instead of state.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/domain/AccountInterventionStateWithType.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/dto/AccountInterventionStatusDto.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/TestData.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/pact/ContractTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/AisInterventionType.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/IpvSessionService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
Due: spotlessCheck

PYIC-8573: Declare constant error description for ais fail open scenario
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
Due: spotlessCheck

PYIC-8235: Fix typescript errors
  journey-map/server/analytics-middleware.ts
  journey-map/server/config.ts
Due: run-npm-lint-journey-map

PYIC-8235: Allow failed fetch and update readme
  journey-map/README.md
  journey-map/src/helpers/mermaid.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8235: Tidy and add note to log dependency
  deploy/template.yaml
  journey-map/src/render.ts
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-8235: Lint fix
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8573: Improve readability.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
Due: spotlessCheck

PYIC-8573: Change variable initialisation to var insdead of primitive boolean.
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
Due: spotlessCheck

PYIC-8573: Add ClientOAuthSessionTable write policy to check-existing-identity
  deploy/template.yaml
Due: none

PYIC-7895: Add URI and UUID in Config class
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/AisConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CimitConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/ClientConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/EvcsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/InternalOperationsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/StoredIdentityServiceConfig.java
Due: spotlessCheck

PYIC-8573: Clean up initialAccountInterventionState from ipvSessionItem.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/InvalidMidJourneyAccountInterventionArgumentsProvider.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/service/AisServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/IpvSessionService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
Due: spotlessCheck

PYIC-8573: Remove OBJECT_MAPPER from AccountInterventionEvaluator
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
Due: spotlessCheck

PYIC-7895: Fix unit tests
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ConfigServiceTest.java
  libs/test-data/src/main/resources/test-parameters.yaml
Due: spotlessCheck

PYIC-8573: Run spotlessApply
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
Due: spotlessCheck

PYIC-8612: Route unexpected OAuth errors from DWP KBV to Experian KBV
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
Due: none

PYIC-8612: Update API tests
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-8612: Remove routing for really unexpected events
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-web-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
Due: run-npm-lint

PYIC-8612: Fix API test
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-8612: PR markups
  journey-map/deploy/template.yaml
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/server/config.ts
Due: run-npm-lint-journey-map

PYIC-8609: Add DwpKbvCriReturnRateAlarm
  deploy/template.yaml
Due: none

PYIC-8380: Fix warning about Mockito stopping working in future JDK versions
  lambdas/build-client-oauth-response/build.gradle
  lambdas/build-cri-oauth-request/build.gradle
  lambdas/build-proven-user-identity-details/build.gradle
  lambdas/build-user-identity/build.gradle
  lambdas/call-dcmaw-async-cri/build.gradle
  lambdas/check-existing-identity/build.gradle
  lambdas/check-gpg45-score/build.gradle
  lambdas/check-mobile-app-vc-receipt/build.gradle
  lambdas/check-reverification-identity/build.gradle
  lambdas/issue-client-access-token/build.gradle
  lambdas/manual-f2f-pending-reset/build.gradle
  lambdas/process-async-cri-credential/build.gradle
  lambdas/process-candidate-identity/build.gradle
  lambdas/process-cri-callback/build.gradle
  lambdas/process-journey-event/build.gradle
  lambdas/process-mobile-app-callback/build.gradle
  lambdas/reset-session-identity/build.gradle
  lambdas/user-reverification/build.gradle
  libs/ais-service/build.gradle
  libs/audit-service/build.gradle
  libs/cimit-service/build.gradle
  libs/common-services/build.gradle
  libs/cri-api-service/build.gradle
  libs/cri-checking-service/build.gradle
  libs/cri-response-service/build.gradle
  libs/cri-storing-service/build.gradle
  libs/evcs-service/build.gradle
  libs/gpg45-evaluator/build.gradle
  libs/oauth-key-service/build.gradle
  libs/test-helpers/build.gradle
  libs/ticf-cri-service/build.gradle
  libs/user-identity-service/build.gradle
  libs/verifiable-credentials/build.gradle
Due: spotlessCheck

PYIC-8380: Update test names
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
Due: spotlessCheck
