Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

BAU: Update pipeline overview dashoard json
  dashboards/pipeline-overview-dashboard.json
Due: none

PYIC-6236: Fix dev references
  deploy/template.yaml
Due: none

BAU: Allow nested objects in received EVCS metadata
  lambdas/bulk-migrate-vcs/src/main/java/uk/gov/di/ipv/core/bulkmigratevcs/BulkMigrateVcsHandler.java
  lambdas/bulk-migrate-vcs/src/test/java/uk/gov/di/ipv/core/bulkmigratevcs/BulkMigrateVcsHandlerTest.java
  libs/evcs-migration/src/main/java/uk/gov/di/ipv/core/library/metadata/MigrationMetadata.java
  libs/evcs-migration/src/main/java/uk/gov/di/ipv/core/library/metadata/MigrationMetadataBatchDetails.java
  libs/evcs-service/build.gradle
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/dto/EvcsGetUserVCDto.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/client/EvcsClientTest.java
Due: spotlessCheck

PYIC-4111: add consumer side contract tests for the EVCS client
  libs/evcs-service/build.gradle
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/pact/ContractTest.java
Due: spotlessCheck

PYIC-4111: refactor EVCS consumer contract test
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/pact/ContractTest.java
Due: spotlessCheck

PYIC-4111: refactor EVCS consumer contract tests
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/pact/ContractTest.java
Due: spotlessCheck

PYIC-7507: Extend test to ensure no DL VC
  api-tests/features/dl-auth-source-checks.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-7533: Expire pending F2F record on failure
  api-tests/data/cri-stub-requests/f2f/kenneth-passport-verification-1/credentialSubject.json
  api-tests/data/cri-stub-requests/f2f/kenneth-passport-verification-1/evidence.json
  api-tests/features/p2-f2f-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-failed.yaml
Due: run-npm-lint

PYIC-7334: Update F2F P1 journey api-tests
  api-tests/features/p1-journeys.feature
Due: run-npm-lint

BAU Further DWP KBV debug logging
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-7319: Add no photo id api tests
  api-tests/data/cri-stub-requests/bav/kenneth-with-breaching-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/bav/kenneth-with-breaching-ci/evidence.json
  api-tests/data/cri-stub-requests/hmrcKbv/kenneth-needs-enhanced-verification/credentialSubject.json
  api-tests/data/cri-stub-requests/hmrcKbv/kenneth-needs-enhanced-verification/evidence.json
  api-tests/data/cri-stub-requests/hmrcKbv/kenneth-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/hmrcKbv/kenneth-score-0/evidence.json
  api-tests/data/cri-stub-requests/hmrcKbv/kenneth-with-breaching-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/hmrcKbv/kenneth-with-breaching-ci/evidence.json
  api-tests/data/cri-stub-requests/kbv/kenneth-with-breaching-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/kbv/kenneth-with-breaching-ci/evidence.json
  api-tests/data/cri-stub-requests/nino/kenneth-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/nino/kenneth-score-0/evidence.json
  api-tests/data/cri-stub-requests/nino/kenneth-score-2/credentialSubject.json
  api-tests/data/cri-stub-requests/nino/kenneth-score-2/evidence.json
  api-tests/data/cri-stub-requests/nino/kenneth-with-breaching-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/nino/kenneth-with-breaching-ci/evidence.json
  api-tests/features/p2-m2b.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
  api-tests/src/clients/core-back-internal-client.ts
Due: run-npm-lint

PYIC-7319: Revert debugging snippet
  api-tests/src/clients/core-back-internal-client.ts
Due: run-npm-lint

PYIC-7293: Add context for pyi-triage-select-smartphone
  api-tests/features/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: run-npm-lint

PYIC-7319: Fix references to moved nino kenneth-score-2 data
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/p1-journeys.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-6996: Condition exclusion of BAV VCs for dob correlation - Add DOB_EXPERIAN_CHECK_ENABLED feature flag - Optionally omit BAV from exclusion list
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
Due: spotlessCheck

PYIC-7282: Comment and refactor in api tests
  api-tests/src/steps/cri-steps.ts
  api-tests/src/types/cri-stub.ts
Due: run-npm-lint

PYIC-7282: Add context to triage page response
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-7282: Remove unused state
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
Due: none

PYIC-7282: Update routing for wrong phone detected
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-7282: Improve event name
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-7282: Fix API tests
  api-tests/features/p2-strategic-app.feature
Due: run-npm-lint

BAU Explicitly set Content-Type for DWP KBV API requests
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-7286: Add app triage buffer page and improve app sub journey exit events
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-7286: Fix journey map
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-7286: Update API tests
  api-tests/features/p2-strategic-app.feature
Due: run-npm-lint

BAU DWP KBV Try making barebones token request
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-7578: Retry on SnapStartNotReadyException
  deploy/journeyEngineStepFunction.asl.json
Due: none

BAU: Remove JAVA_TOOLS_OPTIONS from Dockerfile as they are now specified in Gradle
  local-running/Dockerfile
Due: none

PYIC-4111: refactor EVCS consumer contract test, remove unnecessary setup data
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/pact/ContractTest.java
Due: spotlessCheck

BAU DWP KBV debugging - build up token request
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

BAU DWP KBV explicitly set Accept header
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

BAU DWP KBV Explicitly set headers on token and credential requests
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

BAU DWP KBV clean up debug logging and explicitly set headers
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

BAU DWP KBV Update content-type for credential request
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-7470: Extend cache duraation for bulk migration
  deploy/template.yaml
  lambdas/bulk-migrate-vcs/src/main/java/uk/gov/di/ipv/core/bulkmigratevcs/BulkMigrateVcsHandler.java
Due: spotlessCheck

IPS-1109: Canary deployments
  README.md
  deploy/samconfig.toml
  deploy/template.yaml
  openAPI/core-back-internal.yaml
Due: none

PR comments
  deploy/template.yaml
Due: none

PYIC-7346: low-confidence evidence_requested validation api-tests
  api-tests/data/cri-stub-requests/hmrcKbv/kenneth-score-1/credentialSubject.json
  api-tests/data/cri-stub-requests/hmrcKbv/kenneth-score-1/evidence.json
  api-tests/data/cri-stub-requests/nino/kenneth-score-1/credentialSubject.json
  api-tests/data/cri-stub-requests/nino/kenneth-score-1/evidence.json
  api-tests/features/p1-journeys.feature
Due: run-npm-lint

PYIC-7346: medium-confidence evidence_requested validation api-tests
  api-tests/features/p1-journeys.feature
Due: run-npm-lint
