Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8246: Fix tests and add extra test
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
Due: spotlessCheck

PYIC-8246: Re-instate API test step and fix up test
  api-tests/features/audit-events.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-8246: Appease SonarQube
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/enums/AisAuditLevel.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/client/AisClientTest.java
Due: spotlessCheck

PYIC-8246: Add test for fatal AIS errors
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/client/AisClientTest.java
Due: spotlessCheck

PYIC-8246: Add test for IOException
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/client/AisClientTest.java
Due: spotlessCheck

Added sisRecordCreated flag and updated logic to include the strongest achievable vot in AuditExtensionCandidateIdentityType.java.
  api-tests/data/audit-events/delete-pending-f2f-journey.json
  api-tests/data/audit-events/dwp-kbv-successful-journey.json
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/new-identity-p2-app-journey.json
  api-tests/data/audit-events/reprove-identity-journey.json
  api-tests/data/audit-events/strategic-app-cross-browser-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
  api-tests/features/audit-events.feature
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionCandidateIdentityType.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck, run-npm-lint

Added test cases and fixed code smell
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
Due: spotlessCheck

Revert "PYIC-8264: Add routes for banner links"
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-6241 Configure lambda triggers for dcmaw async queues
  deploy/template.yaml
Due: none

PYIC-8251: Refactored to changes to improve readability.
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
Due: spotlessCheck

Fix lint
  deploy/template.yaml
Due: none

Use sub instead of join
  deploy/template.yaml
Due: none

PYIC-8251: Improved readability and removed code smell.
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
Due: spotlessCheck

PYIC-8302: fix the vot we store with the SI object
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-8302: update P1 tests for SIS
  api-tests/features/stored-identity/p1-journeys.feature
Due: run-npm-lint

BAU: Fix IOException alarm
  deploy/template.yaml
Due: none

PYIC-6241 Disable DCMAW queue trigger for now
  deploy/template.yaml
Due: none

PYIC-8246: Convert valid AIS response types to enum
  api-tests/src/clients/ais-management-api.ts
  api-tests/src/steps/ais-steps.ts
Due: run-npm-lint

PYIC-8246: Remove warning suppression and fix spelling
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/enums/AisAuditLevel.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/TestData.java
Due: spotlessCheck

PYIC-8246: Remove unnecessary annotations
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/dto/AccountInterventionStatusDto.java
Due: spotlessCheck

PYIC-8246: Run spotless
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/enums/AisAuditLevel.java
Due: spotlessCheck

BAU: Add user-deployment workflow options
  .github/workflows/secure-pipeline-api-tests-image.yml
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8246: Update new tests
  api-tests/features/stored-identity/p1-journeys.feature
  api-tests/features/stored-identity/p2-journeys.feature
Due: run-npm-lint

PYIC-8288: add consumer tests for AIS
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/pact/ContractTest.java
Due: spotlessCheck

PYIC-8288: self-review
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/pact/ContractTest.java
Due: spotlessCheck

PYIC-8288: suppress sonar warnings
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/pact/ContractTest.java
Due: spotlessCheck

PYIC-8288: update data so it's more realistic
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/pact/ContractTest.java
Due: spotlessCheck

BAU Enable dcmawAsync queue trigger
  deploy/template.yaml
Due: none

PYIC-8247: Make journey responses consistent
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-8327: Remove kidJarHeaderEnabled feature flag.
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/AuthorizationRequestHelper.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/AuthorizationRequestHelperTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-8278: Remove dashboard directory
  dashboards/README.md
  dashboards/pipeline-overview-dashboard.json
Due: none

PYIC-8288: update data to match criteria according to account status table
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/pact/ContractTest.java
Due: spotlessCheck

PYIC-8327: Remove includeKid boolean from createSignedJwt and include kid value in StoreIdentityService.
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/AuthorizationRequestHelper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/JwtHelper.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/JwtHelperTest.java
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
  libs/cri-api-service/src/test/java/uk/gov/di/ipv/core/library/criapiservice/CriApiServiceTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/StoredIdentityService.java
Due: spotlessCheck

BAU: Add temporary EVCS number of VCs logging
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
Due: spotlessCheck

PYIC-8247: Update journey maps
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/ineligible.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/operational-profile-migration.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/operational-profile-reuse.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/technical-error.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-8247: Store account intervention state at start of journey and check at the end
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/account-intervention/p2-reprove-identity.feature
  api-tests/src/steps/ipv-steps.ts
  lambdas/initialise-ipv-session/build.gradle
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-candidate-identity/build.gradle
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/service/AisServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/IpvSessionService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
Due: spotlessCheck, run-npm-lint

PYIC-8247: Make process-candidate-identity events consistent for EXISTING identity type
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/operational-profile-migration.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/operational-profile-reuse.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
Due: none

PYIC-8247: Fix event name
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
Due: none
