Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

BAU: Improve ClientOAuthSessionError description
  lambdas/build-client-oauth-response/src/main/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandler.java
  lambdas/build-client-oauth-response/src/test/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandlerTest.java
Due: spotlessCheck

PYIC-7453: Move methods and appease SonarCloud
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachine.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/TransitionResult.java
Due: spotlessCheck

PYIC-7453: Fix tests
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/TransitionResult.java
Due: spotlessCheck

PYIC-7453: Initialise some lists and maps to fix tests and appease SonarCloud
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/BasicEvent.java
Due: spotlessCheck

PYIC-7461 Clean up COI Fast Follow feature flag
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
  local-running/core.local.params.yaml
Due: none

pyic-7756: Update api tests for bav: enabled as default
  api-tests/.env.template
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/return-codes.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-7600: Add check-coi lambda to all IPV journeys
  api-tests/data/cri-stub-requests/address/lora-current/credentialSubject.json
  api-tests/data/cri-stub-requests/address/lora-current/evidence.json
  api-tests/data/cri-stub-requests/drivingLicence/kenneth-driving-permit-dva-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/drivingLicence/kenneth-driving-permit-dva-valid/evidence.json
  api-tests/data/cri-stub-requests/fraud/lora-score-2/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/lora-score-2/evidence.json
  api-tests/data/cri-stub-requests/kbv/lora-score-2/credentialSubject.json
  api-tests/data/cri-stub-requests/kbv/lora-score-2/evidence.json
  api-tests/data/cri-stub-requests/ukPassport/lora-passport-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/ukPassport/lora-passport-valid/evidence.json
  api-tests/features/cimit/alternate-doc.feature
  api-tests/src/clients/cimit-stub-client.ts
  api-tests/src/steps/cimit-steps.ts
  api-tests/src/types/cimit-stub.ts
  deploy/template.yaml
  lambdas/check-coi/build.gradle
  lambdas/check-coi/src/main/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandler.java
  lambdas/check-coi/src/test/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandlerTest.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/evaluate-scores.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/LogHelper.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
Due: spotlessCheck, run-npm-lint

PYIC-7600: Skip COI check if no idenity
  deploy/template.yaml
  lambdas/process-journey-event/build.gradle
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/resources/statemachine/test/initial-journey-selection.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
Due: spotlessCheck

PYIC-7705: refactor http tracing client
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
Due: spotlessCheck

PYIC-7777: change successful evcs post status code to 202
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/pact/ContractTest.java
Due: spotlessCheck

PYIC-7600: Fix secrets manager permission
  deploy/template.yaml
Due: none

PYIC-7733: Strict COI check for reprove identity
  lambdas/check-coi/src/main/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandler.java
  lambdas/check-coi/src/test/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandlerTest.java
Due: spotlessCheck

PYIC-7732: Remove migration method from EVCS client
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/client/EvcsClient.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/client/EvcsClientTest.java
Due: spotlessCheck

PYIC-7731: Delete replay cimit VCs functions
  deploy/template.yaml
  lambdas/replay-cimit-vcs/build.gradle
  lambdas/replay-cimit-vcs/dynamo-scripts/README.md
  lambdas/replay-cimit-vcs/dynamo-scripts/expression-attribute-names.json
  lambdas/replay-cimit-vcs/dynamo-scripts/expression-attribute-values-address.json
  lambdas/replay-cimit-vcs/dynamo-scripts/expression-attribute-values-claimed-identity.json
  lambdas/replay-cimit-vcs/dynamo-scripts/expression-attribute-values-dcmaw.json
  lambdas/replay-cimit-vcs/dynamo-scripts/expression-attribute-values-driving-license.json
  lambdas/replay-cimit-vcs/dynamo-scripts/expression-attribute-values-experian-fraud.json
  lambdas/replay-cimit-vcs/dynamo-scripts/expression-attribute-values-experian-kbv.json
  lambdas/replay-cimit-vcs/dynamo-scripts/expression-attribute-values-f2f.json
  lambdas/replay-cimit-vcs/dynamo-scripts/expression-attribute-values-uk-passport.json
  lambdas/replay-cimit-vcs/dynamo-scripts/scan.sh
  lambdas/replay-cimit-vcs/src/main/java/uk/gov/di/ipv/core/replaycimitvcs/ReplayCimitVcsHandler.java
  lambdas/replay-cimit-vcs/src/main/resources/IpvLambdaJsonLayout.json
  lambdas/replay-cimit-vcs/src/main/resources/log4j2.json
  lambdas/replay-cimit-vcs/src/test/java/uk/gov/di/ipv/core/replaycimitvcs/ReplayCimitVcsHandlerTest.java
  lambdas/replay-cimit-vcs/src/test/resources/testReplayRequest.json
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ReplayItem.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ReplayRequest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/FailedVcReplayException.java
  settings.gradle
Due: spotlessCheck

pyic-6246: Centralise Async CRI status checking with new AsyncCriStatus class
  lambdas/check-existing-identity/build.gradle
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/Cri.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/domain/AsyncCriStatus.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/service/CriResponseServiceTest.java
Due: spotlessCheck

pyic-6246: Add routing for incomplete identity but valid DCMAW Async VC
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/domain/AsyncCriStatus.java
Due: spotlessCheck

pyic-6246: Update CheckMobileAppVcReceiptHandler for AsyncCriStatus changes
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/domain/AsyncCriStatus.java
Due: spotlessCheck

pyic-6246: Update abandon case for DCMAW async
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/domain/AsyncCriStatus.java
Due: spotlessCheck

pyic-6246: Convert AsyncCriStatus into a record
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  libs/cri-response-service/build.gradle
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/domain/AsyncCriStatus.java
Due: spotlessCheck

pyic-6246: Update VerifiableCredentialBundle method names
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

pyic-6246: Re-introduce lombok to cri-response-service
  libs/cri-response-service/build.gradle
Due: spotlessCheck

PYIC-7453: Extract collection merging methods to common lib
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachine.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/TransitionResult.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/BasicEvent.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/BasicEventTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/collections/Merging.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/collections/MergingTest.java
Due: spotlessCheck

pyic-6246: Fix CheckExistingIdentityHandlerTest unit tests
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7802 Tidy up dobExperianCheckEnabled feature flag
  api-tests/data/cri-stub-requests/bav/kenneth-with-breaching-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/bav/kenneth/credentialSubject.json
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
Due: spotlessCheck, run-npm-lint

PYIC-7453: Better empty collection creation
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/TransitionResult.java
Due: spotlessCheck

PYIC-7453: Add audit event to international address journey event
  api-tests/features/p2-international-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
Due: spotlessCheck, run-npm-lint

PYIC-7757: add separate config for api tests when running core-back locally
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  local-running/README.md
  local-running/core.api-tests.params.yaml
  local-running/core.local.params.yaml
  local-running/src/main/java/uk/gov/di/ipv/coreback/CoreBack.java
Due: spotlessCheck

PYIC-7757: update YamlConfigService tests
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/YamlConfigServiceTest.java
  libs/common-services/src/test/resources/test-api-config.yaml
  libs/common-services/src/test/resources/test-parameters.yaml
Due: spotlessCheck

PYIC-7757: update api test signing keys with kid and send in header
  api-tests/.env.build
  api-tests/.env.local
  api-tests/src/utils/jwt-signer.ts
Due: run-npm-lint

PYIC-7777: update status code for EVCS client contract tests to match producers request
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/pact/ContractTest.java
Due: spotlessCheck

PYIC-6068: Remove writes to tactical in store-identity lambda
  deploy/template.yaml
  lambdas/store-identity/src/main/java/uk/gov/di/ipv/core/storeidentity/StoreIdentityHandler.java
  lambdas/store-identity/src/test/java/uk/gov/di/ipv/core/storeidentity/StoreIdentityHandlerTest.java
Due: spotlessCheck

PYIC-6068: Remove tactical writes from process-async lambda
  deploy/template.yaml
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
Due: spotlessCheck

PYIC-6068: Remove ununsed env var from initialise session lambda
  deploy/template.yaml
Due: none

PYIC-7757: self-review
  api-tests/README.md
  api-tests/data/jar-requests/low-confidence.json
  api-tests/data/jar-requests/medium-confidence-invalid-redirect-uri.json
  api-tests/data/jar-requests/medium-confidence-pcl200-pcl250.json
  api-tests/data/jar-requests/medium-confidence-pcl250.json
  api-tests/data/jar-requests/medium-confidence-with-invalid-audience.json
  api-tests/data/jar-requests/medium-confidence.json
  api-tests/data/jar-requests/reverification.json
  api-tests/package.json
  api-tests/src/utils/jar-generator.ts
  api-tests/src/utils/request-body-generators.ts
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/YamlConfigServiceTest.java
  libs/common-services/src/test/resources/test-api-config.yaml
  libs/common-services/src/test/resources/test-parameters.yaml
  local-running/README.md
  local-running/core.api-tests.params.yaml
  local-running/core.local.params.yaml
  local-running/src/main/java/uk/gov/di/ipv/coreback/CoreBack.java
Due: spotlessCheck, run-npm-lint

PYIC-6068: Remove tactical reads and writes from reset-session
  deploy/template.yaml
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/reset-session-identity/src/test/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandlerTest.java
Due: spotlessCheck

PYIC-6068: Remove tactical reads from check-existing-identity
  deploy/template.yaml
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/service/EvcsMigrationService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/service/EvcsMigrationServiceTest.java
Due: spotlessCheck

PYIC-6068: Reorder status checks in check-mobile-app-vc-receipt
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
Due: spotlessCheck

PYIC-6068: Remove unused env var from eval-gpg45
  deploy/template.yaml
Due: none

PYIC-6068: Remove tactical reads from check-mobile-app-vc-receipt
  deploy/template.yaml
  lambdas/check-mobile-app-vc-receipt/build.gradle
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
