Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-7647: Add international address question to COI and RFC journeys
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/address-and-fraud.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-7631: Refactor TokenRequestValidator
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/validation/TokenRequestValidator.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/validation/TokenRequestValidatorTest.java
Due: spotlessCheck

PYIC-7631: Fix race condition with key refresh
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
Due: spotlessCheck

PYIC-7631: Rename credentials selector
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/domain/OAuthKeyServiceClientCredentialsSelector.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/validation/TokenRequestValidator.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/domain/OAuthKeyServiceClientCredentialsSelectorTest.java
Due: spotlessCheck

BAU: Configure local running clients jwksUrl
  local-running/core.local.params.yaml
Due: none

PYIC-7660: Update client IDs
  api-tests/data/jar-requests/low-confidence.json
  api-tests/data/jar-requests/medium-confidence-invalid-redirect-uri.json
  api-tests/data/jar-requests/medium-confidence-pcl200-pcl250.json
  api-tests/data/jar-requests/medium-confidence-pcl250.json
  api-tests/data/jar-requests/medium-confidence-with-invalid-audience.json
  api-tests/data/jar-requests/medium-confidence.json
  api-tests/data/jar-requests/reverification.json
  api-tests/src/utils/request-body-generators.ts
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-6245: Fix core back debugging in local running
  local-running/build.gradle
Due: spotlessCheck

PYIC-6245: Handle cross browser app callbacks
  lambdas/process-journey-event/build.gradle
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/JourneyResponse.java
  libs/journey-uris/src/main/java/uk/gov/di/ipv/core/library/journeyuris/Events.java
  libs/journey-uris/src/main/java/uk/gov/di/ipv/core/library/journeyuris/JourneyUris.java
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
Due: spotlessCheck

BAU: Fix compose file client IDs
  local-running/compose.yaml
Due: none

PYIC-7651: Update journeyMap with new exit page
  api-tests/features/p2-web-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-6966: Review mark-ups
  libs/test-helpers/src/main/java/uk/gov/di/ipv/core/library/testhelpers/unit/LogCollector.java
  libs/verifiable-credentials/build.gradle
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/validator/VerifiableCredentialValidatorTest.java
Due: spotlessCheck

PYIC-6243: PR markups
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
Due: spotlessCheck

BAU: Retry on Connection reset errors
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/TracingHttpClientTest.java
Due: spotlessCheck

PYIC-6243: Remove redundant unit test
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
Due: spotlessCheck

PYIC-6966: Run spotless
  libs/test-helpers/src/main/java/uk/gov/di/ipv/core/library/testhelpers/unit/LogCollector.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/validator/VerifiableCredentialValidatorTest.java
Due: spotlessCheck

PYIC-6243: Fix for merge
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
  libs/journey-uris/build.gradle
Due: spotlessCheck

PYIC-7590: skip tcif cri submission
  libs/cri-storing-service/src/main/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringService.java
Due: spotlessCheck

PYIC-7590: add session vcs to submit cimit api
  libs/cri-storing-service/src/main/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringService.java
  libs/cri-storing-service/src/test/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringServiceTest.java
Due: spotlessCheck

PYIC-7590: refactor submit vc logic for cri storing service
  libs/cri-storing-service/src/main/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringService.java
  libs/cri-storing-service/src/test/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringServiceTest.java
Due: spotlessCheck

PYIC-7531: Pass international user context for P2 international users
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-7531: Improve event names
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/address-and-fraud.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-7531: Add API test
  api-tests/features/p2-international-journey.feature
Due: run-npm-lint

PYIC-7531: Add API tests for international address updates
  api-tests/features/reuse-update-details/p2-reuse-update-details-international.feature
Due: run-npm-lint

PYIC-7531: Fix API tests
  api-tests/features/p2-international-journey.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-7705: add http2 client recreation logic to avoid goaway message
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
Due: spotlessCheck

PYIC-7634: Add new BAV contract test scenario
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/bavCri/ContractTest.java
Due: spotlessCheck

BAU: Fix local running client jwks urls
  local-running/core.local.params.yaml
Due: none

IPS-1185: Update state machine deployment strategy
  deploy/template.yaml
Due: none

PYIC-6245-fix: Add get permissions for ProcessMobileAppCallback to read CriOAuthSessionsTable
  deploy/template.yaml
Due: none

PYIC-7701: combine given + family check coi functions into one
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-7701: use single coi check for family + given name change in CheckCoiHandler
  lambdas/check-coi/src/main/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandler.java
  lambdas/check-coi/src/test/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/CoiCheckType.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/RequestHelperTest.java
Due: spotlessCheck

PYIC-7701: update journey maps to combine update given + family routes
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-7701: update api tests
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
Due: run-npm-lint

PYIC-7701: fix sonar errors
  lambdas/check-coi/src/test/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandlerTest.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-7701: cut down rfc + reuse coi api tests a bit more
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
Due: run-npm-lint

PYIC-7508: Check doc ID in auth source check
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck

PYIC-7508: Use full document identifier
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
Due: spotlessCheck

PYIC-7453: Support audit events on journey events pointing to nested journeys
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachine.java
  lambdas/process-journey-event/src/main/resources/statemachine/test/initial-journey-selection.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineTest.java
Due: spotlessCheck

PYIC-7453: Refactor - use session ID in tests rather than IP address
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
