Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-7474: update nested journey maps to remove top-level parent field to match other journey maps
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializer.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/address-and-fraud.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
Due: spotlessCheck

PYIC-7474: update journey map vis to look for separate nested journey files
  journey-map/public/constants.mjs
  journey-map/public/index.mjs
Due: run-npm-lint-journey-map

PYIC-7474: fix failing unit tests
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/NestedJourneyTypes.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializer.java
  lambdas/process-journey-event/src/main/resources/statemachine/test/nested-journey-definitions.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/test/nested-journeys/doubly-nested-definition.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/test/nested-journeys/nested-journey-definition.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/NestedJourneyTypes.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializerTest.java
Due: spotlessCheck

PYIC-7474: fix sonarcloud error
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializer.java
Due: spotlessCheck

PYIC-7474: review markups
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/NestedJourneyTypes.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializer.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/NestedJourneyTypes.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializerTest.java
Due: spotlessCheck

PYIC-7498: Add HMRC KBV unhappy path API tests
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-7498: Add unhappy path DWP KBV CRI scenarios which fallback to Experian KBV's
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

BAU: fix failing journey map workflow
  .github/workflows/journey-map.yml
Due: none

PYIC-7460: Set bulk migration reserved concurrency
  deploy/template.yaml
Due: none

PYIC-6736: Re-instate app triage steps
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-6736: Update API tests
  api-tests/features/p2-strategic-app.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
Due: run-npm-lint

PYIC-6736: Fix tests
  api-tests/features/p2-strategic-app.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-6736: Run prettier
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-7493: Emit dl-auth-source-check event
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/journey-uris/src/main/java/uk/gov/di/ipv/core/library/journeyuris/JourneyUris.java
Due: spotlessCheck

PYIC-7476: Allow nested journey exit events behind conditionals
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineInitializer.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/BasicEvent.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/Event.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/ExitNestedJourneyEvent.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/JourneyMapTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/BasicEventTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/ExitNestedJourneyEventTest.java
Due: spotlessCheck

PYIC-7476: Add cimit-stub client
  .github/workflows/pre-merge-checks.yml
  api-tests/.env.build
  api-tests/.env.local
  api-tests/.env.template
  api-tests/secure-pipeline/run-tests.sh
  api-tests/src/clients/cimit-stub-client.ts
  api-tests/src/config/config.ts
  api-tests/src/steps/cri-steps.ts
  api-tests/src/types/cimit-stub.ts
Due: run-npm-lint

PYIC-7476: Add disabled CRI API tests
  api-tests/data/cri-stub-requests/kbv/kenneth-needs-enhanced-verification/evidence.json
  api-tests/data/cri-stub-requests/ukPassport/kenneth-passport-valid/evidence.json
  api-tests/features/cimit/enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/src/steps/ipv-steps.ts
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/ExitNestedJourneyEventTest.java
  local-running/core.local.params.yaml
Due: spotlessCheck, run-npm-lint

PYIC-7476: Add tests for DWP disabled and KBV enabled
  api-tests/features/disabled-cri-journeys.feature
Due: run-npm-lint

PYIC-7476: Remove posting VCs to cimit stub mitigations endpoint
  api-tests/src/clients/cimit-stub-client.ts
  api-tests/src/steps/cri-steps.ts
  api-tests/src/types/cimit-stub.ts
Due: run-npm-lint

PYIC-7425: update api tests to send new request shape for ticf management api
  api-tests/src/clients/ticf-management-api.ts
  api-tests/src/types/ticf-management-api.ts
Due: run-npm-lint

BAU: Add checking of CRI JAR requests for unexpected added attributes
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/cimit/enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/enhanced-verification-mitigation-f2f.feature
  api-tests/features/inherited-identity/extended-scenarios.feature
  api-tests/features/p1-journeys.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-m2b.feature
  api-tests/features/p2-reprove-identity.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/return-codes.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  api-tests/src/steps/cri-steps.ts
  api-tests/src/types/cri-stub.ts
Due: run-npm-lint

BAU: Rename step for consistency
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/cimit/enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/enhanced-verification-mitigation-f2f.feature
  api-tests/features/inherited-identity/extended-scenarios.feature
  api-tests/features/mfa-reset-journey.feature
  api-tests/features/p1-journeys.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/return-codes.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-7476: Route users to correct page when F2F disabled
  api-tests/features/disabled-cri-journeys.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-7476: Standardise activating feature sets
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/p1-journeys.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p2-coi-delete-identity.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-m2b.feature
  api-tests/features/p2-strategic-app.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  api-tests/features/ticf/ticf-successful-responses.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-7476: Suppress circular dependency warning from Sonar
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/Event.java
Due: spotlessCheck

BAU: group api-test babel deps
  .github/dependabot.yml
Due: none

BAU: Fix feature set activation
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

BAU: Review comments
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

BAU: Pin xray sdk version to avoid conflict with Jackson
  build.gradle
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/restricted/AuditRestrictedF2F.java
Due: spotlessCheck

PYIC-7489 Add success response schemas
  openAPI/core-back-external.yaml
Due: none

PYIC-7489 Add schema validation for success responses
  api-tests/package-lock.json
  api-tests/package.json
  api-tests/src/clients/core-back-external-client.ts
  api-tests/src/types/world.ts
  api-tests/src/utils/schema-validator.ts
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/UserIdentity.java
Due: spotlessCheck, run-npm-lint

PYIC-7489 Add request schemas
  openAPI/core-back-external.yaml
Due: none

PYIC-7489 Add error schema
  openAPI/core-back-external.yaml
Due: none

PYIC-7489 Resolve all unresolved refs
  api-tests/src/utils/schema-validator.ts
Due: run-npm-lint

BAU: Fix merge issues
  api-tests/features/cimit/alternate-doc.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-7492: update local-running config to add drivingPermit to allowed shared attributes for DL CRI
  local-running/core.local.params.yaml
Due: none

PYIC-7492: allow addition of driving permit in SharedClaimsHelper
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/domain/SharedClaims.java
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelper.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/AuthorizationRequestHelperTest.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/SharedClaimsHelperTest.java
Due: spotlessCheck

PYIC-7489 Remove incorrect bearer auth scope
  openAPI/core-back-external.yaml
Due: none

PYIC-7489 Use birthdate schema
  openAPI/core-back-external.yaml
Due: none

PYIC-6736: Send all strategic app routes through the identify-device page
  api-tests/features/p2-strategic-app.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: run-npm-lint
