Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

IPS-1109: Enable metrics for APIGW
  deploy/template.yaml
Due: none

PYIC-6736: Delete mobileApp event from journey map now that core-front will send appTriage instead
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-6736: Use entry event mapping to avoid needing to change event name
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

Revert "Merge pull request #2529 from govuk-one-login/pyic-7489-openapi-types"
  api-tests/package-lock.json
  api-tests/package.json
  api-tests/src/clients/core-back-external-client.ts
  api-tests/src/types/world.ts
  api-tests/src/utils/schema-validator.ts
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/UserIdentity.java
  openAPI/core-back-external.yaml
Due: spotlessCheck, run-npm-lint

PYIC-7470: Track migrated VCs count in bulk migration
  lambdas/bulk-migrate-vcs/src/main/java/uk/gov/di/ipv/core/bulkmigratevcs/BulkMigrateVcsHandler.java
  lambdas/bulk-migrate-vcs/src/main/java/uk/gov/di/ipv/core/bulkmigratevcs/domain/BatchReport.java
  lambdas/bulk-migrate-vcs/src/main/java/uk/gov/di/ipv/core/bulkmigratevcs/domain/PageSummary.java
  lambdas/bulk-migrate-vcs/src/test/java/uk/gov/di/ipv/core/bulkmigratevcs/BulkMigrateVcsHandlerTest.java
Due: spotlessCheck

BAU Test credential request in staging without setting Content-Type
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-5039: Update unit tests
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/helpers/AsyncCriResponseHelperTest.java
Due: spotlessCheck

PYIC-5039: Fix SonarCloud issues
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
Due: spotlessCheck

Revert "Revert "Merge pull request #2529 from govuk-one-login/pyic-7489-openapi-types""
  api-tests/package-lock.json
  api-tests/package.json
  api-tests/src/clients/core-back-external-client.ts
  api-tests/src/types/world.ts
  api-tests/src/utils/schema-validator.ts
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/UserIdentity.java
  openAPI/core-back-external.yaml
Due: spotlessCheck, run-npm-lint

Revert "BAU Test credential request in staging without explicitly setting Content-Type"
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-7489 Avoid linking to external schemas
  api-tests/src/utils/schema-validator.ts
  openAPI/core-back-external.yaml
Due: run-npm-lint

BAU DWP KBV credential request headers and debug logs
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-5039: - Refactor cri check into sendIpvVcErrorAuditEvent - Update empty criResponseItem message
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
Due: spotlessCheck

PYIC-4111: add consumer side contract tests for the EVCS client
  libs/evcs-service/build.gradle
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/pact/ContractTest.java
Due: spotlessCheck

PYIC-4111: refactor EVCS consumer contract test
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/pact/ContractTest.java
Due: spotlessCheck

BAU Updated DWP KBV debug logs
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-7483: Add json export for pipeline dashboard
  dashboards/pipeline-overview-dashboard.json
Due: none

PYIC-7483: Add a README for the dashboards dir
  dashboards/README
Due: none

BAU: include openAPI schemas in api test image
  api-tests/secure-pipeline/api-tests.Dockerfile
Due: run-npm-lint

PYIC-7507: Journey routing for DL auth source checks
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

BAU More DWP KBV debug logs
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-4111: refactor EVCS consumer contract tests
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/pact/ContractTest.java
Due: spotlessCheck

BAU DWP KBV token request logging
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-7507: Add check_details context to auth source check states
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-7507: Route to technical error on temp unavailable
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-7507: Set default journey to technical error
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

BAU: TS agnostic local-running configuration
  local-running/compose.yaml
Due: none

PYIC-7334: Add F2F p1 journeys api-tests
  api-tests/features/p1-journeys.feature
Due: run-npm-lint

BAU: Allow debugging of core-back in local running
  local-running/build.gradle
Due: spotlessCheck

PYIC-7505: API tests for DL auth source check journeys
  api-tests/data/cri-stub-requests/drivingLicence/kenneth-changed-family-name-driving-permit-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/drivingLicence/kenneth-changed-family-name-driving-permit-valid/evidence.json
  api-tests/data/cri-stub-requests/drivingLicence/kenneth-changed-given-name-driving-permit-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/drivingLicence/kenneth-changed-given-name-driving-permit-valid/evidence.json
  api-tests/features/dl-auth-source-checks.feature
Due: run-npm-lint

PYIC-6619: Set log group retention days to 30
  deploy/template.yaml
Due: none

PYIC-6236: Rename references to f2f stub queue to cri response queue
  api-tests/.env.build
  api-tests/README.md
  deploy/template.yaml
Due: run-npm-lint

IPS-1109: Canary deployments
  README.md
  deploy/samconfig.toml
  deploy/template.yaml
  openAPI/core-back-internal.yaml
Due: none

PYIC-7486: DWP thin file buffer page routing
  api-tests/features/cimit/alternate-doc.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
Due: run-npm-lint

PYIC-7500: throw error when client auth jwt id has already been used
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/validation/TokenRequestValidator.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/validation/TokenRequestValidatorTest.java
Due: spotlessCheck

BAU: Update pipeline dashboard to show commit-msg
  dashboards/README.md
  dashboards/pipeline-overview-dashboard.json
Due: none

BAU: Remove JAVA_TOOL_OPTIONS from local compose file
  local-running/compose.yaml
Due: none

BAU Further DWP KBV debug logging
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

PYIC-7500: throw error when client auth jwt id is missing or empty
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/validation/TokenRequestValidator.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/validation/TokenRequestValidatorTest.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
