Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8263: Add API test for F2F discounts VC when no associated pending record. Update unit tests
  api-tests/features/p2-f2f-journey.feature
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseService.java
Due: spotlessCheck, run-npm-lint

BAU: Introduce local variables so SonarQube knows that the same optional is being used in both places
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-8263: Add ensure pending return VCs only discounted if async
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

BAU: Run spotless
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8263: Add getCriResponseItems unit tests
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseServiceTest.java
Due: spotlessCheck

PYIC-8263: Revert removal of extra VCs in CheckExistingIdentityHandlerTest
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8263: Update VC discount test with stronger fraud score
  api-tests/features/p2-f2f-journey.feature
Due: run-npm-lint

PYIC-7872: Test commit with improved core-back memory
  deploy/template.yaml
Due: none

PYIC-7872: Refactor api-tests/run-tests.sh
  api-tests/.env.dev.template
  api-tests/.env.dev01
  api-tests/secure-pipeline/run-tests.sh
Due: run-npm-lint

PYIC-7872: Fix secure-post-merge.yml to reference main
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-7872: Fix secure-post-merge.yml to reference current branch
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-7872: Revert secure-post-merge.yml changes
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-7872: Revert secure-post-merge.yml refactor
  api-tests/secure-pipeline/run-tests.sh
Due: run-npm-lint

PYIC-8099 Redirect journey map to aws
  .github/workflows/journey-map.yml
  journey-map/redirect/index.html
Due: run-npm-lint-journey-map

PYIC-8284 Tidy up journey map helpers
  journey-map/src/helpers.ts
  journey-map/src/types.ts
Due: run-npm-lint-journey-map

PYIC-8284 Tidy up application js
  journey-map/src/application.ts
  journey-map/src/constants.ts
  journey-map/src/helpers.ts
  journey-map/src/types.ts
Due: run-npm-lint-journey-map

PYIC-8284 Add esbuild as a bundler
  .gitignore
  journey-map/eslint.config.mjs
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/public/index.html
  journey-map/src/application.ts
  journey-map/src/constants.ts
  journey-map/src/helpers.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8284 Set up build scripts
  .github/workflows/journey-map.yml
  journey-map.Dockerfile
  journey-map/package.json
  journey-map/server/app.ts
  journey-map/src/index.ts
  journey-map/src/types.ts
  journey-map/tsconfig.json
  journey-map/tsconfig.server.json
Due: run-npm-lint-journey-map

PYIC-8284 Add tests for orphans
  journey-map/src/helpers/orphans.test.ts
Due: run-npm-lint-journey-map

PYIC-8284 Add tests for expand-parents
  journey-map/src/helpers/expand-parents.test.ts
  journey-map/src/helpers/expand-parents.ts
Due: run-npm-lint-journey-map

PYIC-8284 Use common method to get all possible targets£
  journey-map/src/helpers/event-resolver.ts
  journey-map/src/helpers/orphans.ts
  journey-map/src/helpers/uplift-nested.ts
Due: run-npm-lint-journey-map

PYIC-8284 Expand all nested journeys
  journey-map/src/helpers/event-resolver.ts
  journey-map/src/helpers/expand-nested.test.ts
  journey-map/src/helpers/expand-nested.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8284 Add tests for event resolver
  journey-map/src/helpers/event-resolver.test.ts
Due: run-npm-lint-journey-map

PYIC-8284 Add uplift nested tests
  journey-map/package.json
  journey-map/src/helpers/deep-clone.test.ts
  journey-map/src/helpers/uplift-nested.test.ts
  journey-map/src/helpers/uplift-nested.ts
  journey-map/src/index.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8284 Consolidate synthetic entry and exit events
  journey-map/src/helpers/event-resolver.ts
  journey-map/src/helpers/orphans.ts
  journey-map/src/helpers/uplift-nested.test.ts
  journey-map/src/helpers/uplift-nested.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8284 Extract more helpers
  journey-map/src/helpers.ts
  journey-map/src/helpers/deep-clone.ts
  journey-map/src/helpers/event-resolver.ts
  journey-map/src/helpers/expand-nested.ts
  journey-map/src/helpers/expand-parents.ts
  journey-map/src/helpers/journey-context.ts
  journey-map/src/helpers/options.ts
  journey-map/src/helpers/orphans.ts
  journey-map/src/helpers/uplift-nested.ts
  journey-map/src/index.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8284 Separate transformation for journey transitions
  journey-map/src/helpers/add-journey-transitions.test.ts
  journey-map/src/helpers/add-journey-transitions.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8284 Add tests for expanding nested journeys
  journey-map/src/helpers/add-journey-transitions.test.ts
  journey-map/src/helpers/expand-nested.test.ts
  journey-map/src/helpers/expand-nested.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8284 Tidy up render
  journey-map/src/render.ts
  journey-map/src/types.ts
Due: run-npm-lint-journey-map

PYIC-8284 Add journey-context tests
  journey-map/src/helpers/journey-context.test.ts
  journey-map/src/helpers/journey-context.ts
Due: run-npm-lint-journey-map

PYIC-7902: Switch journey context to a map
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolveParameters.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolver.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolverTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/states/BasicStateTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/states/NestedJourneyInvokeStateTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck

PYIC-7902: Add journey contexts to events and add ability to unset a context
  api-tests/features/strategic-app/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachine.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/TransitionResult.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/BasicEvent.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolveParameters.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolver.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/states/BasicState.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/repeat-fraud-check.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolverTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/states/BasicStateTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/states/NestedJourneyInvokeStateTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/collections/Merging.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck, run-npm-lint

PYIC-8284 Tidy up commands and GHAs
  .github/workflows/journey-map-tests.yml
  journey-map.Dockerfile
  journey-map/package.json
Due: run-npm-lint-journey-map

PYIC-8252: use put endpoint behind feature flag
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/UserIdentity.java
  libs/evcs-service/build.gradle
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/EvcsPutUserVCsDto.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/EvcsStoredIdentityDto.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/exception/FailedToCreateStoredIdentityForEvcsException.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/StoredIdentityService.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
Due: spotlessCheck

PYIC-8263: Update logic to require pending record for any VCs
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8284 Tidy up
  journey-map.Dockerfile
  journey-map/README.md
  journey-map/public/index.html
  journey-map/src/index.ts
  journey-map/src/types.ts
Due: run-npm-lint-journey-map

PYIC-8263: Refactor pendingReturnVcs
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8263: Remove invalid test
  api-tests/features/p2-f2f-journey.feature
Due: run-npm-lint

PYIC-8263: Add DCMAW async test for discounting without pending record
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint

PYIC-8263: Remove test until PENDING_RETURN VCs can be generated
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint
