Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8593: Add highlight feature for selected journey.
  journey-map/public/index.html
  journey-map/public/style.css
  journey-map/server/analytics-middleware.ts
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-8593: Remove unnecessary highlighting code.
  journey-map/public/style.css
  journey-map/src/index.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8593: Add stroke colour and width evaluation based on the transitions count.
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8593: Remove public modifier from test class.
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/NumberHelperTest.java
Due: spotlessCheck

PYIC-8593: Adjust arrows colour.
  journey-map/src/index.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-7871: Return featureset responsibility to inheriting ConfigService's
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/ticf/ticf-successful-responses.feature
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
Due: spotlessCheck, run-npm-lint

PYIC-7871: Reformat ConfigService for readability in PR
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7871: Move away from configuration overriding in place as local running cannot make it thread local
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
Due: spotlessCheck

PYIC-7871: Tidyup unwanted API tags
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/ticf/ticf-successful-responses.feature
Due: run-npm-lint

PYIC-7871: Revert changes to IssueClientAccessTokenHandlerTest PACT test
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/pact/IssueClientAccessTokenHandlerTest.java
Due: spotlessCheck

PYIC-8593: Add event field to the query.
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/TransitionCount.java
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
Due: spotlessCheck

PYIC-7871: Use long's in Config
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/InternalOperationsConfig.java
Due: spotlessCheck

PYIC-8593: Add event to JourneyTransition interface
  journey-map/src/data/data.ts
Due: run-npm-lint-journey-map

PYIC-7871: Add getBackendSessionTtl mock to IssueClientAccessTokenHandlerTest
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/pact/IssueClientAccessTokenHandlerTest.java
Due: spotlessCheck

PYIC-7871: Add configService to ClientAuthJwtIdService constructor
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/service/ClientAuthJwtIdService.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/pact/IssueClientAccessTokenHandlerTest.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/service/ClientAuthJwtIdServiceTest.java
Due: spotlessCheck

PYIC-8593: Support nested journeys with traffic count
  journey-map/src/index.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8593: Fix suffix issue for nested journeys
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8593: Fix exit traffic in nested journeys
  journey-map/src/index.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8593: Rename variables
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8593: Change dev01 to shared
  journey-map/deploy/template.yaml
Due: run-npm-lint-journey-map

PYIC-8593: Remove dotenv
  journey-map/package.json
Due: run-npm-lint-journey-map

PYIC-8593: Fix package-lock.json
  journey-map/package-lock.json
Due: run-npm-lint-journey-map

PYIC-8593: Change nested journey algorithm
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8593: Fix nested journeys in nested journeys.
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC_7871: Optimize imports
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
  lambdas/build-proven-user-identity-details/src/test/java/uk/gov/di/ipv/core/buildprovenuseridentitydetails/BuildProvenUserIdentityDetailsHandlerTest.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandlerTest.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandlerTest.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriServiceTest.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-gpg45-score/src/test/java/uk/gov/di/ipv/core/checkgpg45score/CheckGpg45ScoreHandlerTest.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
  lambdas/check-reverification-identity/src/test/java/uk/gov/di/ipv/core/checkreverificationidentity/CheckReverificationIdentityHandlerTest.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/service/KmsRsaDecrypter.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/service/KmsRsaDecrypterTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/service/AisServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/annotations/RemoveEscapedQuotationMarks.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/RestCriConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ConfigServiceTest.java
  libs/cri-storing-service/src/test/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringServiceTest.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsServiceTest.java
Due: spotlessCheck

PYIC-7871: Remove unused/uncessary declerations & comments
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/helpers/AuthorizationRequestHelperTest.java
  lambdas/build-proven-user-identity-details/src/test/java/uk/gov/di/ipv/core/buildprovenuseridentitydetails/BuildProvenUserIdentityDetailsHandlerTest.java
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandler.java
  lambdas/fetch-system-settings/src/test/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandlerTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/service/KmsRsaDecrypter.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/pact/ContractTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CimitUtilityServiceTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
  libs/oauth-key-service/src/test/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyServiceTest.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-8593: Refactor - change algorithm into functional approach
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8593: Extract nested transition traffic handler to separate file.
  journey-map/src/helpers/journey-traffic.ts
  journey-map/src/helpers/journey-transition.test.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8593: Remove cache control from request response.
  journey-map/server/analytics-middleware.ts
Due: run-npm-lint-journey-map

PYIC-8298: Allow InitialiseIpvSession to decrypt with any KMS key
  deploy/template.yaml
Due: none

PYIC-8593: Write test for nested journey transitions.
  journey-map/src/helpers/journey-transition.test.ts
  journey-map/src/helpers/nested-journey-traffic.test.ts
  journey-map/src/helpers/nested-journey-traffic.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8593: Change arrow width range to 1-8
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8593: Update README.md
  journey-map/README.md
Due: run-npm-lint-journey-map

PYIC-7878: long => @NonNull Long since Long is nullable
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/InternalOperationsConfig.java
Due: spotlessCheck

PYIC-8593: Update according to code review.
  journey-map/public/index.html
  journey-map/server/analytics-middleware.ts
  journey-map/server/app.ts
  journey-map/src/render.ts
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/Request.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/ValidationHelper.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/ValidationHelperTest.java
  openAPI/core-back-analytics.yaml
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-8593: Resolve * import
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
Due: spotlessCheck

PYIC-8593: Add JourneyTransitionsRequestBody interface
  journey-map/server/analytics-middleware.ts
Due: run-npm-lint-journey-map

PYIC-8593: Fix branch issues.
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
Due: spotlessCheck

PYIC-8593: Fix types
  journey-map/server/analytics-middleware.ts
  journey-map/server/app.ts
Due: run-npm-lint-journey-map

PYIC-8593: Remove number helper class.
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/NumberHelper.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/NumberHelperTest.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
