Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8896: Split exit events
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-handle-result.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-8896: Add new reprove identity journey
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/intervention-reprove-identity.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/IpvJourneyTypes.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
Due: spotlessCheck

PYIC-8896: Send intervention users down the new reprove journey
  api-tests/data/audit-events/reprove-identity-journey.json
  api-tests/features/account-intervention/fail-open.feature
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/audit-events.feature
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck, run-npm-lint

PYIC-8896: Rename intervention reprove identity API test file
  api-tests/features/account-intervention/reprove-identity.feature
Due: run-npm-lint

PYIC-8896: Remove obsolete tests
  api-tests/features/account-intervention/reprove-identity.feature
  api-tests/features/stored-identity/reprove-identity-journeys.feature
Due: run-npm-lint

PYIC-8896: Add api tests for new reprove journey
  api-tests/features/account-intervention/reprove-identity.feature
Due: run-npm-lint

PYIC-8896: Remove obsolete imports
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8896: Add missing route
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/intervention-reprove-identity.yaml
Due: none

PYIC-8896: Re-instate states that will be needed during switchover
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-handle-result.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-8713: add a stateHistoryStack
  lambdas/build-client-oauth-response/src/test/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandlerTest.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandlerTest.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/StateHistoryEntry.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/IpvSessionService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
Due: spotlessCheck

PYIC-8713: update popState to also pop the current stateHistory and reset the previousStateHistory
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck

PYIC-8713: update state getters to use stateHistoryStack instead of stateStack
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck

PYIC-8713: update test for timeout handling and correct arg order ftr assertEquals
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
Due: spotlessCheck

PYIC-8713: remove use of stateStack from codebase
  lambdas/build-client-oauth-response/src/test/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandlerTest.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandlerTest.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/IpvSessionService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
Due: spotlessCheck

PYIC-8713: remove stateStack from IpvSessionItem
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck

PYIC-8896: Pull uk-driving-licence-details-not-correct out of strategic-app-handle-result and into strategic-app-triage
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-handle-result.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-8896: Fix route
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/intervention-reprove-identity.yaml
Due: none

PYIC-8954 Update eslint to latest major version in api-tests
  api-tests/package-lock.json
  api-tests/package.json
Due: run-npm-lint

PYIC-8954 Update eslint to latest major version in journey-map
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint-journey-map

PYIC-8896: Remove test tag
  api-tests/features/account-intervention/reprove-identity.feature
Due: run-npm-lint

PYIC-8896: Remove obsolete feature flag from local config
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-8896: Remove incorrect page context
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/intervention-reprove-identity.yaml
Due: none

PYIC-8896: Fix test
  api-tests/features/account-intervention/reprove-identity.feature
Due: run-npm-lint

PYIC-8896: Call process-candidate-identity before returning to the RP
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/intervention-reprove-identity.yaml
Due: none

PYIC-8669: Switch to AppConfig Pipelines.
  deploy/template.yaml
Due: none

BAU Tune DWP KBV return rate alarm to reduce noise
  deploy/template.yaml
Due: none

PYIC-8989: upgrade javalin (currently only being used by local-running) to v7
  gradle/libs.versions.toml
  local-running/src/main/java/uk/gov/di/ipv/coreback/CoreBack.java
Due: spotlessCheck

PYIC-8896: Fix unintended re-use of DCMAW Async VCs
  api-tests/features/account-intervention/reprove-identity.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/intervention-reprove-identity.yaml
Due: run-npm-lint

PYIC-8896: Add reprove journey to journey map dropdown
  journey-map/src/constants.ts
Due: run-npm-lint-journey-map

BAU: add some details in the PR template on canary deployments
  .github/pull_request_template.md
Due: none

PYIC-8669: Remove unused AppConfig resources.
  deploy/template.yaml
Due: none

BAU Dump script for Product Healthcheck jps stats
  scripts/product_healthcheck_jps_stats.sh
Due: none

PYIC-8896: Differentiate between reprove for interventions and reprove due to expired driving licence
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
Due: spotlessCheck

PYIC-8896: Put new journey behind feature flag
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
Due: spotlessCheck

PYIC-8896: Update SIS api tests to use old reprove journey
  api-tests/features/stored-identity/reprove-identity-journeys.feature
Due: run-npm-lint

PYIC-8896: Update API tests
  api-tests/features/account-intervention/fail-open.feature
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/account-intervention/reprove-identity.feature
  api-tests/features/audit-events.feature
  api-tests/features/expired-driving-permit.feature
  api-tests/features/stored-identity/reprove-identity-journeys.feature
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

BAU: Run npm install to update package lock file
  journey-map/package-lock.json
Due: run-npm-lint-journey-map

BAU: Run npm audit fix to remove high severity vulnerability
  journey-map/package-lock.json
Due: run-npm-lint-journey-map

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
