Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-4934: update api tests to use new criId
  api-tests/features/cimit/p1-alternate-doc.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-f2f.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  api-tests/features/dl-auth-source-checks/dl-cri-dropout.feature
  api-tests/features/inherited-identity/extended-scenarios.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/return-codes.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
  api-tests/features/stored-identity/cimit-journeys.feature
  api-tests/features/stored-identity/p1-journeys.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p1-strategic-app.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
Due: run-npm-lint

PYIC-4934: update kbv cri data folder name to match new experianKbv criId
  api-tests/data/cri-stub-requests/experianKbv/kenneth-needs-enhanced-verification/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-needs-enhanced-verification/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-score-0/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-score-1/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-score-1/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-score-2/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-score-2/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-with-breaching-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/kenneth-with-breaching-ci/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/lora-score-0/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/lora-score-0/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/lora-score-1/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/lora-score-1/evidence.json
  api-tests/data/cri-stub-requests/experianKbv/lora-score-2/credentialSubject.json
  api-tests/data/cri-stub-requests/experianKbv/lora-score-2/evidence.json
Due: run-npm-lint

PYIC-4934: update kbv -> experianKbv in STUB_CREDENTIAL_ISSUER_SUBDOMAINS
  api-tests/src/clients/cri-stub-client.ts
Due: run-npm-lint

Add permission boundary
  deploy/template.yaml
Due: none

PYIC-8306 Add permission boundary.
  deploy/template.yaml
Due: none

PYIC-8306 Update permission boundary
  deploy/template.yaml
Due: none

PYIC-8464: add new api tests for high confidence
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/features/stored-identity/p2-reuse-existing-identity.feature
  api-tests/features/stored-identity/p3-journeys.feature
Due: run-npm-lint

PYIC-8457: deploy to dev-perf environment
  deploy/template.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
Due: spotlessCheck

PYIC-8464: self-review - fixing typos, capitalisation and extra spaces etc
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
  api-tests/features/stored-identity/p2-reuse-existing-identity.feature
Due: run-npm-lint

PYIC-8464: update kbv -> experianKbv
  api-tests/features/cimit/p2-alternate-doc.feature
Due: run-npm-lint

BAU: Improve string check
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

Revert "PYIC-8464: update kbv -> experianKbv"
  api-tests/features/cimit/p2-alternate-doc.feature
Due: run-npm-lint

PYIC-8530: Enable AIS in local running
  local-running/core.local.params.yaml
Due: none

PYIC-8530: Fix up API tests
  api-tests/features/account-intervention/p2-reprove-identity.feature
  api-tests/features/audit-events.feature
  api-tests/features/inherited-identity/extended-scenarios.feature
  api-tests/features/stored-identity/reprove-identity-journeys.feature
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-8306 Update permission boundary with correct if check
  deploy/template.yaml
Due: none

BAU: Add test and fix for calling back in weird places - Needs testing in AWS to check velocity scripting
  api-tests/features/strategic-app/p2-strategic-app.feature
  api-tests/src/clients/core-back-internal-client.ts
  api-tests/src/steps/cri-steps.ts
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
Due: spotlessCheck, run-npm-lint

PYIC-4934: update kbv -> experianKbv
  api-tests/features/cimit/p2-alternate-doc.feature
Due: run-npm-lint

BAU: Uncomment currentPage input
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

BAU: Lint-fix
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-8464: update new identity journey map descriptions
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

Revert "PYIC-4934: cleanup old kbv cri"
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/Cri.java
  libs/gpg45-evaluator/src/main/java/uk/gov/di/ipv/core/library/gpg45/validators/Gpg45IdentityCheckValidator.java
Due: spotlessCheck

PYIC-4934: remove old KBV from CRI enum and remove unused CRI_EXPERIAN_KBV state
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/TokenTests.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/Cri.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/gpg45-evaluator/src/main/java/uk/gov/di/ipv/core/library/gpg45/validators/Gpg45IdentityCheckValidator.java
Due: spotlessCheck

PYIC-8418 remove unused lastChoice context
  api-tests/features/dl-auth-source-checks/dl-cri-dropout.feature
  api-tests/features/p1-f2f-journey.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/stored-identity/p1-journeys.feature
  api-tests/features/stored-identity/reprove-identity-journeys.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
Due: run-npm-lint

BAU Set override for vulnerable transitive dependency
  api-tests/package-lock.json
  api-tests/package.json
Due: run-npm-lint

PYIC-8485: Update driving-licence CRI stub URL licen(s)e -> licen(c)e
  api-tests/data/audit-events/alternate-doc-mitigation-journey.json
  api-tests/data/audit-events/dwp-kbv-dropout-user-abandons-cri.json
  api-tests/data/audit-events/dwp-kbv-dropout-via-thin-file.json
  api-tests/data/audit-events/dwp-kbv-successful-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-8254: Add "test-user-id has a valid identity record" provider states
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-7877 Roll local params to yaml format.
  local-running/core.local.params.yaml
Due: none

PYIC-7877 Add support for json and yaml in ConfigService.getIssuerCris method.
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7877 Add support for json and yaml in ConfigService.getCriConfigForType method.
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
Due: spotlessCheck

PYIC-7877 Add \ removal logic from signing and encryption keys.
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7877 Add little refactoring
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7877 Fix bug that prevent json from correct parsing
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7877 Change cimit config to yaml
  local-running/core.local.params.yaml
Due: none

PYIC-7877 Add cimit support for both formats - yaml and json
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
Due: spotlessCheck

Revert "BAU: Bump sigstore/cosign-installer from 3.9.1 to 3.9.2"
  .github/workflows/secure-pipeline-api-tests-image.yml
Due: none

PYIC-7877 Remove unwanted quotas
  local-running/core.local.params.yaml
Due: none

PYIC-7189: update process-journey-event to return current state if expected CRI does not match
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachine.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineTest.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
