Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8306 Removed invalid role name.
  deploy/template.yaml
Due: none

PYIC-7801: Update license to licence
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/pact/f2fCri/ContractTest.java
  local-running/core.local.params.yaml
Due: spotlessCheck

BAU Log request timeouts at WARN level
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
Due: spotlessCheck

PYIC-8358: Add awaitAuditEvents call.
  lambdas/manual-f2f-pending-reset/src/main/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandler.java
Due: spotlessCheck

PYIC-8358: Add test to make sure awaitAuditEvent is called.
  lambdas/manual-f2f-pending-reset/src/test/java/uk/gov/di/ipv/core/manualf2fpendingreset/ManualF2fPendingResetHandlerTest.java
Due: spotlessCheck

PYIC-8358: Add SQS configuration in template.yaml.
  deploy/template.yaml
Due: none

PYIC-8470: invalidate SI at the beginning of journey
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/EvcsInvalidateStoredIdentityDto.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
Due: spotlessCheck

PYIC-8470: refactor CheckExistingIdentityHandlerTest to group common tests
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8470: add SI invalidation to ResetSessionIdentityHandler to cover reuse update journeys
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/reset-session-identity/src/test/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8470: add api tests for reuse + RFC update scenarios for invalidation
  api-tests/features/stored-identity/failed-update-journeys.feature
  api-tests/features/stored-identity/p1-repeat-fraud-check.feature
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/src/steps/stored-identity-steps.ts
Due: run-npm-lint

PYIC-8495: Use checkVcResponse in CheckExistingIdentityHandler
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p1-strategic-app.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
  lambdas/check-existing-identity/build.gradle
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-mobile-app-vc-receipt/build.gradle
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
  lambdas/process-cri-callback/build.gradle
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandlerTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/cri-checking-service/build.gradle
  libs/cri-checking-service/src/main/java/uk/gov/di/ipv/core/library/cricheckingservice/CriCheckingService.java
  libs/cri-checking-service/src/main/java/uk/gov/di/ipv/core/library/cricheckingservice/exception/InvalidCriCallbackRequestException.java
  settings.gradle
Due: spotlessCheck, run-npm-lint

PYIC-8470: use POST /management/stored-identity endpoint to reduce repeated steps
  api-tests/features/stored-identity/failed-update-journeys.feature
  api-tests/features/stored-identity/p1-repeat-fraud-check.feature
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/src/clients/evcs-stub-client.ts
  api-tests/src/steps/stored-identity-steps.ts
Due: run-npm-lint

PYIC-8470: fix failing unit tests
  lambdas/reset-session-identity/src/test/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8470: add unit tests to improve coverage
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/EvcsInvalidateStoredIdentityDto.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8470: update background names for api tests
  api-tests/features/stored-identity/failed-update-journeys.feature
  api-tests/features/stored-identity/p1-repeat-fraud-check.feature
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
  api-tests/features/stored-identity/p2-journeys.feature
Due: run-npm-lint

PYIC-8495: Update tests
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p1-strategic-app.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
  api-tests/src/steps/stored-identity-steps.ts
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
Due: spotlessCheck, run-npm-lint

PYIC-8495: Remove redundant API test tags
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p1-strategic-app.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint

PYIC-8495: Remove redundant logging
  api-tests/src/steps/stored-identity-steps.ts
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck, run-npm-lint

PYIC-8358: Add missing !Sub in RoleName
  deploy/template.yaml
Due: none

PYIC-8464: add support for H1A profile
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/Vot.java
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-8464: add api tests for achieving P3
  api-tests/data/jar-requests/high-confidence.json
  api-tests/data/jar-requests/high-medium-confidence.json
  api-tests/features/p3-journeys.feature
  api-tests/features/stored-identity/inherited-identities.feature
  api-tests/features/stored-identity/p1-journeys.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/features/stored-identity/p3-journeys.feature
  api-tests/features/stored-identity/reprove-identity-journeys.feature
  api-tests/features/strategic-app/p3-strategic-app.feature
Due: run-npm-lint

PYIC-8464: add api tests for mitigations
  api-tests/features/cimit/p3-enhanced-verification-mitigation.feature
Due: run-npm-lint

PYIC-8495: Fix Sonarcloud issues
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  libs/cri-checking-service/src/main/java/uk/gov/di/ipv/core/library/cricheckingservice/CriCheckingService.java
  libs/cri-checking-service/src/test/java/uk/gov/di/ipv/core/library/cricheckingservice/CriCheckingServiceTest.java
Due: spotlessCheck

PYIC-8464: add additional api tests for rfc/reuse update journeys
  api-tests/features/p3-journeys.feature
  api-tests/features/stored-identity/p1-repeat-fraud-check.feature
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
Due: run-npm-lint

PYIC-8464: add @Build tag to new api test feature files
  api-tests/features/cimit/p3-enhanced-verification-mitigation.feature
  api-tests/features/p3-journeys.feature
  api-tests/features/stored-identity/p3-journeys.feature
  api-tests/features/strategic-app/p3-strategic-app.feature
Due: run-npm-lint

PYIC-8464: fix failing unit tests
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/VotMatcherTest.java
Due: spotlessCheck

PYIC-8464: fix failing audit event api tests
  api-tests/data/audit-events/new-identity-p2-app-journey.json
  api-tests/data/audit-events/reprove-identity-journey.json
  api-tests/data/audit-events/strategic-app-cross-browser-journey.json
Due: run-npm-lint

PYIC-8358: Testing examples. Create/Modify
  deploy/template.yaml
Due: none

PYIC-8358: Testing examples. Delete
  deploy/template.yaml
Due: none

PYIC-8464: add check for reuse update address journey for invalid SI record
  api-tests/features/stored-identity/failed-update-journeys.feature
Due: run-npm-lint

PYIC-8464: combine p2 + p3 cimit tests into the same file
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p3-enhanced-verification-mitigation.feature
Due: run-npm-lint

PYIC-8464: move p3 api tests into existing p2 feature files
  api-tests/features/m1c-journeys.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-reuse-journey.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/p3-journeys.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
Due: run-npm-lint

PYIC-8464: small test title corrections
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/p3-journeys.feature
Due: run-npm-lint

PYIC-8470: review markups. - rename arg to getIdentityUri - only invalidate SI for non reverification journeys in reset session identity - assert valid SI record by default in api tests
  api-tests/src/steps/stored-identity-steps.ts
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/reset-session-identity/src/test/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandlerTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
Due: spotlessCheck, run-npm-lint

PYIC-8470: fix failing SI tests
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
Due: run-npm-lint

PYIC-8104: update jose in package.json
  api-tests/package-lock.json
  api-tests/package.json
Due: run-npm-lint

PYIC-8104: enc key with alg property in local config
  local-running/core.local.secrets.template.yaml
Due: none

PYIC-8254: Add POST /identity & /identity/invalidate contract tests. - Missing actual calls to invalidate
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8470: return HttpResponse from updateUserVCs and invalidateStoredIdentityRecord to make testing easier
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
Due: spotlessCheck

Revert "PYIC-8457: temporarily disable otel collector layer while we wait for secure pipeline update"
  deploy/template.yaml
Due: none

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
