Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-9058: Differentiate photo ID and non photo ID journeys
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  api-tests/features/audit-events.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks/p2-dl-auth-source-check.feature
  api-tests/features/dl-auth-source-checks/p2-enhanced-verification-mitigation.feature
  api-tests/features/dwp-kbv/p2-alternate-doc-mitigation.feature
  api-tests/features/dwp-kbv/p2-web-journey.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  api-tests/features/m1c-journeys.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/return-codes.feature
  api-tests/features/stored-identity/m1c-journeys.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/PageContextValidator.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: spotlessCheck, run-npm-lint

feat: Restructure to use new automated executionType
  quality-gate.manifest.json
Due: none

feat: Restructure to use new check object structure
  quality-gate.manifest.json
Due: none

feat: Update manifest files to use scopes and purpose
  quality-gate.manifest.json
Due: none

feat: Flatten file and path from config
  quality-gate.manifest.json
Due: none

PYIC-9207: Add evcsStubVerifyKey secret to api tests.
  .github/workflows/automated-tests.yaml
  .github/workflows/pre-merge-checks.yml
  .github/workflows/secure-post-merge.yml
  api-tests/.env.template
  api-tests/README.md
  api-tests/secure-pipeline/run-tests.sh
  api-tests/src/config/config.ts
  api-tests/src/utils/jwt-signer.ts
Due: run-npm-lint

PYIC-9223: Stop calling invalidate at journey start
  api-tests/features/stored-identity.feature
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck, run-npm-lint

chore: Update manifest schema version for v.0.18.0
  quality-gate.manifest.json
Due: none

PYIC-9204: Fix NullPointerException trying to look up unknown client config
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
Due: spotlessCheck

PYIC-9207: Check commit. Do not merge
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-9059: Fix open banking CI failure route
  api-tests/features/p2-web-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-9059: Fix routing to app after Open Banking failure
  api-tests/features/p2-web-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-9188: Wire identity proving alarm to PagerDuty and update runbook
  deploy/template.yaml
Due: none

PYIC-9226 Reference newly signed OTel Lambda layers
  deploy/template.yaml
Due: none

chore: Update manifest schema version for v.0.19.0
  quality-gate.manifest.json
Due: none

PYIC-9068: Wire initial mitigation onward drop off states.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

BAU: Make dependabot npm config scope explicit
  .github/dependabot.yml
Due: none

BAU: Second attempt
  .github/dependabot.yml
Due: none

BAU: Use `scope` parameter
  .github/dependabot.yml
Due: none

PYIC-9171: Fix photo ID app route after Open Banking error response
  api-tests/features/p2-web-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-9171: Add Open Banking no photo ID routes
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/return-codes.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

Trigger API tests
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachine.java
Due: spotlessCheck

PYIC-9207: Change compose.yaml.template to indicate EVCS_ACCESS_TOKEN_SIGNING_JWK location.
  local-running/compose.yaml.template
Due: none

PYIC-9171: Make audit event API tests more robust and improve failure messages
  api-tests/data/audit-events/strategic-app-cross-browser-journey.json
  api-tests/features/audit-events.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/src/clients/local-audit-client.ts
  api-tests/src/utils/audit-events.ts
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

BAU: Run new version of Prettier
  api-tests/src/steps/cri-steps.ts
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/types/internal-api.ts
  api-tests/src/utils/object-matchers.ts
Due: run-npm-lint

BAU: Update data-vocab package
  api-tests/package-lock.json
  api-tests/package.json
Due: run-npm-lint

PYIC-9191: Use standard npm for all node packages
  .github/dependabot.yml
  .github/workflows/automated-tests.yaml
  .gitignore
  api-tests/.npmrc
  api-tests/.npmrc.template
  api-tests/README.md
  api-tests/secure-pipeline/api-tests.Dockerfile
Due: run-npm-lint

PYIC-9093: Review and update core-back README.md's
  README.md
  api-tests/README.md
  deploy/README.md
  journey-map/README.md
  local-running/README.md
Due: run-npm-lint, run-npm-lint-journey-map

PYIC-9093: README amendments
  README.md
  local-running/README.md
Due: none

PYIC-9193: Update package-lock for data-vocab
  api-tests/package-lock.json
Due: run-npm-lint

PYIC-9171: Use correct event name
  api-tests/features/p2-no-photo-id.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-9068: Add PENDING_DCMAW_ASYNC reset type to reset identity lambda.
  lambdas/reset-identity/src/main/java/uk/gov/di/ipv/core/resetidentity/ResetIdentityHandler.java
  lambdas/reset-identity/src/test/java/uk/gov/di/ipv/core/resetidentity/ResetIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/IdentityResetType.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsServiceTest.java
Due: spotlessCheck

PYIC-9068: Wire all routes for fraud mitigation journey.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9068: Add abandon event support in liveness-likeness mitigation journeys.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9068: Add minor adjustment to fraud CI mitigation routes.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-9068: Add api test coverage for P2 fraud mitigation routes.
  api-tests/features/fraud-mitigation/p2-mitigation.feature
Due: run-npm-lint

PYIC-9068: Fix abandoned fraud mitigation mam journey.
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  api-tests/src/steps/cri-steps.ts
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: run-npm-lint

PYIC-9068: Add P1 API tests for fraud mitigation journeys.
  api-tests/features/fraud-mitigation/p1-mitigation.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
Due: run-npm-lint

PYIC-9068: Add journeyContextToUnset to strategic-app-triage liveness-likeness-another-way entry event.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

BAU: add pre-commit hooks ecosystem to dependabot
  .github/dependabot.yml
Due: none
