Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8380: Add SIS_VERIFICATION feature flag
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-8380: Add EvcsClient method to get stored SIS identity.
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsGetStoredIdentityResult.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/EvcsStoredIdentityCheckDto.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
Due: spotlessCheck

PYIC-8380: Update local running SIS flag to match other environments
  local-running/core.local.params.yaml
Due: none

PYIC-8380: Use constants for HTTP status codes
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
Due: spotlessCheck

PYIC-8380: Get stored identity if feature flag is enabled
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8380: Fix tests
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8609: Add fix namespace to be dynamic on environment
  deploy/template.yaml
Due: none

PYIC-8573: Remove AisInterventionType from IpvSessionItem.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/domain/AccountInterventionStateWithType.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/service/AisServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/IpvSessionService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
Due: spotlessCheck

PYIC-8573: Rename methods to be more english language accurate.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
Due: spotlessCheck

PYIC-8380: Appease SonarQube
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8380: remove unused import
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8609: Add ReturnData: false to unwanted metrics for DwpKbvCriReturnRateAlarm
  deploy/template.yaml
Due: none

PYIC-8573: Remove unused import
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
Due: spotlessCheck

PYIC-8573: Fix logging message
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
Due: spotlessCheck

PYIC-8380: Revert local running SIS config to fix API tests
  local-running/core.local.params.yaml
Due: none

PYIC-8573: Tidy up tests.
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
Due: spotlessCheck

PYIC-8626: Remove `record_check` NINO contract tests
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/ninoCri/CredentialTests.java
Due: spotlessCheck

PYIC-8381: add sis applicationUrl to config for validation
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/Config.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/SisConfig.java
Due: spotlessCheck

PYIC-8381: add sis applicationUrl to local config
  local-running/core.local.params.yaml
Due: none

PYIC-8235: Upgrade Java to 21
  lambdas/fetch-journey-transitions/build.gradle
Due: spotlessCheck

PYIC-8101: Add FetchSystemSettingsHandler
  lambdas/fetch-system-settings/build.gradle
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandler.java
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/domain/CredentialIssuerConfig.java
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/domain/FeatureSet.java
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/exceptions/FetchSystemSettingsException.java
  lambdas/fetch-system-settings/src/main/resources/IpvLambdaJsonLayout.json
  lambdas/fetch-system-settings/src/main/resources/log4j2.json
  lambdas/fetch-system-settings/src/test/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandlerTest.java
  settings.gradle
Due: spotlessCheck

PYIC-8235: Use test-parameters.yaml to create system settings lambda test
  lambdas/fetch-system-settings/build.gradle
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandler.java
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/domain/CredentialIssuerConfig.java
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/domain/FeatureSet.java
  lambdas/fetch-system-settings/src/test/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandlerTest.java
  settings.gradle
Due: spotlessCheck

PYIC-8101: Implement journey map UI for system settings
  deploy/template.yaml
  journey-map/server/analytics-middleware.ts
  journey-map/server/app.ts
  journey-map/server/config.ts
  journey-map/src/helpers/options.ts
  journey-map/src/index.ts
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandler.java
  lambdas/fetch-system-settings/src/test/java/uk/gov/di/ipv/core/fetchsystemsettings/FetchSystemSettingsHandlerTest.java
  openAPI/core-back-analytics.yaml
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-8101: Lint-fix
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-8101: Fix sonar cloud issues
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/domain/CredentialIssuerConfig.java
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/domain/FeatureSet.java
  lambdas/fetch-system-settings/src/main/java/uk/gov/di/ipv/core/fetchsystemsettings/exceptions/FetchSystemSettingsException.java
Due: spotlessCheck

PYIC-8380: Move new SIS code to separate library
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsGetStoredIdentityResult.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/SisStoredIdentityCheckDto.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
  libs/sis-service/build.gradle
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/client/SisClient.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/client/SisGetStoredIdentityResult.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/dto/SisStoredIdentityCheckDto.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/exception/SisServiceException.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/client/SisClientTest.java
  settings.gradle
Due: spotlessCheck

PYIC-8101: Correct some references to FetchSystemSettingsFunction
  deploy/template.yaml
Due: none

PYIC-8380: Run spotless
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/SisStoredIdentityCheckDto.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/client/SisClient.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/dto/SisStoredIdentityCheckDto.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/client/SisClientTest.java
Due: spotlessCheck

PYIC-8101: Make SourceArn generic
  deploy/template.yaml
Due: none

PYIC-8380: Add post body
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/client/SisClient.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/dto/SisStoredIdentityRequestBody.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/client/SisClientTest.java
Due: spotlessCheck

PYIC-8595: Add VOT info to IPV_IDENTITY_REUSE_COMPLETE event
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/reuse-journey-identity-stored.json
  api-tests/data/audit-events/reuse-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionPreviousAchievedVot.java
Due: spotlessCheck, run-npm-lint

PYIC-8595: Use SUPPORTED_VOTS_BY_DESCENDING_STRENGTH for previous achieved VOT calculation and update tests
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8595: commonise audit event helper for extensions
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

Revert "BAU: Bump typescript-eslint from 8.40.0 to 8.41.0 in /api-tests in the eslint group"
  api-tests/package-lock.json
  api-tests/package.json
Due: run-npm-lint

PYIC-8380: Remove unused method
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8614: add unit tests for checkJourneyContext, journeyContextToSet and journeyContextToUnset
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/main/resources/statemachine/test/initial-journey-selection.yaml
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineTest.java
Due: spotlessCheck

PYIC-8380: Remove unused code
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/client/SisClient.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

PYIC-8614: add unit tests for mergeSets and suppress sonarqube warning
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/events/EventResolver.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/collections/MergingTest.java
Due: spotlessCheck

PYIC-8380: Fix parameter name
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/dto/SisStoredIdentityRequestBody.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/client/SisClientTest.java
Due: spotlessCheck

PYIC-7871: Add and keep configuration attribute in Config service up to date
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
