Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8226: Add runbook URL to alarm descriptions
  deploy/template.yaml
Due: none

BAU: Switch `changed-files` action to use explicit releases rather than head of main.
  .github/workflows/secure-post-merge.yml
Due: none

BAU: Fix import
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
Due: spotlessCheck

BAU: Used fixed SHA for tj-actions
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8227: add isErrorClientSession field to ClientOauthSessionItem
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/ClientOAuthSessionItem.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsServiceTest.java
Due: spotlessCheck

PYIC-8227: fix sonar issues
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/exceptions/MissingSecurityCheckCredential.java
Due: spotlessCheck

PYIC-7872: Add temporary logging to getIdentity for debugging API test issue
  api-tests/src/clients/core-back-external-client.ts
Due: run-npm-lint

PYIC-7872: Fix temporary logging to getIdentity for debugging API test issue
  api-tests/src/clients/core-back-external-client.ts
Due: run-npm-lint

PYIC-7872: Remove temporary logging
  api-tests/src/clients/core-back-external-client.ts
Due: run-npm-lint

PYIC-8227: review markups
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
Due: spotlessCheck

PYIC-7872: Update CORE_BACK_INTERNAL_API_URL to use https://
  api-tests/.env.dev01
Due: run-npm-lint

PYIC-7872: Add temporary logging
  api-tests/src/clients/core-back-internal-client.ts
Due: run-npm-lint

PYIC-7872: Remove breaking temporary logging
  api-tests/src/clients/core-back-internal-client.ts
Due: run-npm-lint

PYIC-7872: Add KEY literal to .env.dev01
  api-tests/.env.dev01
  api-tests/package-lock.json
  api-tests/package.json
  api-tests/src/config/config.ts
Due: run-npm-lint

PYIC-7872: Remove .env manipulation
  api-tests/package-lock.json
  api-tests/package.json
  api-tests/src/clients/core-back-internal-client.ts
  api-tests/src/config/config.ts
Due: run-npm-lint

PYIC-8264: Add routes for banner links
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-8264: Add routing to P1 journey for consistency
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
Due: none

PYIC-8099 Add GitHub action to deploy journey map using secure pipelines
  .github/workflows/journey-map.yml
Due: none

PYIC-8274: fix expand nested journey bug
  journey-map/public/constants.mjs
  journey-map/public/render.mjs
Due: run-npm-lint-journey-map

PYIC-8274: tidy up array handling
  journey-map/public/render.mjs
Due: run-npm-lint-journey-map

Updated PR template.
  .github/pull_request_template.md
Due: none

Updated PR template to be more descriptive
  .github/pull_request_template.md
Due: none

PYIC-8262: Update third party github action references to use SHAs
  .github/workflows/link-workflows.yaml
  .github/workflows/pre-merge-checks.yml
  .github/workflows/secure-pipeline-api-tests-image.yml
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8099 Fix dev-specific cloudformation
  journey-map/deploy/template.yaml
Due: run-npm-lint-journey-map

PYIC-8262: Fix GA linting issues
  .github/workflows/pre-merge-checks.yml
  .github/workflows/secure-pipeline-api-tests-image.yml
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8250: Update VOT matching logic
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-reverification-identity/src/main/java/uk/gov/di/ipv/core/checkreverificationidentity/CheckReverificationIdentityHandler.java
  lambdas/check-reverification-identity/src/test/java/uk/gov/di/ipv/core/checkreverificationidentity/CheckReverificationIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/VotHelper.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/VotHelperTest.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/VotMatcher.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/VotMatchingResult.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/VotMatcherTest.java
Due: spotlessCheck

PYIC-8250: Add getVtrAsVots to ClientOAuthSessionItem
  lambdas/build-client-oauth-response/src/main/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/VotHelper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/ClientOAuthSessionItem.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/persistence/item/ClientOAuthSessionItemTest.java
Due: spotlessCheck

PYIC-8249: Add a featureFlag for stored identity service (sis)
  local-running/core.local.params.yaml
Due: none

PYIC-8189: Add DCMAW Async enqueueError scenarios
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint

PYIC-8099 Try using ECR deploy action
  .github/workflows/journey-map.yml
Due: none

PYIC-8189: Remove experimental tag
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint

PYIC-8250: Fix Sonar issues
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/persistence/item/ClientOAuthSessionItemTest.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/VotMatcher.java
Due: spotlessCheck

PYIC-8250: Add extra vot matcher test
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/VotMatcherTest.java
Due: spotlessCheck

PYIC-8250: Run spotless
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/VotMatcherTest.java
Due: spotlessCheck

PYIC-8263: Update get cred bundle to filter invalid async VCs
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseService.java
Due: spotlessCheck

PYIC-8189: Update MAM journey fails without a VC to enable a successful callback
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint

PYIC-8189: Remove MAM journey errored without a VC
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint

PYIC-8250: Add explanations for warning suppression
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

PYIC-8250: Remove suppression of incorrect warning that doesn't appear to be being triggered any more
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/VotMatcher.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
