Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

BAU: Fix types and find transition
  journey-map/src/helpers/mermaid.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

BAU: Add permissions to call /journey-transitions lambda
  deploy/template.yaml
Due: none

Refactor code in reponseTemplate
  openAPI/core-back-external.yaml
Due: none

PYIC-8256: save cimit vc to evcs via put
  api-tests/src/clients/core-back-external-client.ts
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CimitUtilityService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
Due: spotlessCheck, run-npm-lint

PYIC-8256: handle invalid cimit vc
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CimitUtilityService.java
Due: spotlessCheck

PYIC-8256: revert update to core-back-client
  api-tests/src/clients/core-back-external-client.ts
Due: run-npm-lint

PYIC-8256: store cimit vc only if feature flag is enabled
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck

BAU: Add logging for debugging
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
Due: spotlessCheck

BAU: Fix Invalid journey ID detected logic
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
Due: spotlessCheck

BAU: Fix CloudWatchLogsInsights perms to use wildcard in resource
  deploy/template.yaml
Due: none

PYIC-8253: Refactor stored identity service api tests.
  api-tests/features/cimit/p1-alternate-doc.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/m1c-journeys.feature
  api-tests/features/p1-app-journey.feature
  api-tests/features/p1-f2f-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/p2-reuse-journey.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-international.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
  api-tests/features/stored-identity/cimit-journeys.feature
  api-tests/features/stored-identity/m1c-journeys.feature
  api-tests/features/stored-identity/p1-repat-fraud-check.feature
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
  api-tests/features/stored-identity/p2-journeys.feature
Due: run-npm-lint

PYIC-8256: skip adding cimit vc from evcs when getting evcs VCs
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8253: Add reprove api test for stored identity service
  api-tests/features/stored-identity/cimit-journeys.feature
  api-tests/features/stored-identity/m1c-journeys.feature
  api-tests/features/stored-identity/p1-journeys.feature
  api-tests/features/stored-identity/p1-repat-fraud-check.feature
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/features/stored-identity/reprove-identity-journeys.feature
Due: run-npm-lint

Refactored code
  openAPI/core-back-external.yaml
Due: none

Refactoret even more
  openAPI/core-back-external.yaml
Due: none

PYIC-8361: add disableStrategicApp feature set and set disableStrategicApp to true
  local-running/core.local.params.yaml
Due: none

PYIC-8253: Refactor cimit-journeys api tests
  api-tests/features/stored-identity/cimit-journeys.feature
Due: run-npm-lint

PYIC-8361: update non-strategic app api tests to use disableStrategicApp feature set
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/account-intervention/p2-reprove-identity.feature
  api-tests/features/audit-events.feature
  api-tests/features/cimit/p1-alternate-doc.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p1-enhanced-verification-mitigation-f2f.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-dcmaw.feature
  api-tests/features/cimit/p2-enhanced-verification-mitigation-f2f.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  api-tests/features/dl-auth-source-checks/dl-cri-dropout.feature
  api-tests/features/inherited-identity/extended-scenarios.feature
  api-tests/features/inherited-identity/inherited-identity.feature
  api-tests/features/m1c-journeys.feature
  api-tests/features/mfa-reset-journey.feature
  api-tests/features/p1-app-journey.feature
  api-tests/features/p1-f2f-journey.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p1-web-journey.feature
  api-tests/features/p2-app-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-reuse-journey.feature
  api-tests/features/p2-web-journey.feature
  api-tests/features/recovery-journeys.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check-failure.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/return-codes.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-failure.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-international.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
  api-tests/features/stored-identity/p1-journeys.feature
  api-tests/features/stored-identity/p2-journeys.feature
  api-tests/features/ticf/failed-ticf-responses.feature
  api-tests/features/ticf/ticf-failed-error-journeys.feature
  api-tests/features/ticf/ticf-successful-responses.feature
Due: run-npm-lint

PYIC-8361: update new stored-identity api tests with disableStrategicApp feature set
  api-tests/features/stored-identity/cimit-journeys.feature
  api-tests/features/stored-identity/m1c-journeys.feature
  api-tests/features/stored-identity/p1-repat-fraud-check.feature
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
  api-tests/features/stored-identity/reprove-identity-journeys.feature
Due: run-npm-lint

BAU: Move fetch lambda under new analytics API GW
  deploy/template.yaml
  journey-map/src/render.ts
  lambdas/fetch-journey-transitions/build.gradle
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  openAPI/core-back-analytics.yaml
  openAPI/core-back-external.yaml
Due: spotlessCheck, run-npm-lint-journey-map

BAU: Add API key to fetch
  journey-map/deploy/template.yaml
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/src/config.ts
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

BAU: IPVCoreAnalyticsAPI dependency on key
  deploy/template.yaml
Due: none

BAU: Add IPVCoreAnalyticsAPI dependency on key
  deploy/template.yaml
Due: none

BAU: Comment out the API key addition
  deploy/template.yaml
Due: none

BAU: Add in API key again and fix open api ref to it
  deploy/template.yaml
  openAPI/core-back-analytics.yaml
Due: none

PYIC-8390: Abandon DCMAW Async VCs on REMOVE_DCMAW_FROM_SESSION
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-handle-result.yaml
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/reset-session-identity/src/test/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/SessionCredentialsResetType.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsServiceTest.java
Due: spotlessCheck, run-npm-lint

PYIC-8390: Remove redundant test tag
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
Due: run-npm-lint

PYIC-8390: Fix log message
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
Due: spotlessCheck

PYIC-8390: Fix reset types to remove DCMAW_ASYNC session credentials
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-handle-result.yaml
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/reset-session-identity/src/test/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/SessionCredentialsResetType.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsServiceTest.java
Due: spotlessCheck

PYIC-8390: Add PENDING_DCMAW_ASYNC_ALL to case deleting session credentials
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
Due: spotlessCheck

PYIC-8390: Fix unit tests
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsServiceTest.java
Due: spotlessCheck

Revert "PYIC-8390: Abandon DCMAW Async VCs on REMOVE_DCMAW_FROM_SESSION"
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-handle-result.yaml
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/reset-session-identity/src/test/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/SessionCredentialsResetType.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsServiceTest.java
Due: spotlessCheck, run-npm-lint

PYIC-8258: store reuse identities
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck

BAU: Increase F2F API test relogin poll delay
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

BAU: Double API test timeout in pre-merge-checks
  .github/workflows/pre-merge-checks.yml
Due: none

PYIC-8258: add api tests
  api-tests/features/stored-identity/inherited-identities.feature
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
  api-tests/features/stored-identity/p2-journeys.feature
Due: run-npm-lint

PYIC-8258: suppress sonar naming rule
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
