Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8899: removing api test comment
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-8833: Add extractNbf helper method with unit tests
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-8833: Send audit event when expired Experian Fraud VC is detected
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8833: Add API test and data to verify repeat fraud check audit events emission.
  api-tests/data/audit-events/repeat-fraud-check-no-update.json
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-8833: Refactor logic that send IPV_EXPIRED_DCMAW_DL_VC_FOUND audit event.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8880: Add feature flag
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-8880: Refactoring
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
Due: spotlessCheck

PYIC-8880: Allow mid journey intervention and ticf interventions checks to use AIS state instead of description
  lambdas/process-candidate-identity/build.gradle
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/ais-service/build.gradle
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/TestData.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/service/AisServiceTest.java
Due: spotlessCheck

PYIC-8880: Allow start of journey intervention checks to use AIS state instead of description
  lambdas/check-existing-identity/build.gradle
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
Due: spotlessCheck

PYIC-8880: Add new AIS response
  api-tests/src/clients/ais-management-api.ts
  api-tests/src/steps/ais-steps.ts
Due: run-npm-lint

PYIC-8880: Add API tests for when AIS checking switches over to state
  api-tests/features/account-intervention/fail-open.feature
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/account-intervention/journey-starting-intervention.feature
  api-tests/features/account-intervention/p2-reprove-identity.feature
Due: run-npm-lint

PYIC-8880: Commonise a repeated error message
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
Due: spotlessCheck

PYIC-8880: Cover remaining acceptance criteria with API tests
  api-tests/features/account-intervention/journey-starting-intervention.feature
  api-tests/features/account-intervention/p2-reprove-identity.feature
  api-tests/src/steps/ais-steps.ts
Due: run-npm-lint

PYIC-8833: Refactor expired fraud check event emission.
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-8846: add google SSO via the application load balancer's listener and add rule to the listener to skip authentication for /healthcheck requests and forward straight to target group
  journey-map/deploy/template.yaml
Due: run-npm-lint-journey-map

PYIC-8833: Refactor variable name and reuse LONDON_TIMEZONE
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/DateAndTimeHelper.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelper.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/helpers/VcHelperTest.java
Due: spotlessCheck

PYIC-8880: Rename AIS steps constants
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/account-intervention/journey-starting-intervention.feature
  api-tests/features/account-intervention/p2-reprove-identity.feature
  api-tests/src/steps/ais-steps.ts
Due: run-npm-lint

Fix merge conflicts gone wrong
  api-tests/features/cimit/p1-alternate-doc.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/dwp-kbv/p1-alternate-doc-mitigation.feature
  api-tests/features/dwp-kbv/p1-web-journey.feature
  api-tests/features/dwp-kbv/p2-alternate-doc-mitigation.feature
  api-tests/features/dwp-kbv/p2-web-journey.feature
Due: run-npm-lint

Add missing DWP KBVs steps to new features
  api-tests/features/unexpected-cri-error.feature
Due: run-npm-lint

PYIC-8880: Fix test names
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
Due: spotlessCheck

PYIC-8880: Add and use TICF code enum
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluatorTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/TicfCode.java
Due: spotlessCheck

PYIC-8846: WIP update port on HTTPS listener and update security group rules
  journey-map/deploy/template.yaml
Due: run-npm-lint-journey-map

PYIC-8757: Run automated tests before deployment
  .github/workflows/automated-tests.yaml
  .github/workflows/pre-merge-checks.yml
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8757: Security improvements
  .github/workflows/automated-tests.yaml
Due: none

PYIC-8757: Improve job name
  .github/workflows/contract-tests.yaml
Due: none

PYIC-8757: Use SHA rather than version for setup-sam action
  .github/workflows/automated-tests.yaml
  .github/workflows/secure-post-merge.yml
  .github/workflows/validate-template.yml
Due: none

PYIC-8792: Release 'Sorry Technical Error' page to users
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/unexpected-cri-error.feature
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

Revert "Bump lodash from 4.17.21 to 4.17.23 in /api-tests"
  api-tests/package-lock.json
Due: run-npm-lint

PYIC-8846: remove API Gateway and make ALB internet-facing
  journey-map/deploy/template.yaml
Due: run-npm-lint-journey-map

PYIC-8846: enable Google SSO via oidc authentication at the ALB layer
  journey-map/deploy/template.yaml
Due: run-npm-lint-journey-map

PYIC-8846: remove basic auth from journey-map
  journey-map/deploy/template.yaml
  journey-map/server/app.ts
  journey-map/server/auth-middleware.ts
Due: run-npm-lint-journey-map

Revert "BAU: Bump gradle-wrapper from 8.13 to 9.3.1"
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

PYIC-8846: add instructions for running the journey-map in dev env to the README
  journey-map/README.md
Due: run-npm-lint-journey-map

PYIC-8846: use environment-specific s3 bucket for alb access logs
  journey-map/deploy/template.yaml
Due: run-npm-lint-journey-map

PYIC-8846: update README to include link to Google Project and instructions on gaining access to the project
  journey-map/README.md
Due: run-npm-lint-journey-map

PYIC-8792: Fix spelling mistake
  api-tests/features/unexpected-cri-error.feature
Due: run-npm-lint

PYIC-8920: TEST check where pacts are being saved
  libs/sis-service/build.gradle
Due: spotlessCheck

PYIC-8920: explicitly specify standard test classpath so gradle picks up the testRuntimeOnly dependency
  lambdas/call-dcmaw-async-cri/build.gradle
  lambdas/process-cri-callback/build.gradle
  libs/ais-service/build.gradle
  libs/cimit-service/build.gradle
  libs/evcs-service/build.gradle
  libs/sis-service/build.gradle
  libs/ticf-cri-service/build.gradle
Due: spotlessCheck

PYIC-8795: Remove sorryTechnicalErrorEnabled flag and feature set
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  libs/test-data/src/main/resources/test-invalid-parameters.yaml
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-8910: Add F2F restart audit event
  api-tests/data/audit-events/f2f-vc-error-journey.json
  api-tests/features/audit-events.feature
  lambdas/reset-session-identity/build.gradle
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/reset-session-identity/src/test/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
Due: spotlessCheck, run-npm-lint

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
