Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8067: Add API tests and missing reverification state
  api-tests/features/mfa-reset-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
Due: run-npm-lint

PYIC-8067: Add anotherWay API test
  api-tests/features/mfa-reset-journey.feature
Due: run-npm-lint

PYIC-8067: Improve readability of new API tests
  api-tests/features/mfa-reset-journey.feature
Due: run-npm-lint

BAU: Remove dependency on Apache HTTP via powertools tracing
  lambdas/build-client-oauth-response/src/main/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandler.java
  lambdas/build-client-oauth-response/src/test/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandlerTest.java
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
  lambdas/build-proven-user-identity-details/src/main/java/uk/gov/di/ipv/core/buildprovenuseridentitydetails/BuildProvenUserIdentityDetailsHandler.java
  lambdas/build-proven-user-identity-details/src/test/java/uk/gov/di/ipv/core/buildprovenuseridentitydetails/BuildProvenUserIdentityDetailsHandlerTest.java
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandler.java
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandler.java
  lambdas/call-dcmaw-async-cri/src/main/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriService.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/CallDcmawAsyncCriHandlerTest.java
  lambdas/call-ticf-cri/src/main/java/uk/gov/di/ipv/core/callticfcri/CallTicfCriHandler.java
  lambdas/call-ticf-cri/src/test/java/uk/gov/di/ipv/core/callticfcri/CallTicfCriHandlerTest.java
  lambdas/check-coi/src/main/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandler.java
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-gpg45-score/src/main/java/uk/gov/di/ipv/core/checkgpg45score/CheckGpg45ScoreHandler.java
  lambdas/check-gpg45-score/src/test/java/uk/gov/di/ipv/core/checkgpg45score/CheckGpg45ScoreHandlerTest.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/check-mobile-app-vc-receipt/src/test/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandlerTest.java
  lambdas/evaluate-gpg45-scores/src/main/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandler.java
  lambdas/evaluate-gpg45-scores/src/test/java/uk/gov/di/ipv/core/evaluategpg45scores/EvaluateGpg45ScoresHandlerTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/issue-client-access-token/src/main/java/uk/gov/di/ipv/core/issueclientaccesstoken/IssueClientAccessTokenHandler.java
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/IssueClientAccessTokenHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandler.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/ProcessJourneyEventHandlerTest.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
  lambdas/reset-session-identity/src/main/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandler.java
  lambdas/reset-session-identity/src/test/java/uk/gov/di/ipv/core/resetsessionidentity/ResetSessionIdentityHandlerTest.java
  lambdas/store-identity/src/main/java/uk/gov/di/ipv/core/storeidentity/StoreIdentityHandler.java
  lambdas/store-identity/src/test/java/uk/gov/di/ipv/core/storeidentity/StoreIdentityHandlerTest.java
  libs/cimit-service/src/test/java/uk/gov/di/ipv/core/library/service/CimitServiceTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/client/EvcsClientTest.java
  libs/ticf-cri-service/src/test/java/uk/gov/di/ipv/core/library/ticf/TicfCriServiceTest.java
Due: spotlessCheck

BAU: Introduce explicit dependency on Apache HTTP Core where required
  gradle/libs.versions.toml
  lambdas/build-client-oauth-response/build.gradle
  lambdas/build-client-oauth-response/src/main/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandler.java
  lambdas/build-client-oauth-response/src/test/java/uk/gov/di/ipv/core/buildclientoauthresponse/BuildClientOauthResponseHandlerTest.java
  lambdas/build-cri-oauth-request/build.gradle
  lambdas/build-cri-oauth-request/src/main/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandler.java
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
  lambdas/call-ticf-cri/src/main/java/uk/gov/di/ipv/core/callticfcri/CallTicfCriHandler.java
  lambdas/process-journey-event/build.gradle
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/stepresponses/CriStepResponse.java
  libs/cimit-service/build.gradle
  libs/cimit-service/src/main/java/uk/gov/di/ipv/core/library/service/CimitService.java
  libs/evcs-service/build.gradle
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/client/EvcsClient.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/client/EvcsClientTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/pact/ContractTest.java
Due: spotlessCheck

PYIC-8019 Use TracingHttpClient with automatic recreation for JWKS
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
Due: spotlessCheck

PYIC-7730 Remove VerifiableCredentialService
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/service/StoreIdentityServiceTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/EnvironmentVariable.java
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/VerifiableCredentialService.java
  libs/verifiable-credentials/src/test/java/uk/gov/di/ipv/core/library/verifiablecredential/service/VerifiableCredentialServiceTest.java
Due: spotlessCheck

PYIC-8109: Add Connection: keep-alive header to request to well-known stubs jwks endpoint
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
Due: spotlessCheck

PYIC-8127 Rethrow fatal IOExceptions on all HTTP requests
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClientTest.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/client/EvcsClient.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/client/EvcsClientTest.java
Due: spotlessCheck

PYIC-7730: disable deletion protection for tactical vc store
  deploy/template.yaml
Due: none

PYIC-6240: Add generic audit event in processAsync for F2f & DCMAW to use
  api-tests/data/audit-events/new-identity-f2f-journey.json
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEvent.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/service/SqsAuditServiceTest.java
Due: spotlessCheck, run-npm-lint

BAU: Avoid possible race conditions in local audit service
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/service/LocalAuditService.java
Due: spotlessCheck

BAU: Update AWS SDK
  gradle/libs.versions.toml
Due: none

PYIC-7730: remove tactical vc store resource
  deploy/template.yaml
Due: none

PYIC-6240: Add generic audit event in processAsync for F2f & DCMAW to use
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/strategic-app-cross-browser-journey.json
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionErrorParams.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionsVcEvidence.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/helpers/AuditExtensionsHelper.java
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionsVcEvidenceTest.java
Due: spotlessCheck, run-npm-lint

PYIC-8108: Delete qqqs committed by mistake
  api-tests/features/p2-strategic-app-dl-auth-source-check.feature
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/dcmawCri/ContractTest.java
Due: spotlessCheck, run-npm-lint

PYIC-8108: Refactor P2 strategic app tests
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint

PYIC-8108: Add async stub cleanup to P2, strategic app, dl auth check, update details tests
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-reuse-update-details.feature
Due: run-npm-lint

PYIC-8108: Move strategic app test files
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-reuse-update-details.feature
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint

PYIC-8108: Fix PROCESS_INCOMPLETE_IDENTITY routing
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/ineligible.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-8108: Add international user DL auth source check test
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
Due: run-npm-lint

PYIC-8108: Add P1 strategic app tests
  api-tests/features/strategic-app/p1-strategic-app.feature
Due: run-npm-lint

PYIC-8108: P2, strategic app, dl auth check, KBV mitigation tests
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-driving-permit-with-breaching-ci/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-driving-permit-with-breaching-ci/evidence.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-passport-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/dcmawAsync/kenneth-passport-valid/evidence.json
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
  api-tests/src/clients/dcmaw-async-cri-stub-client.ts
  api-tests/src/steps/cri-steps.ts
  api-tests/src/types/cri-stub.ts
  api-tests/src/utils/request-body-generators.ts
Due: run-npm-lint

PYIC-8108: Rename update details test file
  api-tests/features/strategic-app/strategic-app-dl-auth-source-check-reuse-update-details.feature
Due: run-npm-lint

PYIC-8108: Add P1 mitigation tests
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check-enhanced-verification-mitigation.feature
Due: run-npm-lint

PYIC-8108: Add P1, strategic app, dl auth check tests
  api-tests/features/strategic-app/p1-strategic-app-dl-auth-source-check.feature
Due: run-npm-lint

PYIC-8108: Add strategic app international user journey
  api-tests/features/strategic-app/p2-strategic-app.feature
Due: run-npm-lint

PYIC-8067: Reformat mfa-reset-journey.feature
  api-tests/features/mfa-reset-journey.feature
Due: run-npm-lint

PYIC-8090: Add Cache-Control to well-known jwks endpoint
  openAPI/core-back-external.yaml
Due: none

PYIC-6240: credential_issuer_id is only added to async event
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionCriId.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionsVcEvidence.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/helpers/AuditExtensionsHelper.java
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionsVcEvidenceTest.java
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/auditing/helpers/AuditExtensionsHelperTest.java
Due: spotlessCheck

PYIC-7471: remove MAM step from DAD journey
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-6240: Simplify code and assert for criId
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/helpers/AuditExtensionsHelper.java
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/auditing/helpers/AuditExtensionsHelperTest.java
Due: spotlessCheck

PYIC-6240: Rename restricted data f2f class/method to be generic async
  lambdas/process-async-cri-credential/src/main/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandler.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/helpers/AuditExtensionsHelper.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/restricted/AuditRestrictedAsync.java
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/auditing/helpers/AuditExtensionsHelperTest.java
  libs/audit-service/src/test/java/uk/gov/di/ipv/core/library/service/SqsAuditServiceTest.java
Due: spotlessCheck

PYIC-7888 Try using Java21 to see if it fixes segfaults
  deploy/template.yaml
Due: none

PYIC-7843: Delete lambda files
  .github/workflows/secure-post-merge-delete-account.yml
  deploy-delete-user-data/deploy.sh
  deploy-delete-user-data/template.yaml
  lambdas/delete-user-data/.editorconfig
  lambdas/delete-user-data/.eslintrc
  lambdas/delete-user-data/.npmrc
  lambdas/delete-user-data/README.md
  lambdas/delete-user-data/docker-compose.yaml
  lambdas/delete-user-data/local-dev/create-table.json
  lambdas/delete-user-data/local-dev/local-env.json
  lambdas/delete-user-data/local-dev/sample-sqs-event.json
  lambdas/delete-user-data/local-dev/seed-table.json
  lambdas/delete-user-data/package-lock.json
  lambdas/delete-user-data/package.json
  lambdas/delete-user-data/scripts/bulk-push-to-sns.mjs
  lambdas/delete-user-data/setup-jest.js
  lambdas/delete-user-data/src/config.ts
  lambdas/delete-user-data/src/delete-data.ts
  lambdas/delete-user-data/src/index.ts
  lambdas/delete-user-data/src/read-message.ts
  lambdas/delete-user-data/src/types.ts
  lambdas/delete-user-data/src/utils/get-config-param.ts
  lambdas/delete-user-data/src/utils/logger.ts
  lambdas/delete-user-data/src/utils/send-audit-event.ts
  lambdas/delete-user-data/tests/delete-data.test.ts
  lambdas/delete-user-data/tests/index.test.ts
  lambdas/delete-user-data/tests/mock-sqs-event.ts
  lambdas/delete-user-data/tests/read-message.test.ts
  lambdas/delete-user-data/tests/utils/get-config-param.test.ts
  lambdas/delete-user-data/tests/utils/send-audit-event.test.ts
  lambdas/delete-user-data/tsconfig.json
Due: none

PYIC-7843: Remove delete-user-data lambda from Github workflows
  .github/workflows/pre-merge-checks.yml
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-7843: Remove delete-user-data lambda from dependabot config
  .github/dependabot.yml
Due: none
