Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-9331: Correct misspelled file name and folder
  api-tests/features/update-details-higher-strength/update-details-higher-strength.feature
Due: run-npm-lint

BAU: Fix reuse journey by removing not existing CRI_STATE.
  journey-map/src/helpers/expand-parents.test.ts
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
Due: run-npm-lint-journey-map

BAU: Fix journey map not expanding nested journeys.
  journey-map/src/helpers/expand-parents.test.ts
  journey-map/src/helpers/expand-parents.ts
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

BAU: Change maxTextSize in journey map to 1m.
  journey-map/src/index.ts
Due: run-npm-lint-journey-map

PYIC-9330: Update CI check to notice if the same CI is raised again after being mitigated
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CimitUtilityService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CimitUtilityServiceTest.java
  libs/cri-checking-service/src/main/java/uk/gov/di/ipv/core/library/cricheckingservice/CriCheckingService.java
  libs/cri-checking-service/src/test/java/uk/gov/di/ipv/core/library/cricheckingservice/CriCheckingServiceTest.java
Due: spotlessCheck, run-npm-lint

PYIC-9330: Refactor
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

PYIC-9330: Run spotless
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CimitUtilityServiceTest.java
Due: spotlessCheck

PYIC-9330: Fix SonarQube issues and improve Vot usage
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/VotCiThresholdsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CimitUtilityService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CimitUtilityServiceTest.java
  libs/cri-checking-service/src/main/java/uk/gov/di/ipv/core/library/cricheckingservice/CriCheckingService.java
  libs/cri-checking-service/src/test/java/uk/gov/di/ipv/core/library/cricheckingservice/CriCheckingServiceTest.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

Revert "PYIC-9227: Revert just using the extension"
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-9227: Run spotless
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-9328: Refactor SessionCredentialsService according to code review.
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/service/SessionCredentialsService.java
Due: spotlessCheck
