Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8667: Bring back outputs.
  deploy/template.yaml
Due: none

PYIC-8667: Remove condition from ValidateAppConfigInvokePermission
  deploy/template.yaml
Due: none

PYIC-8667: Bring back condition for old app config.
  deploy/template.yaml
Due: none

PYIC-8394: Fix local running
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
Due: spotlessCheck

PYIC-8394: Update audit event property names
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/audit/AuditExtensionsSisComparison.java
Due: spotlessCheck

PYIC-8394: Improve audit event test failure messages
  api-tests/src/utils/audit-events.ts
Due: run-npm-lint

PYIC-8394: Fix audit events getting lost
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

PYIC-8394: Add audit event test for SIS comparison
  api-tests/data/audit-events/reuse-journey-identity-compared.json
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-8394: Run lint
  api-tests/data/audit-events/reuse-journey-identity-compared.json
  api-tests/src/utils/audit-events.ts
Due: run-npm-lint

PYIC-8394: Run spotless
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
Due: spotlessCheck

BAU: refactor f2f queue contract tests to use data vocab classes
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/pact/f2fCri/ContractTest.java
Due: spotlessCheck

PYIC-8647: handle error event for driving licence, passport and experian kbv CRIs
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/web-dl-or-passport.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-8647: handle error event for f2f CRI
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-8647 Add reset-session to some routs after error
  api-tests/features/unexpected-cri-error.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-8633: enable FMS tags in all envs (inc int + prod)
  deploy/template.yaml
Due: none

PYIC-8394: Fix API test
  api-tests/data/audit-events/reuse-journey-identity-compared.json
  api-tests/features/audit-events.feature
  api-tests/src/clients/evcs-stub-client.ts
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/client/SisClient.java
  local-running/Dockerfile
Due: spotlessCheck, run-npm-lint

PYIC-8702: send api key with SIS API requests
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/client/SisClient.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/client/SisClientTest.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/pact/ContractTest.java
Due: spotlessCheck

PYIC-8702: update local-running secrets template to include SIS api key
  local-running/core.local.secrets.template.yaml
Due: none

BAU: remove unused event from DESKTOP_IPHONE_DOWNLOAD_PAGE
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

BAU: add pactConsumerTests gradle task to lib:sis-service
  libs/sis-service/build.gradle
Due: spotlessCheck

PYIC-7697: put back encryptionKey temporarily to not break config validation
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/OauthCriConfig.java
Due: spotlessCheck

PYIC-8647 add PROCESS_INCOMPLETE_IDENTITY step to error journeys
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-8682: Make name comparison consistent
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/NameHelper.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/NameHelperTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/vocab/NameGenerator.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
Due: spotlessCheck

PYIC-8682: Tidy up config
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseService.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseServiceTest.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
Due: spotlessCheck

PYIC-8682: Don't remove space between given names and family names when normalising full names
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/NameHelper.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/NameHelperTest.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-8394: Improve audit event matching in API test
  api-tests/data/audit-events/reuse-journey-identity-compared.json
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-8647 refactor routing around SorryTechnicalProblem page
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-hand-off.yaml
Due: none

PYIC-8720: update SIS response to handle returning of sis contents rather than sis JWT
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/dto/SisStoredIdentityCheckDto.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/dto/SisStoredIdentityContent.java
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/service/SisService.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/client/SisClientTest.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/pact/ContractTest.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

PYIC-8394: Run linter
  api-tests/data/audit-events/reuse-journey-identity-compared.json
Due: run-npm-lint

PYIC-8650: Remove use of MFA reset feature flag
  lambdas/build-user-identity/src/main/java/uk/gov/di/ipv/core/builduseridentity/UserIdentityRequestHandler.java
  lambdas/build-user-identity/src/test/java/uk/gov/di/ipv/core/builduseridentity/BuildUserIdentityHandlerTest.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidator.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidatorTest.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/user-reverification/src/test/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-8650: Run spotless
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidatorTest.java
Due: spotlessCheck

PYIC-8650: Remove duplicate test
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
Due: spotlessCheck

PYIC-8648: Add additional context to the DAD & MAM download page
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-8648: Set appOnly journey context
  api-tests/features/strategic-app/p2-strategic-app-dl-auth-source-check.feature
  api-tests/features/strategic-app/p2-strategic-app.feature
  api-tests/features/strategic-app/strategic-app-dl-auth-source-check-reuse-update-details.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: run-npm-lint

PYIC-8648: Route non-uk-no-app-options to correct context
  api-tests/features/strategic-app/p2-strategic-app.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/kbvs.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: run-npm-lint

PYIC-8720: update SIS response to return credentials containing VC signatures
  libs/sis-service/src/main/java/uk/gov/di/ipv/core/library/sis/dto/SisStoredIdentityContent.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/client/SisClientTest.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/pact/ContractTest.java
  libs/sis-service/src/test/java/uk/gov/di/ipv/core/library/sis/service/SisServiceTest.java
Due: spotlessCheck

BAU: Tidy up some config types
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseService.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/criresponse/service/CriResponseServiceTest.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
Due: spotlessCheck

BAU: Add test coverage for SonarQube
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ConfigServiceTest.java
Due: spotlessCheck

BAU: Run spotless
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ConfigServiceTest.java
Due: spotlessCheck

BAU: Actually update tests for coverage
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ConfigServiceTest.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
