Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-8547: Run lint-fix
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-8547: Run spotlessapply
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineTest.java
Due: spotlessCheck

Revert "BAU: Bump gradle/actions from 4.4.1 to 4.4.2"
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-8547: Remove extra fix to local-running
  api-tests/features/p1-app-journey.feature
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
Due: spotlessCheck, run-npm-lint

PYIC-8547: Remove API test tag
  api-tests/features/p1-app-journey.feature
Due: run-npm-lint

PYIC-8098: remove use of dotenv for dev journey-map
  journey-map/.env.template
  journey-map/README.md
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/server/app.ts
Due: run-npm-lint-journey-map

PYIC-8547: Remove API testing of nonexistent case
  api-tests/features/p1-app-journey.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-8098: move authorise middle ware below healthcheck
  journey-map/server/app.ts
Due: run-npm-lint-journey-map

PYIC-8098: revert changes to gitignore
  .gitignore
Due: none

PYIC-8098: TEST to fix the provider tests
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/pact/IssueClientAccessTokenHandlerTest.java
Due: spotlessCheck

BAU: Add gradle setup to workflow
  .github/workflows/contract-tests.yaml
  .github/workflows/pre-merge-checks.yml
Due: none

BAU: Change kid value to its hashed version
  .github/workflows/contract-tests.yaml
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/pact/IssueClientAccessTokenHandlerTest.java
Due: spotlessCheck

BAU: Update according to code review
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/pact/IssueClientAccessTokenHandlerTest.java
Due: spotlessCheck

BAU: Change @State method name.
  lambdas/issue-client-access-token/src/test/java/uk/gov/di/ipv/core/issueclientaccesstoken/pact/IssueClientAccessTokenHandlerTest.java
Due: spotlessCheck

PYIC-8260: add api test for user with VCs > 25
  api-tests/features/p2-reuse-journey.feature
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-8567: Update Cosign and installer
  .github/workflows/secure-pipeline-api-tests-image.yml
Due: none

PYIC-8260: update core-back to support afterKey attribute from EvcsGetUserVCsDto
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/dto/EvcsGetUserVCsDto.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClientTest.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-8552: Update core-back README
  README.md
Due: none

PYIC-8573: Refactor AisService to use builder.
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/AccountInterventionState.java
Due: spotlessCheck

PYIC-8573: Refactor to pattern matching.
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/service/AisService.java
Due: spotlessCheck

PYIC-8098: fix journey-map auth not working in aws
  journey-map/server/app.ts
Due: run-npm-lint-journey-map

PYIC-8260: fix failing api tests
  api-tests/src/steps/cri-steps.ts
Due: run-npm-lint

PYIC-7876: Cleanup SSM
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
Due: spotlessCheck

PYIC-8506: Fix Sonarcloud issues and move abstract methods to top of abstract class
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7876: - Rename YamlConfigService => LocalConfigService - Added items added to YamlParametersConfigService to ConfigService after lost in merge
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
Due: spotlessCheck

PYIC-7876: Fix sonarcloud issues
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7878: Update existing tests to use valid Cri configs
  libs/common-services/src/test/resources/test-parameters.yaml
Due: none

PYIC-7878: Update Cri config classes to be strict
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
Due: spotlessCheck

PYIC-7895: Add AppConfig validator, ish
  deploy/template.yaml
  lambdas/validate-appconfig/build.gradle
  lambdas/validate-appconfig/src/main/java/uk.gov.di.ipv.core.validateappconfig/ValidateAppConfigHandler.java
  settings.gradle
Due: spotlessCheck

PYIC-7895: Create test-data library
  libs/test-data/build.gradle
  libs/test-data/src/main/java/uk/gov/di/ipv/core/library/testdata/CommonData.java
  libs/test-data/src/main/resources/test-invalid-parameters.yaml
  libs/test-data/src/main/resources/test-parameters.yaml
  libs/test-data/src/main/resources/test-secrets.yaml
  settings.gradle
Due: spotlessCheck

PYIC-7895: Move references for test data to new dedicated library
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/config/domain/ConfigTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/config/domain/CriConnectionWrapperTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/LocalConfigServiceTest.java
  libs/common-services/src/test/resources/test-invalid-parameters.yaml
  libs/common-services/src/test/resources/test-parameters.yaml
  libs/common-services/src/test/resources/test-secrets.yaml
Due: spotlessCheck

PYIC-7895: Fixing ValidateAppConfigHandler to parse base64
  deploy/template.yaml
  lambdas/validate-appconfig/build.gradle
  lambdas/validate-appconfig/src/main/java/uk/gov/di/ipv/core/validateappconfig/ValidateAppConfigHandler.java
  lambdas/validate-appconfig/src/main/resources/IpvLambdaJsonLayout.json
  lambdas/validate-appconfig/src/main/resources/collector.yaml
  lambdas/validate-appconfig/src/main/resources/log4j2.json
  lambdas/validate-appconfig/src/test/java/uk/gov/di/ipv/core/validateappconfig/ValidateAppConfigHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ConfigServiceTest.java
Due: spotlessCheck

PYIC-7895 Finish tests for ValidateAppConfigHandler
  deploy/template.yaml
  lambdas/validate-appconfig/src/main/java/uk/gov/di/ipv/core/validateappconfig/ValidateAppConfigHandler.java
  lambdas/validate-appconfig/src/test/java/uk/gov/di/ipv/core/validateappconfig/ValidateAppConfigHandlerTest.java
Due: spotlessCheck

PYIC-7895: Fix Sonar cloud smells
  lambdas/validate-appconfig/src/main/java/uk/gov/di/ipv/core/validateappconfig/ValidateAppConfigHandler.java
  lambdas/validate-appconfig/src/test/java/uk/gov/di/ipv/core/validateappconfig/ValidateAppConfigHandlerTest.java
  libs/test-data/src/main/java/uk/gov/di/ipv/core/library/testdata/CommonData.java
Due: spotlessCheck

PYIC-7895 Fix code coverage for Sonarcloud
  lambdas/validate-appconfig/build.gradle
  lambdas/validate-appconfig/src/test/java/uk/gov/di/ipv/core/validateappconfig/ValidateAppConfigHandlerTest.java
Due: spotlessCheck

PYIC-8573: Add factory from method fo AccountInterventionState.
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/helper/AccountInterventionEvaluator.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/AccountInterventionState.java
Due: spotlessCheck

PYIC-8260: Setup real EVCS API testing
  api-tests/features/p2-reuse-journey.feature
  api-tests/src/clients/evcs-stub-client.ts
  api-tests/src/utils/jar-generator.ts
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/client/EvcsClient.java
Due: spotlessCheck, run-npm-lint

PYIC-8260: Create dedicated file for real EVCS testing
  api-tests/features/evcs.feature
  api-tests/features/p2-reuse-journey.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-7895 Improve test coverage
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ConfigServiceTest.java
Due: spotlessCheck

PYIC-8260: Fix test so it doesn't try to connect with stub locally
  api-tests/features/evcs.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint
