Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-9227: reuse correlation check results for F2F failure audit event
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
Due: spotlessCheck

PYIC-9227: replace old correlation tests with getVcCorrelationResult suite
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-8995: Remove isInterventionReprovingWithF2f check
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8995: Remove comment
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-8995: Remove redundant test
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8995: Remove states
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-8995: Remove missed state
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-8995: Remove blank line
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

debugging
  libs/verifiable-credentials/src/main/java/uk/gov/di/ipv/core/library/verifiablecredential/validator/VerifiableCredentialValidator.java
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-9197: Refactoring
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-9216: Add open banking mitigation journey via app.
  api-tests/data/cri-stub-requests/openBanking/kenneth-needs-additional-verification/credentialSubject.json
  api-tests/data/cri-stub-requests/openBanking/kenneth-needs-additional-verification/evidence.json
  api-tests/features/p2-no-photo-id.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-9216: Add open banking mitigation for no-photo-id journey via f2f
  api-tests/features/p2-no-photo-id.feature
Due: run-npm-lint

PYIC-9216: Add open banking mitigation for web-journey via f2f
  api-tests/features/p2-web-journey.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: run-npm-lint

PYIC-9216: Add open banking mitigation for web-journey via app
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-8962: Add update_identity to jar claims.
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/domain/JarClaims.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/validation/JarValidatorTest.java
Due: spotlessCheck

PYIC-9216: Add open banking breaching-p2 scenario for p2-web-journey
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-9216: Add BREACHING-P2 CI and kenneth-score-0-breaching-p2 CRI stub request
  api-tests/data/cri-stub-requests/openBanking/kenneth-score-0-breaching-p2/credentialSubject.json
  api-tests/data/cri-stub-requests/openBanking/kenneth-score-0-breaching-p2/evidence.json
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-9216: Add open banking breaching-p2 scenario for no-photo-id journey
  api-tests/features/p2-no-photo-id.feature
Due: run-npm-lint

PYIC-9216: Expand document checks in open-banking f2f mitigation features
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-9216: Expand document checks in open-banking app mitigation features
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-9216: Add driving licence checks for open-banking app mitigation
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-9197: Retry F2F identities that fail on name correlation at the Post Office
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/initial-journey-selection.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/evcs-service/src/main/java/uk/gov/di/ipv/core/library/evcs/service/EvcsService.java
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/service/EvcsServiceTest.java
Due: spotlessCheck

PYIC-9197: Add API test
  api-tests/data/cri-stub-requests/f2f/kenneth-passport-valid/credentialPoSubject.json
  api-tests/data/cri-stub-requests/fraud/kenny-score-2/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenny-score-2/evidence.json
  api-tests/features/p2-f2f-journey.feature
  api-tests/src/steps/cri-steps.ts
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/types/cri-stub.ts
  api-tests/src/utils/request-body-generators.ts
Due: run-npm-lint

PYIC-9197: Add feature flag
  api-tests/features/p2-f2f-journey.feature
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  local-running/core.local.params.yaml
Due: spotlessCheck, run-npm-lint

PYIC-9216: Add API test to assert only one CI mitigation on open banking journey
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-9216: Add additional verification mitigation events.
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-9216: Add additional verification API tests - cross-brawser/separate session/edge-cases
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  api-tests/features/cimit/p2-additional-verification-dcmaw.feature
  api-tests/features/cimit/p2-additional-verification-f2f.feature
Due: run-npm-lint

PYIC-9197: Add feature flag
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-9197: Add API tests
  api-tests/data/cri-stub-requests/f2f/kenneth-passport-wrong-dob/credentialSubject.json
  api-tests/data/cri-stub-requests/f2f/kenneth-passport-wrong-dob/evidence.json
  api-tests/data/cri-stub-requests/f2f/kenny-passport-valid/credentialSubject.json
  api-tests/data/cri-stub-requests/f2f/kenny-passport-valid/evidence.json
  api-tests/data/cri-stub-requests/fraud/kenny-score-2/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenny-score-2/evidence.json
  api-tests/features/p2-f2f-journey.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-9259: Design updates to /update-details page
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
Due: none

PYIC-9067: Add page context
  api-tests/features/app-cross-browser/p1-cross-browser.feature
  api-tests/features/app-cross-browser/p2-cross-browser.feature
  api-tests/features/fraud-mitigation/p1-mitigation.feature
  api-tests/features/fraud-mitigation/p2-mitigation.feature
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/AbstractPageContextValidator.java
  lambdas/process-journey-event/src/main/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/validators/PageContextValidator.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: spotlessCheck, run-npm-lint

PYIC-9216: Fix Background description in p2-web-journey same-session additional verification rule
  api-tests/features/app-cross-browser/p2-cross-browser.feature
Due: run-npm-lint

PYIC-9216: Move OB additional verification scenarios to CIMIT features
  api-tests/features/cimit/p2-additional-verification-dcmaw.feature
  api-tests/features/cimit/p2-additional-verification-f2f.feature
  api-tests/features/p2-no-photo-id.feature
  api-tests/features/p2-web-journey.feature
Due: run-npm-lint

PYIC-9237: Update javalin to 7.2.3
  gradle/libs.versions.toml
Due: none

PYIC-9237: Update awsSdkLogs to 1.12.787
  gradle/libs.versions.toml
Due: none

PYIC-9237: Pin configure-aws-crednetials to commitsha and latest version.
  .github/workflows/secure-pipeline-api-tests-image.yml
  .github/workflows/secure-post-merge.yml
Due: none

PYIC-9216: Reuse enhanced-mitigation event for OB mitigation
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  local-running/core.local.params.yaml
Due: none

PYIC-9197: Fix error routing
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
Due: none
