Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8649: Clean up P1 journeys feature flag
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsServiceTest.java
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-8649: Remove p1Journey feature calls from api-tests
  api-tests/features/audit-events.feature
  api-tests/features/disabled-cri-journeys.feature
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
  api-tests/features/dl-auth-source-checks/dl-cri-dropout.feature
  api-tests/features/p1-app-journey.feature
  api-tests/features/p1-f2f-journey.feature
  api-tests/features/p1-no-photo-id.feature
  api-tests/features/p1-web-journey.feature
  api-tests/features/stored-identity/p1-journeys.feature
Due: run-npm-lint

PYIC-8649: Remove unused call
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsService.java
Due: spotlessCheck

PYIC-8593: Improve displayed names.
  journey-map/public/index.html
Due: run-npm-lint-journey-map

PYIC-8593: Fix typo in tests.
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/ValidationHelperTest.java
Due: spotlessCheck

PYIC-8593: Reduce time window to 14 days and include response message for to long time window.
  journey-map/server/analytics-middleware.ts
  journey-map/server/config.ts
Due: run-npm-lint-journey-map

BAU improve api-tests readme to make TDD easier
  api-tests/README.md
Due: run-npm-lint

PYIC-8593: Reduce default time window to 10 days.
  journey-map/server/config.ts
Due: run-npm-lint-journey-map

PYIC-8298: Update core-back to reference well-known-v3
  deploy/template.yaml
  openAPI/core-back-external.yaml
Due: none

PYIC-8593: Bump minimum alpha to 0.8.
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-7696: Update core-back to reference well-known-v4
  deploy/template.yaml
  openAPI/core-back-external.yaml
Due: none

PYIC-8616: Remove not existing test
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

BAU: Fix entry event traffic render logic
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

BAU: Fix linting errors
  journey-map/src/render.ts
Due: run-npm-lint-journey-map

PYIC-8616: Remove not existing test in ClientOAuthSessionDetailsServiceTest
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ClientOAuthSessionDetailsServiceTest.java
Due: spotlessCheck

PYIC-7696: Allow core-back to use new signing keys
  deploy/template.yaml
Due: none

PYIC-8616: Change 'and' to 'given'.
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/account-intervention/journey-starting-intervention.feature
  api-tests/features/account-intervention/p2-reprove-identity.feature
  api-tests/features/audit-events.feature
  api-tests/features/ticf/ticf-successful-responses.feature
Due: run-npm-lint

PYIC-8616: Fix given/when/and in cucumber tests.
  api-tests/features/account-intervention/fail-open.feature
  api-tests/features/account-intervention/journey-ending-interventions.feature
  api-tests/features/account-intervention/p2-reprove-identity.feature
  api-tests/features/audit-events.feature
  api-tests/features/ticf/ticf-successful-responses.feature
Due: run-npm-lint

Remove validation for govukSigninJourneyId. Keep max char - 256
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/Request.java
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/ValidationHelper.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/ValidationHelperTest.java
Due: spotlessCheck

Fix name for IPV_SESSION_ID_PATTERN
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/ValidationHelper.java
Due: spotlessCheck

PYIC-7697: Clean up fallback key configuration
  lambdas/build-cri-oauth-request/src/test/java/uk/gov/di/ipv/core/buildcrioauthrequest/BuildCriOauthRequestHandlerTest.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/pact/dcmawasynccri/ContractTest.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriServiceTest.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/pact/dcmawAsyncCri/ContractTest.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/pact/f2fCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandlerTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/bavCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/cicCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/dcmawCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/drivingLicenceCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/drivingLicenceCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/f2fCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/ninoCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/ninoCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/passportCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/passportCri/TokenTests.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/OauthCriConfig.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/cri-api-service/src/test/java/uk/gov/di/ipv/core/library/criapiservice/CriApiServiceTest.java
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
  libs/oauth-key-service/src/test/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyServiceTest.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/useridentity/service/UserIdentityServiceTest.java
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-7697: Address Sonarcloud issues
  libs/oauth-key-service/src/main/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyService.java
  libs/oauth-key-service/src/test/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyServiceTest.java
Due: spotlessCheck

PYIC-7697: Fix core.local.params.yaml
  libs/test-data/src/main/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: none

BAU: Update PACT version to try to address dependency on vulnerable version of Netty
  gradle/libs.versions.toml
Due: none

BAU: Update PACT plugin version too
  build.gradle
  gradle/libs.versions.toml
Due: spotlessCheck

PYIC-8648: Add additional context to the DAD & MAM download page
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/nested-journeys/strategic-app-triage.yaml
Due: none

PYIC-8667: Add AppConfigValidate permission
  deploy/template.yaml
Due: none

PYIC-8667: Add wildcard app config permission for all resources.
  deploy/template.yaml
Due: none

PYIC-8667: Add environment variable condition for config env and profile ids to point to new app config
  deploy/template.yaml
Due: none

PYIC-8667: Add s3 bucket for app config pipeline.
  deploy/template.yaml
Due: none

PYIC-8667: Add s3 bucket name
  deploy/template.yaml
Due: none

PYIC-8667: Add KMS to template
  deploy/template.yaml
Due: none

PYIC-8667: Fix naming and GitHubSourceBucketPolicy
  deploy/template.yaml
Due: none

PYIC-8667: Add app config pipeline resources outputs.
  deploy/template.yaml
Due: none

PYIC-8667: Allow root to sign
  deploy/template.yaml
Due: none

PYIC-8667: Add kms arn to ssm
  deploy/template.yaml
Due: none

PYIC-8667: Adjust naming for app config resources
  deploy/template.yaml
Due: none

PYIC-8667: Add retention for s3 bucket.
  deploy/template.yaml
Due: none

PYIC-8667: Move shared dev resources creation to ipv-core-common-infra repo
  deploy/template.yaml
Due: none

PYIC-8679: log raw responses when getting a CRI error
  libs/cri-api-service/src/main/java/uk/gov/di/ipv/core/library/criapiservice/CriApiService.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
