Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-7877 Refactor code
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceYamlTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceYamlTest.java
Due: spotlessCheck

PYIC-7877 Add yaml app config service tests.
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceYamlTest.java
Due: spotlessCheck

PYIC-7877 Remove unused variables
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceYamlTest.java
Due: spotlessCheck

PYIC-7877 Change yaml methods access mod to private
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7877 Add configFormat variable to config.
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceYamlTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceYamlTest.java
  libs/common-services/src/test/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-7877 Add null check for configFormat in yaml param config service
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
Due: spotlessCheck

PYIC-7877 Remove unwanted change
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
Due: spotlessCheck

PYIC-8485: Update driving-licence CRI stub URL licen(s)e -> licen(c)e
  api-tests/data/audit-events/alternate-doc-mitigation-journey.json
  api-tests/data/audit-events/dwp-kbv-dropout-user-abandons-cri.json
  api-tests/data/audit-events/dwp-kbv-dropout-via-thin-file.json
  api-tests/data/audit-events/dwp-kbv-successful-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
  api-tests/src/clients/cri-stub-client.ts
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-7877 Refactor according to code review.
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceYamlTest.java
Due: spotlessCheck

PYIC-7189: update openAPI spec to map currentCriId query param in request
  openAPI/core-back-internal.yaml
Due: none

PYIC-7189: lock CriOauthSessionItem at first processing and add logic to handle locked record
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/pact/dcmawasynccri/ContractTest.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/bavCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/cicCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/dcmawCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/drivingLicenceCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/drivingLicenceCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/f2fCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/ninoCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/ninoCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/passportCri/CredentialTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/passportCri/TokenTests.java
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/CriOAuthSessionItem.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/CriOAuthSessionService.java
  libs/cri-checking-service/src/main/java/uk/gov/di/ipv/core/library/cricheckingservice/CriCheckingService.java
Due: spotlessCheck

PYIC-7189: add unit tests for new logic handling repeat cri callbacks
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandlerTest.java
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/statemachine/StateMachineTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/CriOAuthSessionServiceTest.java
Due: spotlessCheck

PYIC-8486: Remove references to D License
  api-tests/data/audit-events/alternate-doc-mitigation-journey.json
  api-tests/data/audit-events/dwp-kbv-dropout-user-abandons-cri.json
  api-tests/data/audit-events/dwp-kbv-dropout-via-thin-file.json
  api-tests/data/audit-events/dwp-kbv-successful-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
  api-tests/src/clients/cri-stub-client.ts
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-7877: Update config service to clear map before refresh
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
Due: spotlessCheck

PYIC-7877: Add test to check AppConfigService reloaded params doesn't include past values
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-7877: Change to use atomic setting of config and secrets
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
Due: spotlessCheck

PYIC-7877: Rename updateParameters to parseParameters
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
Due: spotlessCheck

PYIC-7877: Flesh out getParameterReturnsUpdatedParameters to demonstrate resetting of parameters
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

BAU: - Add fetch transitions unit tests
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
  settings.gradle
Due: spotlessCheck

BAU: Add explicit IPVCoreAnalyticsAPIStage
  deploy/template.yaml
Due: none

BAU: Remove implicit stage def
  deploy/template.yaml
Due: none

BAU: Make API GW depend on function
  deploy/template.yaml
Due: none

PYIC-7876: - Rename YamlConfigService => LocalConfigService - Added items added to YamlParametersConfigService to ConfigService after lost in merge
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/LocalConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/LocalConfigServiceTest.java
  local-running/src/main/java/uk/gov/di/ipv/coreback/CoreBack.java
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
Due: spotlessCheck

PYIC-7876: Fix sonarcloud issues
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7877 Allow getCriIssuers to receive it for multiple connections
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceYamlTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceYamlTest.java
Due: spotlessCheck

PYIC-7877 Remove unused ConfigurationVariable
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
Due: spotlessCheck

PYIC-7877 Add extra + to regex to ensure only one /
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7877 Remove regex in flavour of endsWith method
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7877 Remove json support
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/AppConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/SsmConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlParametersConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceYamlTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceYamlTest.java
  libs/common-services/src/test/resources/test-parameters.yaml
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-7877 Inline return statement
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
Due: spotlessCheck

PYIC-7877 Remove configFormat from AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-7877 Rebase main
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceYamlTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/SsmConfigServiceYamlTest.java
Due: spotlessCheck

PYIC-7877 Remove configFormat from tests.
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/AppConfigServiceTest.java
Due: spotlessCheck

PYIC-8457: remove conflicting autoinstrumentation
  deploy/template.yaml
  gradle/libs.versions.toml
  lambdas/build.gradle
  libs/common-services/build.gradle
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
Due: spotlessCheck

Revert "PYIC-8457: revert moving all lambdas in Build to use otel"
  deploy/template.yaml
  lambdas/build-client-oauth-response/src/main/resources/collector.yaml
  lambdas/build-cri-oauth-request/src/main/resources/collector.yaml
  lambdas/build-proven-user-identity-details/src/main/resources/collector.yaml
  lambdas/build-user-identity/src/main/resources/collector.yaml
  lambdas/call-dcmaw-async-cri/src/main/resources/collector.yaml
  lambdas/check-existing-identity/src/main/resources/collector.yaml
  lambdas/check-gpg45-score/src/main/resources/collector.yaml
  lambdas/check-mobile-app-vc-receipt/src/main/resources/collector.yaml
  lambdas/check-reverification-identity/src/main/resources/collector.yaml
  lambdas/initialise-ipv-session/src/main/resources/collector.yaml
  lambdas/issue-client-access-token/src/main/resources/collector.yaml
  lambdas/manual-f2f-pending-reset/src/main/resources/collector.yaml
  lambdas/process-async-cri-credential/src/main/resources/collector.yaml
  lambdas/process-cri-callback/src/main/resources/collector.yaml
  lambdas/process-journey-event/src/main/resources/collector.yaml
  lambdas/process-mobile-app-callback/src/main/resources/collector.yaml
  lambdas/reset-session-identity/src/main/resources/collector.yaml
  lambdas/user-reverification/src/main/resources/collector.yaml
Due: none

PYIC-8457: deploy to dev-perf environment
  deploy/template.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/tracing/TracingHttpClient.java
Due: spotlessCheck

PYIC-7878: Update existing tests to use valid Cri configs
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/pact/dcmawasynccri/ContractTest.java
  lambdas/call-dcmaw-async-cri/src/test/java/uk/gov/di/ipv/core/calldcmawasynccri/service/DcmawAsyncCriServiceTest.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandlerTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/LocalConfigServiceTest.java
  libs/common-services/src/test/resources/test-parameters.yaml
  libs/oauth-key-service/src/test/java/uk/gov/di/ipv/core/library/oauthkeyservice/OAuthKeyServiceTest.java
Due: spotlessCheck

PYIC-7878: Update Cri config classes to be strict
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/OauthCriConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/RestCriConfig.java
Due: spotlessCheck

PYIC-7878: Add Config class
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/AisConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CiRoutingConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CimitConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/ClientConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CoiConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/Config.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CredentialIssuersConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/CriConnectionWrapper.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/EvcsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/InternalOperationsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/StoredIdentityServiceConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/domain/VotCiThresholdsConfig.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/config/domain/ConfigTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/config/domain/CriConnectionWrapperTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/ConfigServiceTest.java
  libs/common-services/src/test/resources/test-invalid-parameters.yaml
Due: spotlessCheck

PYIC-8570: update cloudformation template to allow ProcessCandidateIdentity lambda to use new sis signing key
  deploy/template.yaml
Due: none

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
