Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

PYIC-8247: Delete impossible events from journey map for consistency
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/ineligible.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/technical-error.yaml
Due: none

PYIC-8247: Add journey map test to check for process event consistency
  lambdas/process-journey-event/src/test/java/uk/gov/di/ipv/core/processjourneyevent/JourneyMapTest.java
Due: spotlessCheck

PYIC-8247: Update AisClient to not retry IOExceptions
  libs/ais-service/src/main/java/uk/gov/di/ipv/core/library/ais/client/AisClient.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/client/AisClientTest.java
Due: spotlessCheck

PYIC-8247: Add error events to reset-session-identity states
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reuse-existing-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-8247: Run spotless
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck

PYIC-8247: Run TS linter
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-8247: Move AccountInternventionState to it's own file and added @DynamoDbBean annotation
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/AccountInterventionState.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/IpvSessionService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
Due: spotlessCheck

PYIC-8203: hardcode old DT lambda layer arns
  deploy/template.yaml
Due: none

PYIC-8247: Clear up code smells
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  libs/ais-service/src/test/java/uk/gov/di/ipv/core/library/ais/client/AisClientTest.java
Due: spotlessCheck

PYIC-8203: upgrade DT to new version in all non-prod environments
  deploy/template.yaml
Due: none

PYIC-8203: upgrade DT to new version in prod
  deploy/template.yaml
Due: none

PYIC-8247: Fix journey maps
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-address.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/update-name.yaml
Due: none

PYIC-8253: Add api tests for stored identity feature - fraud checks and reuse existing identity
  api-tests/features/stored-identity/p1-repat-fraud-check.feature
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
Due: run-npm-lint

PYIC-8253: Add api tests for stored identity feature - M1C outcomes
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-given-name-unavailable/credentialSubject.json
  api-tests/data/cri-stub-requests/fraud/kenneth-changed-given-name-unavailable/evidence.json
  api-tests/features/stored-identity/m1c-journeys.feature
  api-tests/features/stored-identity/p1-reuse-existing-identity.feature
Due: run-npm-lint

Revert "Bump dompurify and mermaid in /journey-map"
  journey-map/package-lock.json
  journey-map/package.json
Due: run-npm-lint-journey-map

PYIC-8320: Add kid to BAV, CIC, and F2F tests
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/bavCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/cicCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/f2fCri/ContractTest.java
Due: spotlessCheck

PYIC-8320: Add kid to address, Experian KBV, and nino tests
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/ninoCri/TokenTests.java
Due: spotlessCheck

PYIC-8320: Add kid to fraud, driving licence, and passport tests
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/drivingLicenceCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/passportCri/TokenTests.java
Due: spotlessCheck

PYIC-8320: Add kid to DCMAW tests
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/dcmawCri/ContractTest.java
Due: spotlessCheck

PYIC-8320: Remove references to the KID_JAR_HEADER flag now that it has been removed
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/bavCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/cicCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/dcmawCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/drivingLicenceCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/f2fCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/ninoCri/TokenTests.java
Due: spotlessCheck

PYIC-8320: Run spotless
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/addressCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/dcmawCri/ContractTest.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/drivingLicenceCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/experianKbvCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/fraudCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/ninoCri/TokenTests.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/pact/passportCri/TokenTests.java
Due: spotlessCheck

PYIC-8253: Add additional check in api test to make sure stored identity record wasn't created.
  api-tests/features/m1c-journeys.feature
  api-tests/features/p1-app-journey.feature
  api-tests/features/p1-f2f-journey.feature
  api-tests/features/p2-f2f-journey.feature
  api-tests/features/p2-international-journey.feature
  api-tests/features/p2-reuse-journey.feature
  api-tests/features/repeat-fraud-check/p2-repeat-fraud-check.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details-international.feature
  api-tests/features/reuse-update-details/p2-reuse-update-details.feature
  api-tests/features/stored-identity/m1c-journeys.feature
Due: run-npm-lint

PYIC-6394: Clean up redundant user-initiated reset work
  api-tests/features/audit-events.feature
  api-tests/features/p2-f2f-journey.feature
  gradle/libs.versions.toml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/f2f-pending.yaml
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/helpers/LogHelper.java
  libs/email-service/build.gradle
  libs/email-service/src/main/java/uk/gov/di/ipv/core/library/email/service/EmailService.java
  libs/email-service/src/main/java/uk/gov/di/ipv/core/library/email/service/EmailServiceFactory.java
  libs/email-service/src/test/java/uk/gov/di/ipv/core/library/email/service/EmailServiceTest.java
  local-running/core.local.params.yaml
  local-running/core.local.secrets.template.yaml
  settings.gradle
Due: spotlessCheck, run-npm-lint

POC: Show journey counts on arrows
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/public/render.mjs
  journey-map/src/server.ts
Due: run-npm-lint-journey-map

PYIC-8253: Add api tests for stored identity service against D02 journeys.
  api-tests/features/cimit/p1-alternate-doc.feature
  api-tests/features/cimit/p2-alternate-doc.feature
  api-tests/features/stored-identity/cimit-journeys.feature
Due: run-npm-lint

PYIC-8253: Add api tests for stored identity service against V03 journeys.
  api-tests/features/stored-identity/cimit-journeys.feature
Due: run-npm-lint

BAU: Create fetch transitions lambda
  deploy/template.yaml
  gradle/libs.versions.toml
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/src/helpers/mermaid.ts
  journey-map/src/index.ts
  journey-map/src/render.ts
  lambdas/fetch-journey-transitions/build.gradle
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/Request.java
  lambdas/fetch-journey-transitions/src/main/resources/IpvLambdaJsonLayout.json
  lambdas/fetch-journey-transitions/src/main/resources/log4j2.json
  lambdas/fetch-journey-transitions/src/test/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandlerTest.java
  settings.gradle
Due: spotlessCheck, run-npm-lint-journey-map

PYIC-6394: Use different test example api-key
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/YamlConfigServiceTest.java
  libs/common-services/src/test/resources/test-secrets.yaml
Due: spotlessCheck

PYIC-8254: Add early changes for EVCS PUT contract testing
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/evcs/pact/ContractTest.java
Due: spotlessCheck

PYIC-8356: Enable Staging queue to trigger process async cri callback
  deploy/template.yaml
Due: none

PYIC-8356: Update sharedStubAsyncCriResponseQueuePermission
  deploy/template.yaml
Due: none

PYIC-8356: Update sharedStubAsyncCriResponseQueueKmsKeyPermission
  deploy/template.yaml
Due: none

BAU Re-enable isolated DT lambda and switch off debug logging
  deploy/template.yaml
Due: none

AddreponseTemplate for /.well-know/jwks.json to change alg property for encryption key from RS256 to RSA-OAEP-256
  openAPI/core-back-external.yaml
Due: none

Add curly brackets
  openAPI/core-back-external.yaml
Due: none

BAU: Update to add /journey-transitions endpoint
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/src/render.ts
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/FetchJourneyTransitionsHandler.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/Request.java
  lambdas/fetch-journey-transitions/src/main/java/uk/gov/di/ipv/core/fetchjourneytransitions/domain/TransitionCount.java
  openAPI/core-back-external.yaml
Due: spotlessCheck, run-npm-lint-journey-map

BAU: Update /journey-transitions schema with query params
  openAPI/core-back-external.yaml
Due: none

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
