Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

spotlessCheck:
  name: Run spotless check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

run-npm-lint:
  name: Lint API tests
  entry: bash -c 'cd api-tests && npm run lint'
  language: system
  pass_filenames: false

run-npm-lint-journey-map:
  name: Lint Journey Map
  entry: bash -c 'cd journey-map && npm run lint'
  language: system
  pass_filenames: false

pyic-6246: Fix expired logic and add evcs vcs to session credentials if dcmaw async vc found
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

PYIC-7729: Remove evcs write/read feature flags
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  lambdas/process-async-cri-credential/src/test/java/uk/gov/di/ipv/core/processasynccricredential/ProcessAsyncCriCredentialHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/service/CriResponseServiceTest.java
  local-running/core.local.params.yaml
Due: spotlessCheck

pyic-6246: Add unit tests for CheckExistingIdentityHandlerTest dcmaw async cri response
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/helpers/VerifiableCredentialGenerator.java
Due: spotlessCheck

pyic-6246: Tidy up CheckExistingIdentityHandlerTest unit test
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

pyic-6246: Fix case where F2F VC has no iat
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

pyic-6246: Remove check for EVCS feature flag for check existing identity in line with PYIC-6068
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
Due: spotlessCheck

PYIC-7757: remove test:local-container script
  api-tests/README.md
  api-tests/package.json
Due: run-npm-lint

pyic-6246: Add clear check for DCMAW async vc iat not null
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7637: update MFA to return failure code + description
  api-tests/src/clients/core-back-external-client.ts
  lambdas/check-coi/src/main/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/user-reverification/src/main/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ReverificationFailureCode.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ReverificationResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
  openAPI/core-back-external.yaml
Due: spotlessCheck, run-npm-lint

PYIC-7637: update mfa api tests
  api-tests/features/mfa-reset-journey.feature
  api-tests/src/steps/ipv-steps.ts
  api-tests/src/types/external-api.ts
Due: run-npm-lint

PYIC-7637: add unit tests
  lambdas/user-reverification/src/test/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ReverificationFailureCode.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ReverificationResponse.java
Due: spotlessCheck

PYIC-7757: remove unnecessary env vars
  api-tests/src/utils/jar-generator.ts
  api-tests/src/utils/request-body-generators.ts
Due: run-npm-lint

PYIC-7757: fix auth client id and iss
  local-running/core.local.params.yaml
Due: none

pyic-6246: Add unit tests and tidyup for sonar cloud complaints
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/process-mobile-app-callback/src/main/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandler.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/domain/AsyncCriStatus.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/exception/InvalidCriResponseException.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/domain/AsyncCriStatusTest.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/service/CriResponseServiceTest.java
Due: spotlessCheck

pyic-6246: Make 0L default iat
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

pyic-6246: Remove iat default
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
  libs/cri-response-service/src/test/java/uk/gov/di/ipv/core/library/service/CriResponseServiceTest.java
Due: spotlessCheck

PYIC-7757: use public enc key from core-back jwks endpoint for api tests
  api-tests/.env.build
  api-tests/.env.local
  api-tests/src/config/config.ts
  api-tests/src/utils/jar-generator.ts
Due: run-npm-lint

pyic-6246: Add sonarcloud suppression for less specialised Function parameter
  libs/cri-response-service/src/main/java/uk/gov/di/ipv/core/library/service/CriResponseService.java
Due: spotlessCheck

PYIC-7777: refactor given statements for the EVCS contract tests
  libs/evcs-service/src/test/java/uk/gov/di/ipv/core/library/pact/ContractTest.java
Due: spotlessCheck

PYIC-7757: cache core back public enc key
  api-tests/src/utils/jar-generator.ts
Due: run-npm-lint

PYIC-7637: review markups
  api-tests/features/mfa-reset-journey.feature
  api-tests/src/steps/ipv-steps.ts
  lambdas/check-coi/src/main/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandler.java
  lambdas/check-mobile-app-vc-receipt/src/main/java/uk/gov/di/ipv/core/checkmobileappvcreceipt/CheckMobileAppVcReceiptHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingService.java
  lambdas/process-cri-callback/src/test/java/uk/gov/di/ipv/core/processcricallback/service/CriCheckingServiceTest.java
  lambdas/user-reverification/src/main/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ReverificationFailureCode.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ReverificationResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
Due: spotlessCheck, run-npm-lint

PYIC-7637: remove unused var
  lambdas/user-reverification/src/main/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandler.java
Due: spotlessCheck

pyic-6246: Route users to new journey if expired DCMAW async and make ttl for expiry configurable
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/domain/ErrorResponse.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/dto/OauthCriConfig.java
  local-running/core.local.params.yaml
Due: spotlessCheck

pyic-6246: Fix getNewIdentityJourney routes
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
Due: spotlessCheck

pyic-6246: Update tests for new routes and oauthcriconfig fetch
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7757: update api test signing keys with kid and send in header
  api-tests/.env.build
  api-tests/.env.local
  api-tests/src/utils/jwt-signer.ts
Due: run-npm-lint

PYIC-7757: add separate config for api tests when running core-back locally
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  local-running/README.md
  local-running/core.api-tests.params.yaml
  local-running/core.local.params.yaml
  local-running/src/main/java/uk/gov/di/ipv/coreback/CoreBack.java
Due: spotlessCheck

PYIC-7757: update YamlConfigService tests
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/YamlConfigServiceTest.java
  libs/common-services/src/test/resources/test-api-config.yaml
  libs/common-services/src/test/resources/test-parameters.yaml
Due: spotlessCheck

PYIC-7757: self-review
  api-tests/README.md
  api-tests/data/jar-requests/low-confidence.json
  api-tests/data/jar-requests/medium-confidence-invalid-redirect-uri.json
  api-tests/data/jar-requests/medium-confidence-pcl200-pcl250.json
  api-tests/data/jar-requests/medium-confidence-pcl250.json
  api-tests/data/jar-requests/medium-confidence-with-invalid-audience.json
  api-tests/data/jar-requests/medium-confidence.json
  api-tests/data/jar-requests/reverification.json
  api-tests/package.json
  api-tests/src/utils/jar-generator.ts
  api-tests/src/utils/request-body-generators.ts
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/ConfigService.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/service/YamlConfigService.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/YamlConfigServiceTest.java
  libs/common-services/src/test/resources/test-api-config.yaml
  libs/common-services/src/test/resources/test-parameters.yaml
  local-running/README.md
  local-running/core.api-tests.params.yaml
  local-running/core.local.params.yaml
  local-running/src/main/java/uk/gov/di/ipv/coreback/CoreBack.java
Due: spotlessCheck, run-npm-lint

PYIC-7076: Add check-reverification-identity lambda
  api-tests/features/mfa-reset-journey.feature
  deploy/journeyEngineStepFunction.asl.json
  deploy/template.yaml
  lambdas/check-reverification-identity/build.gradle
  lambdas/check-reverification-identity/src/main/java/uk/gov/di/ipv/core/checkreverificationidentity/CheckReverificationIdentityHandler.java
  lambdas/check-reverification-identity/src/main/resources/IpvLambdaJsonLayout.json
  lambdas/check-reverification-identity/src/main/resources/log4j2.json
  lambdas/check-reverification-identity/src/test/java/uk/gov/di/ipv/core/checkreverificationidentity/CheckReverificationIdentityHandlerTest.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/journeys/JourneyUris.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/persistence/item/IpvSessionItem.java
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/fixtures/VcFixtures.java
  libs/gpg45-evaluator/src/main/java/uk/gov/di/ipv/core/library/gpg45/Gpg45ProfileEvaluator.java
  local-running/build.gradle
  local-running/src/main/java/uk/gov/di/ipv/coreback/handlers/JourneyEngineHandler.java
  settings.gradle
Due: spotlessCheck, run-npm-lint

PYIC-7508: Add API test for auth source check doc ID mismatch
  api-tests/features/dl-auth-source-checks/dl-auth-source-checks.feature
Due: run-npm-lint

PYIC-7753: update coi check for reverification with new rules
  lambdas/check-coi/src/main/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandler.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-7753: add/update unit tests
  lambdas/check-coi/src/test/java/uk/gov/di/ipv/core/checkcoi/CheckCoiHandlerTest.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-7753: update method names
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
Due: spotlessCheck

PYIC-7753: self-review
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
Due: spotlessCheck

PYIC-7761: Log potential tracing headers
  lambdas/process-cri-callback/src/main/java/uk/gov/di/ipv/core/processcricallback/ProcessCriCallbackHandler.java
Due: spotlessCheck

PYIC-7590: add session vcs to submit cimit api
  libs/cri-storing-service/src/main/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringService.java
  libs/cri-storing-service/src/test/java/uk/gov/di/ipv/core/library/cristoringservice/CriStoringServiceTest.java
Due: spotlessCheck

Path conditions:
  spotlessCheck: any of: \.(java|gradle)
  run-npm-lint: any of: ^api-tests/
  run-npm-lint-journey-map: any of: ^journey-map/
