Repository govuk-one-login/ipv-core-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotlessCheck, run-npm-lint, run-npm-lint-journey-map

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.86.3 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: .\/template\.yaml$

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.73'
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]

  - repo: local
    hooks:
      - id: spotlessCheck
        name: Run spotless check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.(java|gradle)
      - id: run-npm-lint
        name: Lint API tests
        entry: bash -c 'cd api-tests && npm run lint'
        language: system
        pass_filenames: false
        files: ^api-tests/
      - id: run-npm-lint-journey-map
        name: Lint Journey Map
        entry: bash -c 'cd journey-map && npm run lint'
        language: system
        pass_filenames: false
        files: ^journey-map/

PYIC-7785: Use correct method for check vc receipt
  api-tests/src/clients/core-back-internal-client.ts
Due: run-npm-lint

PYIC-7785: Fix local running check-vc-receipt end point
  local-running/src/main/java/uk/gov/di/ipv/coreback/CoreBack.java
Due: spotlessCheck

PYIC-7785: Revert tests until they can be fixed
  api-tests/features/p2-strategic-app.feature
Due: run-npm-lint

PYIC-7947: rollback fraud check unavailable return code changes
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/ConfigurationVariable.java
  libs/user-identity-service/src/main/java/uk/gov/di/ipv/core/library/service/UserIdentityService.java
  libs/user-identity-service/src/test/java/uk/gov/di/ipv/core/library/service/UserIdentityServiceTest.java
  local-running/core.local.params.yaml
Due: spotlessCheck

PYIC-7947: remove api test for unavailable code
  api-tests/features/return-codes.feature
Due: run-npm-lint

PYIC-7785: Fix API gateway to lambda call and re-instate tests
  api-tests/features/p2-strategic-app.feature
  openAPI/core-back-internal.yaml
Due: run-npm-lint

PYIC-7785: Reinstate complete Strategic App journeys API tests
  api-tests/features/p2-strategic-app.feature
Due: run-npm-lint

PYIC-7547: Remove extra test definitions
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7797: update failed subjourney to use process candidate identity lambda
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
Due: none

PYIC-7797: update reverification journey to use process candidate identity lambda
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/reverification.yaml
Due: none

PYIC-7797: fix indentation on failed journey map
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
Due: none

PYIC-7797: TEST setting processCandidateIdentity to true in local running
  local-running/core.local.params.yaml
Due: none

PYIC-7797: update reverification and failed journeys
  lambdas/process-candidate-identity/src/main/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandler.java
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
Due: spotlessCheck

PYIC-7797: update new state names for failed journey
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
Due: none

PYIC-7797: update operational profile journeys with process candidate identity lambda
  api-tests/features/inherited-identity/inherited-identity.feature
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/operational-profile-migration.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/operational-profile-reuse.yaml
Due: run-npm-lint

PYIC-7797: rename states to remove _with_details_prefex
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
Due: none

PYIC-7797: fix failing ProcessCandidateIdentityHandlerTest
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7797: update audit event api tests
  api-tests/data/audit-events/delete-pending-f2f-journey.json
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/new-identity-p2-app-journey.json
  api-tests/data/audit-events/reprove-identity-journey.json
  api-tests/data/audit-events/reuse-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
Due: run-npm-lint

PYIC-7797: fix sonar
  lambdas/process-candidate-identity/src/test/java/uk/gov/di/ipv/core/processcandidateidentity/ProcessCandidateIdentityHandlerTest.java
Due: spotlessCheck

PYIC-7797: turning on processCandidateIdentity feature flag for audit events api tests
  api-tests/features/audit-events.feature
  local-running/core.local.params.yaml
Due: run-npm-lint

PYIC-7797: TEST to print out what the actual events are for failing test
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

Revert "PYIC-7797: TEST to print out what the actual events are for failing test"
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-7797: update feature set cucumber step and update CandidateIdentityType with annotations
  api-tests/data/audit-events/delete-pending-f2f-journey.json
  api-tests/data/audit-events/international-address-journey.json
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/new-identity-p2-app-journey.json
  api-tests/data/audit-events/reprove-identity-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
  api-tests/features/audit-events.feature
  api-tests/src/steps/ipv-steps.ts
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/enums/CandidateIdentityType.java
Due: spotlessCheck, run-npm-lint

PYIC-7797: remove IPV_GPG45_PROFILE_MATCHED from check-existing-identity if processCandidateIdentity is enabled + update api tests
  api-tests/data/audit-events/new-identity-f2f-journey.json
  api-tests/data/audit-events/reuse-journey.json
  api-tests/data/audit-events/update-name-and-address-journey.json
  lambdas/check-existing-identity/src/main/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandler.java
  lambdas/check-existing-identity/src/test/java/uk/gov/di/ipv/core/checkexistingidentity/CheckExistingIdentityHandlerTest.java
  libs/common-services/src/main/java/uk/gov/di/ipv/core/library/config/CoreFeatureFlag.java
Due: spotlessCheck, run-npm-lint

PYIC-7797: fix typos and set default to append to existing features set
  api-tests/features/audit-events.feature
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-7797: check value type for age
  api-tests/data/audit-events/new-identity-p2-app-journey.json
Due: run-npm-lint

BAU: cleanup unused states in failed journey map
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/failed.yaml
Due: none

BAU: TEST to investigate failing test
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

Revert "BAU: TEST to investigate failing test"
  api-tests/src/steps/ipv-steps.ts
Due: run-npm-lint

PYIC-7832: Remove no longer used templates
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p1-identity.yaml
  lambdas/process-journey-event/src/main/resources/statemachine/journey-maps/new-p2-identity.yaml
Due: none

PYIC-7905: add IPV_REVERIFY_START event
  lambdas/initialise-ipv-session/src/main/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandler.java
  lambdas/initialise-ipv-session/src/test/java/uk/gov/di/ipv/core/initialiseipvsession/InitialiseIpvSessionHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
Due: spotlessCheck

PYIC-7905: add IPV_REVERIFY_END event
  lambdas/user-reverification/build.gradle
  lambdas/user-reverification/src/main/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandler.java
  lambdas/user-reverification/src/test/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/AuditEventTypes.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionReverification.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/service/LocalAuditService.java
Due: spotlessCheck

PYIC-7547: Add IPV_APP_MISSING_CONTEXT and IPV_APP_SESSION_RECOVERED
  api-tests/data/audit-events/strategic-app-cross-browser-journey.json
  api-tests/features/p2-strategic-app.feature
  api-tests/src/clients/local-audit-client.ts
  api-tests/src/steps/ipv-steps.ts
  lambdas/process-mobile-app-callback/src/test/java/uk/gov/di/ipv/core/processmobileappcallback/ProcessMobileAppCallbackHandlerTest.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/service/LocalAuditService.java
Due: spotlessCheck, run-npm-lint

PYIC-7905: add api test for new events
  api-tests/data/audit-events/reverification-failed-journey.json
  api-tests/features/audit-events.feature
Due: run-npm-lint

PYIC-7547: Rename shouldReturnSessionItemByCriOAuthSessionId to client oauth session id
  libs/common-services/src/test/java/uk/gov/di/ipv/core/library/service/IpvSessionServiceTest.java
Due: spotlessCheck

PYIC-7905: update deploy yaml for user-reverification lambda to record audit events
  deploy/template.yaml
Due: none

PYIC-7905: fix sonar
  lambdas/user-reverification/src/main/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandler.java
  libs/audit-service/src/main/java/uk/gov/di/ipv/core/library/auditing/extension/AuditExtensionReverification.java
Due: spotlessCheck

PYIC-7905: fix failing contract test and remove wild card importss
  lambdas/user-reverification/src/test/java/uk/gov/di/ipv/core/userreverification/UserReverificationHandlerTest.java
  lambdas/user-reverification/src/test/java/uk/gov/di/ipv/core/userreverification/pact/UserReverificationHandlerTest.java
Due: spotlessCheck

PYIC-7938: configure canary alarms for process candidate identity lambda
  deploy/template.yaml
Due: none

PYIC-7547: Move audit event check API test to audit-events.feature
  api-tests/features/audit-events.feature
  api-tests/features/p2-strategic-app.feature
Due: run-npm-lint
